@import "app/styles/variables";

bl-editable-table, .editable-table {
    table {
        margin-bottom: 15px;
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;

        thead {
            text-align: left;
            color: $genericGray;
            font-size: 12px;
            font-weight: 200;

            th {
                padding: 0 5px;
            }
        }

        tr:last-child > td {
            background: $whiteSmoke-darker;
        }

        td {
            border: 1px solid $border-color;
            padding: 0;
            margin: 0;
            height: 20px;
            font-size: 12px;
            line-height: 0;
        }

        td.action-column, th.action-column {
            width: 26px;
        }

        input, .mat-form-field {
            width: 100%;
            border: none;
            outline: none;
            color: $mineshaft-grey;
            border-bottom: 2px solid transparent;
            background: transparent;

            &:focus {
                background: white;
                border-bottom: 2px solid map-get($primary, 500);
            }
        }

        .mat-form-field > .mat-input-wrapper {
            padding: 0;

            .mat-input-infix {
                border-top: 0;
                padding: 0;
            }

            .mat-input-underline {
                display: none;
            }
        }

        input {
            padding: 5px;
            font-size: 12px;
        }

        bl-select {
            .select-button-container {
                border: none;
            }
        }

        .delete-item-btn {
            width: 26px;
            height: 26px;
            background: none;
            cursor: pointer;
            outline: none;

            > .fa {
                color: map-get($danger, 500);
            }

            &:focus, &:hover {
                background: map-get($danger, 500);
                > .fa {
                    color: $whitesmoke;
                }
            }

            &:active {
                background: map-get($danger, 800);
                > .fa {
                    color: $whitesmoke;
                }
            }
        }
    }

    .add-item-btn {
        display: block;
        margin: 10px auto;
    }
}
