@import "app/styles/variables";

bl-gallery {
    width: 100%;
    height: $contentview-height;
    $header-height: 50px;

    .header {
        display: flex;
        height: $header-height;
        margin: 10px;
    }

    .gallery-content {
        display: flex;
    }

    .gallery-applications {
        flex: 0 0 50%;
        height: calc(#{$contentview-height} - #{$header-height});

        .filter {
            padding: 10px;
            > input {
                width: 100%;
            }
        }
    }

    .gallery-application-recent {
        margin: auto;
    }

    .gallery-application-actions {
        margin: 0 10px;
        .actions-header {
            margin: 0 5px;
            display: flex;
            align-items: center;

            h2 {
                margin-right: 20px;
                flex: 1;
            }

            bl-clickable {
                margin: 5px;
            }
        }
    }

}
