@import "app/styles/variables";

bl-file-table-view {
    $file-header-height: 40px;

    height: 100%;
    width: 100%;

    &:not([hidden]) {display: block;}

    .table-wrapper {
        height: calc(100% - #{$file-header-height});
        display: flex;
        flex-direction: column;
        overflow: auto;

        > .flex-separator {
            flex: 1;
        }
    }

    .file-table-view-header {
        display: flex;
        height: $file-header-height;
        align-items: stretch;
        color: $primary-text;
        border-bottom: 1px solid $border-color;

        > * {
            padding: 0 10px;
            &:not(:last-child) {
                border-right: 1px solid $border-color;
            }
        }

        .go-back {
            font-size: 24px;
            line-height: $file-header-height;
            vertical-align: middle;

            &:hover {
                background: $selection-color;
            }
            .fa {
                // color: $minshaft-grey;
                color: $primary-color;
            }
        }

        .current-path {
            line-height: $file-header-height;
            vertical-align: middle;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .icon {
        display: inline-block;
        width: 16px;

        .fa-folder {
            color: $folder-icon-color;
        }

        .fa-file {
            color: $secondary-text;
        }
    }

    .drop-hint {
        color: $secondary-text;
        text-align: center;
        font-style: italic;
    }
}
