@import "app/styles/variables";

.CodeMirror {
    display:block;
    width:100%;
    border-right: 1px solid $border-color;
}

.autoscale-formula-picker {
    display: flex;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 300px;
    border-bottom: 1px solid $border-color;

    > .editor {
        flex: 1 1 100px;
    }

    > .formula-managment {
        flex-basis: 200px;
        overflow-y: auto;
    }

    .formula-list {
        margin: 0;
    }


    .formula-list {
        height: 100%;
        overflow: auto;
        border-top: 1px solid #d5d5d5;
        border-bottom: 1px solid #d5d5d5;

        > .formula {
            display: flex;
            align-items: center;
            height: 24px;

            cursor: pointer;
            padding: 5px;

            > .label {
                flex: 1;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #d5d5d5;
            }

            &:hover {
                background: #e5e5e5;
            }
        }

        .no-formula {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 10px;

            .fa-file-code-o {
                font-size: 30px;
                margin-bottom: 10px;
                color: map-get($primary, 400);
            }
        }
    }

}


bl-autoscale-formula-picker {
    display: flex;
    .CodeMirror {
        font-size: 12px;
        height: 300px !important;
    }

    .CodeMirror pre.CodeMirror-placeholder {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        line-height: normal;
        text-align: left;
        color: rgba(0, 0, 0, 0.38);
    }

    .cm-variables {
        color: map-get($success, 800);
    }

    .cm-functions {
        color: map-get($danger, 800);
    }

    .cm-math {
        color: map-get($primary, 700);
    }

    .cm-builtin {
        color: map-get($primary, 800);
    }
}
