<div class="autoscale-formula-picker">
    <div class="editor">
        <bl-editor [(ngModel)]="autoscaleFormulaValue" [label]="'Autoscale Formula'" [config]="config" (change)="textEditorOnChange()"
            (blur)="textEditorOnBlur()"></bl-editor>
    </div>

    <div class="formula-managment">
        <div>
            <div class="basic-header">
                <div class="name" (do)="handleClickTreeViewHeader()"> Saved formulas </div>
                <bl-clickable (do)="addFormula()">
                    <i class="fa fa-save" title="Save"></i>
                </bl-clickable>
            </div>
            <div class="formula-list">
                <div class="formula" *ngFor="let formula of savedAutoscaleFormulas" (click)="selectFormula(formula)">
                    <span class="label">{{formula.name}}</span>
                    <i class="fa fa-times" title="Delete" (click)="deleteFormula(formula)"></i>
                </div>
                <div class="no-formula" *ngIf="savedAutoscaleFormulas.size === 0">
                    <div>
                        <i class="fa fa-file-code-o"></i>
                    </div>
                    No saved autoscale formulas
                </div>
            </div>
        </div>
        <div>
            <div class="basic-header">
                <div class="name" (do)="handleClickTreeViewHeader()"> Sample formulas </div>
            </div>
            <div class="formula-list">
                <div class="formula" *ngFor="let formula of predefinedFormula" (click)="selectFormula(formula)">
                    <span class="label">{{formula.name}}</span>
                </div>
                <div class="no-formula" *ngIf="predefinedFormula?.size === 0">
                    <div>
                        <i class="fa fa-file-code-o"></i>
                    </div>
                    No sample formulas
                </div>
            </div>
        </div>
    </div>
</div>
