@import "app/styles/variables";


bl-persisted-notifications-dropdown {
    .fa-bell {
        font-size: 20px;
    }

    .count {
        font-size: 0.7em;
        position: absolute;
        left: 0;
        top: 0;
        background-color: map-get($danger, 500);
        border-radius: 10px;
        width: 18px;
        height: 18px;
    }

    [bl-dropdown-btn] {
        border-right: 1px solid $navigation-background;
    }

    [bl-dropdown-content] {
        width: 400px;

        .icon {
            font-size: 30px;
            width: 40px;
            text-align: center;
            margin-right: 10px;

            .fa-exclamation-triangle {
                color: map-get($warn, 500);
            }
        }

        .details {
            flex: 1;
            .title {
                font-size: 14px;
                font-weight: bold;
            }

            .message {
                font-size: 13px;
            }
        }

        .actions {
            margin-left: 10px;
            margin-right: 7px;

            > .action {
                padding: 5px;
                background: rgba(255, 255, 255, 0.2);
                margin-right: 3px;
                white-space: nowrap;
                &:hover {
                    background: rgba(255, 255, 255, 0.3);
                }
            }
        }

        .dismiss {
            flex: 0 0 20px;
            background-color: white;
            color: #3f51b5;
            border-radius: 10px;
            width: 20px;
            height: 20px;
            text-align: center;
            vertical-align: middle;
            line-height: 20px;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: map-get($danger, 400);
            }

            &:active {
                background-color: map-get($danger, 600);
            }
        }

        .clear-all {
            font-size: 14px;
            justify-content: center;
            padding: 10px;

            .fa-trash {
                margin-right: 5px;
                font-size: 20px;
            }
        }

        .no-notifications {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .fa-bell {
                font-size: 40px;
            }
        }
    }
}
