<bl-simple-form [submit]="submit" [containerRef]="dialogRef" actionColor="warn" actionName="Confirm" [multiUse]="false" size="small"
    [title]="title" [formGroup]="promptControl">
    <ng-container [formGroup]="form">
        <div class="message" *ngIf="description">
            <p>{{description}}</p>
        </div>

        <mat-form-field class="form-element">
            <input matInput [formControl]="promptControl">
        </mat-form-field>
        <bl-error controlName="prompt" [code]="entry.code" *ngFor="let entry of validatorMessages">{{entry.message}}</bl-error>
    </ng-container>
</bl-simple-form>
