@import "app/styles/variables";

// todo: should probably share this CSS with file group sas
bl-cloud-file-picker {
    bl-form-field {
        flex: 1;

        .input-container > .input-suffix {
            border: none;
            background: none;
            padding: 0;
            line-height: 0;
        }
    }

    bl-button {
        height: 26px;
        line-height: 26px;
        margin: 0;

        &.disabled[color] {
            cursor: not-allowed;
            background: map-get($primary, 50);
            color: $whitesmoke;

            &:hover, &:focus, &:active {
                background: map-get($primary, 50);
                color: $whitesmoke;
            }
        }
    }
}
