<bl-simple-form [submit]="submit" (done)="close()" [containerRef]="dialogRef" [multiUse]="false" actionName="Pick">
    <div *ngIf="container">
        <bl-blob-files-browser #blobList
            [storageAccountId]="storageAccountId"
            [container]="container.id"
            [fileExplorerConfig]="fileExplorerConfig"
            [activeFile]="pickedFile"
            [suffixFilter]="suffixFilter"
            (activeFileChange)="updatePickedFile($event)">
        </bl-blob-files-browser>
    </div>

    <div *ngIf="containerError" class="container-error">
        Error loading container '{{containerId}}' make sure it exists.
    </div>
    <div blFormSummary>
        <div *ngIf="pickedFile">Picked file: {{pickedFile}}</div>
        <div *ngIf="!pickedFile">No file picked</div>
    </div>
</bl-simple-form>
