@import "app/styles/variables";

bl-account-quotas-card {
    font-size: 0; // This is needed to remove the white space between the quota inline-block
    > div {
        height: 50%;
        &:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }
    }
    .quota {
        display: inline-block;
        width: 140px;
        height: 100%;
        padding: 0;
        vertical-align: top;

        &:not(:last-child) {
            border-right: 1px solid $border-color;
        }
    }
}
