@import "app/styles/variables";

bl-split-separator {
    display: block;
    cursor: e-resize;
    background: $border-color;
    width: 1px;

    > .separator-hitbox {
        position: absolute;
        width: 5px;
        height: 100%;
        z-index: $split-pane-separator;

        &:hover {
            // background: red;
        }
    }
}
