<ng-container *ngIf="!preview">
    <div class="header">
        <h2>
            {{ 'account-monitoring.' + metrics | i18n }}
        </h2>


        <div class="aggregation" *ngIf="aggregation">
            {{aggregation}}
        </div>
    </div>
    <ng-container *ngIf="isChartReady">
        <div class="chart-container">
            <canvas blChart [datasets]="datasets" [options]="options" [chartType]="chartType" [colors]="colors"></canvas>
        </div>
        <div class="legend">
            <div class="legend-item" *ngFor="let dataset of datasets;trackBy: trackDataSet;let index=index">
                <div class="value">
                    {{total[index]}}
                </div>
                <div class="label" [style.color]="colors[index]?.backgroundColor">
                    {{dataset.label}}
                </div>
            </div>
        </div>
        <div class="interval-label" *ngIf="interval">
            {{'account-monitoring.aggregatedOver' | i18n: {interval: interval} }}
        </div>
    </ng-container>
    <div *ngIf="chartError">
        There is an error occurred when loading this chart
        {{chartError.message}}
    </div>
    <bl-loading [status]="loadingStatus"></bl-loading>
</ng-container>

<div class="monitor-chart-preview" *ngIf="isChartReady && preview">
    <canvas blChart [datasets]="datasets" [options]="options" [chartType]="chartType" [colors]="colors"></canvas>
</div>
