@import "./core";

$black-87-opacity: rgba(black, 0.87);
$white-87-opacity: rgba(white, 0.87);

$contrast-theme-classic: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
);

$primary-theme-classic: (
    50 : #e8f0f8,
    100 : #c5daee,
    200 : #9ec2e3,
    300 : #77aad7,
    400 : #5a97cf,
    500 : #3d85c6,
    600 : #377dc0,
    700 : #2f72b9,
    800 : #2768b1,
    900 : #1a55a4,
    A100 : #dae9ff,
    A200 : #a7caff,
    A400 : #74abff,
    A700 : #5b9cff,
    contrast: $contrast-theme-classic,
);


$danger-theme-classic: (
    50: #f5e7e7,
    100: #e6c4c4,
    200: #d59c9c,
    300: #c47474,
    400: #b75757,
    500: #aa3939,
    600: #a33333,
    700: #992c2c,
    800: #902424,
    900: #7f1717,
    A100: #ffb7b7,
    A200: #ff8484,
    A400: #ff5151,
    A700: #ff3737,
    contrast: $contrast-theme-classic,
);

$warn-theme-classic: (
    50: #fef5e8,
    100: #fce6c6,
    200: #fad6a1,
    300: #f7c67b,
    400: #f6b95e,
    500: #f4ad42,
    600: #f3a63c,
    700: #f19c33,
    800: #ef932b,
    900: #ec831d,
    A100: #ffffff,
    A200: #fff6ee,
    A400: #ffdabb,
    A700: #ffcda1,
    contrast: $contrast-theme-classic,
);

$success-theme-classic: (
    50: #eaf5ea,
    100: #c9e7cb,
    200: #a6d7a8,
    300: #82c785,
    400: #67bb6a,
    500: #4caf50,
    600: #45a849,
    700: #3c9f40,
    800: #339637,
    900: #248627,
    A100: #c5ffc7,
    A200: #92ff95,
    A400: #5fff64,
    A700: #46ff4b,
    contrast: $contrast-theme-classic,
);

$primary-color:         #2196f3;
$dark-primary-color:    #1976d2;
$light-primary-color:   #bbedfbed;
$accent-color:          #4caf50;
$text-color:            #ffffff;
$primary-text:          #212121;
$secondary-text:        #757575;
$divider-color:         #bdbdbd;
$header-background:     #333333;
$header-hover:          #757575;
$navigation-background: #5b5b5b;
$navigation-hover:      #666666;
$breadcrumb-color:      #5b5b5b;
$breadcrumb-hover-color:#666666;

// $header-color: map-get($primary);

body {
    // Primary color
    @include css-var-theme(--primary, $primary-theme-classic);
    @include css-var-theme(--danger, $danger-theme-classic);
    @include css-var-theme(--warn, $warn-theme-classic);
    @include css-var-theme(--success, $success-theme-classic);

    --primary-color: $primary-color;
    --dark-primary-color: $dark-primary-color;
    --light-primary-color: $light-primary-color;
    --primary-text: $primary-text;
    --secondary-text: $secondary-text;
    --text-color: $text-color;
    --accent-color: $accent-color;
    --divider-color: $divider-color;
}
