@import "./core";

body {
    --text-color:               #ffffff;
    --accent-color:             #4caf50;
    --divider-color:            #bdbdbd;
    --error-color:              #aa3939;
    // --breadcrumb-color:         #5b5b5b;
    // --breadcrumb-hover-color:   #666666;
    --disabled-button-color:    #d5d5d5;
    --main-background:          #f5f5f5;
    --folder-icon-color:        #f8d979;
}
