@mixin propL($name, $var) {
    #{$name}: $var;
}

$primary: (
    50: var(--primary-50),
    100: var(--primary-100),
    200: var(--primary-200),
    300: var(--primary-300),
    400: var(--primary-400),
    500: var(--primary-500),
    600: var(--primary-600),
    700: var(--primary-700),
    800: var(--primary-800),
    900: var(--primary-900),
    A100: var(--primary-A100),
    A200: var(--primary-A200),
    A400: var(--primary-A400),
    A700: var(--primary-A700),
);

$danger: (
    50: var(--danger-50),
    100: var(--danger-100),
    200: var(--danger-200),
    300: var(--danger-300),
    400: var(--danger-400),
    500: var(--danger-500),
    600: var(--danger-600),
    700: var(--danger-700),
    800: var(--danger-800),
    900: var(--danger-900),
    A100: var(--danger-A100),
    A200: var(--danger-A200),
    A400: var(--danger-A400),
    A700: var(--danger-A700),
);

$warn: (
    50: var(--warn-50),
    100: var(--warn-100),
    200: var(--warn-200),
    300: var(--warn-300),
    400: var(--warn-400),
    500: var(--warn-500),
    600: var(--warn-600),
    700: var(--warn-700),
    800: var(--warn-800),
    900: var(--warn-900),
    A100: var(--warn-A100),
    A200: var(--warn-A200),
    A400: var(--warn-A400),
    A700: var(--warn-A700),
);

$success: (
    50: var(--success-50),
    100: var(--success-100),
    200: var(--success-200),
    300: var(--success-300),
    400: var(--success-400),
    500: var(--success-500),
    600: var(--success-600),
    700: var(--success-700),
    800: var(--success-800),
    900: var(--success-900),
    A100: var(--success-A100),
    A200: var(--success-A200),
    A400: var(--success-A400),
    A700: var(--success-A700),
);

@function entity-color($name) {
    $val: (
        text: var(--color-#{$name}-text),
        bg: var(--color-#{$name}-background),
        hover-text: var(--color-#{$name}-hover),
        hover-bg: var(--color-#{$name}-hover-background),
    );
    @return $val;
}

$primary-color:             var(--primary);
$primary-color-dark:        var(--primary-dark);
$primary-color-light:       var(--primary-light);

$danger-color:              var(--danger);
$danger-color-dark:         var(--danger-dark);
$danger-color-light:        var(--danger-light);

$warn-color:                var(--warn);
$warn-color-dark:           var(--warn-dark);
$warn-color-light:          var(--warn-light);

$success-color:             var(--success);
$success-color-dark:        var(--success-dark);
$success-color-light:       var(--success-light);

$primary-text:              var(--primary-text);
$secondary-text:            var(--secondary-text);

// Header
$header-color:              entity-color(header);
$footer-color:              entity-color(footer);
$navigation-color:          entity-color(navigation);

$accent-color:              var(--accent-color);
$text-color:                var(--text-color);
$divider-color:             var(--divider-color);
$error-color:               var(--error-color);

$navigation-background:     var(--navigation-background);
$navigation-hover:          var(--navigation-hover);
$breadcrumb-color:          var(--breadcrumb-color);
$breadcrumb-hover-color:    var(--breadcrumb-hover-color);
$disabled-button-color:     var(--disabled-button-color);
$main-background:           var(--main-background);
$folder-icon-color:         var(--folder-icon-color);
