<bl-banner *ngIf="jobFailed" fixMessage="View failed tasks" [fix]="gotoFailedTask" type="warning">
    <div message>Job was terminated because a task failed.</div>
</bl-banner>
<bl-banner *ngIf="jobTimeout" type="warning">
    <div message>Job timed out after running for {{jobRunningTime}}.</div>
</bl-banner>
<bl-banner *ngIf="failureInfo" type="warning">
    <div message>{{failureInfo.message}}</div>
    <div code>{{failureInfo.code}}</div>
    <div message>{{failureInfo.message}}</div>
    <div details *ngIf="failureInfo.details.size !== 0">
        <div *ngFor="let entry of failureInfo.details;trackBy: trackDetail">
            <div>{{entry.name}}: {{entry.value}}</div>
        </div>
    </div>
</bl-banner>
