<ng-container *ngIf="isArmBatchAccout">
    <div *ngIf="virtualNetworks.length > 0">
        <table class="noselect" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>{{'virtual-network-picker.virtualNetwork' | i18n}}</th>
                    <th>{{'virtual-network-picker.subnet' | i18n}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <bl-select [formControl]="virtualNetworkControl" class="network">
                            <bl-option [value]="null" [label]="'common.none' | i18n"></bl-option>
                            <bl-option *ngFor="let virtualNetwork of virtualNetworks;trackBy: trackVirtualNetwork" [value]="virtualNetwork.id" label="({{ virtualNetwork.category }}) {{ virtualNetwork.name }}">
                            </bl-option>
                        </bl-select>
                    </td>
                    <td>
                        <bl-select [formControl]="subnetControl" class="subnet">
                            <bl-option *ngFor="let subnet of subnets;trackBy: trackSubnet" [value]="subnet.id" [label]="subnet.name">
                            </bl-option>
                        </bl-select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="virtualNetworks.length === 0">
        {{'virtual-network-picker.noneAvailable' | i18n: {subscriptionId: subscriptionId, location: location} }}
    </div>
</ng-container>
<div *ngIf="!isArmBatchAccout">
        {{'virtual-network-picker.notArm' | i18n }}
</div>
