
@import "app/styles/variables";

bl-pinned-dropdown {
    [bl-dropdown-content] {
        min-width: 300px;
        max-width: 350px;
    }

    .dropdown-item.favorite {
        position: relative;
        min-width: 250px;
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: stretch;
        justify-content: stretch;

        &:hover {
            i.fa {
                color: $primary-color-dark;
            }

            &.selected {
                color: white;
            }
        }

        &.selected {
            font-weight: bold;
            color: $primary-color-dark;
        }

        > span {
            flex: 1 1 auto;
            text-align: left;
            min-width: 20px;
            text-overflow: ellipsis;
            overflow-x: hidden;
            border-right: 1px solid $border-color;
            padding: 5px 10px;

            &:hover {
                .fa {
                    color: white;
                }
            }

            & i {
                margin-right: 5px;

                &.fa {
                    color: $primary-color-dark;
                }
            }
        }

        > i.fa.fa-times {
            flex: 0 0 30px;
            background-color: white;
            color: $primary-color-dark;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: map-get($danger, 400);
            }

            &:active {
                background-color: map-get($danger, 600);
            }
        }
    }
}
