<div class="grow">
    <div class="gcol label">
        {{ label }}
    </div>
    <div class="gcol">
        <mat-form-field>
            <input matInput [matDatepicker]="datePicker" placeholder="Choose a date" [formControl]="selectedDate">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div *ngIf="timePicker" class="gcol">
        <mat-form-field *ngIf="isDatePicked">
            <mat-select color="primary" [(ngModel)]="selectedTime" (ngModelChange)="onTimeChange()" placeholder="Choose a time" [disabled]="timeDisabled">
                <mat-option *ngFor="let time of timeOptions; trackBy: trackByFn"[value]="time.value">{{time.label}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="timezone">Current timezone: {{currentTimeZone}}</div>
