

<div class="label-container">
    <label class="bl-form-field-label"
        [attr.for]="control.id"
        [attr.aria-owns]="control.id">
        {{control.placeholder}}
    </label>
</div>
<div class="input-container">
    <div class="input-prefix" *ngIf="prefix.length > 0">
        <ng-content select="[blFormFieldPrefix]"></ng-content>
    </div>
    <ng-content></ng-content>
    <div class="input-suffix"  *ngIf="suffix.length > 0">
        <ng-content select="[blFormFieldSuffix]"></ng-content>
    </div>
</div>
<div class="hints-container" *ngIf="hints.length > 0">
    <ng-content select="bl-hint"></ng-content>
</div>
<div class="errors-container" *ngIf="errors.length > 0">
    <ng-content select="bl-error"></ng-content>
</div>
