<mat-tab-group class="form-tabs" [@.disabled]="true">
    <mat-tab [label]="'pool-os-picker.category.distributions' | i18n">
        <bl-os-offer-tile *ngFor="let offer of vmOffers;trackBy: trackOffer" [name]="offer.name" [skus]="offer.skus" (pickOffer)="pickOffer(offer)" (pickSku)="pickSku(offer, $event)"
            [active]="offer.name === selectedOffer" [selectedSku]="selectedSku">
        </bl-os-offer-tile>
        <bl-os-offer-tile class="cloudservice" name="WindowsServer" [skus]="cloudServiceOsFamilies" (pickOffer)="pickCloudService()" (pickSku)="pickCloudService($event.id)"
            [active]="selectedFamilyName" [selectedSku]="selectedFamilyName">
            <div>(Cloud Service)</div>
        </bl-os-offer-tile>
    </mat-tab>
    <mat-tab [label]="'pool-os-picker.category.dataScience' | i18n">
        <bl-os-offer-tile *ngFor="let offer of dataScienceOffers;trackBy: trackOffer" [name]="offer.name" [skus]="offer.skus" (pickOffer)="pickOffer(offer)" (pickSku)="pickSku(offer, $event)"
            [active]="offer.name === selectedOffer" [selectedSku]="selectedSku">
        </bl-os-offer-tile>
    </mat-tab>
    <mat-tab [label]="'pool-os-picker.category.rendering' | i18n">
        <bl-os-offer-tile *ngFor="let offer of renderingOffers;trackBy: trackOffer" [name]="offer.name" [skus]="offer.skus" (pickOffer)="pickOffer(offer)" (pickSku)="pickSku(offer, $event)"
            [active]="offer.name === selectedOffer" [selectedSku]="selectedSku">
        </bl-os-offer-tile>
    </mat-tab>
    <mat-tab [label]="'pool-os-picker.category.container' | i18n">
        <bl-os-offer-tile *ngFor="let offer of dockerOffers;trackBy: trackOffer" [name]="offer.name" [skus]="offer.skus" (pickOffer)="pickContainerOffer(offer)" (pickSku)="pickContainerSku(offer, $event)"
            [active]="offer.name === selectedOffer" [selectedSku]="selectedSku">
        </bl-os-offer-tile>
    </mat-tab>
    <mat-tab label="Custom image">
        <bl-custom-image-picker [ngModel]="customImage" (ngModelChange)="pickCustomImage($event)"></bl-custom-image-picker>
    </mat-tab>
</mat-tab-group>
<p *ngIf="selectedSku" style="padding-top: 10px;">
    <bl-i18n key="pool-os-picker.nodeAgentSelection">
        <b *i18nParam="'sku'">{{selectedNodeAgentId}}</b>
    </bl-i18n>
</p>
