@import "app/styles/variables";

.form-picker {
    border: 1px dashed $secondary-text;
    min-width: 210px;
    max-width: 100%;
    height: 60px;
    background: transparent;
    font-size: 16px;
    color: $secondary-text;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    overflow: hidden;
    text-overflow: hidden;
    white-space: nowrap;

    &.has-value {
        border-style: solid;
        color: $secondary-text;
        border-color: $secondary-background;
    }

    &:hover, &:focus {
        border-color: $primary-color;
        color: $primary-color;
    }


    .fa-plus {
        font-size: 30px;
        margin: 0 15px;
    }

    > .no-value-content {
        display: flex;
        align-items: center;
    }

    > .content {
        display: flex;
        align-items: center;
        > .details {
            flex: 1;
            margin: 0 10px;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: left;

            > * {
                text-overflow: ellipsis;
                overflow: hidden;
            }
            > .subtitle {
                font-size: 13px;
            }
        }

        > .clear-btn {
            margin: 0 5px;
        }
    }
}
