<bl-form-field>
    <input type="text" blInput  [matAutocomplete]="auto" [formControl]="value" [placeholder]="label">
    <bl-hint class="warning" *ngIf="warning">
            {{'file-group-picker.warning' | i18n}}
    </bl-hint>
    <div blFormFieldSuffix *ngIf="uploadProgress !== null" [title]="'file-group-picker.uploading'">
        <i class="fa fa-spinner fa-spin"></i>  {{uploadProgress}} %
    </div>
    <bl-hint *ngIf="hint" align="end">
        {{hint}}
    </bl-hint>
</bl-form-field>
<mat-autocomplete #auto="matAutocomplete">
    <mat-option value="" (onSelectionChange)="createFileGroup($event)" class="new-file-group">
        + {{'file-group-picker.create' | i18n}}
    </mat-option>
    <mat-option *ngFor="let fileGroup of fileGroups;trackBy: trackFileGroup" [value]="fileGroup.name">
        {{ fileGroup.name }}
    </mat-option>
</mat-autocomplete>
