<div class="quick-list-item" (click)="handleClick($event)" [class.selected]="active || selected" [class.focused]="isFocused">
    <ng-content select="bex-quick-list-item-status"></ng-content>
    <div class="quick-list-details noselect">
        <ng-content select="[bex-quick-list-item-title]"></ng-content>
        <ng-content select="[bex-quick-list-item-field]"></ng-content>
    </div>
    <div class="quick-list-other">
        <ng-content select="[bex-quick-list-item-preview]"></ng-content>
    </div>
</div>
