<div class="menu-item">
    <bl-account-dropdown></bl-account-dropdown>
</div>
<div class="menu-item">
    <bl-workspace-dropdown></bl-workspace-dropdown>
</div>
<div class="flex-separator"></div>
<div class="menu-item">
    <bl-online-status></bl-online-status>
</div>
<div class="menu-item">
    <bl-rpc-server-status></bl-rpc-server-status>
</div>
<div class="menu-item">
    <bl-activity-monitor-footer></bl-activity-monitor-footer>
</div>
<div class="menu-item">
    <bl-persisted-notifications-dropdown></bl-persisted-notifications-dropdown>
</div>
