<bl-scrollable>

     {{ mode_state }}
    <div *ngIf="mode_state == 'None'">
        <bl-complex-form [formGroup]="form" [submit]="submit" [hideFooter]="true" *ngIf="form">
            <bl-form-page main-form-page [title]="title" [formGroup]="form">
                <bl-form-section title="Mode">
                    <ul>
                        <button style="margin:5px; width:200px" (click) = "mode_state = 'PoolNJob'" type="button" md-raised-button>new Pool + Job</button>
                        <button style="margin:5px; width:200px" (click) = "mode_state = 'PoolOJob'" type="button" md-raised-button>existing Pool + Job</button>
                        <button style="margin:5px; width:200px" (click) = "mode_state = 'Pool'" type="button" md-raised-button>new Pool</button>
                    </ul>
                </bl-form-section>
            </bl-form-page>
        </bl-complex-form>
    </div>

    <div *ngIf="mode_state == 'PoolNJob'">
        <bl-complex-form [formGroup]="form" [submit]="submit" [hideFooter]="true" *ngIf="form">
            <bl-form-page main-form-page [title]="title" [formGroup]="form">
                <bl-form-section title="Mode">
                    <ul>
                        <button style="margin:5px; width:200px; background-color:#3e81b0;" (click) = "mode_state = 'PoolNJob'" type="button" md-raised-button>new Pool + Job</button>
                        <button style="margin:5px; width:200px" (click) = "mode_state = 'PoolOJob'" type="button" md-raised-button>existing Pool + Job</button>
                        <button style="margin:5px; width:200px" (click) = "mode_state = 'Pool'" type="button" md-raised-button>new Pool</button>
                    </ul>
                </bl-form-section>

                <bl-form-section title="Pool">
                </bl-form-section>

                <bl-form-section title="Job">
                </bl-form-section>

            </bl-form-page>
        </bl-complex-form>
    </div>

    <div *ngIf="mode_state == 'PoolOJob'">
        <bl-complex-form [formGroup]="form" [submit]="submit" [hideFooter]="true" *ngIf="form">
            <bl-form-page main-form-page [title]="title" [formGroup]="form">
                <bl-form-section title="Mode">
                    <ul>
                        <button style="margin:5px; width:200px" (click) = "mode_state = 'PoolNJob'" type="button" md-raised-button>new Pool + Job</button>
                        <button style="margin:5px; width:200px; background-color:#3e81b0;" (click) = "mode_state = 'PoolOJob'" type="button" md-raised-button>existing Pool + Job</button>
                        <button style="margin:5px; width:200px" (click) = "mode_state = 'Pool'" type="button" md-raised-button>new Pool</button>
                    </ul>
                </bl-form-section>
                <bl-form-section title="Pool">
                    <bl-pool-picker [formControl]="pickedPool"></bl-pool-picker>
                </bl-form-section>
                <bl-form-section title="Job">
                </bl-form-section>
            </bl-form-page>
        </bl-complex-form>
    </div>

    <div *ngIf="mode_state == 'Pool'">
        <bl-complex-form [formGroup]="form" [submit]="submit" [hideFooter]="true" *ngIf="form">
            <bl-form-page main-form-page [title]="title" [formGroup]="form">
                <bl-form-section title="Mode">
                    <ul>
                        <button style="margin:5px; width:200px" (click) = "mode_state = 'PoolNJob'" type="button"  md-raised-button>new Pool + Job</button>
                        <button style="margin:5px; width:200px" (click) = "mode_state = 'PoolOJob'" type="button" md-raised-button>existing Pool + Job</button>
                        <button style="margin:5px; width:200px; background-color:#3e81b0;" (click) = "mode_state = 'Pool'" type="button" md-raised-button>new Pool</button>
                    </ul>
                </bl-form-section>
                <bl-form-section title="Pool">
                </bl-form-section>
            </bl-form-page>
        </bl-complex-form>
    </div>



</bl-scrollable>
