<bl-scrollable>
    <bl-complex-form style = "float:left;" [formGroup]="form" [hideFooter]="true">
        <bl-form-page main-form-page [title]="title">
            <bl-form-section title="Mode">
                <div class="modes">
                    <bl-button type="wide" [class.selected]="modeState === Modes.NewPoolAndJob" (click)="pickMode(Modes.NewPoolAndJob)">Run job with auto pool</bl-button>
                    <bl-button type="wide" [class.selected]="modeState === Modes.ExistingPoolAndJob" (click)="pickMode(Modes.ExistingPoolAndJob)">Run job with existing pool</bl-button>
                    <bl-button type="wide" [class.selected]="modeState === Modes.NewPool" (click)="pickMode(Modes.NewPool)">Create pool for later use</bl-button>
                </div>
            </bl-form-section>
            <div *ngIf="modeState === Modes.NewPoolAndJob">
                <bl-form-section title="Job" formGroupName="job">
                    <div *ngFor="let param of jobParametersWrapper">
                        <bl-parameter-input [formControlName]="param.id" [parameter]="param" [parameterValues]="jobParams.value"> </bl-parameter-input>
                    </div>
                </bl-form-section>
                <bl-form-section title="Pool" formGroupName="pool">
                    <div *ngFor="let param of poolParametersWrapper">
                        <bl-parameter-input [formControlName]="param.id" [parameter]="param" [parameterValues]="poolParams.value"> </bl-parameter-input>
                    </div>
                </bl-form-section>
            </div>
            <div *ngIf="modeState === Modes.ExistingPoolAndJob">
                <bl-form-section title="Job" formGroupName="job">
                    <div *ngFor="let param of jobParametersWrapper">
                        <bl-parameter-input [formControlName]="param.id" [parameter]="param" [parameterValues]="jobParams.value"> </bl-parameter-input>
                    </div>
                </bl-form-section>
                <bl-form-section title="Pool">
                    <bl-pool-picker [formControl]="pickedPool"></bl-pool-picker>
                </bl-form-section>
            </div>
            <div *ngIf="modeState === Modes.NewPool">
                <bl-form-section title="Pool" formGroupName="pool">
                    <div *ngFor="let param of poolParametersWrapper">
                        <bl-parameter-input [formControlName]="param.id" [parameter]="param" [parameterValues]="poolParams.value"> </bl-parameter-input>
                    </div>
                </bl-form-section>
            </div>
        </bl-form-page>
    </bl-complex-form>
    <div>
        <bl-side-menu [logo] = "icon" [title] = "applicationId" [action] = "actionId"
        [modeState] = "modeState" [form] = "form" [poolParametersWrapper] = "poolParametersWrapper" [jobParametersWrapper] = "jobParametersWrapper"> </bl-side-menu>
        <div style = "float:left;" [title]="getToolTip()" class="submit-box" *ngIf="modeState !== Modes.None">
            <bl-server-error [error]="error"> </bl-server-error>
            <bl-button [disabled]="!isFormValid()" [action]="submit" type="wide" class="submit-job" color="success">
                <i class="fa fa-play"></i>
            </bl-button>
        </div>
    </div>

</bl-scrollable>
