
@import "app/styles/variables";

bl-submit-ncj-template {
    display: block;
    width: 100%;

    form {
        margin-left: 10px;
        margin-bottom: 50px;
    }

    .appselect {
        margin-left: 10px;
        margin-top: 5px;
        width: 700px;
        color: #ffffff;
        background-color: #3e81b0;

    }

    .title {
        margin: 10px;
    }

    .submit-box {
        position: fixed;
        right: 20px;
        bottom: 50px;
        text-align: center;

        > bl-server-error {
            width: 300px;
            margin-bottom: 20px;
        }

        > mat-checkbox {
            display: block;
            margin-top: 15px;
        }
    }

    .modes {
        bl-button {
            width: 200px;
            margin-right: 10px;
            &.selected {
                background: map-get($primary, 600);
            }
        }
    }

    bl-button.submit-job {
        color: $whitesmoke;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        i.fa-play {
            margin-left: 8px;
        }

        i.fa-check {
            color: $whitesmoke;
        }
    }
}
