<div class="inputs" *ngIf="loadingStatus === LoadingStatus.Ready" style="padding: 10px;">
    <bl-form-field>
        <bl-select placeholder="{{'custom-image-picker.customImage.label' | i18n}}" [formControl]="customImage" attr.aria-describedby="{{id}}-error-msg">
            <bl-option *ngFor="let image of customImages;trackBy: trackResource" [value]="image.id" [label]="image.name"></bl-option>
            <bl-option [disabled]="true" *ngIf="customImages.length === 0">{{'custom-image-picker.noCustomImageAvailable' | i18n}}</bl-option>
        </bl-select>
    </bl-form-field>
    <bl-form-field>
        <bl-select placeholder="{{'custom-image-picker.nodeAgentSku.label' | i18n}}" [formControl]="nodeAgentSku">
            <bl-option *ngFor="let nodeAgent of nodeAgentSkus;trackBy: trackNodeAgentSku"
                [value]="nodeAgent.id"
                [label]="nodeAgent.id"></bl-option>
        </bl-select>
    </bl-form-field>
</div>
<div *ngIf="loadingStatus === LoadingStatus.Error" id="{{id}}-error-msg" style="padding: 10px;">
    {{ customImagesErrorMsg }}
</div>
