<mat-tab-group class="form-tabs" [@.disabled]="true">
    <mat-tab [label]="'pool-os-picker.category.distributions' | i18n" title="selectedSource === PoolOsSources.IaaS" class="banana">
        <bl-os-offer-tile *ngFor="let offer of vmOffers;trackBy: trackOffer" [name]="offer.name" [skus]="offer.skus" (pickOffer)="pickOffer(offer)" (pickSku)="pickSku(offer, $event)"
            [active]="isOsActive(offer)" [selectedSku]="selectedSku">
        </bl-os-offer-tile>
        <bl-os-offer-tile name="WindowsServer" [skus]="cloudServiceOsFamilies" (pickOffer)="pickCloudService()" (pickSku)="pickCloudService($event.id)"
            [active]="value?.source === PoolOsSources.PaaS" [selectedSku]="selectedFamilyName">
            <div>(Cloud Service)</div>
        </bl-os-offer-tile>
    </mat-tab>
    <mat-tab [label]="'pool-os-picker.category.dataScience' | i18n">
        <bl-os-offer-tile *ngFor="let offer of dataScienceOffers;trackBy: trackOffer" [name]="offer.name" [skus]="offer.skus" (pickOffer)="pickOffer(offer)" (pickSku)="pickSku(offer, $event)"
            [active]="isOsActive(offer)" [selectedSku]="selectedSku">
        </bl-os-offer-tile>
    </mat-tab>
    <mat-tab [label]="'pool-os-picker.category.rendering' | i18n">
        <bl-os-offer-tile *ngFor="let offer of renderingOffers;trackBy: trackOffer" [name]="offer.name" [skus]="offer.skus" (pickOffer)="pickOffer(offer)" (pickSku)="pickSku(offer, $event)"
            [active]="isOsActive(offer)" [selectedSku]="selectedSku">
        </bl-os-offer-tile>
    </mat-tab>
    <mat-tab [label]="'pool-os-picker.category.container' | i18n">
        <bl-os-offer-tile *ngFor="let offer of dockerOffers;trackBy: trackOffer" [name]="offer.name" [skus]="offer.skus" (pickOffer)="pickContainerOffer(offer)" (pickSku)="pickContainerSku(offer, $event)"
            [active]="isOsActive(offer)" [selectedSku]="selectedSku">
        </bl-os-offer-tile>
    </mat-tab>
    <mat-tab label="Custom image">
        <bl-custom-image-picker [ngModel]="customImage" (ngModelChange)="pickCustomImage($event)"></bl-custom-image-picker>
    </mat-tab>
</mat-tab-group>
<p *ngIf="selectedSku" style="padding-top: 10px;">Based on your selection, node agent <b>'{{selectedNodeAgentId}}'</b> will be used</p>
<div *ngIf="showContainerConfiguration">
    <p style="padding-top: 10px;">
        Please specify the container configuration for the pool.
    </p>
    <bl-form-picker [formControl]="containerConfiguration" (clear)="clearContaienrConfiguration()" #containerConfigurationPicker>
        <div no-value-title>{{'pool-os-picker.containerConfiguration' | i18n}}</div>
        <div value-title>{{containerConfiguration?.value?.type}}</div>
        <div nested-form>
            <bl-container-configuration [formControl]="containerConfigurationPicker.nestedValue"></bl-container-configuration>
        </div>
    </bl-form-picker>
</div>
