<mat-tab-group class="form-tabs" [@.disabled]="true">
    <mat-tab label="Distributions" title="selectedSource === PoolOsSources.IaaS" class="banana">
        <bl-os-offer-tile *ngFor="let offer of vmOffers;trackBy: trackOffer" [name]="offer.name" [skus]="offer.skus" (pickOffer)="pickOffer(offer)" (pickSku)="pickSku(offer, $event)"
            [active]="isOsActive(offer)" [selectedSku]="selectedSku">
        </bl-os-offer-tile>
        <bl-os-offer-tile name="WindowsServer" [skus]="cloudServiceOsFamilies" (pickOffer)="pickCloudService()" (pickSku)="pickCloudService($event.id)"
            [active]="value?.source === PoolOsSources.PaaS" [selectedSku]="selectedFamilyName">
            <div>(Cloud Service)</div>
        </bl-os-offer-tile>
    </mat-tab>
    <mat-tab label="Data science VM">
        <bl-os-offer-tile *ngFor="let offer of dataScienceOffers;trackBy: trackOffer" [name]="offer.name" [skus]="offer.skus" (pickOffer)="pickOffer(offer)" (pickSku)="pickSku(offer, $event)"
            [active]="isOsActive(offer)" [selectedSku]="selectedSku">
        </bl-os-offer-tile>
    </mat-tab>
    <mat-tab label="Graphics and rendering">
        <bl-os-offer-tile *ngFor="let offer of renderingOffers;trackBy: trackOffer" [name]="offer.name" [skus]="offer.skus" (pickOffer)="pickOffer(offer)" (pickSku)="pickSku(offer, $event)"
            [active]="isOsActive(offer)" [selectedSku]="selectedSku">
        </bl-os-offer-tile>
    </mat-tab>
    <mat-tab label="Container">
        <bl-os-offer-tile *ngFor="let offer of dockerOffers;trackBy: trackOffer" [name]="offer.name" [skus]="offer.skus" (pickOffer)="pickContainerOffer(offer)" (pickSku)="pickContainerSku(offer, $event)"
            [active]="isOsActive(offer)" [selectedSku]="selectedSku">
        </bl-os-offer-tile>
        <div *ngIf="displayContainerConfiguration">
            <p style="padding-top: 10px;">
                Please specify the container configuration for the pool.
            </p>
            <bl-form-picker [formControl]="containerConfiguration" (clear)="clearContaienrConfiguration()" #containerConfigurationPicker>
                <div no-value-title>Container configuration</div>
                <div value-title>{{containerConfiguration?.value?.type}}</div>
                <div nested-form>
                    <bl-container-configuration [formControl]="containerConfigurationPicker.nestedValue"></bl-container-configuration>
                </div>
            </bl-form-picker>
        </div>
    </mat-tab>
    <mat-tab label="Custom image">
        <div class="editable-table" *ngIf="currentCustomImageState === CustomImagesState.Ready" style="padding: 10px;">
            <table class="noselect" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>Custom image</th>
                        <th>Node agent skus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <bl-select [formControl]="customImage">
                                <bl-option *ngFor="let image of customImages;trackBy: trackResource"
                                    [value]="image.id" [label]="image.name"></bl-option>
                            </bl-select>
                        </td>
                        <td>
                            <bl-select [formControl]="nodeAgentSku">
                                <bl-option *ngFor="let nodeAgent of nodeAgentSkus;trackBy: trackNodeAgentSku"
                                    [value]="nodeAgent.id" [label]="nodeAgent.id"></bl-option>
                            </bl-select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="currentCustomImageState === CustomImagesState.Empty" style="padding: 10px;">
            {{ customImagesEmptyMsg }}
        </div>
        <div *ngIf="currentCustomImageState === CustomImagesState.Error" style="padding: 10px;">
            {{ customImagesErrorMsg }}
        </div>
        <div *ngIf="hasCustomImage">
            <p style="padding-top: 10px;">
                Please specify the container configuration for the pool.
            </p>
            <bl-form-picker [formControl]="containerConfiguration" (clear)="clearContaienrConfiguration()" #containerConfigurationPicker>
                <div no-value-title>Container configuration</div>
                <div value-title>{{containerConfiguration?.value?.type}}</div>
                <div nested-form>
                    <bl-container-configuration [formControl]="containerConfigurationPicker.nestedValue"></bl-container-configuration>
                </div>
            </bl-form-picker>
        </div>
    </mat-tab>
</mat-tab-group>
<p *ngIf="selectedSku" style="padding-top: 10px;">Based on your selection, node agent <b>'{{selectedNodeAgentId}}'</b> will be used</p>
