<div class="pool-filters" [formGroup]="filters">
    <bl-select placeholder="OS" formControlName="offer">
        <bl-option [value]="null" label="No filter"></bl-option>
        <bl-option [value]="offer.name" [label]="offer.label" *ngFor="let offer of offers;trackBy: trackOffer"></bl-option>
    </bl-select>
    <input blInput class="search-input" placeholder="Filter" formControlName="id" />
</div>
<bl-loading [status]="poolsData.status | async">
    <div class="pool-list">
        <bl-clickable
            class="pool"
            *ngFor="let pool of displayedPools; trackBy: trackPool"
            [class.active]="pool.id === pickedPool"
            [title]="pool.id"s
            (do)="pickPool(pool)">
            <div class="icon">
                <bl-icon [icon]="iconForPool(pool)"></bl-icon>
            </div>
            <div class="info">
                <div class="title">{{pool.id}}</div>
                <div class="details">
                    <div title="Pool has {{pool.targetNodes}} nodes" class="metric">
                        <i class="fa fa-tv"></i>
                        <span>{{pool.targetNodes}}</span>
                    </div>
                    <div title="Pool has {{poolCoreCount(pool)}} cores" class="metric">
                        <i class="fa fa-microchip"></i>
                        <span>{{poolCoreCount(pool)}}</span>
                    </div>
                    <div class="pool-tags">
                        <bl-tags [tags]="pool.tags" [maxTags]="3"></bl-tags>
                    </div>
                </div>
            </div>
        </bl-clickable>

        <div *ngIf="displayedPools.size === 0 && (poolsData.status | async) === LoadingStatus.Ready">
            You don't have any pools matching the current filters. <bl-clickable class="reset-filters" (do)="resetFilters()">Reset</bl-clickable>
        </div>
    </div>
</bl-loading>
