@import "app/styles/variables";

bl-pool-picker {
    $tile-width: 150px;
    $tile-height: 70px;

    display: block;
    position: relative;

    .pool-filters {
        display: flex;
        align-items: center;

        .search-input {
            flex: 1;
        }

        > * {
            margin: 5px;
        }
    }

    .has-more {
        color: $dusty-grey;
        text-align: right;
    }

    .pool-list {
        min-height: 100px;
    }

    .pool, .auto-pool {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: $tile-width;
        height: $tile-height;
        padding: 0;
        margin: 5px;
        vertical-align: top;

        border: 1px solid $border-color;
        border-radius: 3px;
        background: $white;
        outline: none;
        user-select: none;
        cursor: pointer;

        &:hover, &:focus {
            background-color: $whitesmoke-darker;
        }

        &.active {
            color: $whitesmoke;
            border-color: map-get($primary, 300);
            background:  map-get($primary, 300);

            > .pool-wrapper {
                > .icon {
                    color: map-get($primary, 50);
                }
                > .info > .details {
                    color: map-get($primary, 50);
                }
            }

            > .pool-tags .tag {
                color: map-get($primary, 700);
                background-color: map-get($primary, 50);
            }
        }

        > .pool-wrapper {
            display: flex;
            align-items: flex-start;
            width: $tile-width;

            > .icon {
                color: map-get($primary, 300);
                font-size: 30px;
                height: 30px;
                margin: 5px;
                display: flex;
                align-items: center;

                svg {
                    width: 40px;
                    height: 40px;
                }
            }

            > .info {
                padding: 0 5px;
                text-align: left;
                overflow: hidden;

                > .title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                > .details {
                    color: $dusty-grey;
                }
            }
        }

        > .pool-tags {
            margin: 0 5px;
            overflow: hidden;

            .tag {
                line-height: 11px;
                margin-right: 3px;
            }
        }
    }

    .auto-pool > .pool-wrapper {
        color: $alto;

        > .icon {
            color: $alto;
            margin-left: 10px;
            margin-right: 0;
        }

        > .info {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }
    }
}
