<div class="flex-center">
    <input blInput class="search-input" placeholder="Filter" [formControl]="searchInput" />
    <bl-select placeholder="OS">
        <bl-option value="windows" label="Windows"></bl-option>
        <bl-option value="ubuntu" label="Ubuntu"></bl-option>
    </bl-select>
</div>
<bl-loading [status]="poolsData.status | async">
    <div class="pool-list">
        <button class="pool" *ngFor="let pool of pools; trackBy: trackPool" (click)="pickPool(pool)" [class.active]="pool.id === pickedPool" [title]="pool.id">
            <div class="pool-wrapper">
                <div class="icon">
                    <bl-icon [icon]="iconForPool(pool)"></bl-icon>
                </div>
                <div class="info">
                    <div class="title">{{pool.id}}</div>
                    <div class="details">
                        <div>
                            <span title="Pool has {{pool.targetNodes}} nodes">
                                <i class="fa fa-tv"></i>
                                <span>{{pool.targetNodes}}</span>
                            </span>
                            <span title="Pool has {{poolCoreCount(pool)}} cores">
                                <i class="fa fa-microchip"></i>
                                <span>{{poolCoreCount(pool)}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pool-tags">
                <bl-tags [tags]="pool.tags" [maxTags]="3"></bl-tags>
            </div>
        </button>
        <div *ngIf="pools.size > 0 && (poolsData.hasMore | async)" class="has-more">
            There is more pools available for selection, use the search above.
        </div>
        <!--TODO uncomment and wire to auto pool when supporting
        <button class="auto-pool">
            <div class="pool-wrapper">
                <div class="icon"><i class="fa fa-plus"></i></div>
                <div class="info">Auto pool</div>
            </div>
        </button>-->
    </div>
</bl-loading>
