@import "app/styles/variables";

bl-pool-picker {
    $tile-width: 235px;
    $tile-height: 50px;

    display: block;
    position: relative;

    .pool-filters {
        display: flex;
        align-items: center;

        .search-input {
            flex: 1;
        }

        > * {
            margin: 5px;
        }
    }

    .pool-list {
        min-height: 100px;
    }

    .pool, .auto-pool {
        display: inline-flex;
        position: relative;
        width: $tile-width;
        height: $tile-height;
        padding: 0;
        margin: 5px;
        vertical-align: top;

        border: 1px solid $border-color;
        background: $input-background-color;
        outline: none;
        user-select: none;
        cursor: pointer;

        &:hover, &:focus {
            background-color: $selection-color;
        }

        &.active {
            color: $whitesmoke; // TODO-tim change to primary-contrast when merged
            border-color: $primary-color;
            background:  $primary-color;

            > .icon {
                color: $whitesmoke;
            }
            > .info > .details {
                color: $whitesmoke;
            }

            .pool-tags .tag {
                color: $primary-color;
                background-color: $whitesmoke;
            }
        }

        > .icon {
            color: $primary-color;
            font-size: 30px;
            height: 30px;
            margin: 5px;
            display: flex;
            align-items: center;

            svg {
                width: 40px;
                height: 40px;
            }
        }

        > .info {
            padding: 0 5px;
            text-align: left;
            overflow: hidden;

            > .title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-top: 3px;
                color: $primary-color;
            }

            > .details {
                color: $secondary-color;
                display: flex;
                align-items: center;

                .fa {
                    margin-right: 3px;
                }

                .metric {
                    flex-shrink: 0;
                    min-width: 10px;
                    margin-right: 3px;
                }

                bl-tags {
                    flex-shrink: 1;
                    min-width: 0;
                }
            }
        }
    }

    > .pool-tags {
        margin: 0 5px;
        overflow: hidden;

        .tag {
            line-height: 11px;
            margin-right: 3px;
        }
    }
}
