<button md-mini-fab color="primary" *ngIf="!edit" style="float:right; margin:20px;" (click)="edit = true" title="Edit start task">
    <i class="fa fa-pencil"></i>
</button>

<bl-property-list *ngIf="startTask && !edit">
    <bl-property-group label="Start task settings" [collapsable]="false" class="wide">
        <bl-text-property label="Command line" [value]="startTask.commandLine"></bl-text-property>
        <bl-text-property label="Max retry count" [value]="startTask.maxTaskRetryCount"></bl-text-property>
        <bl-text-property label="User identity" [value]="decorator.userIdentitySummary"></bl-text-property>
        <bl-bool-property label="Wait for success" [value]="startTask.waitForSuccess" YesNo="true"></bl-bool-property>

        <bl-table-property label="Resource files" *ngIf="startTask.resourceFiles.size > 0">
            <bl-table-property-header>
                <div tp-column>Blob source</div>
                <div tp-column>File path</div>
            </bl-table-property-header>
            <bl-table-property-row *ngFor="let file of startTask.resourceFiles">
                <bl-tp-cell [value]="file.blobSource"></bl-tp-cell>
                <bl-tp-cell [value]="file.filePath"></bl-tp-cell>
            </bl-table-property-row>
        </bl-table-property>

        <bl-table-property label="Environment settings" *ngIf="startTask.environmentSettings.size > 0">
            <bl-table-property-header>
                <div tp-column>Key</div>
                <div tp-column>Value</div>
            </bl-table-property-header>
            <bl-table-property-row *ngFor="let setting of startTask.environmentSettings">
                <bl-tp-cell [value]="setting.name"></bl-tp-cell>
                <bl-tp-cell [value]="setting.value"></bl-tp-cell>
            </bl-table-property-row>
        </bl-table-property>
    </bl-property-group>
</bl-property-list>

<bl-no-item [itemCount]="startTask ? 1 : 0" *ngIf="!edit">
    <span no-filter>This pool doesn't have a start task</span>
</bl-no-item>

<div class="tab-padding">
    <bl-start-task-edit-form [pool]="pool" *ngIf="edit" (close)="edit=false"></bl-start-task-edit-form>
</div>
