<div [formGroup]="form">
    <div class="form-element">
        <md-input-container>
            <input mdInput formControlName="commandLine" placeholder="Command line">
        </md-input-container>
        <bl-error controlName="commandLine" code="required">Command line is a required field</bl-error>
    </div>
    <div class="form-element">
        <md-input-container>
            <input mdInput formControlName="maxTaskRetryCount" placeholder="Max retry count" type="number">
        </md-input-container>
        <bl-error controlName="maxTaskRetryCount" code="validateRange">Retry count values can range from -1 to 100</bl-error>
    </div>
    <div class="form-element">
        <md-slide-toggle formControlName="runElevated" color="primary">
            Run elevated
        </md-slide-toggle>
    </div>
    <div class="form-element">
        <md-slide-toggle formControlName="waitForSuccess" color="primary">
            Wait for success
        </md-slide-toggle>
    </div>

    <h4>Resource files</h4>
    <bl-resourcefile-picker formControlName="resourceFiles"></bl-resourcefile-picker>
</div>
