<div [formGroup]="form">
    <div class="form-element">
        <md-slide-toggle formControlName="enableStartTask" color="primary">
            Enable start task
        </md-slide-toggle>
    </div>
    <div *ngIf="enableStartTask">
        <div class="form-element">
            <md-input-container>
                <input mdInput formControlName="commandLine" placeholder="Command line">
            </md-input-container>
            <bex-error controlName="commandLine" code="required">Command line is a required field</bex-error>
        </div>
        <div class="form-element">
            <md-input-container>
                <input mdInput formControlName="maxTaskRetryCount" placeholder="Max retry count" type="number">
            </md-input-container>
            <bex-error controlName="maxTaskRetryCount" code="validateRange">Retry count values can range from -1 to 100</bex-error>
        </div>
        <div class="form-element">
            <md-slide-toggle formControlName="runElevated" color="primary">
                Run elevated
            </md-slide-toggle>
        </div>
        <div class="form-element">
            <md-slide-toggle formControlName="waitForSuccess" color="primary">
                Wait for success
            </md-slide-toggle>
        </div>

        <h4>Resource files</h4>
        <bex-resourcefile-picker formControlName="resourceFiles"></bex-resourcefile-picker>
    </div>
</div>
