<bl-button color="primary" style="float:right; margin:20px;" (click)="edit()" title="Edit start task" *ngIf="startTask">
    <i class="fa fa-pencil"></i>
</bl-button>

<bl-banner *ngIf="!startTask" type="notice" [fix]="edit" fixMessage="Setup">
    <div message>This pool doesn't have a start task</div>
</bl-banner>

<bl-property-list *ngIf="startTask">
    <bl-property-group label="Start task settings" [collapsable]="false" class="wide">
        <bl-text-property label="Command line" [value]="startTask.commandLine"></bl-text-property>
        <bl-text-property label="Max retry count" [value]="startTask.maxTaskRetryCount"></bl-text-property>
        <bl-text-property label="User identity" [value]="decorator.userIdentitySummary"></bl-text-property>
        <bl-bool-property label="Wait for success" [value]="startTask.waitForSuccess" YesNo="true"></bl-bool-property>

        <bl-table-property label="Resource files" *ngIf="startTask.resourceFiles.size > 0">
            <bl-table-property-header>
                <div tp-column>Blob source</div>
                <div tp-column>File path</div>
            </bl-table-property-header>
            <bl-table-property-row *ngFor="let file of startTask.resourceFiles">
                <bl-tp-cell [value]="file.blobSource"></bl-tp-cell>
                <bl-tp-cell [value]="file.filePath"></bl-tp-cell>
            </bl-table-property-row>
        </bl-table-property>

        <bl-table-property label="Environment settings" *ngIf="startTask.environmentSettings.size > 0">
            <bl-table-property-header>
                <div tp-column>Key</div>
                <div tp-column>Value</div>
            </bl-table-property-header>
            <bl-table-property-row *ngFor="let setting of startTask.environmentSettings">
                <bl-tp-cell [value]="setting.name"></bl-tp-cell>
                <bl-tp-cell [value]="setting.value"></bl-tp-cell>
            </bl-table-property-row>
        </bl-table-property>
    </bl-property-group>
</bl-property-list>
