md-card.overview {
    padding: 0 !important;
    display: flex;

    > .actions {
        width: $action-btn-size + 1;
    }

    > .content {
        padding: 18px;
        flex: 1;
    }

    > .tile {
        border-left: 1px solid #d5d5d5;
    }
}

bl-job-progress-status {
    display: block;
    padding-top: 5px;

    .running-task-status {
        display: flex;
    }

    .running {
        width: 220px;
        height: 130px;
    }

    .queued, .completed {
        text-align: center;
        margin: 98px 10px 0;

        > .value {
            font-size: 20px;
        }

        > .label {
            color: $alto;
        }
    }

    bl-gauge {
        margin: 0 10px;
    }

    .toggle-job-pool-tasks {
        margin: 0 10px;
        display: flex;
        font-size: 12px;
        justify-content: space-between;

        > .option {
            cursor: pointer;

            &.active {
                color: map-get($md-prussian-blue, 600);
                font-weight: bold;
            }
        }
    }
}
