<bl-dropdown [footer]="false" align="left">
    <div bl-dropdown-btn>
        <i class="fa fa-star"></i> Workspaces 
    </div>
        <div bl-dropdown-content>
            <bl-clickable *ngFor="let workspace of workspaces | async; trackBy: trackByFn"
                 class="dropdown-item"
                 [class.selected]="workspace.id === selectedWorkspaceId"
                 [title]="workspace.name">
                 <div>{{workspace.name}}</div>
            </bl-clickable>
            <!-- <bl-clickable *ngIf="selectedId" class="dropdown-item">
                <i ></i>Developer View
                <i ></i>Simplified View
                <div class="url">{{workspace.properties.workspaceEndpoint}}</div>
                <div *ngIf="workspace.id === selectedId" class="extra">
                        <i class="fa fa-check"></i>
                </div>
            </bl-clickable> -->
        </div>
</bl-dropdown>
