
@import "app/styles/variables";

bl-workspace-dropdown {
    $ddl-width: 280px;
    width: calc(#{$ddl-width} - 65px);
    .fa {
        font-size: 1.2em;
        padding-right: 5px;

        &.fa-tasks, &.fa-database, &.fa-file-archive-o, &.fa-question, &.fa-cloud-upload, &.fa-certificate, &.fa-calendar {
            color: map-get($primary, 300);
        }
    }
}
