.DS_Store
/**/node_modules/
/**/lib
/**/lib-cjs
/**/lib-umd
/**/build
/**/test-results
/desktop/release/
coverage/
env/
Localize/packages/
Localize/out/

/desktop/resources/i18n/*
/packages/*/resources/i18n/*
/web/resources/i18n/*

/desktop/src/generated/*
/packages/*/src/generated/*
/util/bux/__tests__/loc-source/generated
/web/src/generated/*
TempTypeSpecFiles
