/**/node_modules/
/**/lib
/**/lib-cjs
/**/lib-umd
/**/build
/desktop/release/
coverage/
env/
Localize/packages/
Localize/out/
/desktop/resources/i18n/*
/packages/common/resources/i18n/*
/packages/playground/resources/i18n/*
/packages/react/resources/i18n/*
/packages/service/resources/i18n/*
web/dev-server/resources/i18n/*
desktop/resources/i18n/*
/packages/common/src/ui-common/generated/*
/packages/playground/src/ui-playground/generated/*
/packages/react/src/ui-react/generated/*
/packages/service/src/ui-service/generated/*
/web/src/explorer-web/generated/*
/desktop/src/generated/*
