/**/node_modules/
/**/lib/
/**/lib-cjs/
/**/lib-umd/
/**/test-results/
/**/bin/
/**/build/

*.md
*.html

desktop
docs
.vsts
.vscode

package-lock.json

Localize/out/
Localize/packages/
/**/resources/
