language: node_js
dist: trusty
sudo: false

# addons:
#   apt:
#     packages:
#       - libgnome-keyring-dev
#       - openjpeg-tools # or libopenjp2-tools
#       - graphicsmagick
#       - libreadline6
#       - xz-utils
#       - rpm
#       - bsdtar

node_js:
  - 9.6.1
python:
  - "3.6"

matrix:
    - language: node_js
      os: linux
      services: docker
      before_install:
        - pyenv versions
        - pyenv install --list
        - pyenv install 3.6.0
        - pyenv global 3.6.0
        - python --version
        - python3 --version
      before_script:
        - export DISPLAY=:99.0
        - sh -e /etc/init.d/xvfb start &
        - sleep 3

install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16; fi
  - npm install -g codecov
  - npm install -g yarn
  - yarn --ignore-engines install
  - python --version
  - pip install -r python/requirements.txt

script:
    - ./scripts/travis/build-and-test.sh
    - pylint python/main.py

branches:
  only:
  - master
  - stable
  - fix/publish

cache:
  # yarn: true
  # directories:
    # - node_modules
    # - $HOME/.cache/electron
    # - $HOME/.cache/electron-builder
