@import "app/styles/variables";

bl-gallery {
    position: relative;
    width: 100%;
    height: $contentview-height;
    $header-height: 40px;

    .header {
        display: flex;
        height: $header-height;
        padding: 10px;
        h1 {
            margin-right: 5px;
        }

        bl-local-template-pick-button {

        }
    }

    .gallery-content {
        display: flex;
    }

    // static colors for deprecation warnings
    .gallery-deprecation-warning {
        > .warning {
            background-color: var(--color-warn-50);
            // using the color from var(--color-text-primary)
            color: #333333;

            > .summary-container {

                &.standard {
                    height: unset;
                }

                > .message {
                    white-space: normal;
                }
            }
        }
    }

    .gallery-warning-alternative-link {
        // using the color from var(--color-primary-800);
        color: #1d54af;
    }
}
