<bl-storage-error-display [noClassic]="true"></bl-storage-error-display>
<bl-local-template-drop-zone *ngIf="autoStorageService.hasArmAutoStorage | async">
    <div class="header">
        <h1>{{'gallery.title' | i18n }}</h1>
    </div>
    <div class="gallery-content">
        <bl-banner class="gallery-deprecation-warning" type="warning">
            <div message>
                Graphics and rendering pools have been retired on 29 February 2024.
                <a class="gallery-warning-alternative-link" (click)="openLink('https://azure.microsoft.com/en-us/updates/azure-batch-rendering-vm-images-licensing-will-be-retired-on-29-february-2024/')" href="javascript:void(0)">Click for more info</a>
            </div>
        </bl-banner>
    </div>
</bl-local-template-drop-zone>
