<bl-storage-error-display [noClassic]="true"></bl-storage-error-display>
<bl-local-template-drop-zone *ngIf="autoStorageService.hasArmAutoStorage | async">
    <div class="header">
        <h1>{{'gallery.title' | i18n }}</h1>
    </div>
    <div class="gallery-content">
        <bl-banner class="gallery-deprecation-warning" type="warning">
            <div message>
                Gallery applications are no longer supported as of February 29, 2024. See the
                <a class="gallery-warning-alternative-link" (click)="openLink('https://azure.microsoft.com/updates/azure-batch-rendering-vm-images-licensing-will-be-retired-on-29-february-2024/')" href="javascript:void(0)">Azure Batch rendering VM images & licensing retirement announcement</a>
                for details.
            </div>
        </bl-banner>
    </div>
</bl-local-template-drop-zone>
