@import "app/styles/variables";


bl-tags {

    .no-tags {
        color: $mineshaft-grey;
    }

    .main {
        display: flex;
        align-items: center;

        input {
            min-width: 200px;
        }
    }

    .tags-control {
        margin: 0 5px;

        button {
            background: none;
        }

        .fa-pencil {
            cursor: pointer;
            color: map-get($primary, 500);

            &:hover {
                color: map-get($primary, 300);
            }
        }

        .fa-check, .fa-times {
            font-size: 20px;
            cursor: pointer;
        }

        .fa-check:hover {
            color: map-get($success, 500);
        }

        .fa-times:hover {
            color: map-get($danger, 400);
        }
    }

}
