<div class="main">
    <div class="tags">
        <bl-tag-list *ngIf="!isEditing"></bl-tag-list>
        <form (submit)="triggerSave()" [hidden]="!isEditing">
            <bl-form-field>
                <input blInput #editInput placeholder="Tags(Comma separated)" [(ngModel)]="tagEditString" [ngModelOptions]="{standalone: true}">
            </bl-form-field>
        </form>
    </div>
    <div class="tags-control" *ngIf="editable">
        <bl-clickable class="edit" matTooltip="Edit tags" (do)="edit()" *ngIf="!isEditing && !saving">
            <i class="fa fa-pencil"></i>
        </bl-clickable>
        <bl-clickable class="save" matTooltip="Save" (do)="triggerSave()" *ngIf="isEditing">
            <i class="fa fa-check"></i>
        </bl-clickable>
        <bl-clickable class="cancel" matTooltip="Cancel" (do)="cancel()" *ngIf="isEditing">
            <i class="fa fa-times"></i>
        </bl-clickable>
        <i class="fa fa-spinner fa-spin" *ngIf="saving"></i>
    </div>
</div>
