@import "app/styles/variables";

.tag-list {
    display: flex;
    align-items: center;

    .tag {
        font-size: 11px;
        color: white;
        background: map-get($primary, 300);
        padding: 0 5px;

        &:not(:last-child) {
            margin-right: 5px;
        }
    }

    .expand-tags {
        font-size: 16px;
        color: map-get($primary, 300);
        padding: 0 5px;
        border-radius: 3px;

        &:hover {
            color: map-get($primary, 50);
            background: map-get($primary, 300);
        }
    }
}

bl-tags {

    .no-tags {
        color: $mineshaft-grey;
    }

    .main {
        display: flex;
        align-items: center;

        input {
            min-width: 200px;
        }
    }

    .tags-control {
        margin: 0 5px;

        button {
            background: none;
        }

        .fa-pencil {
            cursor: pointer;
            color: map-get($primary, 500);

            &:hover {
                color: map-get($primary, 300);
            }
        }

        .fa-check, .fa-times {
            font-size: 20px;
            cursor: pointer;
        }

        .fa-check:hover {
            color: map-get($success, 500);
        }

        .fa-times:hover {
            color: map-get($danger, 400);
        }
    }

}
