<!--<bl-banner [id]="task.id" *ngIf="hasFailureExitCode" fixMessage="Rerun task" [fix]="rerun" type="warning">
    <div [other-fix]="rerunDifferent" fixMessage="Rerun with different attributes"></div>
    <div message>{{exitCodeMessage}}</div>
</bl-banner>z-->
<bl-banner [id]="task.id" *ngIf="failureInfo" fixMessage="Rerun task" [fix]="rerun" type="warning">
    <div code>{{failureInfo.code}}</div>
    <div [other-fix]="rerunDifferent" fixMessage="Rerun with different attributes"></div>
    <div message>{{errorMessage}}</div>
    <div details *ngIf="failureInfo.details.size !== 0">
        <div *ngFor="let entry of failureInfo.details;trackBy: trackByFn">
            <div>{{entry.name}}: {{entry.value}}</div>
        </div>
    </div>
</bl-banner>
