$black-87-opacity: rgba(black, 0.87);
$white-87-opacity: rgba(white, 0.87);

$contrast-theme1: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
);

$primary-theme1: (
    50: #cde0ed,
    100: #94bdd9,
    200: #6ba3cb,
    300: #3e81b0,
    400: #36719a,
    500: #2e6083,
    600: #264f6c,
    700: #1e3f56,
    800: #162e3f,
    900: #0e1e28,
    A100: #cde0ed,
    A200: #94bdd9,
    A400: #36719a,
    A700: #1e3f56,
    contrast: $contrast-theme1,
);

$danger-theme1: (
    50: #f5e7e7,
    100: #e6c4c4,
    200: #d59c9c,
    300: #c47474,
    400: #b75757,
    500: #aa3939,
    600: #a33333,
    700: #992c2c,
    800: #902424,
    900: #7f1717,
    A100: #ffb7b7,
    A200: #ff8484,
    A400: #ff5151,
    A700: #ff3737,
    contrast: $contrast-theme1,
);

$primary: (
    50: var(--primary-50),
    100: var(--primary-100),
    200: var(--primary-200),
    300: var(--primary-300),
    400: var(--primary-400),
    500: var(--primary-500),
    600: var(--primary-600),
    700: var(--primary-700),
    800: var(--primary-800),
    900: var(--primary-900),
    A100: var(--primary-A100),
    A200: var(--primary-A200),
    A400: var(--primary-A400),
    A700: var(--primary-A700),
    contrast: $contrast-theme1,
);
$md-prussian-blue: $primary;


$danger: (
    50: var(--danger-50),
    100: var(--danger-100),
    200: var(--danger-200),
    300: var(--danger-300),
    400: var(--danger-400),
    500: var(--danger-500),
    600: var(--danger-600),
    700: var(--danger-700),
    800: var(--danger-800),
    900: var(--danger-900),
    A100: var(--danger-A100),
    A200: var(--danger-A200),
    A400: var(--danger-A400),
    A700: var(--danger-A700),
    contrast: $contrast-theme1,
);
