@import "app/styles/variables";

bl-property-content {
    color: $primary-text;
    padding: 3px 8px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 100%;
    min-height: 24px;
    border: 1px #000000 solid;

    &:not(.wrap) {
        white-space: nowrap;
    }

    &.wrap {
        word-wrap: break-word;
    }

    .fa {
        font-size: 16px !important;
    }

    &.link {
        color: $primary-color;

        i {
            padding-left: 4px;
        }

        &:hover {
            font-weight: 400;
            background-color: $hover-bg-color;
            cursor: pointer;
        }
    }
}
