<div class="settings-header">
    <h1 tabindex="0" autofocus>{{'settings.title' | i18n}}</h1>

    <div class="actions">
        <bl-button title="Reset" (do)="reset()" tooltipPosition="below" [disabled]="!modified">
            <i class="fa fa-undo"></i>
        </bl-button>
    </div>
</div>
<div class="settings-editor" [formGroup]="form">
    <h2>General</h2>
    <bl-form-field>
        <bl-select placeholder="Entity configuration default view" formControlName="theme">
            <bl-option value="classic" label="Classic"></bl-option>
            <bl-option value="dark" label="Dark"></bl-option>
            <bl-option value="hc" label="High contrast"></bl-option>
        </bl-select>
    </bl-form-field>
    <bl-form-field>
        <bl-select placeholder="Entity configuration default view" formControlName="entityConfigurationDefaultView">
            <bl-option value="pretty" label="Pretty"></bl-option>
            <bl-option value="json" label="JSON"></bl-option>
        </bl-select>
    </bl-form-field>

    <bl-editable-table label="Subscription to ignore" formControlName="subscriptionsIgnore">
        <bl-editable-table-column name="pattern">Wildcard pattern (e.g. 'other-subscription*')</bl-editable-table-column>
    </bl-editable-table>

    <bl-form-field>
        <input blInput placeholder="Default upload container" formControlName="defaultUploadContainer">
        <bl-hint>Name of the container BatchExplorer will use to upload resource files when drag and drop</bl-hint>
    </bl-form-field>


    <bl-form-field>
        <input blInput placeholder="Default username for node connection" formControlName="nodeConnectDefaultUsername">
        <bl-hint>When using the quick connect functionality to access a node this username will be used for the created
            user</bl-hint>
    </bl-form-field>

    <bl-form-field>
        <bl-select placeholder="Update channel" formControlName="updateChannel">
            <bl-option value="stable" label="Stable"></bl-option>
            <bl-option value="insider" label="Insider"></bl-option>
        </bl-select>
    </bl-form-field>

    <bl-form-field>
        <bl-select placeholder="Automatically update when quiting the application" formControlName="updateOnQuit">
            <bl-option [value]="true" label="Yes"></bl-option>
            <bl-option [value]="false" label="No"></bl-option>
        </bl-select>
    </bl-form-field>



    <h2>
       Gallery settings
    </h2>

    <bl-form-field>
        <input blInput placeholder="Github data source" formControlName="githubDataRepo">
        <bl-hint>Name of the repository to use to load the data. You can use that to test a fork of the BatchExplorer-data repo</bl-hint>
    </bl-form-field>
    <bl-form-field>
        <input blInput placeholder="Github data branch" formControlName="githubDataBranch">
    </bl-form-field>

    <bl-form-field>
        <input blInput placeholder="Default output filegroup" formControlName="defaultOutputFileGroup">
    </bl-form-field>
</div>
