<div class="settings-header">
    <h1 tabindex="0" autofocus>{{'settings.title' | i18n}}</h1>

    <div class="actions">
        <bl-button title="Save" [action]="save" tooltipPosition="below" [disabled]="!modified || !userSettings.valid">
            <i class="fa fa-floppy-o"></i>
            <span class="modified" *ngIf="modified">*</span>
        </bl-button>
        <bl-button title="Reset" (do)="reset()" tooltipPosition="below" [disabled]="!modified">
            <i class="fa fa-undo"></i>
        </bl-button>
    </div>
</div>
<div class="settings-editor">
    <div class="default-settings">
        <bl-toolbar>
            <div toolbarLabel>{{'settings.defaultSettings' | i18n}}</div>
        </bl-toolbar>
        <bl-editor [value]="defaultSettings" [config]="defaultSettingsEditorConfig"></bl-editor>
    </div>

    <div class="user-settings">
        <bl-toolbar>
            <div toolbarLabel>{{'settings.userSettings' | i18n}}</div>
            <div toolbarError *ngIf="!userSettings.valid">{{userSettings.errors?.validJson?.message}}</div>
        </bl-toolbar>


        <bl-editor [formControl]="userSettings" [config]="userSettingsEditorConfig"></bl-editor>
    </div>
</div>
