@import "app/styles/variables";

bl-settings {
    display: block;
    height: $contentview-height;

    $settings-header-height: 60px;
    $settings-content-height: calc(#{$contentview-height} - #{$settings-header-height});
    $settings-label-height: 24px;
    $settings-editor-height: calc(#{$settings-content-height} - #{$settings-label-height});

    .settings-header {
        height: $settings-header-height;
        padding: 10px 20px;
        display: flex;

        > h1 {
            flex: 1;

            &:not(.focus-visible) {
                outline: none;
            }
        }

        .modified {
            position: absolute;
            right: 3px;
            top: 0;
        }
    }

    .settings-editor {
        height: $settings-content-height;
        width: 800px;
        margin: auto;

        bl-form-field {
            margin: 10px 0;
        }
    }
}
