@import "app/styles/variables";

bl-button-group {
    display: block;
}

bl-button {
    display: inline-block;
    height: $action-btn-size;
    outline: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: $action-btn-size;
    position: relative;
    margin: 2px;
    .hide {
        opacity: 0;
    }

    .overlay {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .fa-check {
        color: map-get($success, 800);
        overflow: hidden;
    }

    .success-container {
        width: 50%;
        text-align: left;
        display: inline-block;
    }

    &[type="plain"] {
        &[color="primary"] {
            color: $primary-color;
            &:hover, &:focus {
                color: $primary-color-light;
            }
        }

        &[color="light"] {
            color: $primary-text;

            &:hover, &:focus {
                color: $button-disabled-text-color;
            }
        }

        &[color="danger"] {
            color: map-get($danger, 500);
            &:hover, &:focus {
                color: map-get($danger, 200);
            }
        }

        &.disabled[color] {
            color: $button-disabled-text-color;
            background: none;
        }
    }

    &[type="square"], &[type="round"] {
        width: $action-btn-size;
    }

    &[type="round"] {
        border-radius: 99%;

        &:focus {
            box-shadow: inset 0 0 0 1px $outline-color;
            outline: none;
        }
    }

    &[type="wide"] {
        padding: 0 10px;
        min-width: $action-btn-size;
    }

    &[type="square"], &[type="round"], &[type="wide"] {
        &.disabled[color] {
            cursor: not-allowed;
            color: $button-disabled-text-color;
            background: $button-disabled-bg-color;

            &:hover, &:focus, &:active {
                color: $button-disabled-text-color;
                background: $button-disabled-bg-color;
            }
        }

        &[color="primary"] {
            background: $primary-color;
            color: $primary-text;

            &:hover, &:focus {
                background: $primary-color-dark;
            }

            &:active {
                background: map-get($primary, 600);
            }
        }

        &[color="light"] {
            color: $button-basic-text-color;
            background: $button-basic-bg-color;

            &:hover, &:focus {
                background: $button-basic-hover-bg-color;
            }
        }

        &[color="danger"] {
            background: $danger-color;
            color:  $primary-text;

            &:hover, &:focus {
                background: $danger-color-dark;
            }
        }

        &[color="warn"] {
            background: $warn-color;
            color:  $primary-text;

            &:hover, &:focus {
                background: $warn-color-dark;
            }
        }

        &[color="success"] {
            background: $success-color;
            color:  $primary-text;

            &:hover, &:focus {
                background: $success-color-dark;
            }
        }
    }
}
