<bl-loading [status]="loadingStatus">
    <div *ngIf="loadingStatus">
        <h3>Storage accounts in the same region as your batch account({{account.location}})</h3>
        <bl-table *ngIf="preferedAccounts.size > 0" [activeItem]="pickedStorageAccountId" (activeItemChange)="pickStorageAccount($event)" class="prefered">
            <bl-thead>
                <bl-column [sortable]="true">Name</bl-column>
                <bl-column [sortable]="true">Region</bl-column>
            </bl-thead>
            <bl-row *ngFor="let account of preferedAccounts" [key]="account.id">
                <bl-cell [value]="account.name"></bl-cell>
                <bl-cell [value]="account.location"></bl-cell>
            </bl-row>
        </bl-table>
        <div *ngIf="preferedAccounts.size === 0" class="no-prefered-account">
            You have no accounts in the same region!
        </div>

        <div *ngIf="otherAccounts.size > 0">
            <h3>Other regions</h3>
            <bl-table [activeItem]="pickedStorageAccountId" (activeItemChange)="pickStorageAccount($event)" class="others">
                <bl-thead>
                    <bl-column [sortable]="true">Name</bl-column>
                    <bl-column [sortable]="true">Region</bl-column>
                </bl-thead>
                <bl-row *ngFor="let account of otherAccounts" [key]="account.id">
                    <bl-cell [value]="account.name"></bl-cell>
                    <bl-cell [value]="account.location"></bl-cell>
                </bl-row>
            </bl-table>
        </div>
    </div>
</bl-loading>
