<bl-banner *ngIf="loadingError" type="error">
    <div code>{{ loadingError.code }}</div>
    <div message [title]="loadingError.message">{{ loadingError.message }}</div>
</bl-banner>

<bl-loading [status]="data.status">
    <div *ngIf="account">
        <bl-summary-card>
            <div summaryTitle>{{account.name}}</div>
            <div summaryDetails>
                <div>{{account.properties.accountEndpoint}}</div>
                <div>{{account.subscription?.displayName}}</div>
            </div>
            <bl-button-group summaryActions>
                <bl-refresh-btn [refresh]="refresh"></bl-refresh-btn>
                <bl-commands-list [commands]="commands" [entity]="account"></bl-commands-list>
            </bl-button-group>
            <div summaryTile>
                <bl-account-quotas-card [account]="account"></bl-account-quotas-card>
            </div>
            <div summaryTile>
                <bl-storage-account-card [account]="account">
                </bl-storage-account-card>
            </div>
        </bl-summary-card>
        <h1 class="section-title">Monitoring</h1>
        <div class="monitor-charts">
            <bl-monitor-chart chartType="coreCount" [routerLink]="['/accounts', account.id, 'monitor']"></bl-monitor-chart>
            <bl-monitor-chart chartType="failedTask" [routerLink]="['/accounts', account.id, 'monitor']"></bl-monitor-chart>
            <bl-monitor-chart chartType="taskStates" [routerLink]="['/accounts', account.id, 'monitor']"></bl-monitor-chart>
            <bl-monitor-chart class="node-states" chartType="nodeStates" [routerLink]="['/accounts', account.id, 'monitor']"></bl-monitor-chart>
        </div>
        <h1 class="section-title">Resources</h1>
        <div class="account-cards">
            <bl-card class="account-card">
                <div class="title">
                    <h2>Job status</h2>
                </div>
                <div class="content">
                    <div>
                        <bl-loading [status]="jobData.status | async">
                            <bl-no-item [itemCount]="(jobData.items | async).size" [status]="jobData.status | async">
                                <p description>
                                    There are no jobs in the account. Click
                                    <a href="#" routerLink="/jobs">here</a> to add one.
                                </p>
                            </bl-no-item>
                            <bl-table class="dashboard" [data]="jobData.items | async"  [config]="tableConfig">
                                <bl-column name="id">
                                    <div *blCellDef="let job">{{job.id}}</div>
                                </bl-column>
                                <bl-column name="state" [defaultWidth]="75">
                                    <div *blHeadCellDef>State</div>
                                    <div *blCellDef="let job">{{job.state}}</div>
                                </bl-column>
                            </bl-table>
                        </bl-loading>
                    </div>
                </div>
                <div class="actions">
                    <bl-clickable routerLink="/jobs" (do)="selectAccount(account.id)">View all jobs</bl-clickable>
                </div>
            </bl-card>

            <bl-card class="account-card" routerLink="/pools" (click)="selectAccount(account.id)">
                <div class="title">
                    <h2>Pool status</h2>
                </div>
                <div class="content">
                    <div>
                        <bl-loading [status]="poolData.status | async">
                            <bl-no-item [itemCount]="(poolData.items | async).size" [status]="poolData.status | async">
                                <p description>
                                    There are no pools in the account. Click
                                    <a href="#" routerLink="/pools">here</a> to add one.
                                </p>
                            </bl-no-item>
                            <bl-table class="dashboard" [data]="poolData.items | async" [config]="tableConfig">
                                <bl-column name="id">
                                    <div *blCellDef="let pool">{{pool.id}}</div>
                                </bl-column>
                                <bl-column name="state" [defaultWidth]="30">
                                    <div *blHeadCellDef>State</div>
                                    <div *blCellDef="let pool"><i aria-hidden="true" class="fa fa-{{pool.osIconName()}}"></i></div>
                                </bl-column>
                                <bl-column name="nodes" [defaultWidth]="60">
                                    <div *blCellDef="let pool"><bl-pool-nodes-preview [pool]="pool"></bl-pool-nodes-preview></div>
                                </bl-column>
                            </bl-table>
                        </bl-loading>
                    </div>
                </div>
                <div class="actions">
                    <bl-clickable>View all pools</bl-clickable>
                </div>
            </bl-card>

            <bl-card class="account-card" routerLink="/applications" (click)="selectAccount(account.id)">
                <div class="title">
                    <h2>App packages</h2>
                </div>
                <div class="content">
                    <bl-banner *ngIf="noLinkedStorage" height="expand" type="notice">
                        <div message>No linked storage account configured for this Batch account.</div>
                    </bl-banner>
                    <div *ngIf="!noLinkedStorage">
                        <bl-loading [status]="applicationData.status | async">
                            <bl-no-item [itemCount]="(applicationData.items | async).size" [status]="applicationData.status | async">
                                <p description>
                                    There are no application packages in the account. Click
                                    <a href="#" routerLink="/applications">here</a> to add one.
                                </p>
                            </bl-no-item>
                            <bl-table class="dashboard" [data]="applicationData.items | async"  [config]="tableConfig">
                                <bl-column name="id">
                                    <div *blCellDef="let app">{{app.id}}</div>
                                </bl-column>
                            </bl-table>
                        </bl-loading>
                    </div>
                </div>
                <div class="actions">
                    <bl-clickable>View all packages</bl-clickable>
                </div>
            </bl-card>
            <span style="width:100%; display:inline-block;"></span>
        </div>
        <h1 class="section-title">Getting started with Azure Batch</h1>
        <div>
            <bl-getting-started-card [accountId]="accountId"></bl-getting-started-card>
        </div>
    </div>
</bl-loading>
