<bl-loading [status]="loading">
    <div *ngIf="account">
        <md-card class="overview">
            <md-card-title-group style="margin: 0px;">
                <div style="align-items:center;">
                    <bl-refresh-btn [refresh]="refresh"></bl-refresh-btn>
                </div>
                <div style="margin-left:12px; margin-right:auto;">
                    <md-card-title>{{account.name}}</md-card-title>
                    <md-card-subtitle><i class="fa fa-link"></i> {{account.properties.accountEndpoint}}</md-card-subtitle>
                </div>
            </md-card-title-group>
            <md-card-content>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
            </md-card-actions>
        </md-card>
        <div class="account-links">
            <md-card class="link" routerLink="/jobs" (click)="selectAccount(account.id)">
                <md-card-header>
                    <md-card-title>Job status</md-card-title>
                </md-card-header>
                <md-card-content class="account-card-content">
                    <bl-table>
                        <bl-row *ngFor="let job of (jobData.items | async).slice(0, 10)" [routerLink]="['/jobs/', job.id]" [key]="job.id">
                            <bl-cell>{{job.id}}</bl-cell>
                            <bl-cell style="text-align: right; color:steelblue">{{job.state}}</bl-cell>
                        </bl-row>
                    </bl-table>
                </md-card-content>
                <md-card-actions>
                    <button md-button>View all jobs</button>
                </md-card-actions>
            </md-card>

            <md-card class="link" routerLink="/pools" (click)="selectAccount(account.id)">
                <md-card-header>
                    <md-card-title>Pool status</md-card-title>
                </md-card-header>
                <md-card-content class="account-card-content">
                    <bl-table>
                        <bl-row *ngFor="let pool of (poolData.items | async).slice(0, 10)" [routerLink]="['/pools/', pool.id]" [key]="pool.id">
                            <bl-cell>{{pool.id}}</bl-cell>
                            <bl-cell><i aria-hidden="true" class="fa fa-{{pool.osIconName}}"></i></bl-cell>
                            <bl-cell style="text-align: right; color:steelblue">{{pool.allocationState}}</bl-cell>
                        </bl-row>
                    </bl-table>
                </md-card-content>
                <md-card-actions>
                    <button md-button>View all pools</button>
                </md-card-actions>
            </md-card>

            <md-card class="link" routerLink="/applications" (click)="selectAccount(account.id)">
                <md-card-header>
                    <md-card-title>App packages</md-card-title>
                </md-card-header>
                <md-card-content class="account-card-content">
                    <bl-table>
                        <bl-row *ngFor="let app of (applicationData.items | async).slice(0, 10)" [routerLink]="['/applications/', app.id]" [key]="app.id">
                            <bl-cell>{{app.id}}</bl-cell>
                        </bl-row>
                    </bl-table>
                </md-card-content>
                <md-card-actions>
                    <button md-button>View all packages</button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</bl-loading>
