<bl-loading [status]="data.newDataStatus | async">
    <div *ngIf="account">
        <md-card class="overview">
            <md-card-title-group style="margin: 0px;">
                <div style="margin-left:0px; margin-right:auto;">
                    <md-card-title>{{account.name}}</md-card-title>
                    <md-card-subtitle><i class="fa fa-link"></i> {{account.properties.accountEndpoint}}</md-card-subtitle>
                </div>
            </md-card-title-group>
            <md-card-content>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <!--<bl-delete-button [entity]="account" (click)="deleteAccount()"></bl-delete-button>-->
            </md-card-actions>
        </md-card>
        <div class="account-links">
            <md-card class="link" routerLink="/jobs" (click)="selectAccount(account.id)">
                <i class="fa fa-tasks fa-lg"></i>
                <div>Jobs</div>
            </md-card>

            <md-card class="link" routerLink="/pools" (click)="selectAccount(account.id)">
                <i class="fa fa-database fa-lg"></i>
                <div>Pools</div>
            </md-card>
        </div>
	</div>
</bl-loading>
