@import "app/styles/variables";

bl-account-details {
    .account-cards {
        margin: 0 auto;
        text-align: justify;

        .account-card {
            display: inline-block;
            width: calc(33% - 4px);
            min-width: 210px;
            font-size: 2em;
            color: $scorpion;
            text-align: justify;
            margin-top: 8px;
            margin-right: 4px;

            .account-card-content {
                height: 300px;
            }
        }
    }
}
