@import "app/styles/variables";

bl-account-details {
    .account-cards {
        margin: 0 auto;
        text-align: justify;
        display: grid;
        grid-template-columns: minmax(210px, 1fr) minmax(210px, 1fr) minmax(210px, 1fr);

        .account-card {
            margin-top: 5px;
            margin-right: 5px;
            padding: 12px;

            > .title {
                margin-bottom: 5px;
            }

            > .content {
            }

            > .actions {
                color: $link-color;
                margin-top: 10px;
                text-align: right;
            }
        }
    }

    .monitor-charts {
        display: grid;
        grid-template-columns: minmax(210px, 20%)  minmax(210px, 20%)  minmax(210px, 24%) minmax(210px, auto);
        text-align: justify;
    }

    bl-table.dashboard {
        bl-cell {
            padding: 0 5px;
        }
    }
}
