<div class="option {{option.cssClass}}"
    *ngFor="let option of rows;trackBy: trackOption"
    role="option"
    [id]="option.id"
    [class.focused]="focusedOption === option"
    [class.disabled]="option.disabled"
    [attr.aria-disabled]="option.disabled"
    [attr.aria-selected]="selected.has(option.value)"
    (mousedown)="handleClickOption($event, option)">

    <div class="checkbox" *ngIf="multiple" aria-hidden="true">
        <i class="fa fa-check" *ngIf="selected.has(option.value)"></i>
    </div>
    <div class="option-content">
        <ng-template [ngTemplateOutlet]="option.content" *ngIf="option.content"></ng-template>
        <ng-container *ngIf="!option.content">{{option.label}}</ng-container>
    </div>
</div>
<div class="no-option" *ngIf="displayedOptions.length === 0 && select.filter">
    No match
</div>
<div class="no-option" *ngIf="displayedOptions.length === 0 && !select.filter">
    No options available
</div>
