<div class="option {{option.cssClass}}"
    *ngFor="let option of rows;trackBy: trackOption"
    [id]="option.id"
    [class.focused]="focusedOption === option"
    [class.disabled]="option.disabled"
    (click)="handleClickOption($event, option)"
    role="option"
    [attr.aria-disabled]="option.disabled"
    [attr.aria-selected]="selected.has(option.value)">

    <div class="checkbox" *ngIf="multiple">
        <i class="fa fa-check" *ngIf="selected.has(option.value)"></i>
    </div>
    <div class="option-content">
        <ng-template [ngTemplateOutlet]="option.content"></ng-template>
    </div>
</div>
<div class="no-option" *ngIf="displayedOptions.length === 0 && select.filter">
    No match
</div>
<div class="no-option" *ngIf="displayedOptions.length === 0 && !select.filter">
    No options available
</div>
