.advanced-filter-container {
    min-height: 100%;
    width: 100%;

    .odata-preview {
        display: flex;

        .label {
            padding: 2px 5px;
            background: $alto;
            color: $primary-color;
        }

        .value {
            flex: 1;
            font-size: 13px;
            background: $main-background;
            color: $mineshaft-grey;
            padding: 2px 5px;
        }
    }
}

.advanced-filter-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    z-index: 100;
    background: $card-background;
    padding: 10px;
}

bl-adv-filter-statepicker {
    .state-checkbox {
        margin-right: 10px;
    }
}


bl-adv-filter-list {
    .value {
        width: 300px;
    }
}
