.dropdown {
    position: relative;
    float: right;
}

[bl-dropdown-btn] {
    position: relative;
    padding: 0 5px;
    color: white;
    height: $header-height;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dropdown-btn-container {
    background-color: $navigation-hover;
    cursor: pointer;

    &:hover, &.active {
        background-color: $navigation-background;
    }
}

[bl-dropdown-content] {
    position: absolute;
    z-index: $zindex-dropdown;
    right: 0;
    top: $header-height;
    background-color: $navigation-background;
    color: $whiteSmoke;
    overflow: hidden;
    max-height: 80vh;

    .no-items {
        padding: 10px 5px;
    }

    .dropdown-item {
        position: relative;
        min-width: 100px;
        cursor: pointer;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        border-top: 1px solid $navigation-hover;

        &:hover, &.active {
            background-color: $navigation-hover;
        }

        .main {
            flex: 1 0 auto;

            .alias, .url {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .extra {
            flex: 0 0 auto;
        }
    }
}
