.quicksearch {
    padding: 15px 13px;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        flex: 1 0 auto;
        padding: 5px;
        color: $emperor-grey;
        font-size: 1.1em;

        background-color: $athensGrey;
        border: none;

        &:focus {
            outline: none;
        }

    }

    i.fa-filter {
        color: $scorpion;
        cursor: pointer;
        margin-left: 5px;

        &:hover {
            color: $dusty-grey;
        }
    }
}

bl-quick-list {
    display: block;
    width: 100%;

    bl-quick-list-item {
        cursor: pointer;
        outline: none;
    }

    .quick-list-item {
        display: flex;
        width: 100%;
        height: 56px;
        white-space: nowrap;

        &.selected {
            background-color: map-get($md-prussian-blue, 100);

            p {
                color: $mineShaftGray;
            }
        }

        &.focused {
            background-color: map-get($md-prussian-blue, 200);
        }

        &:hover:not(.selected) {
            background-color: $altoGray;
        }

        .quick-list-details {
            flex: 1 1 auto;
            overflow: hidden;
            padding: 5px;
            text-overflow: ellipsis;
            min-width: 0;

            [bl-quick-list-item-title], [bl-quick-list-item-field] {
                display: flex;
                overflow: hidden;
                text-overflow: ellipsis;

                > bl-tags {
                    margin-left: 5px;
                }
            }
        }

        [bl-quick-list-item-preview] {
            padding: 5px;

            i {
                padding-left: 4px;
            }

            .fa-hourglass-half {
                color: map-get($md-prussian-blue, 400);
            }
        }

        bl-quick-list-item-status {
            position: relative;
            color: $blue-light;
            flex: 0 0 8px;
            display: flex;
            align-items: stretch;
            > .status-badge {
                width: 100%;

                &.warning {
                    background-color: $red;
                }

                &.lightaccent {
                    background: map-get($md-prussian-blue, 100);

                }

                &.accent {
                    background: map-get($md-prussian-blue, 300);
                }

                &.important {
                    background: repeating-linear-gradient(
                        45deg,
                        transparent,
                        transparent 5px,
                        $concreteGray 5px,
                        $concreteGray 10px
                    ), map-get($md-prussian-blue, 500);
                }
            }
        }

        .select-item-container {
            width: 17px;
            padding: 7px 0 0 3px;
        }

        .quick-list-details {
            flex: 1 1 auto;
            overflow: hidden;
            padding: 3px;
            text-overflow: ellipsis;
            min-width: 0;

            [bl-quick-list-item-title], [bl-quick-list-item-field] {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        [bl-quick-list-item-preview] {
            padding: 3px 10px 0 0;
        }

        .quick-list-other {
            .select-item-checkbox {
                position: absolute;
                right: 0;

            }
        }
    }
}


bl-no-item {
    > .no-item-message {
        height: 275px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $silver-grey;
        font-size: 1.5em;
        line-height: 1em;

        .fa {
            font-size: 8em;
            margin-bottom: 20px;
            color: $silver-grey;

            &.small {
                font-size: 5em;
            }
        }

        &.slim {
            height: 30px;
            font-size: 1.05em;
            align-items: left;
            justify-content: left;
            color: $genericGray;
            display: block;
        }
    }
}
