bl-no-item {
    > .no-item-message {
        height: 275px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $silver-grey;
        font-size: 1.5em;
        line-height: 1em;

        .fa {
            font-size: 8em;
            margin-bottom: 20px;
            color: $silver-grey;

            &.small {
                font-size: 5em;
            }
        }

        &.slim {
            height: 30px;
            font-size: 1.05em;
            align-items: left;
            justify-content: left;
            color: $genericGray;
            display: block;
        }
    }
}

.scroll-shadow {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 6px 6px -6px inset;
}

.list-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    > .list {
        flex: 1;
        min-height: 50px;
    }
}
