html, body, button {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
}

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }

// Lists
// --------------------------------------------------
ul, ol {
    padding: 0;
    list-style-type: none;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}

.danger {
    color: map-get($danger, 500);
}

.unaccent {
    color: $silver-grey;
}

textarea {
    resize: vertical;
}
