.node-content-wrapper, .tree-children {
    color: #003153;
    font-size: 14px;
}

.tree-node-loading {
    padding-left: 13px!important;
}

.toggle-children-wrapper {
    padding-left: 15px!important;
}

.toggle-children-placeholder {
    padding-left: 15px!important;
    padding-right: 12px!important;
}

.node-wrapper.tree-node-spin .toggle-children-placeholder:before, .node-wrapper.tree-node-spin .toggle-children:before {
    content: "\f110";
    position: absolute;
    font-family: FontAwesome;
    bottom: -5px;
    cursor: default;
}

.node-wrapper.tree-node-file .toggle-children-placeholder:before {
    content: "\f1c9";
    position: absolute;
    font-family: FontAwesome;
    bottom: -5px;
    cursor: default;
}

.toggle-children, .toggle-children-placeholder {
    z-index: 1;
    color: #003153;
    font-size: 14px;
    background-image: none!important;
    transform: none!important;
}

.toggle-children-wrapper-collapsed .toggle-children:before, .node-wrapper.tree-node-collapsed .toggle-children-placeholder:before {
    content: "\f114";
    position: absolute;
    font-family: FontAwesome;
    bottom: -5px;
    cursor: default;
}

.toggle-children-wrapper-expanded .toggle-children:before, .node-wrapper.tree-node-expanded .toggle-children-placeholder:before {
    content: "\f115";
    position: absolute;
    font-family: FontAwesome;
    bottom: -5px;
    cursor: default;
}
