@import "app/styles/variables";

.job-bar-chart {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .graph {
        flex-grow: 1;
    }

    > .footer {
        flex-basis: 20px;
        height: 20px;
        line-height: 20px;
        text-align: right;
        color: $link-color;
    }
}
