@import "app/styles/variables";

bl-app-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: map-get($navigation-color, bg);

    > ul {
        margin: 0;
        user-select: none;
        > li {
            position: relative;
            > bl-clickable {
                &.active {
                    background-color: map-get($primary, 500);
                    color: $white;
                }
            }
        }
        > li > bl-clickable, > li > .menu-items > bl-clickable {
            position: relative;
            height: $navigationbar-width;
            display: block;
            padding: 13px 0;
            outline: none;
            color: map-get($navigation-color, text);
            -webkit-user-drag: none;

            i.fa {
                display: block;
                margin: 0 auto;
                color: $whitesmoke;
            }

            .label {
                margin-top: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:hover:not(.active), &:focus:not(.active) {
                background-color: map-get($navigation-color, hover-bg);
                color: map-get($navigation-color, hover-text);
            }
        }
        > li > .menu-items {
            position: absolute;
            min-width: 60px;
            height: 60px;
            left: 60px;
            top: 0;
            outline: none;
            color: $navigation-text;
            -webkit-user-drag: none;
            z-index: 99999;
            background-color: map-get($navigation-color, bg);

            > a {
                padding: 13px 5px;
                &:hover, &:focus {
                    background-color: map-get($navigation-color, hover-bg);
                    color: map-get($navigation-color, hover-text);
                }
            }
        }
    }

    > .spacer {
        flex: 1;
    }

    .notification-overlay {
        position: absolute;
        top: 5px;
        right: 10px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;

        &.checking {
            background-color: $primary-color;
            .fa {
                margin-top: 3px;
            }
        }

        &.downloading {
            background-color: $primary-color;
            > .fa {
                margin-top: 3px;
                animation: flashOpacity 1.5s ease-in-out infinite;
            }
        }

        &.ready {
            background-color: $danger-color;
        }
    }
}


@keyframes flashOpacity {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.2;
    }
    100% {
        opacity:1;
    }
}
