<ul class="top">
    <li>
        <a [routerLink]="['/accounts', selectedId]" routerLinkActive="active" title="Dashboard">
            <i class="fa fa-th fa-lg"></i><div class="label">Dash</div>
        </a>
    </li>
    <li>
        <a *blHiddenIfNoAccount routerLink="/jobs" routerLinkActive="active">
            <i class="fa fa-tasks fa-lg"></i><div class="label">Jobs</div>
        </a>
    </li>
    <li>
        <a *blHiddenIfNoAccount routerLink="/jobschedules" routerLinkActive="active" title="Job schedules">
            <i class="fa fa-calendar fa-lg"></i><div class="label">Schedules</div>
        </a>
    </li>
    <li>
        <a *blHiddenIfNoAccount routerLink="/pools" routerLinkActive="active">
            <i class="fa fa-database fa-lg"></i><div class="label">Pools</div>
        </a>
    </li>
    <li>
        <a *blHiddenIfNoAccount routerLink="/applications" routerLinkActive="active" title="Application packages">
            <i class="fa fa-file-archive-o fa-lg"></i><div class="label">Packages</div>
        </a>
    </li>
    <li>
        <a *blHiddenIfNoAccount routerLink="/certificates" routerLinkActive="active" title="Certificates">
            <i class="fa fa-certificate fa-lg"></i><div class="label">Certificate</div>
        </a>
    </li>
    <li>
        <a *blHiddenIfNoAccount routerLink="/data" routerLinkActive="active" title="File groups">
            <i class="fa fa-cloud-upload fa-lg"></i><div class="label">Data</div>
        </a>
    </li>
    <li>
        <a *blHiddenIfNoAccount href="#" routerLink="market" routerLinkActive="active" title="Gallery">
            <i class="fa fa-cubes" aria-hidden="true"></i><div class="label">Gallery</div>
        </a>
    </li>
</ul>
<div class="spacer"></div>
<ul class="bottom">
    <li>
        <a (click)="openSettingsContextMenu()" [title]="currentUserName" class="profile">
            <i class="fa fa-user fa-lg"></i><div class="label">Profile</div>
            <div class="notification-overlay" *ngIf="hasNewUpdate">1</div>
        </a>
    </li>
</ul>
