@import "app/styles/variables";

bl-app-nav {
    height: 100%;
    display: flex;
    flex-direction: column;

    > ul {
        margin: 0;
        user-select: none;

        > li > a {
            position: relative;
            height: $navigationbar-width;
            display: block;
            padding: 13px 0;
            outline: none;
            color: $navigation-text;
            -webkit-user-drag: none;

            i.fa {
                display: block;
                margin: 0 auto;
                color: $whitesmoke;
            }

            .label {
                margin-top: 5px;
            }

            &:hover, &:focus {
                background-color: $navigation-hover;
                color: $white;
            }

            &.active {
                background-color: map-get($primary, 500);
                color: $white;
            }

            &.disabled {
                color: gray;
                cursor: not-allowed;
                text-decoration: underline;
            }
        }
    }

    > .spacer {
        flex: 1;
    }

    .notification-overlay {
        position: absolute;
        top: 5px;
        right: 10px;
        background: map-get($danger, 400);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
    }
}
