@import "app/styles/variables";

bl-app-nav {
    height: 100%;
    display: flex;
    flex-direction: column;

    > ul {
        margin: 0;
        user-select: none;
        > li {
            position: relative;
            > a {
                &.active {
                    background-color: map-get($primary, 500);
                    color: $white;
                }
            }
        }
        > li > a, > li > .menu-items > a {
            position: relative;
            height: $navigationbar-width;
            display: block;
            padding: 13px 0;
            outline: none;
            color: $navigation-text;
            -webkit-user-drag: none;

            i.fa {
                display: block;
                margin: 0 auto;
                color: $whitesmoke;
            }

            .label {
                margin-top: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:hover:not(.active), &:focus:not(.active) {
                background-color: $navigation-hover;
                color: $white;
            }
        }
        > li > .menu-items {
            position: absolute;
            min-width: 60px;
            height: 60px;
            left: 60px;
            top: 0;
            outline: none;
            color: $navigation-text;
            -webkit-user-drag: none;
            z-index: 99999;
            background-color: $navigation-background;

            > a {
                padding: 13px 5px;
                &:hover, &:focus {
                    background-color: $navigation-hover;
                    color: $white;
                }
            }
        }
    }

    > .spacer {
        flex: 1;
    }

    .notification-overlay {
        position: absolute;
        top: 5px;
        right: 10px;
        background: map-get($danger, 400);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
    }
}
