<ul class="top">
    <li>
        <a [routerLink]="['/accounts', selectedId]" routerLinkActive="active" title="Dashboard">
            <i class="fa fa-th fa-lg"></i><div class="label">Dash</div>
        </a>
    </li>
    <li (mouseenter)="toggleJobCategory()" (mouseleave)="toggleJobCategory()">
        <ng-container *ngIf="jobCategoryDefaultOrder">
            <a  *blHiddenIfNoAccount
                [routerLink]="menuSelection.primary.routerLink"
                routerLinkActive="active"
                (click)="setJobCategoryMenuItem(menuSelection.primary.id)"
                [title]="menuSelection.primary.label">
                <i class="fa fa-lg" [ngClass]="menuSelection.primary.icon"></i>
                <div class="label">{{ menuSelection.primary.label }}</div>
            </a>
        </ng-container>
        <ng-container *ngIf="!jobCategoryDefaultOrder">
            <a  *blHiddenIfNoAccount
                [routerLink]="menuSelection.secondary.routerLink"
                routerLinkActive="active"
                (click)="setJobCategoryMenuItem(menuSelection.secondary.id)"
                [title]="menuSelection.secondary.label">
                <i class="fa fa-lg" [ngClass]="menuSelection.secondary.icon"></i>
                <div class="label">{{ menuSelection.secondary.label }}</div>
            </a>
        </ng-container>
        <div *ngIf="showSecondary" class="menu-items">
            <ng-container *ngIf="jobCategoryDefaultOrder">
                <a  *blHiddenIfNoAccount
                    [routerLink]="menuSelection.secondary.routerLink"
                    routerLinkActive="active"
                    [title]="menuSelection.secondary.label"
                    (click)="setJobCategoryMenuItem(menuSelection.secondary.id)">
                    <i class="fa fa-calendar" [ngClass]="menuSelection.secondary.icon"></i>
                    <div class="label">{{ menuSelection.secondary.label }}</div>
                </a>
            </ng-container>
            <ng-container *ngIf="!jobCategoryDefaultOrder">
                <a  *blHiddenIfNoAccount
                    [routerLink]="menuSelection.primary.routerLink"
                    routerLinkActive="active"
                    [title]="menuSelection.primary.label"
                    (click)="setJobCategoryMenuItem(menuSelection.primary.id)">
                    <i class="fa fa-calendar" [ngClass]="menuSelection.primary.icon"></i>
                    <div class="label">{{ menuSelection.primary.label }}</div>
                </a>
            </ng-container>
        </div>
    </li>
    <li>
        <a *blHiddenIfNoAccount routerLink="/pools" routerLinkActive="active">
            <i class="fa fa-database fa-lg"></i><div class="label">Pools</div>
        </a>
    </li>
    <li>
        <a *blHiddenIfNoAccount routerLink="/applications" routerLinkActive="active" title="Application packages">
            <i class="fa fa-file-archive-o fa-lg"></i><div class="label">Packages</div>
        </a>
    </li>
    <li>
        <a *blHiddenIfNoAccount routerLink="/data" routerLinkActive="active" title="File groups">
            <i class="fa fa-cloud-upload fa-lg"></i><div class="label">Data</div>
        </a>
    </li>
    <li>
        <a *blHiddenIfNoAccount href="#" routerLink="market" routerLinkActive="active" title="Gallery">
            <i class="fa fa-cubes" aria-hidden="true"></i><div class="label">Gallery</div>
        </a>
    </li>
</ul>
<div class="spacer"></div>
<ul class="bottom">
    <li>
        <a (click)="openSettingsContextMenu()" [title]="currentUserName" class="profile">
            <i class="fa fa-user fa-lg"></i><div class="label">Profile</div>
            <div class="notification-overlay" *ngIf="hasNewUpdate">1</div>
        </a>
    </li>
</ul>
