bex-job-stats-preview {
    .task-success {
        display: inline-block;
        color: $green-dark;
        margin-right: 5px;
    }

    .task-failed {
        display: inline-block;
        color: $red;
    }
}

bex-task-preview {
    .success {
        color: $green;
    }

    .failure {
        color: $red;
    }
}
