<bl-property-group>
    <!-- If waiting for connection settings -->
    <div *ngIf="!connectionSettings">
        <bl-text-property label="IP" value="Fetching..."></bl-text-property>
        <bl-text-property label="Port" value="Fetching..."></bl-text-property>
        <bl-text-property *ngIf="isLinux" label="SSH Command" value="Fetching..."></bl-text-property>
    </div>
    <!-- Once connection settings are fetched -->
    <div *ngIf="connectionSettings">
        <bl-text-property label="IP" [value]="connectionSettings.ip"></bl-text-property>
        <bl-text-property label="Port" [value]="connectionSettings.port || PORT_NOT_SPECIFIED"></bl-text-property>
        <bl-text-property *ngIf="isLinux" id="ssh-command" label="SSH Command" [value]="sshCommand"></bl-text-property>
    </div>

    <!-- Download RDP file -->
    <bl-property-field *ngIf="!isLinux">
        <span propertyLabel>RDP File</span>
        <bl-clickable propertyContent id="download-rdp" class="display-field" (click)="downloadRdp()">Download RDP File</bl-clickable>
    </bl-property-field>

    <!-- Username -->
    <bl-property-field>
        <span propertyLabel>Username</span>
        <input propertyContent blInput type="text" [placeholder]="userConfig.name" (input)="setUsername($event)" />
    </bl-property-field>

    <!-- SSH key -->
    <bl-property-field *ngIf="userConfig.usingSSHKey">
        <span propertyLabel>
            <div>SSH Key File</div>
            <bl-clickable *ngIf="isLinux" class="switch-strategy" (click)="switchAuthStrategy()">Use {{otherStrategy}}</bl-clickable>
        </span>
        <bl-property-content>
            <bl-clickable (do)="pickSSHPublicKey()" class="ssh-key-pick">
                <span class="value">
                    <ng-container *ngIf="userConfig.sshPublicKey">
                        <ng-container *ngIf="userConfig.sshPublicKey === homeKey">
                            {{sshKeyService.homePublicKeyPath}}
                        </ng-container>
                        <ng-container *ngIf="userConfig.sshPublicKey !== homeKey">
                            {{userConfig.sshPublicKey}}
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!userConfig.sshPublicKey">
                        Pick a ssh public key or switch to password auth
                    </ng-container>
                </span>
                <i class="fa fa-wrench"></i>
            </bl-clickable>
        </bl-property-content>
    </bl-property-field>

    <!-- Passowrd -->
    <bl-property-field *ngIf="!userConfig.usingSSHKey">
        <span propertyLabel>
            <div>Password</div>
            <bl-clickable *ngIf="isLinux" class="switch-strategy" (click)="switchAuthStrategy()">Use {{otherStrategy}}</bl-clickable>
        </span>
        <div propertyContent>
            <div class="input-container">
                <div class="input">
                    <input blInput
                        (input)="setPassword($event)"
                        [value]="userConfig.password"
                        id="password-input"
                        [type]="passwordVisible ? 'text' : 'password'"
                        placeholder="(Autogenerated)" />

                    <i class="set-visible fa" [class.fa-eye]="!passwordVisisble" [class.fa-eye-slash]="passwordVisisble" (click)="togglePasswordVisible()"></i>
                </div>
                <div class="input-suffix">
                    <bl-clickable (click)="regeneratePassword()" title="Regenereate password"><i class="fa fa-refresh" [class.fa-spin]="regeneratingPassword"></i></bl-clickable>
                </div>
            </div>
            <span class="clipboard-info" [class.flash]="passwordCopied">{{passwordCopyText}}</span>
        </div>
    </bl-property-field>


    <!-- Expire in -->
    <bl-property-field>
        <div propertyLabel>Expire in</div>
        <bl-duration-picker propertyContent [allowUnlimited]="false" [ngModel]="userConfig.expireIn" (ngModelChange)="updateExpireIn($event)"></bl-duration-picker>
    </bl-property-field>
    <!-- Is admin -->
    <bl-property-field>
        <div propertyLabel>Is admin</div>
        <mat-checkbox propertyContent color="primary" [ngModel]="userConfig.isAdmin" (ngModelChange)="updateIsAdmin($event)"></mat-checkbox>
    </bl-property-field>
</bl-property-group>
