@import "app/styles/variables";

@keyframes flash {
    0%, 50%, 100% {
    }

    25%, 75% {
        background: map-get($warn, 300);
    }
}

bl-node-property-display {

    bl-property-group {
        margin: 15px 0;
    }

    .property-content {
        input {
            width: 100%;
        }

        .input-container {
            width: 100%;
            display: flex;

            .set-visible {
                position: absolute;
                line-height: 25px;
                right: 5px;
                font-size: 12pt;
                cursor: pointer;
            }

            > .input {
                position: relative;
                flex: 1;
            }

            > .input-suffix {
                background: $input-border-color;
                border: 1px solid $input-border-color;
                height: 26px;
                min-width: 26px;
                padding: 0 5px;
                line-height: 26px;
                vertical-align: middle;
                color: $secondary-text;
            }
        }
    }

    .custom-property {
        display: flex;
        padding: 0;
        margin: 0 0 5px;
        position: relative;
        width: 100%;
        overflow: visible;

        .label-small {
            color: $secondary-text;
            font-size: 13px;
            flex-basis: 200px;
            font-weight: bold;
            line-height: 25px;
            margin-right: 5px;
        }

        > input {
            flex: 1;
            max-width: 350px;
        }

        > .display-field {
            flex: 1;
            max-width: 350px;
            background-color: $main-background;
            padding: 3px 8px;
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            width: 100%;
            min-height: 24px;
        }

        bl-duration-picker {
            flex: 1;
            max-width: 350px;
            input {flex: 1;}
        }

        bl-clickable {
            color: $link-color;
        }

        .password-failure-hint {
            position: absolute;
            top: 27px;
            left: 205px;
            color: red;
        }

        .clipboard-info {
            position: absolute;
            top: 28px;
            left: 210px;
            color: $secondary-text;
        }

        .flash {
            animation: flash 1s 1;
        }
    }

    .switch-strategy {
        color: $link-color;
        position: absolute;
        top: 144px;
    }
}
