@import "app/styles/variables";

@keyframes flash {
    0%, 50%, 100% {
    }

    25%, 75% {
        background: map-get($warn, 300);
    }
}

bl-node-property-display {

    bl-property-group {
        margin: 15px 0;

        .custom-property {
            display: flex;
            padding: 0;
            margin: 0 0 5px;
            position: relative;
            width: 100%;
            overflow: visible;

            .label-small {
                color: $secondary-text;
                font-size: 13px;
                flex-basis: 200px;
                font-weight: bold;
                line-height: 25px;
                margin-right: 5px;

                .regenerate-password {
                    font-weight: normal;
                    position: absolute;
                    top: 20px;
                    left: 0;

                    i {
                        margin-left: 5px;
                    }
                }
            }

            > input {
                flex: 1;
                max-width: 350px;
            }

            > .password-input-container {
                input {
                    flex: 1;
                    width: 350px;
                }

                .set-visible {
                    position: absolute;
                    line-height: 25px;
                    right: 38px;
                    font-size: 12pt;
                    cursor: pointer;
                }
            }

            > .display-field {
                flex: 1;
                max-width: 350px;
                background-color: $main-background;
                padding: 3px 8px;
                margin: 0;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
                width: 100%;
                min-height: 24px;
            }

            bl-duration-picker {
                flex: 1;
                max-width: 350px;
                input {flex: 1;}
            }

            bl-clickable {
                color: $link-color;
            }

            .password-failure-hint {
                position: absolute;
                top: 27px;
                left: 205px;
                color: red;
            }

            .clipboard-info {
                position: absolute;
                top: 28px;
                left: 210px;
                color: $secondary-text;
            }

            .flash {
                animation: flash 1s 1;
            }
        }
    }

    .switch-strategy {
        color: $link-color;
        position: absolute;
        top: 144px;
    }
}
