<bl-storage-error-display [noClassic]="true"></bl-storage-error-display>

<bl-list-and-show-layout #layout (listScrolledToBottom)="fileGroupList.onScrollToBottom()" [list]="fileGroupList" *ngIf="storageService.hasArmAutoStorage | async">
    <div bl-list-title>
        Storage containers
    </div>
    <div bl-list-buttons>
        <bl-button type="plain" icon="fa fa-plus spin-hover" color="light" title="Add a file group" [matMenuTriggerFor]="addFileGroupMenu"
            [disabled]="!hasAutoStorage" [@.disabled]="true">
        </bl-button>
        <mat-menu #addFileGroupMenu="matMenu" [@.disabled]="true">
            <button mat-menu-item (click)="openEmptyFileGroupForm()"> Empty file group </button>
            <button mat-menu-item (click)="openFileGroupForm()"> From local folder </button>
        </mat-menu>
    </div>
    <div bl-list-content>
        <bl-focus-section>
            <bl-file-group-list #fileGroupList [filter]="layout.filter" [quickList]="!(layout.showAdvancedFilter | async)"></bl-file-group-list>
        </bl-focus-section>
    </div>
    <div bl-show-content>
        <router-outlet></router-outlet>
    </div>
</bl-list-and-show-layout>
