<div class="tree-view-header">
    <bl-clickable class="caret" (do)="toggleExpandTreeView()">
        <i class="fa" [class.fa-caret-down]="expanded" [class.fa-caret-right]="!expanded"></i>
    </bl-clickable>
    <bl-clickable class="name" (do)="handleClickTreeViewHeader()">{{name}}</bl-clickable>
    <span class="error" *ngIf="fileNavigator.error" [title]="fileNavigator.error.code">
        <i class="fa fa-warning"></i>
    </span>
    <bl-clickable (do)="refresh()" [disabled]="refreshing">
        <i class="fa fa-refresh action" title="Refresh" *ngIf="!refreshing"></i>
        <i class="fa fa-refresh fa-spin action" title="Refreshing" *ngIf="refreshing"></i>
    </bl-clickable>
    <bl-clickable (do)="collapseAll()">
        <i class="fa fa-compress collapse-all action" title="Collapse all"></i>
    </bl-clickable>
</div>
<bl-focus-section *ngIf="expanded"
    class="tree-view-content"
    (focus)="setFocus(true)"
    (blur)="setFocus(false)"
    (keypress)="handleKeyboardNavigation($event)"
    (contextmenu)="showContextMenu($event)">

    <div *ngIf="fileNavigator.error" class="tree-view-error">{{fileNavigator.error.message}}</div>
    <div class="tree-rows-container"
        [class.drop-target]="dropTargetPath === ''"
        (dragenter)="dragEnterRow($event)"
        (dragleave)="dragLeaveRow($event)"
        (dragover)="handleDragHover($event)"
        (drop)="handleDropOnRow($event)">

        <bl-file-tree-view-row *ngFor="let treeRow of treeRows; let  i = index; trackBy: treeRowTrackBy"
            [treeRow]="treeRow"
            [active]="active && treeRow.path === currentPath"
            [dropHover]="treeRow.path.startsWith(dropTargetPath)"
            [focused]="isFocused && focusedIndex === i"
            (click)="activateRow(treeRow)"
            (toggleExpanded)="toggleExpanded(treeRow)"
            (contextmenu)="showContextMenu($event, treeRow)"
            (dragenter)="dragEnterRow($event, treeRow)"
            (dragleave)="dragLeaveRow($event, treeRow)"
            (drop)="handleDropOnRow($event, treeRow)">
        </bl-file-tree-view-row>
    </div>
</bl-focus-section>
