<div class="tree-view-header">
    <bl-clickable class="caret" (do)="toggleExpandTreeView()">
        <i class="fa" [class.fa-caret-down]="expanded" [class.fa-caret-right]="!expanded"></i>
    </bl-clickable>
    <bl-clickable class="name" (do)="handleClickTreeViewHeader()">{{name}}</bl-clickable>
    <span class="error" *ngIf="fileNavigator.error" [title]="fileNavigator.error.body?.code">
        <i class="fa fa-warning"></i>
    </span>
    <bl-clickable (do)="refresh()" [disabled]="refreshing">
        <i class="fa fa-refresh action" title="Refresh" *ngIf="!refreshing"></i>
        <i class="fa fa-refresh fa-spin action" title="Refreshing" *ngIf="refreshing"></i>
    </bl-clickable>
    <bl-clickable (do)="collapseAll()">
        <i class="fa fa-compress collapse-all action" title="Collapse all"></i>
    </bl-clickable>
</div>
<div *ngIf="expanded" class="tree-view-content">
    <div *ngIf="fileNavigator.error">
        {{fileNavigator.error.message}}
    </div>
    <div (drop)="dropAtRoot($event)" class="tree-rows-container">
        <div *ngFor="let treeRow of treeRows, trackBy: treeRowTrackBy"
            class="tree-row"
            [style.padding-left]="((treeRow.indent + 1) * 12) + 'px'"
            [title]="treeRow.path"
            [class.active]="treeRow.path === currentNode?.path"
            [class.drop-target]="treeRow.path.startsWith(dropTargetPath)"
            (click)="handleClick(treeRow)"
            (dragenter)="dragEnterRow(treeRow, $event)"
            (dragleave)="dragLeaveRow(treeRow, $event)"
            (drop)="handleDropOnRow(treeRow, $event)"
        >
            <span class="caret" (click)="handleCaretClick(treeRow, $event)">
                <i class="fa" [class.fa-caret-down]="treeRow.expanded" [class.fa-caret-right]="!treeRow.expanded" *ngIf="treeRow.isDirectory"></i>
            </span>
            <span class="file-icon">
                <i class="fa" [class.fa-folder]="treeRow.isDirectory" [class.fa-file]="!treeRow.isDirectory"></i>
            </span>
            <span class="label">{{treeRow.name}}</span>
        </div>
    </div>
</div>
