@import "app/styles/variables";

bl-file-tree-view {
    $tree-view-header-height: 24px;
    position: relative;
    display: flex;
    flex-direction: column;

    .tree-view-header {
        background: $mercury-grey;
        display: flex;
        align-items: stretch;
        height: $tree-view-header-height;
        cursor: pointer;

        > * {
            vertical-align: middle;
            line-height: $tree-view-header-height;
        }

        .caret {
            padding: 0 5px;
            width: 20px;
        }

        .name {
            display: inline-block;
            flex: 1;
            font-size: 11px;
            color: $mineshaft-grey;
            font-weight: 700;
            user-select: none;
            text-transform: uppercase;
        }

        .error {
            color: map-get($danger, 500);
            padding: 0 5px;
        }

        .action {
            padding: 4px 5px;
            cursor: pointer;
            color: $mineshaft-grey;
            font-size: 16px;

            &:hover {
                color: $alto;
            }
        }
    }


    .caret, .file-icon {
        width: 16px;
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
    }

    .caret {
        color: $dove-grey;

        &:hover {
            color: $dusty-grey;
        }
    }

    .label {
        margin-left: 3px;
    }

    .tree-view-content {
        position: relative;
        height: calc(100% - #{$tree-view-header-height});
    }

    .tree-rows-container {
        height: 100%;
        &.drop-target {
            background: $whitesmoke-darker;
        }
    }

    .tree-view-error {
        white-space: pre-line;
    }
}
