@import "app/styles/variables";

bl-all-job-graphs-home {
    $padding: 10px;
    $graph-header-height: 40px;
    $graphs-content-height: calc(100% - #{$graph-header-height  + $padding * 2});

    display: block;
    width: 100%;
    height: 100%;
    padding: $padding;

    .graph-header {
        height: $graph-header-height;
        display: flex;
        align-items: center;

        > .summary {
            flex: 1;
        }

        h1 {
            color: $mineshaft-grey;

            a {
                color: map-get($primary, 400);
            }
        }

        .filters {
            padding-left: 20px;

            > .bl-form-field {
                width: 150px;
            }
        }
    }

    .graph-content {
        height: $graphs-content-height;
        position: relative;

        .job-graph {
            width: 600px;
            height: 50%;
        }
    }

    .info-overlay {
        $info-overlay-width: 400px;
        $info-overlay-height: 70px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: calc(50% - #{$info-overlay-height/2});
        left: calc(50% - #{$info-overlay-width/2});
        margin: auto;
        font-size: 16px;
        width: $info-overlay-width;
        height: $info-overlay-height;
        background: $mineshaft-grey;
        color: white;
        opacity: 0.5;
    }
}
