<div class="graph-header">
    <div class="summary">
        <h1>
            Jobs graphs
        </h1>
    </div>

    <bl-refresh-btn [refresh]="refresh"></bl-refresh-btn>

    <div class="filters">
        <mat-form-field>
            <mat-select placeholder="Time range" [formControl]="selectedTimeRange">
                <mat-option [value]="TimeRange.hour">Last hour</mat-option>
                <mat-option [value]="TimeRange.day">Last 24 hours</mat-option>
                <mat-option [value]="TimeRange.week">Last week</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div *ngIf="jobs" class="graph-content">
    <div class="job-graph">
        <bl-jobs-running-time-graph [jobs]="jobs"></bl-jobs-running-time-graph>
    </div>
    <div class="job-graph">
        <bl-jobs-cpu-wait-time-graph [jobs]="jobs"></bl-jobs-cpu-wait-time-graph>
    </div>
</div>

<div class="info-overlay" *ngIf="loading">
    Loading jobs for graphs.
</div>

<div class="info-overlay" *ngIf="jobs && jobs.size === 0 && !loading">
    No jobs in the selected time range
</div>
