@import "app/styles/variables";

bl-rpc-server-status {
    display: block;
    padding: 0 5px;
    cursor: pointer;
    user-select: none;

    .connected {
        &:hover, &.active {
            color: $mineshaft-grey;
            background-color: $whitesmoke;
        }
    }

    &:not(.connected) {
        background-color: $primary-color;

        &:hover, &.active {
            background-color: $primary-color-dark;
        }
        .fa {
            margin-right: 2px;
        }
    }
}
