<div class="input-container">
    <input [placeholder]="placeholder" blInput [disabled]="unit === ConstraintsUnit.Unlimited" [ngModel]="time" (ngModelChange)="updateTime($event)"/>
    <div class="unit-picker">
        <bl-select [ngModel]="unit" (ngModelChange)="updateUnit($event)" placeholder="Unit">
            <bl-option [value]="ConstraintsUnit.Unlimited" label="Unlimited" *ngIf="allowUnlimited"></bl-option>
            <bl-option [value]="ConstraintsUnit.Days" label="Days"></bl-option>
            <bl-option [value]="ConstraintsUnit.Hours" label="Hours"></bl-option>
            <bl-option [value]="ConstraintsUnit.Minutes" label="Minutes"></bl-option>
            <bl-option [value]="ConstraintsUnit.Seconds" label="Seconds"></bl-option>
            <bl-option [value]="ConstraintsUnit.Custom" label="Custom"></bl-option>
        </bl-select>
    </div>
</div>
<div class="error" *ngIf="timeInvalidNumber">
    Input should be a valid number
</div>

