<div class="input-container">
    <input blInput #inputEl [placeholder]="placeholder" [disabled]="disabled || unit === DurationUnit.Unlimited" [ngModel]="time" (ngModelChange)="updateTime($event)"/>
    <div class="unit-picker">
        <bl-select [ngModel]="unit" (ngModelChange)="updateUnit($event)" placeholder="Unit" [disabled]="disabled">
            <bl-option [value]="DurationUnit.Unlimited" [label]="'duration.unit.unlimited' | i18n" *ngIf="allowUnlimited"></bl-option>
            <bl-option [value]="DurationUnit.Days" [label]="'duration.unit.days' | i18n"></bl-option>
            <bl-option [value]="DurationUnit.Hours" [label]="'duration.unit.hours' | i18n"></bl-option>
            <bl-option [value]="DurationUnit.Minutes" [label]="'duration.unit.minutes' | i18n"></bl-option>
            <bl-option [value]="DurationUnit.Seconds" [label]="'duration.unit.seconds' | i18n"></bl-option>
            <bl-option [value]="DurationUnit.Custom" [label]="'duration.unit.custom' | i18n"></bl-option>
        </bl-select>
    </div>
</div>
<div class="error" *ngIf="invalidTimeNumber">
    Input should be a valid number
</div>
<div class="error" *ngIf="invalidCustomDuration">
    This is not a valid ISO 8601 duration <i>(e.g. PT1M, P1D)</i>
</div>

