bl-pool-advanced-filter {
    display: block;
}

bl-property-list {
    display: block;
    margin-top: 5px;
}

.editable-properties {
    display: flex;

    > bl-property-list, > .no-properties {
        flex: 1;
    }
}

bl-pool-graphs {
    bl-banner {
        margin-bottom: 15px;
    }
}
