bl-pool-os-picker {
    h5 {
        margin: 0;
    }

    .service-ref {
        display: flex;
    }

    bl-os-offer-tile {
        padding: 0;
        display: inline-block;
        width: 120px;
        border: 1px solid $border-color;
        border-radius: 3px;
        background: $white;
        outline: none;
        text-align: center;
        user-select: none;

        margin: 5px;
        cursor: pointer;

        &:focus {
            background-color: $whitesmoke-darker;
        }

        &.active {
            border-color: map-get($primary, 300);

            > .main > .icon {
                background: map-get($primary, 300);
                border-color: map-get($primary, 300);
                color: map-get($primary, 50);
            }

            .select-version {
                color: $primary-color
                font-weight: bold;
            }

        }

        > .main {
            &:hover {
                background-color: $whitesmoke-darker;
            }

            > .icon {
                padding: 10px 0;
                height: 120px;
                font-size: 60px;
                color: map-get($primary, 300);
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 70px;
                    height: 70px;
                }
            }

            > .title {
                margin-top: 5px;
                border-bottom: 1px solid #d5d5d5;
                font-size: 16px;
                height: 36px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        > .select-version {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 5px;
            color: $silver-grey;
            background: $white;
            outline: none;
            margin: 0;
            width: 100%;
            cursor: pointer;

            &:hover, &:focus {
                background-color: $whitesmoke-darker;
            }

            .fa {
                margin-left: 5px;
            }
        }
    }
}
