bl-account-home {
}

bl-account-list {
    .fa-star {
        font-size: 2em;
        color: #d5d5d5;

        &:hover {
            color: map-get($primary, 100);
        }

        &.favorite {
            color: map-get($primary, 400);
        }
    }
}
