bl-account-details {
    .account-links {
        margin: 15px auto;
        text-align: center;

        .link {
            display: inline-block;
            width: 200px;
            height: 200px;
            font-size: 2em;
            color: $scorpion;
            text-align: center;
            cursor: pointer;
            i {
                margin: 20px 0;
                font-size: 3em;
            }

            &:not(:last-child) {
                margin-right: 46px;
            }
        }
    }
}
