<bl-focus-section *ngIf="storageAccountId">
    <bl-quick-list *ngIf="quicklist"
        [data]="containers"
        [status]="status"
        [(activeItem)]="activeItem"
        [(selection)]="selection"
        [commands]="commands"
        (scrollBottom)="onScrollToBottom()">
        <ng-container *blQuickListRowStatus="let container">
            <bl-quick-list-item-status [status]="containerStatus(container)" [tooltip]="containerStatusText(container)"></bl-quick-list-item-status>
        </ng-container>
        <ng-container *blQuickListRowTitle="let container">{{container.id}}</ng-container>
        <ng-container *blQuickListRowState="let container">{{container.lease?.state}}</ng-container>
    </bl-quick-list>

    <bl-table *ngIf="!quicklist"
        [data]="containers"
        [status]="status"
        [(activeItem)]="activeItem"
        [(selection)]="selection"
        (scrollBottom)="onScrollToBottom()"
        [commands]="commands">

        <bl-column name="name">
            <div *blHeadCellDef>Name</div>
            <div *blCellDef="let container">{{container.name}}</div>
        </bl-column>

        <bl-column name="leaseState">
            <div *blHeadCellDef>Lease state</div>
            <div *blCellDef="let container">{{container.lease?.state}}</div>
        </bl-column>

        <bl-column name="leaseStatus">
            <div *blHeadCellDef>Lease status</div>
            <div *blCellDef="let container">{{container.lease?.status}}</div>
        </bl-column>

        <bl-column name="lastModified">
            <div *blHeadCellDef>Last modified</div>
            <div *blCellDef="let container">{{container.lastModified}}</div>
        </bl-column>
    </bl-table>
</bl-focus-section>
<bl-no-item [itemCount]="containers.size" [filter]="filter" [status]="status">
    <i icon class="fa fa-cloud-upload small"></i>
    <span no-filter>No {{entityType}}</span>
    <span with-filter>No {{entityType}} match this filter</span>
</bl-no-item>
<bl-server-error class="error-in-list" [error]="data.error | async" *ngIf="status === LoadingStatus.Error"></bl-server-error>
<div *ngIf="!storageAccountId">
    No storage account picked
</div>
