<bl-focus-section *ngIf="storageAccountId">
    <bl-quick-list *ngIf="quicklist" [status]="status" [(activeItem)]="activeItem" [(selection)]="selection" (scrollBottom)="onScrollToBottom()">
        <bl-quick-list-item *ngFor="let container of containers;trackBy: trackFileGroup" [link]="['/data/', dataSource, 'containers', container.id]"
            [key]="container.id" [contextmenu]="contextmenu(container)">
            <bl-quick-list-item-status [status]="containerStatus(container)">
            </bl-quick-list-item-status>

            <div bl-quick-list-item-title>{{container.name}}</div>
            <div bl-quick-list-item-field>{{container.lease?.state}}</div>
            <div bl-quick-list-item-preview>
                <bl-file-group-preview></bl-file-group-preview>
            </div>
        </bl-quick-list-item>
    </bl-quick-list>

    <bl-table *ngIf="!quicklist" [status]="status" [(activeItem)]="activeItem" [(selection)]="selection" (scrollBottom)="onScrollToBottom()">
        <bl-thead>
            <bl-column>Name</bl-column>
            <bl-column>Lease state</bl-column>
            <bl-column>Lease status</bl-column>
            <bl-column>Last modified</bl-column>
        </bl-thead>
        <bl-row *ngFor="let container of containers;trackBy: trackFileGroup" [link]="['/data/', dataSource, 'containers', container.id]" [key]="container.id"
            [contextmenu]="contextmenu(container)">
            <bl-cell>{{container.name}}</bl-cell>
            <bl-cell>{{container.lease?.state}}</bl-cell>
            <bl-cell>{{container.lease?.status}}</bl-cell>
            <bl-cell>{{container.lastModified}}</bl-cell>
        </bl-row>
    </bl-table>
</bl-focus-section>
<bl-server-error class="error-in-list" [error]="data.error | async" *ngIf="status === LoadingStatus.Error"></bl-server-error>
<bl-no-item [itemCount]="containers.size" [filter]="filter" [status]="status">
    <i icon class="fa fa-cloud-upload small"></i>
    <span no-filter>No {{entityType}}</span>
    <span with-filter>No {{entityType}} match this filter</span>
</bl-no-item>
<div *ngIf="!storageAccountId">
    No storage account picked
</div>
