<bl-focus-section class="list" *ngIf="storageAccountId">
    <bl-quick-list *ngIf="quicklist" [status]="status" [(activeItem)]="activeItem" [(selection)]="selection" (scrollBottom)="onScrollToBottom()" [commands]="commands">
        <bl-quick-list-item *ngFor="let container of containers;trackBy: trackFileGroup" [link]="['/data/', dataSource, 'containers', container.id]"
            [key]="container.id">
            <bl-quick-list-item-status [status]="containerStatus(container)">
            </bl-quick-list-item-status>

            <div bl-quick-list-item-title>{{container.name}}</div>
            <div bl-quick-list-item-field>{{container.lease?.state}}</div>
            <div bl-quick-list-item-preview>
                <bl-file-group-preview></bl-file-group-preview>
            </div>
        </bl-quick-list-item>
    </bl-quick-list>

    <bl-table *ngIf="!quicklist"
        [data]="containers"
        [status]="status"
        [(activeItem)]="activeItem"
        [(selection)]="selection"
        (scrollBottom)="onScrollToBottom()"
        [commands]="commands">

        <bl-column name="name">
            <bl-column-header>Name</bl-column-header>
            <div *blCellDef="let container">{{container.name}}</div>
        </bl-column>

        <bl-column name="leaseState">
            <bl-column-header>Lease state</bl-column-header>
            <div *blCellDef="let container">{{container.lease?.state}}</div>
        </bl-column>

        <bl-column name="leaseStatus">
            <bl-column-header>Lease status</bl-column-header>
            <div *blCellDef="let container">{{container.lease?.status}}</div>
        </bl-column>

        <bl-column name="lastModified">
            <bl-column-header>Last modified</bl-column-header>
            <div *blCellDef="let container">{{container.lastModified}}</div>
        </bl-column>
    </bl-table>
</bl-focus-section>
<bl-no-item [itemCount]="containers.size" [filter]="filter" [status]="status">
    <i icon class="fa fa-cloud-upload small"></i>
    <span no-filter>No {{entityType}}</span>
    <span with-filter>No {{entityType}} match this filter</span>
</bl-no-item>
<bl-server-error class="error-in-list" [error]="data.error | async" *ngIf="status === LoadingStatus.Error"></bl-server-error>
<div *ngIf="!storageAccountId">
    No storage account picked
</div>
