<bl-quick-list *ngIf="quickList">
    <bl-quick-list-item *ngFor="let container of data.items | async;trackBy: trackFileGroup" [link]="['/data/', container.id]"
        [key]="container.id" [contextmenu]="contextmenu(container)">
        <bl-quick-list-item-status [status]="containerStatus(container)">
        </bl-quick-list-item-status>

        <div bl-quick-list-item-title>{{container.name}}</div>
        <div bl-quick-list-item-field>{{container.lease?.state}}</div>
        <div bl-quick-list-item-preview>
            <bl-file-group-preview></bl-file-group-preview>
        </div>
    </bl-quick-list-item>
</bl-quick-list>

<bl-table *ngIf="!quickList">
    <bl-thead>
        <bl-column>Name</bl-column>
        <bl-column>Lease state</bl-column>
        <bl-column>Lease status</bl-column>
        <bl-column>Last modified</bl-column>
    </bl-thead>
    <bl-row *ngFor="let container of data.items | async;trackBy: trackFileGroup" [link]="['/data/', container.id]" [key]="container.id"
        [contextmenu]="contextmenu(container)">
        <bl-cell>{{container.name}}</bl-cell>
        <bl-cell>{{container.lease?.state}}</bl-cell>
        <bl-cell>{{container.lease?.status}}</bl-cell>
        <bl-cell>{{container.lastModified}}</bl-cell>
    </bl-row>
</bl-table>

<bl-no-item [itemCount]="(data.items | async).size" [filter]="filter" [status]="status | async">
    <i icon class="fa fa-cloud-upload small"></i>
    <span no-filter>No file groups</span>
    <span with-filter>No file groups match this filter</span>
</bl-no-item>

<bl-loading [status]="status | async"></bl-loading>
