<bl-dropdown [footer]="true" align="right">
    <div bl-dropdown-btn [class.flash]="showFlash">
        <div *ngIf="currentActivity" class="current-task">
            <bl-background-task-tracker-item [activity]="currentActivity"></bl-background-task-tracker-item>
            <div class="other-task-count" *ngIf="otherActivities.size > 0">+{{otherActivities.size}}</div>
        </div>
        <div *ngIf="!currentActivity">
            No current background tasks
        </div>
    </div>
    <div bl-dropdown-content>
        <div *ngFor="let task of otherActivities;trackBy: trackByFn" class="dropdown-item">
            <bl-background-task-tracker-item [activity]="currentActivity"></bl-background-task-tracker-item>
        </div>
    </div>
</bl-dropdown>
