@import "app/styles/variables";

@keyframes flash {
    0%, 50%, 100% {
    }

    25%, 75% {
        background: map-get($warn, 300);
    }
}

bl-background-task-tracker {
    [bl-dropdown-btn] {
        width: 340px;
        padding: 0 5px;
    }

    [bl-dropdown-content] {
        min-width: 330px;
    }

    .current-task {
        width: 100%;
        display: flex;
        align-items: center;

        > bl-background-task-tracker-item  {flex: 1;};

        > .other-task-count {
            width: 20px;
            margin: 0 10px;
            background: $whiteSmoke;
            border-radius: 10px;
            color: $mineShaftGray;
        }
    }

    .flash {
        animation: flash 1s infinite;
    }

    bl-background-task-tracker-item {
        display: flex;
        align-items: center;
        width: 100%;

        > .status-icon {
            width: 18px;
            height: 18px;
            margin-right: 10px;
            .mat-progress-spinner {
                path {
                    stroke: $whiteSmoke;
                }
            }
            .fa {
                vertical-align: middle;
                line-height: 24px;
                font-size: 18px;
            }
        }

        > .name {
            flex: 1;
            text-align: left;
        }
    }
}
