<bex-banner *ngIf="jobFailed" fixMessage="View failed tasks" [fix]="gotoFailedTask" type="warning">
    <div message>Job was terminated because a task failed.</div>
</bex-banner>
<bex-banner *ngIf="jobTimeout" type="warning">
    <div message>Job timed out after running for {{jobRunningTime}}.</div>
</bex-banner>
<bex-banner *ngIf="schedulingError" type="warning">
    <div message>{{schedulingError.message}}</div>
    <div code>{{schedulingError.code}}</div>
    <div message>{{schedulingError.message}}</div>
    <div details *ngIf="schedulingError.details.size !== 0">
        <div *ngFor="let entry of schedulingError.details">
            <div>{{entry.key}}: {{entry.value}}</div>
        </div>
    </div>
</bex-banner>
