bex-pool-nodes-preview {
    .resize-error {
        color: $red;
        font-weight: bold;
    }
}

bex-pool-advanced-filter {
    display: block;
}


.editable-properties {
    display: flex;

    > bex-property-list {
        flex: 1;
    }
}
