bex-pool-os-picker {
    .infrastructure {
        > label {
            display: block;
            margin-top: 5px;
            margin-right: 15px;
            color: $label-text;
            font-weight: 300;
        }
    }

    h5 {
        margin: 0;
    }

    .imageReference {
        display: flex;
        > .form-element {
            width: 30%;
            margin-right: 10px;

            md-select {
                width: 100%;
            }
        }
    }
}
