bex-pool-os-picker {
    h5 {
        margin: 0;
    }

    .imageReference {
        display: flex;
        > .form-element {
            width: 30%;
            margin-right: 10px;

            md-select {
                width: 100%;
            }
        }
    }
}
