bl-pool-graphs {
    .charts-previews {
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid $whitesmoke-darker;
        display: flex;
        user-select: none;

        > .preview {
            cursor: pointer;
            margin-right: 5px;
            flex: 1;
            .label {
                font-size: 11px;
                line-height: 11px;
                margin-bottom: 3px;
            }

            &.focused {
                .label {
                    color: map-get($md-prussian-blue, 600);
                    text-decoration: underline;
                }
            }
        }

        > .config {
            margin: 10px;
        }
    }

    .small-preview {
        display: block;
        width: 200px;
        height: 110px;
    }

    .full-display {
        display: block;
        width: 100%;
        height: 100%;
    }

    .focused-graph {
        height: 600px;
        width: 100%;
        position: relative;


    }
}

x-chartist {
    width: 100%;
    height: 100%;
}
