bl-pool-graphs {
    .charts-previews {
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid $whitesmoke-darker;
        display: flex;
        > .preview {
            cursor: pointer;
            .label {
                font-size: 11px;
                line-height: 11px;
            }
        }
    }

    .small-preview {
        display: block;
        width: 200px;
        height: 110px;
    }

    .full-display {
        display: block;
        width: 100%;
        height: 100%;
    }

    .focused-graph {
        height: 600px;
        width: 100%;
        position: relative;


    }
}

x-chartist {
    width: 100%;
    height: 100%;
}
