.advanced-filter-container {
    min-height: 100%;
    width: 100%;
}

.advanced-filter-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    z-index: 100;
}

bex-adv-filter-statepicker {
    .state-checkbox {
        margin-right: 10px;
    }
}


bex-adv-filter-list {
    .value {
        width: 300px;
    }
}
