bex-banner {
    display: block;
    margin-top: 10px;

    > md-card {
        color: $whiteSmoke-darker;
        background: $red;
        padding: 0;

        > .summary-container {
            font-weight: 500;
            display: flex;
            align-items: center;
            height: 36px;

            &.expandable {
                cursor: pointer;
            }

            > [code] {
                padding: 5px 24px;
                border-right: 1px solid $red-dark;
                height: 100%;
                display: flex;
                align-items: center;
            }

            > [message] {
                padding: 5px 24px;
                flex: 1;
            }

            > .quick-fix-btn-container {
                padding: 0 10px;
                border-right: 1px solid $red-dark;
                border-left: 1px solid $red-dark;
                height: 100%;
                display: flex;
                align-items: center;

                > .btn {
                    border: 3px solid $red-dark;
                    border-radius: 3px;
                    padding: 2px 10px;
                    cursor: pointer;
                    &:hover:not(.disabled) {
                        background: $red-dark;
                    }

                    &.disabled {
                        cursor: default;
                    }

                    .fa {
                        margin-right: 5px;
                    }
                }
            }

            > .caret {
                width: 20px;
                font-size: 16px;
            }
        }

        > .details-container {
            padding: 10px 24px;
            border-top: 1px solid $red-dark;
            font-weight: 500;
        }
    }
}
