
bex-list-and-show-layout {

    .context-button-bar {
        &.left {
            float: left;
        }
    }

    [bex-list-buttons] {
        display: inline;
    }
    > .layout-container {
        display: flex;

        &.filtering {
            .list-view {
                width: $listview-filtering-width;

                > .left-pane {
                    width: $listview-filtering-width;
                }
            }

            .content-view {
                width: calc(100vw - #{$listview-filtering-width} - #{$navigationbar-width});
            }
        }

        > .list-view {
            transition:width 100ms;
            width: $listview-width;
            height: $contentview-height;
            background-color: $listview-background;
            // overflow: hidden; // [Tim] removed for the breadcrumb expand
            box-shadow: 1px 1px 5px 0 #d5d5d5;
            z-index: 1;

            > .left-pane {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: $listview-width;

                .bex-list-content {
                    flex: 1 1 auto;
                    position: relative;
                    display: flex;
                }
            }

            .header {
                height: $listview-header-height;
                padding: 15px 15px 0;
            }

            .scrollable {
                height: 100%;
                overflow-y: hidden;

                &:hover {
                    overflow-y: auto;
                }
            }
        }

        > .content-view {
            width: calc(100vw - #{$listview-width} - #{$navigationbar-width});
            height: $contentview-height;
            overflow-y: auto;
            background-color: $content-background;
            position: relative;

            .content-wrapper {
                padding: 10px;
                padding-top: 0;
                position: relative;
            }
        }
    }
}

.load-more-btn {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
