@keyframes animScale {
    0% {
        opacity: 0;
        transform: translate3d(0, 40px, 0) scale3d(0.1, 0.6, 1);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}

bex-notification-container {
    margin: 30px 10px;
    width: 320px;
    position: fixed;
    z-index: 9900;

    &.tl {
        top: 0;
        bottom: auto;
        left: 0;
        right: auto;
    }

    &.tr {
        top: 0;
        bottom: auto;
        left: auto;
        right: 0;
    }

    &.tc {
        top: 0;
        bottom: auto;
        left: 50%;
        margin: 0 auto 0 -(defaultWidth / 2);
    }

    &.bl {
        top: auto;
        bottom: 0;
        left: 0;
        right: auto;
    }

    &.br {
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
    }

    &.bc {
        top: auto;
        bottom: 0;
        left: 50%;
        margin: 0 auto 0 -(defaultWidth / 2);
    }
}

bex-notification {
    position: relative;
    display: flex;
    width: 100%;
    cursor: pointer;
    border-radius: 2px;
    font-size: 13px;
    margin: 10px 0 0;
    padding: 10px;
    transition: 0.3s ease-in-out;
    opacity: 0.9;
    background-color: #e5e5e5;
    color: rgba(250, 251, 255, 0.95);

    animation-name: animScale;
    animation-duration: 0.25s;
    box-shadow: 1px 1px 50px 0 $alto;

    a {
        font-weight: bold;
        &:hover {
            opacity: 0.5;
        }
    }

    &.success {
        background-color: $green;
        a {
            color: $green-dark;
        }
    }

    &.error {
        background-color: $red-light;
        a {
            color: $red;
        }
    }

    &.info {
        color: $orient;
        background-color: white;
    }

    &.warn {
        color: $yellow-dark;
        background-color: $yellow-light;
    }

    &.notification-hidden {
        opacity: 0;
    }

    .notification-title {
        font-size: 14px;
        margin: 0 0 5px;
        padding: 0;
        font-weight: bold;
    }

    .dismiss-btn {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 4px;
        top: 4px;
        overflow: hidden;
        text-indent: 100%;
        cursor: pointer;
        backface-visibility: hidden;

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 3px;
            height: 60%;
            top: 50%;
            left: 50%;
            background: #6e6e6e;
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover:before,
        &:hover:after {
            background: white;
        }
    }
}


bex-persistent-notifications-dropdown {
    .fa-bell {
        font-size: 20px;
    }

    .count {
        font-size: 0.7em;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $fuzzyWuzzyBrown;
        border-radius: 10px;
        width: 18px;
        height: 18px;
    }

    [bex-dropdown-btn] {
        border-right: 1px solid $navigation-background;
    }

    [bex-dropdown-content] {
        width: 400px;

        .icon {
            font-size: 30px;
            width: 40px;
            text-align: center;
            margin-right: 10px;

            .fa-exclamation-triangle {
                color: $yellow;
            }
        }

        .details {
            flex: 1;
            .title {
                font-size: 14px;
                font-weight: bold;
            }

            .message {
                font-size: 13px;
            }
        }

        .dismiss {
            flex: 0 0 20px;
            background-color: white;
            color: #3f51b5;
            border-radius: 10px;
            width: 20px;
            height: 20px;
            text-align: center;
            vertical-align: middle;
            line-height: 20px;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: $crail;
            }

            &:active {
                background-color: $buttonBrown;
            }
        }

        .clear-all {
            font-size: 14px;
            justify-content: center;
            padding: 10px;

            .fa-trash {
                margin-right: 5px;
                font-size: 20px;
            }
        }

        .no-notifications {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .fa-bell {
                font-size: 40px;
            }
        }
    }
}
