<div class="log-console" *ngIf="!nodeNotFound && !fileContentFailure && !fileCleanupOperation">
    <div class="follow-log-btn" [class.following]="followingLog" (click)="toggleFollowLog()">
        <i class="fa fa-circle"></i>
        <span>Follow log</span>
    </div>
    <div class="log-container">
        <bl-simple-loading *ngIf="loading"></bl-simple-loading>
        <div class="line" *ngFor="let line of lines">
            <span class="line-nb"></span>
            <span class="line-content">{{line}}</span>
        </div>
    </div>
    <div class="follow-log-btn bottom" [class.following]="followingLog" (click)="followingLog = !followingLog">
        <i class="fa fa-circle"></i>
        <span>Follow log</span>
    </div>
</div>

<div *ngIf="nodeNotFound" class="notfound-message">
    The node this task ran on, or the file was not found.
</div>

<div *ngIf="fileCleanupOperation" class="notfound-message">
    The files for the specified task have been cleaned from the node.
</div>

<div *ngIf="fileContentFailure" class="notfound-message">
    The contents of the file was unable to be read. Try downloading the file.
</div>
