
#header {
    display: flex;

    .logo {
        margin: 5px 10px 0;
        height: 100%;
        color: $whitesmoke;
        font-size: 16px;

        &:hover {
            background-color: $navigation-background;
        }

        > .fa {
            margin-right: 5px;
        }
    }

    > * {
        flex-shrink: 0;
    }

    > bl-breadcrumb-group {
        flex: 1;
        min-width: 200px;
        overflow-x: auto;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            height: 1px;
        }
    }
}
