.basic-header {
    $basic-header-height: 24px;

    background: $mercury-grey;
    display: flex;
    align-items: stretch;
    height: $basic-header-height;
    cursor: pointer;
    padding-left: 10px;

    > * {
        vertical-align: middle;
        line-height: $basic-header-height;
    }

    .name {
        display: inline-block;
        flex: 1;
        font-size: 11px;
        color: $mineshaft-grey;
        font-weight: 700;
        user-select: none;
        text-transform: uppercase;
    }

    .error {
        color: $danger-color;
        padding: 0 5px;
    }

    .action {
        padding: 2px 5px;
        cursor: pointer;
        color: $mineshaft-grey;
        font-size: 16px;

        &.disabled {
            cursor: not-allowed;
        }

        &:hover:not(.disabled) {
            color: $alto;
        }
    }
}
