
#header {
    display: flex;

    .logo {
        height: 31px;
        margin: 5px 10px 0;
        height: 100%;
        color: $whitesmoke;
        font-size: 16px;

        &:hover {
            background-color: $navigation-bg;
        }

        > .fa  {
            margin-right: 5px;
        }
    }
}

.bookmarks-container {
    position: fixed;
    z-index: $zindex-dropdown;
    right: 0;
    top: $header-height;
    background-color: $navigation-background;
    color: $whiteSmoke;

    .no-bookmarks {
        padding: 10px 5px;
    }

    .bookmark {
        position: relative;
        min-width: 100px;
        cursor: pointer;
        padding: 10px 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
            border-bottom: 1px solid $navigation-hover;
        }

        &:hover {
            background-color: $navigation-hover;
        }

        span {
            flex: 1 0 auto;
            margin-right: 5px;
        }

        i.fa {
            flex: 0 0 20px;
            background-color: white;
            color: #3f51b5;
            border-radius: 10px;
            width: 20px;
            height: 20px;
            text-align: center;
            vertical-align: middle;
            line-height: 20px;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: map-get($danger, 400);
            }

            &:active {
                background-color: map-get($danger, 600);
            }
        }
    }
}
