.content-wrapper {
    position: relative;

    .loading-indicator {
        position: absolute;
        visibility: hidden;
        margin: 25px auto;
        left: 0;
        right: 0;
        top: 100px;

        &.loading {
            visibility: visible;
            display: block;
        }
    }

    form.loading, mat-list.loading, fieldset.loading {
        opacity: 0.25;
    }
}


.info-overlay {
    $loading-overlay-width: 500px;
    $loading-overlay-height: 70px;
    width: $loading-overlay-width;
    position: absolute;
    top: calc(50% - #{$loading-overlay-height/2});
    left: calc(50% - #{$loading-overlay-width/2});

    text-align: center;
    vertical-align: middle;
    font-size: 16px;

    background: $primary-text;
    color: $main-background;
    opacity: 0.6;
    padding: 10px;

    > .highlight {
        color: $primary-color-light;
        font-weight: 700;
    }
}
