bl-app-nav > ul {
    margin: 0;
    user-select: none;

    > li > a {
        height: $navigationbar-width;
        display: block;
        padding: 13px 0;
        outline: none;
        color: $navigation-text;
        -webkit-user-drag: none;

        i.fa {
            display: block;
            margin: 0 auto;
        }

        .label {
            margin-top: 5px;
        }

        &:hover, &:focus {
            background-color: $navigation-hover;
            color: $white;
        }

        &.active {
            background-color: map-get($primary, 500);
            color: $white;
        }
    }
}
