bl-refresh-btn {
    .fa-check {
        color: map-get($success, 800);
        // overflow: hidden;
    }

    .fa-warning {
        color: map-get($danger, 500);
    }

    .success-container {
        width: 1em;
        text-align: left;
        display: inline-block;
    }
}

.fa-ban {
    color: $danger-color;
}
