<div *ngIf="interactive" class="disk-usage-header">
    Showing usage for
    <bl-select [ngModel]="currentDisk" (ngModelChange)="pickCurrentDisk($event)">
        <bl-option *ngFor="let disk of availableDisks;trackBy: trackDisk" [value]="disk.name" [label]="disk.label"></bl-option>
    </bl-select>
</div>
<div class="graph-container">
    <canvas blChart [datasets]="datasets" [options]="options" [chartType]="type">
    </canvas>
</div>
<div class="info-overlay" *ngIf="(data.loading | async) && interactive">Loading...</div>
