<bl-focus-section>
    <bl-quick-list *ngIf="quicklist" [status]="status" [(activeItem)]="activeItem" [(selection)]="selection" (scrollBottom)="onScrollToBottom()"  [commands]="commands">
        <bl-quick-list-item *ngFor="let application of displayedApplications;trackBy: trackByFn" [link]="['/applications/', application.id]"
            [key]="application.id">
            <bl-quick-list-item-status [status]="appStatus(application)">
            </bl-quick-list-item-status>

            <div bl-quick-list-item-title>{{application.id}}</div>
            <p bl-quick-list-item-field>{{application.packages?.size}} packages</p>
            <div bl-quick-list-item-preview>
                <bl-application-preview [application]="application"></bl-application-preview>
            </div>
        </bl-quick-list-item>
    </bl-quick-list>

    <bl-table *ngIf="!quicklist" [status]="status" [(activeItem)]="activeItem" [(selection)]="selection" (scrollBottom)="onScrollToBottom()" [commands]="commands">
        <bl-thead>
            <bl-column>ID</bl-column>
            <bl-column>Packages</bl-column>
            <bl-column>Default version</bl-column>
            <bl-column>Allow updates</bl-column>
        </bl-thead>
        <bl-row *ngFor="let application of displayedApplications;trackBy: trackByFn" [link]="['/applications', application.id]"
            [key]="application.id">
            <bl-cell>{{application.id}}</bl-cell>
            <bl-cell>{{application.packages?.size}}</bl-cell>
            <bl-cell>{{application.defaultVersion}}</bl-cell>
            <bl-cell>{{application.allowUpdates}}</bl-cell>
        </bl-row>
    </bl-table>
</bl-focus-section>
<bl-server-error class="error-in-list" [error]="data.error | async" *ngIf="status === LoadingStatus.Error"></bl-server-error>

<bl-no-item [itemCount]="displayedApplications.size" [filter]="filter" [status]="status">
    <i icon class="fa fa-file-archive-o small"></i>
    <span no-filter>No applications</span>
    <span with-filter>Current filter returned no applications</span>
</bl-no-item>
