<bl-focus-section>
    <bl-quick-list *ngIf="quicklist"
        [data]="displayedApplications"
        [status]="status"
        [(activeItem)]="activeItem"
        [(selection)]="selection"
        [commands]="commands"
        (scrollBottom)="onScrollToBottom()">

        <ng-container *blQuickListRowStatus="let application">
            <bl-quick-list-item-status [status]="appStatus(application)"></bl-quick-list-item-status>
        </ng-container>
        <ng-container *blQuickListRowTitle="let application">{{application.id}}</ng-container>
        <ng-container *blQuickListRowState="let application">{{application.packages?.size}} packages</ng-container>

        <ng-container *blQuickListRowExtra="let application">
            <bl-application-preview [application]="application"></bl-application-preview>
        </ng-container>
    </bl-quick-list>

    <bl-table *ngIf="!quicklist"
        [status]="status"
        [data]="displayedApplications"
        [(activeItem)]="activeItem"
        [(selection)]="selection"
        (scrollBottom)="onScrollToBottom()"
        [commands]="commands">

        <bl-column name="id">
            <div *blHeadCellDef>ID</div>
            <div *blCellDef="let application">{{application.id}}</div>
        </bl-column>

        <bl-column name="packages">
            <div *blHeadCellDef>Packages</div>
            <div *blCellDef="let application">{{application.packages?.size}}</div>
        </bl-column>

        <bl-column name="defaultVersion">
            <div *blHeadCellDef>Default version</div>
            <div *blCellDef="let application">{{application.defaultVersion}}</div>
        </bl-column>

        <bl-column name="allowUpdates">
            <div *blHeadCellDef>Allow updates</div>
            <div *blCellDef="let application">{{application.allowUpdates}}</div>
        </bl-column>
    </bl-table>
</bl-focus-section>
<bl-server-error class="error-in-list" [error]="data.error | async" *ngIf="status === LoadingStatus.Error"></bl-server-error>

<bl-no-item [itemCount]="displayedApplications.size" [filter]="filter" [status]="status">
    <i icon class="fa fa-file-archive-o small"></i>
    <span no-filter>No applications</span>
    <span with-filter>Current filter returned no applications</span>
</bl-no-item>
