<bl-entity-configuration [value]="task">
    <bl-property-list>
        <bl-property-group label="General" class="wide">
            <bl-text-property label="ID" [value]="decorator.id"></bl-text-property>
            <bl-text-property label="Display name" [value]="decorator.displayName"></bl-text-property>
            <bl-text-property label="Command line" [value]="decorator.commandLine" [wrap]="true"></bl-text-property>
            <bl-text-property label="State" [value]="decorator.state"></bl-text-property>
            <bl-text-property label="Previous State" [value]="decorator.previousState"></bl-text-property>
            <bl-text-property label="Creation Time" [value]="decorator.creationTime"></bl-text-property>
            <bl-text-property label="Last modified" [value]="decorator.lastModified"></bl-text-property>
            <bl-text-property label="User identity" [value]="decorator.userIdentitySummary"></bl-text-property>
            <bl-text-property label="State transition time" [value]="decorator.stateTransitionTime"></bl-text-property>
            <bl-text-property label="Previous state transition time" [value]="decorator.previousStateTransitionTime"></bl-text-property>
            <bl-text-property label="Exit conditions" *ngIf="!task.exitConditions" value="None"></bl-text-property>
            <bl-text-property label="Affinity id" *ngIf="task.affinityInfo" [value]="task.affinityInfo?.affinityId"></bl-text-property>

            <bl-table-property *ngIf="task.outputFiles.size > 0" label="Output files">
                <bl-table-property-header>
                    <div tp-column>Pattern</div>
                    <div tp-column>Destination</div>
                    <div tp-column>Upload when</div>
                </bl-table-property-header>
                <bl-table-property-row *ngFor="let file of task.outputFiles">
                    <bl-tp-cell [value]="file.filePattern"></bl-tp-cell>
                    <bl-tp-cell [value]="file.destination.container.containerUrl"></bl-tp-cell>
                    <bl-tp-cell [value]="file.uploadOptions.uploadCondition"></bl-tp-cell>
                </bl-table-property-row>
            </bl-table-property>
        </bl-property-group>

        <bl-property-group label="Application packages" class="wide" [collapsed]="true">
            <div collapsed-preview>
                <span>{{appPackages?.length}} application package reference</span>
            </div>
            <bl-table-property *ngIf="appPackages.length > 0" label="Package references">
                <bl-table-property-header>
                    <div tp-column>Application</div>
                    <div tp-column>Version</div>
                </bl-table-property-header>
                <bl-table-property-row *ngFor="let package of appPackages">
                    <bl-tp-cell [value]="package.applicationId"></bl-tp-cell>
                    <bl-tp-cell [value]="package.version"></bl-tp-cell>
                </bl-table-property-row>
            </bl-table-property>
            <bl-no-item [itemCount]="appPackages.length" [slimline]="true">
                <span no-filter>This task contains no application package references</span>
            </bl-no-item>
        </bl-property-group>

        <bl-property-group label="Compute node" class="wide" [collapsed]="true">
            <bl-link-property label="Pool" [value]="nodeInfo.poolId" [link]="['/pools/', nodeInfo.poolId]"></bl-link-property>
            <bl-link-property label="Compute node ID" [value]="nodeInfo.nodeId" [link]="['/pools/', nodeInfo.poolId, 'nodes', nodeInfo.nodeId]"></bl-link-property>
            <bl-text-property label="Node URL" [value]="nodeInfo.nodeUrl"></bl-text-property>
            <bl-text-property label="Affinity ID" [value]="nodeInfo.affinityId"></bl-text-property>
            <bl-text-property label="Task root directory" [value]="nodeInfo.taskRootDirectory"></bl-text-property>
            <bl-text-property label="Task root directory URL" [value]="nodeInfo.taskRootDirectoryUrl"></bl-text-property>
        </bl-property-group>

        <bl-property-group label="Container settings" class="wide" [collapsed]="true">
            <ng-container *ngIf="containerSettings.propertyCount">
                <bl-text-property label="Image name" [value]="containerSettings.imageName"></bl-text-property>
                <bl-text-property label="Container run option" [value]="containerSettings.containerRunOptions"></bl-text-property>
                <bl-text-property label="Registry server" [value]="containerSettings.registryServer"></bl-text-property>
                <bl-text-property label="Registry username" [value]="containerSettings.registryUsername"></bl-text-property>
            </ng-container>
            <bl-no-item [itemCount]="containerSettings.propertyCount" [slimline]="true">
                <span no-filter>This task contains no container settings</span>
            </bl-no-item>
        </bl-property-group>

        <bl-property-group label="Constraints" class="wide" [collapsed]="true">
            <bl-text-property label="Max task retry count" [value]="constraints.maxTaskRetryCount"></bl-text-property>
            <bl-text-property label="Max wall-clock time" [value]="constraints.maxWallClockTime"></bl-text-property>
            <bl-text-property label="Retention time" [value]="constraints.retentionTime"></bl-text-property>
        </bl-property-group>

        <bl-property-group label="Environment settings" class="wide" [collapsed]="true">
            <div collapsed-preview>
                <span>{{environmentSettings?.size}} environment settings</span>
            </div>
            <bl-text-property *ngFor="let setting of environmentSettings" label="{{setting.name}}" [value]="setting.value"></bl-text-property>
            <bl-no-item [itemCount]="environmentSettings.size" [slimline]="true">
                <span no-filter>This task contains no environment settings</span>
            </bl-no-item>
        </bl-property-group>

        <bl-property-group label="Execution information" class="wide" [collapsed]="true">
            <div collapsed-preview>
                <span *ngIf="!executionInfo.runtime">Task not started</span>
                <span *ngIf="executionInfo.runtime && !task?.executionInfo?.endTime">Currently running for: {{ executionInfo.runtime }}</span>
                <span *ngIf="task?.executionInfo?.endTime">Completed in: {{ executionInfo.runtime }}</span>
            </div>

            <bl-text-property label="Start time" [value]="executionInfo.startTime"></bl-text-property>
            <bl-text-property label="End time" [value]="executionInfo.endTime"></bl-text-property>
            <bl-text-property label="Execution time" [value]="executionInfo.runtime"></bl-text-property>
            <bl-text-property label="Exit code" [value]="executionInfo.exitCode"></bl-text-property>
            <bl-text-property label="Retry count" [value]="executionInfo.retryCount"></bl-text-property>
            <bl-text-property label="Last retry time" [value]="executionInfo.lastRetryTime" *ngIf="executionInfo.retryCount > 0"></bl-text-property>
            <bl-text-property label="Requeue count" [value]="executionInfo.requeueCount"></bl-text-property>
            <bl-text-property label="Last requeue time" [value]="executionInfo.lastRequeueTime" *ngIf="executionInfo.requeueCount > 0"></bl-text-property>
            <bl-text-property label="Container ID" [value]="executionInfo.containerInfo.containerId" *ngIf="executionInfo.containerInfo?.containerId"></bl-text-property>
            <bl-text-property label="Container state" [value]="executionInfo.containerInfo.state" *ngIf="executionInfo.containerInfo?.state"></bl-text-property>
            <bl-text-property label="Container error" [value]="executionInfo.containerInfo.error" *ngIf="executionInfo.containerInfo?.error"></bl-text-property>
        </bl-property-group>

        <bl-property-group label="Exit conditions" [warningMessage]="exitConditionWarningMessage" [collapsed]="true">
            <bl-text-property label="Exit codes that do nothing" [value]="exitConditionData.noAction.join(', ')"></bl-text-property>
            <bl-text-property label="Exit codes that terminate the job" [value]="exitConditionData.terminateJob.join(', ')"></bl-text-property>
            <bl-text-property label="On scheduling error" [value]="exitConditionData.failureInfo"></bl-text-property>
            <bl-text-property *ngIf="exitConditionData.default" label="default" [value]="exitConditionData.default"></bl-text-property>
        </bl-property-group>
    </bl-property-list>
</bl-entity-configuration>
