<bl-loading [status]="data.newDataStatus | async">
    <md-card bl-loading-error>
        Task with id '{{taskId}}' doesn't exist
    </md-card>
    <div *ngIf="task && job">
        <md-card class="overview">
            <div class="actions">
                <bl-button-group>
                    <bl-refresh-btn [refresh]="refresh"></bl-refresh-btn>
                    <bl-terminate-button [entity]="task" [action]="terminateTask"></bl-terminate-button>
                    <bl-delete-button [entity]="task" [action]="deleteTask"></bl-delete-button>
                    <bl-clone-button [action]="cloneTask"></bl-clone-button>
                </bl-button-group>
            </div>
            <div class="content">
                <md-card-title>{{task.id}} <span *ngIf="!!task.displayName"> - {{task.displayName}}</span> </md-card-title>
                <md-card-subtitle><i class="fa" [ngClass]="decorator.stateIcon"></i> {{task.state}}</md-card-subtitle>
                <p>Job: {{jobId}}</p>
            </div>
            <div style="padding: 10px">
                <bl-task-timeline [job]="job" [task]="task"></bl-task-timeline>
            </div>
        </md-card>
        <bl-task-error-display [jobId]="jobId" [task]="task"></bl-task-error-display>
        <md-card class="details">
            <bl-tab-group>
                <bl-tab key="logs">
                    <bl-tab-label>Log Output</bl-tab-label>
                    <div class="tab-padding">
                        <bl-task-log [jobId]="jobId" [task]="task"></bl-task-log>
                    </div>
                </bl-tab>
                <bl-tab key="configuration">
                    <bl-tab-label>Configuration</bl-tab-label>
                    <bl-task-configuration [job]="job" [task]="task"></bl-task-configuration>
                </bl-tab>
                <bl-tab key="resource-files">
                    <bl-tab-label>Resource Files</bl-tab-label>
                    <div class="tab-padding">
                        <bl-task-resource-files [task]="task"></bl-task-resource-files>
                    </div>
                </bl-tab>
                <bl-tab key="outputs">
                    <bl-tab-label>Task Outputs</bl-tab-label>
                    <div class="tab-padding">
                        <bl-task-outputs [jobId]="jobId" [taskId]="taskId"></bl-task-outputs>
                    </div>
                </bl-tab>
                <bl-tab key="sub-tasks" [disabled]="!hasMultiInstanceSettings">
                    <bl-tab-label>Sub Tasks</bl-tab-label>
                    <div class="tab-padding">
                        <bl-task-sub-tasks-tab [jobId]="job.id" [taskId]="task.id"></bl-task-sub-tasks-tab>
                    </div>
                </bl-tab>
                <bl-tab key="dependencies" [disabled]="!hasDependencies">
                    <bl-tab-label>Dependencies</bl-tab-label>
                    <div class="tab-padding">
                        <bl-task-dependencies [jobId]="job.id" [task]="task"></bl-task-dependencies>
                    </div>
                </bl-tab>
            </bl-tab-group>
        </md-card>
    </div>
</bl-loading>
