<bl-table [data]="resourceFiles">
    <bl-column name="blobSource">
        <bl-column-header>BlobSource</bl-column-header>
        <div *blCellDef="let resourceFile">{{resourceFile.blobSource}}</div>
    </bl-column>
    <bl-column name="filePath" [defaultWidth]="400">
        <bl-column-header>File path</bl-column-header>
        <div *blCellDef="let resourceFile">{{resourceFile.filePath}}</div>
    </bl-column>
    <bl-column name="fileMode" [defaultWidth]="100">
        <bl-column-header>File mode</bl-column-header>
        <div *blCellDef="let resourceFile">{{resourceFile.fileMode}}</div>
    </bl-column>
</bl-table>
<bl-no-item [itemCount]="resourceFiles.size">
    <i icon class="fa fa-file-text-o"></i>
    <span no-filter>This task contains no resource files</span>
</bl-no-item>
