<bl-loading [status]="data.newDataStatus | async">
    <md-card bl-loading-error>
        Task with id '{{taskId}}' doesn't exist
    </md-card>
    <div *ngIf="task && job">
        <md-card class="overview">
            <div class="summary">
                <div class="main-info">
                    <md-card-title-group style="margin: 0px;">
                        <div style="align-items:center;">
                            <bl-refresh-btn [refresh]="refresh"></bl-refresh-btn>
                        </div>
                        <div style="margin-left:12px; margin-right:auto;">
                            <md-card-title>{{task.id}} <span *ngIf="!!task.displayName"> - {{task.displayName}}</span> </md-card-title>
                            <md-card-subtitle><i class="fa" [ngClass]="decorator.stateIcon"></i> {{task.state}}</md-card-subtitle>
                        </div>
                    </md-card-title-group>
                    <md-card-content>
                        <p>Job: {{jobId}}</p>
                    </md-card-content>
                </div>
                <bl-task-timeline [job]="job" [task]="task"></bl-task-timeline>
            </div>

            <md-card-actions layout="row" layout-align="end center">
                <bl-add-button (click)="addTask()"></bl-add-button>
                <bl-terminate-button [entity]="task" (click)="terminateTask()"></bl-terminate-button>
                <bl-delete-button [entity]="task" (click)="deleteTask()"></bl-delete-button>
                <bl-clone-button (click)="cloneTask()"></bl-clone-button>
            </md-card-actions>
        </md-card>
        <bl-task-error-display [jobId]="jobId" [task]="task"></bl-task-error-display>
        <md-card class="details">
            <bl-tab-group>
                <bl-tab key="output">
                    <bl-tab-label>Log Output</bl-tab-label>
                    <div class="tab-padding">
                        <bl-task-output [jobId]="jobId" [task]="task"></bl-task-output>
                    </div>
                </bl-tab>
                <bl-tab key="configuration">
                    <bl-tab-label>Configuration</bl-tab-label>
                    <bl-task-configuration [job]="job" [task]="task"></bl-task-configuration>
                </bl-tab>
                <bl-tab key="resource-files">
                    <bl-tab-label>Resource Files</bl-tab-label>
                    <div class="tab-padding">
                        <bl-task-resource-files [task]="task"></bl-task-resource-files>
                    </div>
                </bl-tab>
                <bl-tab key="files">
                    <bl-tab-label>Task Outputs</bl-tab-label>
                    <div class="tab-padding">
                        <bl-entity-details-list #listWrapper [refresh]="list.refresh" [filterPlaceholder]="filterPlaceholderText" [showAddButton]="false" quickSearchField="name">
                            <bl-task-file-list #list [jobId]="jobId" [taskId]="taskId" [filter]="listWrapper.filter" [quickList]="false"></bl-task-file-list>
                            <!-- maybe add a storage files here with a *ngIf? -->
                        </bl-entity-details-list>
                    </div>
                </bl-tab>
                <bl-tab key="subtasks" [disabled]="!hasMultiInstanceSettings">
                    <bl-tab-label>Sub Tasks</bl-tab-label>
                    <div class="tab-padding">
                        <bl-task-sub-tasks-tab [jobId]="job.id" [taskId]="task.id"></bl-task-sub-tasks-tab>
                    </div>
                </bl-tab>
                <bl-tab key="dependencies" [disabled]="!hasDependencies">
                    <bl-tab-label>Dependencies</bl-tab-label>
                    <div class="tab-padding">
                        <bl-task-dependencies [jobId]="job.id" [task]="task"></bl-task-dependencies>
                    </div>
                </bl-tab>
            </bl-tab-group>
        </md-card>
    </div>
</bl-loading>
