<bex-property-list>
    <bex-property-group label="General" class="wide">
        <bex-text-property label="Id" [value]="decorator.id"></bex-text-property>
        <bex-text-property label="Display name" [value]="decorator.displayName"></bex-text-property>
        <bex-text-property label="Command line" [value]="decorator.commandLine"></bex-text-property>
        <bex-text-property label="State" [value]="decorator.state"></bex-text-property>
        <bex-text-property label="Previous State" [value]="decorator.previousState"></bex-text-property>
        <bex-text-property label="Creation Time" [value]="decorator.creationTime"></bex-text-property>
        <bex-text-property label="Last modified" [value]="decorator.lastModified"></bex-text-property>
        <bex-bool-property label="Run elevated" [value]="task.runElevated"></bex-bool-property>
        <bex-text-property label="State transition time" [value]="decorator.stateTransitionTime"></bex-text-property>
        <bex-text-property label="Previous state transition time" [value]="decorator.previousStateTransitionTime"></bex-text-property>
        <bex-text-property label="Exit conditions" *ngIf="!task.exitConditions" value="None"></bex-text-property>
    </bex-property-group>

    <bex-property-group label="Constraints" class="wide">
        <bex-text-property label="Max task retry count" [value]="constraints.maxTaskRetryCount"></bex-text-property>
        <bex-text-property label="Max wall-clock time" [value]="constraints.maxWallClockTime"></bex-text-property>
        <bex-text-property label="Retention time" [value]="constraints.retentionTime"></bex-text-property>
    </bex-property-group>

    <bex-property-group label="Exit conditions" [warningMessage]="exitConditionWarningMessage">
        <bex-text-property label="Exit codes that do nothing" [value]="exitConditionData.noAction.join(', ')"></bex-text-property>
        <bex-text-property label="Exit codes that terminate the job" [value]="exitConditionData.terminateJob.join(', ')"></bex-text-property>
        <bex-text-property label="On scheduling error" [value]="exitConditionData.schedulingError"></bex-text-property>
    </bex-property-group>

    <bex-property-group label="Execution information" class="wide">
        <bex-text-property label="Start time" [value]="executionInfo.startTime"></bex-text-property>
        <bex-text-property label="End time" [value]="executionInfo.endTime"></bex-text-property>
        <bex-text-property label="Exit code" [value]="executionInfo.exitCode"></bex-text-property>
        <bex-text-property label="Retry count" [value]="executionInfo.retryCount"></bex-text-property>
        <bex-text-property label="Last retry time" [value]="executionInfo.lastRetryTime" *ngIf="executionInfo.retryCount > 0"></bex-text-property>
        <bex-text-property label="Requeue count" [value]="executionInfo.requeueCount"></bex-text-property>
        <bex-text-property label="Last requeue time" [value]="executionInfo.lastRequeueTime" *ngIf="executionInfo.requeueCount > 0"></bex-text-property>
    </bex-property-group>

    <bex-property-group label="Compute node" class="wide">
        <bex-text-property label="Pool" [value]="nodeInfo.poolId"></bex-text-property>
        <bex-text-property label="Compute node ID" [value]="nodeInfo.nodeId"></bex-text-property>
        <bex-text-property label="Node URL" [value]="nodeInfo.nodeUrl"></bex-text-property>
        <bex-text-property label="Affinity ID" [value]="nodeInfo.affinityId"></bex-text-property>
        <bex-text-property label="Task root directory" [value]="nodeInfo.taskRootDirectory"></bex-text-property>
        <bex-text-property label="Task root directory URL" [value]="nodeInfo.taskRootDirectoryUrl"></bex-text-property>
    </bex-property-group>
</bex-property-list>
