<bex-loading [status]="data.newDataStatus | async">
    <md-card bex-loading-error>
        Task with id '{{taskId}}' doesn't exist
    </md-card>
    <div *ngIf="task && job">
        <md-card class="overview">
            <div class="summary">
                <div class="main-info">
                    <md-card-title-group style="margin: 0px;">
                        <div style="align-items:center;">
                            <bex-refresh-btn [refresh]="refresh"></bex-refresh-btn>
                        </div>
                        <div style="margin-left:12px; margin-right:auto;">
                            <md-card-title>{{task.id}} <span *ngIf="!!task.displayName"> - {{task.displayName}} - {{taskId}}</span> </md-card-title>
                            <md-card-subtitle><i class="fa" [ngClass]="decorator.stateIcon"></i> {{task.state}}</md-card-subtitle>
                        </div>
                    </md-card-title-group>
                    <md-card-content>
                        <p>Job: {{jobId}}</p>
                    </md-card-content>
                </div>
                <bex-task-lifetime [task]="task"></bex-task-lifetime>
            </div>

            <md-card-actions layout="row" layout-align="end center">
                <bex-add-button (click)="addTask()"></bex-add-button>
                <bex-terminate-button [entity]="task" (click)="terminateTask()"></bex-terminate-button>
                <bex-delete-button [entity]="task" (click)="deleteTask()"></bex-delete-button>
                <bex-clone-button (click)="cloneTask()"></bex-clone-button>
            </md-card-actions>
        </md-card>
        <bex-task-error-display [jobId]="jobId" [task]="task"></bex-task-error-display>
        <md-card class="details">
            <bex-tab-group>
                <bex-tab key="properties">
                    <bex-tab-label>Properties</bex-tab-label>
                    <bex-task-properties [job]="job" [task]="task"></bex-task-properties>
                </bex-tab>
                <bex-tab key="envs">
                    <bex-tab-label>Environment Settings</bex-tab-label>
                    <div class="tab-padding">
                        <bex-task-environment-settings [task]="task"></bex-task-environment-settings>
                    </div>
                </bex-tab>
                <bex-tab key="resource-files">
                    <bex-tab-label>Resource Files</bex-tab-label>
                    <div class="tab-padding">
                        <bex-task-resource-files [task]="task"></bex-task-resource-files>
                    </div>
                </bex-tab>
                <bex-tab key="output">
                    <bex-tab-label>Log Output</bex-tab-label>
                    <div class="tab-padding">
                        <md-radio-group [(ngModel)]="outputFilename" class="output-toggle-std">
                            <md-radio-button value="stdout.txt">Stdout</md-radio-button>
                            <md-radio-button value="stderr.txt">Stderr</md-radio-button>
                        </md-radio-group>
                        <br>
                        <bex-file-content [jobId]="jobId" [taskId]="taskId" [filename]="outputFilename"></bex-file-content>
                    </div>
                </bex-tab>
                <bex-tab key="files">
                    <bex-tab-label>Node Files</bex-tab-label>
                    <div class="tab-padding">
                        <bex-entity-details-list #listWrapper [refresh]="list.refresh" [filterPlaceholder]="filterPlaceholderText" [showAddButton]="false">
                            <bex-task-file-list [jobId]="jobId" [taskId]="taskId" [filter]="listWrapper.filter" [quickList]="false" #list></bex-task-file-list>
                        </bex-entity-details-list>
                    </div>
                </bex-tab>
                <bex-tab  key="subtasks" [disabled]="!hasMultiInstanceSettings">
                    <bex-tab-label>Sub Tasks</bex-tab-label>
                    <div class="tab-padding">
                        <bex-task-sub-tasks-tab [jobId]="job.id" [taskId]="task.id"></bex-task-sub-tasks-tab>
                    </div>
                </bex-tab>
                <bex-tab key="dependencies" [disabled]="!hasDependencies">
                    <bex-tab-label>Dependencies</bex-tab-label>
                    <div class="tab-padding">
                        <bex-task-dependencies [jobId]="job.id" [task]="task"></bex-task-dependencies>
                    </div>
                </bex-tab>
            </bex-tab-group>
        </md-card>
    </div>
</bex-loading>
