<div class="list-wrapper">
    <bl-task-list-display *ngIf="(data.items | async).size > 0"
        class="list"
        [jobId]="jobId"
        [tasks]="data.items | async"
        [status]="status | async"
        [quicklist]="quicklist"
        [(activeItem)]="activeItem"
        [(selection)]="selection">
    </bl-task-list-display>
    <bl-list-loading [manualLoading]="manualLoading" [data]="data"></bl-list-loading>
</div>
<bl-server-error class="error-in-list" [error]="data.error | async" *ngIf="(status | async) === LoadingStatus.Error"></bl-server-error>
