<bl-focus-section>
    <bl-quick-list
        *ngIf="quicklist"
        [data]="data"
        [commands]="commands"
        [(activeItem)]="activeItem"
        [(selection)]="selection"
        (scrollBottom)="onScrollToBottom()">

        <ng-container *blQuickListRowStatus="let task">
            <bl-quick-list-item-status [status]="taskStatus(task)" [tooltip]="taskStatusText(task)"></bl-quick-list-item-status>
        </ng-container>
        <ng-container *blQuickListRowTitle="let task">{{task.id}}</ng-container>
        <ng-container *blQuickListRowState="let task">
            <bl-task-state [task]="task"></bl-task-state>
        </ng-container>

        <ng-container *blQuickListRowExtra="let task">
            <bl-task-preview [task]="task"></bl-task-preview>
        </ng-container>
    </bl-quick-list>

    <bl-table *ngIf="!quicklist"
        [data]="data"
        [commands]="commands"
        [(activeItem)]="activeItem"
        [(selection)]="selection"
        (scrollBottom)="onScrollToBottom()">

        <bl-column name="id" [defaultWidth]="200">
            <div *blHeadCellDef>ID</div>
            <div *blCellDef="let task">{{task.id}}</div>
        </bl-column>

        <bl-column name="state">
            <div *blHeadCellDef>State</div>
            <div *blCellDef="let task">
                <bl-task-state [task]="task"></bl-task-state>
            </div>
        </bl-column>

        <bl-column name="runTime" [defaultWidth]="120">
            <div *blHeadCellDef>Runtime</div>
            <div *blCellDef="let task"><bl-task-runtime [task]="task"></bl-task-runtime></div>
        </bl-column>

        <bl-column name="creationTime" [defaultWidth]="120">
            <div *blHeadCellDef>Created</div>
            <div *blCellDef="let task"><bl-date [date]="task.creationTime"></bl-date></div>
        </bl-column>

        <bl-column name="startTime" [defaultWidth]="120">
            <div *blHeadCellDef>Started</div>
            <div *blCellDef="let task"><bl-date [date]="task.executionInfo?.startTime"></bl-date></div>
        </bl-column>

        <bl-column name="endTime"  [defaultWidth]="120">
            <div *blHeadCellDef>Completed</div>
            <div *blCellDef="let task"><bl-date [date]="task.executionInfo?.endTime"></bl-date></div>
        </bl-column>

        <bl-column name="exitCode"  [defaultWidth]="70">
            <div *blHeadCellDef>Exit code</div>
            <div *blCellDef="let task">{{task.executionInfo?.exitCode}}</div>
        </bl-column>
    </bl-table>
</bl-focus-section>
<bl-no-item [itemCount]="tasks.size" [status]="status">
    <i icon class="fa fa-tasks"></i>
    <span no-filter>No tasks</span>
    <span with-filter>No tasks match this filter</span>
</bl-no-item>

<bl-server-error class="error-in-list" [error]="data.error | async" *ngIf="status === LoadingStatus.Error"></bl-server-error>
