@import "app/styles/variables";

bl-vm-size-picker {
    display: block;
    .vm-size-list {
        height: 400px;
        border: 1px solid $border-color;
        border-top: none;
    }

    .vmsize-filters {
        display: flex;
        align-items: center;
        border: 1px solid $border-color;
        border-bottom: none;
        .search-input {
            flex: 1;
        }
        > * {
            margin: 5px;
        }
    }
}
