@import "app/styles/variables";

bl-aad-credentials-picker {
    display: block;
    margin: 10px;
    position: relative;
    height: calc(100% - 20px);
    width: calc(100% - 20px);

    .app-lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;

        > .app-list {
            // border: 1px solid $border-color;
            // border-bottom: none;
            background: $whitesmoke-darker;
        }
    }
}
