<div [formGroup]="form">
    <div class="grow">
        <div class="gcol">
            <bl-form-field class="form-element">
                <input blInput formControlName="name" placeholder="Name of endpoint">
            </bl-form-field>
            <bl-error controlName="name" code="required">Name of endpoint is a required field</bl-error>
            <bl-error controlName="name" code="duplicateValue">Name of endpoint must be unique</bl-error>
            <bl-error controlName="name" code="invalidValue">
                Name of endpoint can only contain letters, numbers, underscores, periods, and hyphens. Names must start with a letter or number, must end with a letter, number, or underscore, and cannot exceed {{EndpointHelper.ENDPOINTNAME_LENGTH}} characters
            </bl-error>
        </div>
        <div class="gcol">
            <bl-form-field class="form-element">
                <bl-select formControlName="protocol" color="primary" placeholder="Protocol" required>
                    <bl-option [value]="InboundEndpointProtocol.TCP" label="TCP"></bl-option>
                    <bl-option [value]="InboundEndpointProtocol.UDP" label="UDP"></bl-option>
                </bl-select>
            </bl-form-field>
        </div>
    </div>
    <div class="grow">
        <div class="gcol">
            <bl-form-field class="form-element">
                <input blInput type="number" formControlName="frontendPortRangeStart" placeholder="Frontend port start">
            </bl-form-field>
            <bl-error controlName="frontendPortRangeStart" code="required">Frontend port start is a required field</bl-error>
            <bl-error controlName="frontendPortRangeStart" code="invalidRange">Frontend port must be between {{EndpointHelper.MININUM_PORT}} and {{EndpointHelper.MAXIMUM_FRONTEND_PORT}}</bl-error>
            <bl-error controlName="frontendPortRangeStart" code="reservedPort">Ports from {{EndpointHelper.MINIMUM_RESERVED_FRONTEND_PORT}} to {{EndpointHelper.MAXIMUM_RESERVED_FRONTEND_PORT}} are reserved by the Batch service</bl-error>
        </div>
        <div class="gcol">
            <bl-form-field class="form-element">
                <input blInput type="number" formControlName="frontendPortRangeEnd" placeholder="Frontend port end">
            </bl-form-field>
            <bl-error controlName="frontendPortRangeEnd" code="required">Frontend port end is a required field</bl-error>
            <bl-error controlName="frontendPortRangeEnd" code="invalidRange">Frontend port must be between {{EndpointHelper.MININUM_PORT}} and {{EndpointHelper.MAXIMUM_FRONTEND_PORT}}</bl-error>
            <bl-error controlName="frontendPortRangeEnd" code="reservedPort">Ports from {{EndpointHelper.MINIMUM_RESERVED_FRONTEND_PORT}} to {{EndpointHelper.MAXIMUM_RESERVED_FRONTEND_PORT}} are reserved by the Batch service</bl-error>
        </div>
        <div class="gcol">
            <bl-form-field class="form-element">
                <input blInput type="number" formControlName="backendPort" placeholder="Backend port">
            </bl-form-field>
            <bl-error controlName="backendPort" code="required">Backend port is a required field</bl-error>
            <bl-error controlName="backendPort" code="duplicateValue">Backend port must be unique</bl-error>
            <bl-error controlName="backendPort" code="invalidRange">Backend port must be between {{EndpointHelper.MININUM_PORT}} and {{EndpointHelper.MAXIMUM_BACKEND_PORT}}</bl-error>
            <bl-error controlName="backendPort" code="reservedPort">{{ EndpointHelper.RESERVED_BACKEND_PORT.join(", ") }} are reserved by the Batch service</bl-error>
        </div>
    </div>
    <div *ngIf="form.errors?.invalidFrontEnd" class="form-error">
        Front end port start must be smaller than front end port end.
    </div>
    <div *ngIf="form.errors?.insufficientPorts" class="form-error">
        Front end port range must contain at least {{EndpointHelper.MINIMUM_FRONTEND_PORT_RANGE}} ports.
    </div>
    <div *ngIf="form.errors?.overlappedRange" class="form-error">
        Front end port range is overlapped with range {{form.errors?.overlappedRange.start}} - {{form.errors?.overlappedRange.end}}
    </div>
    <div class="form-element pad-top">
        <h4>Network security group rules</h4>
        <bl-network-security-group-rules
            formControlName="networkSecurityGroupRules">
        </bl-network-security-group-rules>
        <div *ngIf="networkSecurityGroupRules.errors?.duplicatePriority" class="form-error">
            Network security rule priority must be unique within batch pool
        </div>
        <div *ngIf="networkSecurityGroupRules.errors?.outOfRange" class="form-error">
            Network security rule priority must be between {{EndpointHelper.MINIMUM_SECURITY_GROUP_RULE_PRIORITY}} and {{EndpointHelper.MAXIMUM_SECURITY_GROUP_RULE_PRIORITY}}
        </div>
        <div *ngIf="networkSecurityGroupRules.errors?.maximumReached" class="form-error">
            Number of network security rules can not exceed {{EndpointHelper.MAXIMUM_SECURITY_GROUP_RULES}}
        </div>
        <div *ngIf="form.errors?.duplicatePriority" class="form-error">
            Network security rule priority is already defined in other inbound NAT pools
        </div>
    </div>
</div>
