<div [formGroup]="form" class="editable-table">
    <div *ngIf="virtualNetworks && virtualNetworks.length > 0">
        <table class="noselect" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>Virtual Network</th>
                    <th>Subnet</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <mat-select formControlName="virtualNetwork">
                            <mat-option *ngFor="let virtualNetwork of virtualNetworks;trackBy: trackVirtualNetwork" [value]="virtualNetwork.id">
                                ({{ virtualNetwork.category }}) {{ virtualNetwork.name }}
                            </mat-option>
                        </mat-select>
                    </td>
                    <td>
                        <mat-select formControlName="subnet">
                            <ng-container *ngIf="subnets">
                                <mat-option *ngFor="let subnet of subnets;trackBy: trackSubnet" [value]="subnet.id">
                                    {{ subnet.name }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            Virtual network subnet which the compute nodes of the pool will join: {{ subnet }}
        </div>
    </div>
    <div *ngIf="virtualNetworks && virtualNetworks.length === 0">
        There are no virtual networks available under subscription '{{subscriptionId}}' and location '{{location}}'.
    </div>
</div>
