@import "app/styles/variables";

bl-job-graphs-home {
    $padding: 10px;
    $graph-header-height: 50px;
    $graph-height: calc(#{$contentview-height} - #{$graph-header-height + $padding * 2});


    display: block;
    position: relative;
    padding: $padding;
    height: $contentview-height;

    .graph-header {
        height: $graph-header-height;
        h1 {
            color: $mineshaft-grey;

            a {
                color: map-get($primary, 400);
            }
        }

        .description {
            color: $mineshaft-grey;
            font-style: italic;
        }
    }

    .graph-container {
        height: $graph-height;
    }
}
