<div class="graph-header">
    <div class="summary">
        <h1>
            Job
            <a [routerLink]="['/jobs', jobId]">{{jobId}}</a> graphs
        </h1>
        <span class="description">{{description}}</span>
    </div>
    <div class="task-count" *ngIf="!loading">
        {{taskCount}} tasks completed

        <span *ngIf="taskCount !== tasks.size">
            (Only {{tasks.size}} are loaded.
            <bl-clickable (do)="refresh()">Refresh</bl-clickable>)</span>
    </div>
    <div class="actions">
        <bl-download-button [action]="downloadCsv"></bl-download-button>
        <bl-refresh-btn [refresh]="refresh"></bl-refresh-btn>
    </div>
    <div class="buttons">
        <div class="btn" (click)="updateGraph(AvailableGraph.runningTime)" [class.active]="currentGraph === AvailableGraph.runningTime">
            Tasks running time
        </div>
        <div class="btn" (click)="updateGraph(AvailableGraph.progress)" [class.active]="currentGraph === AvailableGraph.progress">
            Job progress
        </div>
    </div>
</div>
<div *ngIf="job" class="graph-container" [ngSwitch]="currentGraph">
    <bl-tasks-running-time-graph *ngSwitchCase="AvailableGraph.runningTime" [job]="job" [tasks]="tasks"></bl-tasks-running-time-graph>
    <bl-job-progress-graph *ngSwitchCase="AvailableGraph.progress" [job]="job" [tasks]="tasks"></bl-job-progress-graph>

</div>
<div class="info-overlay" *ngIf="loading">
    <ng-container *ngIf="loadingFromCache">
        Loading tasks from local cache.
    </ng-container>
    <ng-container *ngIf="!loadingFromCache">
        Loading tasks. This can take a long time. ({{taskLoadedProgress}}/{{taskCount}})
    </ng-container>
</div>
