<div class="graph-header">
    <h1>
        Job <a [routerLink]="['/jobs', jobId]">{{jobId}}</a> graphs
    </h1>
    <span class="description">This graphs shows the running time of each completed tasks in this job(Each point represent a task).</span>
</div>
<div *ngIf="job" class="graph-container">
    <!-- <bl-tasks-running-time-graph [job]="job" [tasks]="tasks"></bl-tasks-running-time-graph> -->
    <bl-job-progress-graph [job]="job" [tasks]="tasks"></bl-job-progress-graph>
</div>
<div class="loading-overlay" *ngIf="loading">
    Loading tasks. This can take a long time.
</div>
