<div  class="slideout-form content-wrapper">
    <h1>Create job</h1>
    <p>Adds a job to the selected account</p>

    <bex-create-form [formGroup]="createJobForm" [submit]="submit" [sidebarRef]="sidebarRef">
        <form novalidate [formGroup]="createJobForm">
            <div class="form-element">
                <md-input id="id" formControlName="id" placeholder="Id"></md-input>
                <div *ngIf="createJobForm.hasError('required', ['id'])" class="required-alert">Id is a required field</div>
                <div *ngIf="createJobForm.hasError('maxlength', ['id'])" class="required-alert">Id has a maximum length of 64 characters</div>
                <div *ngIf="createJobForm.hasError('pattern', ['id'])" class="required-alert">Id can contain any combination of alphanumeric characters including hyphens and underscores.</div>
            </div>

            <div class="form-element">
                <md-input formControlName="displayName" placeholder="Display name"></md-input>
                <div *ngIf="createJobForm.hasError('maxlength', ['displayName'])" class="required-alert">Display name has a maximum length of 1024 characters</div>
            </div>

            <div class="form-element">
                <md-input formControlName="priority" placeholder="Priority" type="number"></md-input>
                <div *ngIf="createJobForm.hasError('validateRange', ['priority'])" class="required-alert">Priority values can range from -1000 to 1000</div>
            </div>

            <div formGroupName="constraints">
                <div class="form-element">
                    <md-input formControlName="maxTaskRetryCount" placeholder="Max retry count" type="number"></md-input>
                    <div *ngIf="constraintsGroup.hasError('validateRange', ['maxTaskRetryCount'])" class="required-alert">Retry count values can range from -1 to 100</div>
                </div>
            </div>

            <div formGroupName="poolInfo">
                <div class="form-element">
                    <h4>Select a pool to run the job on</h4>
                    <select formControlName="poolId">
                        <option *ngFor="let pool of poolsData.items | async" value="{{pool.id}}">{{pool.id}}</option>
                    </select>
                    <div *ngIf="poolInfoGroup.hasError('required', ['poolId'])" class="required-alert">You must select a pool for this job to run on</div>
                </div>
            </div>
        </form>
    </bex-create-form>
</div>
