<template>
    <div class="form-section" *ngFor="let section of sections; let i = index">
        <div class="section-title" *ngIf="section.title">
            <span class="step-index">{{i + 1}}</span>
            <div class="step-header">
                <h3>{{section.title}}</h3>
                <p>{{section.subtitle}}</p>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="section-bar" *ngIf="section.title">
            </div>
            <div class="section-content">
                <template [ngTemplateOutlet]="section.content"></template>
            </div>
        </div>
    </div>
</template>
