<ng-template>
    <div class="form-section" *ngFor="let section of sections;trackBy: trackByFn let i = index">
        <div class="section-title" *ngIf="section.title">
            <span class="step-index">{{i + 1}}</span>
            <div class="step-header">
                <h3>{{section.title}}</h3>
                <p>{{section.subtitle}}</p>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="section-bar" *ngIf="section.title">
            </div>
            <div class="section-content">
                <ng-template [ngTemplateOutlet]="section.content"></ng-template>
            </div>
        </div>
    </div>
</ng-template>
