@import "app/styles/variables";

.form-section {
    margin-left: 8px;

    > .section-title {
        display: flex;
        align-items: center;


        > .step-index {
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background: map-get($md-prussian-blue, 300);
            border-radius: 99%;
            font-size: 14px;
            color: $whitesmoke;
            margin-right: 10px;
        }

        > .step-header {
            padding-top: 8px;

            h3 {
                color: black;
            }
        }


        margin-bottom: 5px;
    }

    .section-wrapper {
        display: flex;
        max-width: 100%;

        > .section-bar {
            border-right: 1px solid rgba(0, 0, 0, 0.12);
            margin: 10px 20px 10px 15px;
        }

        > .section-content {
            flex: 1;
            padding: 5px;
            overflow: hidden;
        }
    }
}
