<bl-simple-form [submit]="startDownload"
                [containerRef]="dialogRef"
                [multiUse]="false"
                [formGroup]="patterns"
                [title]="title"
                actionName="Download">
    <div>
        <bl-form-field class="form-element">
            <textarea blInput placeholder="Pattern of files to include(1 per line)" [formControl]="patterns" matTextareaAutosize matAutosizeMaxRows="10"></textarea>
            <bl-hint align="end">e.g. **/*.png for all png files recursively. subfolder/* for all files in subfolder</bl-hint>
        </bl-form-field>
    </div>
    <div blFormSummary>
        <bl-directory-picker label="" (onChange)="downloadFolder.setValue($event)">
            Change
        </bl-directory-picker>
        <span>{{downloadFolder.value}}</span>
    </div>
</bl-simple-form>
