@import "app/styles/variables";

@keyframes animScale {
    0% {
        opacity: 0;
        transform: translate3d(0, 40px, 0) scale3d(0.1, 0.6, 1);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}

bl-toasts-container {
    margin: 30px 10px;
    position: fixed;
    z-index: $zindex-notification;
    pointer-events: none;

    &.tl {
        top: 0;
        bottom: auto;
        left: 0;
        right: auto;
    }

    &.tr {
        top: 0;
        bottom: auto;
        left: auto;
        right: 0;
        text-align: right;
    }

    &.tc {
        top: 0;
        bottom: auto;
        left: 50%;
        margin: 0 auto 0 -(defaultWidth / 2);
        text-align: center;
    }

    &.bl {
        top: auto;
        bottom: 0;
        left: 0;
        right: auto;
    }

    &.br {
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
        text-align: right;
    }

    &.bc {
        top: auto;
        bottom: 0;
        left: 50%;
        margin: 0 auto 0 -(defaultWidth / 2);
        text-align: center;
    }
}
