<bex-focus-section>
    <bex-quick-list *ngIf="quickList">
        <bex-quick-list-item *ngFor="let file of files| fileDirectoryFilter" [routerLink]="baseUrl.concat(['files', file.name])"
            [key]="file.url">
            <bex-quick-list-item-status [status]="" [tooltip]="">
            </bex-quick-list-item-status>

            <h4 bex-quick-list-item-title>{{file.name}}</h4>
            <p bex-quick-list-item-field>{{file.properties.contentLength}} bytes</p>
        </bex-quick-list-item>
    </bex-quick-list>

    <bex-table *ngIf="!quickList">
        <bex-thead>
            <bex-column>Name</bex-column>
            <bex-column>Content Length</bex-column>
        </bex-thead>
        <bex-row *ngFor="let file of files | fileDirectoryFilter" [routerLink]="baseUrl.concat(['files', file.name])" [key]="file.url">
            <bex-cell>{{file.name}}</bex-cell>
            <bex-cell>{{file.properties.contentLength}}</bex-cell>
        </bex-row>
    </bex-table>
    <bex-no-item [itemCount]="(files  | fileDirectoryFilter).size" [filter]="filter" [status]="status">
        <i icon class="fa fa-tv"></i>
        <span no-filter>No files</span>
        <span with-filter>No files match this filter</span>
    </bex-no-item>
</bex-focus-section>
