@import "app/styles/variables";

bl-pool-configuration {
    // static colors for deprecation warnings
    .certificate-deprecation-warning {
        > .warning {
            background-color: var(--color-warn-50);
            // Primary text color was not dark enough to contrast with link color. Deepened it 6 shades.
            color: #201F1E;

            > .summary-container {

                &.standard {
                    height: unset;
                }

                > .message {
                    white-space: normal;
                }
            }
        }
    }

    .certificate-warning-alternative-link {
        color: var(--color-primary-600);
    }
}
