<bl-select [filterable]="true" [placeholder]="'models.storageAccount' | i18n" [ngModel]="pickedStorageAccountId" (ngModelChange)="pickStorageAccountId($event)">
    <bl-option *ngFor="let option of additionalOptions;trackBy: trackOption"
        [value]="option.value"
        [label]="option.label"
        [disabled]="option.disabled">
    </bl-option>
    <bl-option *ngFor="let storageAccount of storageAccounts;trackBy: trackStorageAccount"
        [value]="storageAccount.id"
        [label]="storageAccount.name">
    </bl-option>

    <bl-option [disabled]="true" *ngIf="loading">
        <i class="fa fa-spinner fa-spin"></i> {{'common.loading' | i18n}}
    </bl-option>
</bl-select>
