<div class="content" *ngIf="currentPage">
    <div class="content-wrapper">
        <div class="header">
            <div *ngIf="_pageStack.length > 0">
                <bl-button type="wide" color="primary" [action]="closePage">Back</bl-button>
            </div>
            <div class="main">
                <h1 *ngIf="currentPage.title">{{currentPage.title}}</h1>
                <p *ngIf="currentPage.subtitle">{{currentPage.subtitle}}</p>
            </div>
        </div>
        <div *ngIf="!showJsonEditor" class="classic-form-container">
            <form novalidate>
                <ng-template [ngTemplateOutlet]="currentPage.content"></ng-template>
            </form>
        </div>

        <div *ngIf="showJsonEditor" class="json-editor-container">
            <bl-form-json-editor [formControl]="jsonValue" [fileUri]="fileUri"></bl-form-json-editor>
        </div>
        <div class="loading-overlay" *ngIf="loading"></div>
    </div>
</div>
<div class="form-server-error" *ngIf="showError">
    <bl-server-error [error]="error"></bl-server-error>
</div>
<bl-form-footer class="form-footer" *ngIf="!hideFooter"
    [config]="config"
    [waitingForAsyncTask]="waitingForAsyncTask"
    [asyncTasks]="asyncTaskList"
    [jsonValue]="jsonValue"
    [showJsonEditor]="showJsonEditor"
    [actionConfig]="actionConfig"
    [currentPage]="currentPage"
    [formGroup]="formGroup"
    [error]="error"
    [(showError)]="showError"
    (showJsonEditorChanges)="toggleJsonEditor($event)">

    <ng-content blFormSummary select="[blFormSummary]"></ng-content>
</bl-form-footer>
