<a class="application local-templates" title="All your local templates" routerLink="/market/local">
    <i class="fa fa-desktop logo"></i>
    <div class="name">Local templates</div>
</a>
<a *ngFor="let application of displayedApplications;trackBy: trackApplication" class="application"
    [title]="application.description" [routerLink]="['/market', application.id, 'actions']">
    <img class="logo" [src]="application.icon" alt="Logo of {{application.name}}">
    <div class="name">{{application.name}}</div>
</a>
