@import "app/styles/variables";


bl-gallery-application-list {
    .application {
        vertical-align: bottom;
        cursor: pointer;
        display: inline-block;
        width: 150px;
        height: 210px;
        margin: 10px;
        padding: 5px;

        background: $card-background;

        &:hover {
            background: $hover-bg-color;
        }

        img.logo {
            width: 140px;
            height: 140px;
        }

        .name {
            padding: 15px 0;
            text-align: center;
            font-size: 20px;
            font-weight: 300;
        }
    }

    .application.local-templates {
        .fa.logo {
            // color: $primary-color
            text-align: center;
            vertical-align: middle;
            font-size: 112px;
            line-height: 140px;
            height: 140px;
            width: 140px;
        }
    }
}
