<a class="application local-templates" title="All your local templates" routerLink="/market/local">
    <i class="fa fa-desktop logo"></i>
    <div class="name">Local templates</div>
</a>
<bl-clickable
    *ngFor="let application of displayedApplications;trackBy: trackApplication"
    class="application"
    [class.active]="application.id === active"
    [title]="application.description"
    (do)="selectApplication(application)">
    <img class="logo" [src]="application.icon" alt="Logo of {{application.name}}">
    <div class="name">{{application.name}}</div>
</bl-clickable>
