@import "app/styles/variables";

bl-pool-nodes-preview {

    &.small {
        font-size: 10px;
    }

    &.large {
        font-size: 24px;
    }

    &.resize-error {
        color: map-get($danger, 500);
        font-weight: bold;
    }

    .fa {
        margin-right: 2px;
    }
}
