<bl-clickable class="group-header" (do)="toogleCollapsed()" *ngIf="label" [attr.aria-expanded]="!collapsed" [attr.aria-owns]="contentId">
    <div class="collapse-icon" *ngIf="collapsable">
        <i class="fa fa-caret-right" *ngIf="collapsed"></i>
        <i class="fa fa-caret-down" *ngIf="!collapsed"></i>
    </div>
    <h4 class="noselect">{{label}}</h4>
    <span *ngIf="collapsed">
        <ng-content select="[collapsed-preview]"></ng-content>
    </span>
    <bl-button color="light" type="round" [action]="triggerEdit" *ngIf="edit"><i class="fa fa-pencil"></i></bl-button>
</bl-clickable>
<div class="group-content" *ngIf="!collapsed" [id]="contentId" role="application">
    <div class="warning-message" *ngIf="warningMessage">
        <i class="fa fa-warning"></i>
        <span>{{warningMessage}}</span>
    </div>
    <ng-content></ng-content>
</div>
