<div class="header">
    <bl-button type="square" (do)="cancel.emit()" title="Back">
        <i class="fa fa-arrow-left"></i>
    </bl-button>
    <h2>Step 2: Retrieve a secret for {{application.displayName}}</h2>
</div>
<div class="permissions">
    <h4>Permissions</h4>
    <table>
        <tr key="batch">
            <td [title]="account.id" id="permissions_batch_account">Batch account</td>
            <td>
                <bl-resource-permission-button labelledBy="permissions_batch_account" [resourceId]="account.id" [principalId]="principalId"></bl-resource-permission-button>
            </td>
        </tr>
        <tr *ngIf="storageAccountId" key="storage">
            <td [title]="storageAccountId" id="permissions_storage_account">Storage account</td>
            <td>
                <bl-resource-permission-button labelledBy="permissions_storage_account" [resourceId]="storageAccountId" [principalId]="principalId"></bl-resource-permission-button>
            </td>
        </tr>
    </table>
</div>

<div class="secrets" *ngIf="application">
    <h4>Secret</h4>
    <div *ngIf="passwordCredentials.size > 0">
        There is already {{passwordCredentials.size}} secret(s) associated to this application
    </div>
    <div class="secrets-form">
        <bl-aad-app-secret-picker [formControl]="secret">
        </bl-aad-app-secret-picker>

        <bl-button type="wide" color="primary" [action]="addNewSecret" matTooltip="Add a new secret without modifing the existing ones">
            Add
        </bl-button>

        <bl-button *ngIf="passwordCredentials.size > 0" type="wide" color="danger" [action]="resetCredentials" matTooltip="Reset credentials. This will remove all existing secrets and replace it with a new one">
            Reset
        </bl-button>
    </div>
</div>
