<bl-complex-form
    [formGroup]="form"
    size="fit"
    [stickyFooter]="modeState !== NcjTemplateMode.None"
    [containerRef]="containerRef"
    [submit]="submit"
    [actionName]="actionName"
    [hideFooter]="modeState === NcjTemplateMode.None">

    <bl-form-page [title]="title" main-form-page [formGroup]="form">
        <bl-form-section title="Mode" *ngIf="multipleModes">
            <div class="modes">
                <bl-button type="wide" [class.selected]="modeState === NcjTemplateMode.NewPoolAndJob" (do)="pickMode(NcjTemplateMode.NewPoolAndJob)">Run job with auto pool</bl-button>
                <bl-button type="wide" [class.selected]="modeState === NcjTemplateMode.ExistingPoolAndJob" (do)="pickMode(NcjTemplateMode.ExistingPoolAndJob)">Run job with existing pool</bl-button>
                <bl-button type="wide" [class.selected]="modeState === NcjTemplateMode.NewPool" (do)="pickMode(NcjTemplateMode.NewPool)">Create pool for later use</bl-button>
            </div>
        </bl-form-section>
        <bl-form-section title="Pool" formGroupName="pool" *ngIf="showPoolForm">
            <div *ngFor="let param of poolParametersWrapper;trackBy: trackParameter">
                <bl-parameter-input [formControlName]="param.id" [parameter]="param" [parameterValues]="poolParams.value"> </bl-parameter-input>
            </div>
        </bl-form-section>
        <bl-form-section title="Pool" *ngIf="showPoolPicker">
            <bl-pool-picker [formControl]="pickedPool"></bl-pool-picker>
        </bl-form-section>
        <bl-form-section title="Job" formGroupName="job" *ngIf="showJobForm">
            <div *ngFor="let param of jobParametersWrapper;trackBy: trackParameter">
                <bl-parameter-input [formControlName]="param.id" [parameter]="param" [parameterValues]="jobParams.value"></bl-parameter-input>
            </div>
        </bl-form-section>
    </bl-form-page>
</bl-complex-form>
