bl-account-details {
    .account-links {
        margin: 15px auto;
        text-align: center;

        .link {
            display: inline-block;
            width: 30%;
            min-width: 210px;
            font-size: 2em;
            color: $scorpion;
            text-align: center;

            .account-card-content {
                height: 300px;
            }
        }
    }
}
