<bl-clickable (do)="openSettingsContextMenu()" [matTooltip]="currentUserName" class="profile" matTooltipPosition="right">
    <i class="fa fa-user fa-lg"></i><div class="label">{{'profile-button.profile' | i18n}}</div>
    <ng-container [ngSwitch]="updateStatus">
        <div *ngSwitchCase="UpdateStatus.Checking" class="notification-overlay checking" >
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        <div *ngSwitchCase="UpdateStatus.Downloading" class="notification-overlay downloading" >
            <i class="fa fa-arrow-circle-o-down"></i>
        </div>
        <div *ngSwitchCase="UpdateStatus.Ready" class="notification-overlay ready">1</div>
    </ng-container>
</bl-clickable>
