<div class="storage-account-card">
    <div class="content">
        <div class="icon">
            <span class="fa fa-hdd-o"></span>
        </div>
        <div class="details">
            <h2 class="title">Storage account</h2>
            <div *ngIf="storageAccountId">
                <div *ngIf="storageAccount">
                    {{storageAccount.name}}
                </div>
                    <div *ngIf="!storageAccount && error" class="error" [title]="error.message">
                    {{error.statusText}}
                </div>
                <div *ngIf="!storageAccount && !error">
                    Loading...
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <bl-button type="wide" class="edit" [action]="edit">
            <span *ngIf="storageAccountId">
                Edit
            </span>
            <span *ngIf="!storageAccountId">
                Setup
            </span>
        </bl-button>
    </div>
</div>
