<bl-complex-form [formGroup]="form" [submit]="submit" [containerRef]="sidebarRef">
    <bl-form-page main-form-page [title]="title" [formGroup]="form">
        <bl-form-section title="General info" subtitle="Basic information about the batch account">
            <div class="form-element">
                <bl-form-field>
                    <input blInput formControlName="name" placeholder="Account name" />
                    <div blFormFieldSuffix *ngIf="selectedLocation">{{accountUrlSuffix}}</div>
                </bl-form-field>
                <bl-error controlName="name" code="required">Account name is a required field</bl-error>
                <bl-error controlName="name" code="minLength">Account name has a minimum length of 3 characters</bl-error>
                <bl-error controlName="name" code="maxlength">Account name has a maximum length of 64 characters</bl-error>
                <bl-error controlName="name" code="pattern">Account name can contain lower case letters and numbers</bl-error>
                <bl-error controlName="name" code="accountExists">{{ form.controls.name.errors?.accountExists?.message }}</bl-error>
                <bl-error controlName="name" code="serverError">{{ form.controls.name.errors?.serverError }}</bl-error>
            </div>
            <div class="form-element">
                <bl-subscription-picker formControlName="subscription"></bl-subscription-picker>
                <bl-error controlName="subscription" code="required">Subscription is a required field</bl-error>
            </div>
            <div class="form-element" *ngIf="selectedSubscription">
                <mat-form-field>
                    <input matInput [matAutocomplete]="auto" formControlName="resourceGroup" placeholder="Resource group" />
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayResourceGroup">
                        <mat-option *ngFor="let resourceGroup of resourceGroups;trackBy: trackByResourceGroup" [value]="resourceGroup">
                            {{resourceGroup.name}} ({{resourceGroup.location}})
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <bl-error controlName="resourceGroup" code="required">Resource group is a required field</bl-error>
                <bl-error controlName="resourceGroup" code="noPermission">You don't have permission to create a batch account under this resource group</bl-error>
                <bl-error controlName="resourceGroup" code="serverError">{{ form.controls.resourceGroup.errors?.serverError }}</bl-error>
                <span *ngIf="isNewResourceGroup">This resource group doesn't exist yet, and it will be created before batch account.</span>
                <span *ngIf="!resourceGroups.length">No resources groups available in subscription '{{selectedSubscription.displayName}}'</span>
            </div>
            <div class="form-element" *ngIf="selectedSubscription">
                <ng-container *ngIf="locations.length">
                    <bl-select formControlName="location" placeholder="Location" [filterable]="true">
                        <bl-option *ngFor="let location of locations;trackBy: trackByLocation" [value]="location" label="{{location.displayName}} ({{location.name}})">

                        </bl-option>
                    </bl-select>
                    <bl-error controlName="location" code="required">Location is a required field</bl-error>
                    <bl-error controlName="location" code="quotaReached">
                        You've already reached your quota {{form.controls.location.errors?.quotaReached?.used}} out of {{form.controls.location.errors?.quotaReached?.quota}}
                        accounts for subscription '{{selectedSubscription.displayName}}' in this location '{{selectedLocation?.displayName}}'.
                        You can request a an account quota increase, create the account in another location, or create the
                        account in another subscription.
                    </bl-error>
                    <bl-error controlName="location" code="serverError">{{ form.controls.location.errors?.serverError }}</bl-error>
                </ng-container>
                <span *ngIf="!locations.length">No locations available in subscription '{{selectedSubscription.displayName}}'</span>
            </div>
        </bl-form-section>
        <bl-form-section title="Storage account" subtitle="Pick a storage account that will be assigned with this batch account.">
            <span *ngIf="!account">Please specify subscription and location before picking a storage account.</span>
            <div class="form-element" *ngIf="account">
                <bl-auto-storage-account-picker formControlName="storageAccountId" [account]="account"></bl-auto-storage-account-picker>
            </div>
        </bl-form-section>
    </bl-form-page>
</bl-complex-form>
