// Themes
@import "./theme/variables";
@import "./theme/mixins";
@import "./theme/type";

// Base styles
@import "./base/banner";
@import "./base/background-task";
@import "./base/breadcrumbs";
@import "./base/buttons";
@import "./base/graphs/gauge";
@import "./base/list-and-show-layout";
@import "./base/focus-section";
@import "./base/forms";
@import "./base/layout";
@import "./base/scaffolding";
@import "./base/dropdown";
@import "./base/list";
@import "./base/loading";
@import "./base/notifications";
@import "./base/property-list";
@import "./base/scrollable";
@import "./base/advanced-filter";
@import "./base/server-error";
@import "./base/table";
@import "./base/tags";

// Account styles
@import "./account/details";
@import "./account/browse";

// Pool styles
@import "./pool/base";
@import "./pool/graphs";
@import "./pool/create";
@import "./pool/heatmap";

// Job styles
@import "./job/base";
@import "./job/details";
@import "./job/form";

// Node styles
@import "./node/connect";

//Task styles
@import "./task/base";
@import "./task/form";
@import "./task/output";
@import "./task/timeline";

// File styles
@import "./file/browse";
@import "./file/log";

// Partial styles
@import "./partials/grid";
@import "./partials/header";
@import "./partials/loading-indicators";
@import "./partials/navigation";
@import "./partials/refresh-btn";
@import "./partials/icons";

// Vendor styles
@import "./vendor/angular-extras";
@import "./vendor/material-theme.scss";
