// Themes
@import "./theme/variables";
@import "./theme/mixins";
@import "./theme/type";

// Base styles
@import "./base/banner";
@import "./base/background-task";
@import "./base/breadcrumbs";
@import "./base/buttons";
@import "./base/list-and-show-layout";
@import "./base/focus-section";
@import "./base/forms";
@import "./base/layout";
@import "./base/scaffolding";
@import "./base/dropdown";
@import "./base/list";
@import "./base/loading";
@import "./base/notifications";
@import "./base/property-list";
@import "./base/scrollable";
@import "./base/advanced-filter";
@import "./base/server-error";
@import "./base/table";

// Account styles
@import "./account/details";
@import "./account/browse";

// Pool styles
@import "./pool/base";
@import "./pool/graphs";
@import "./pool/create";
@import "./pool/heatmap";

// Job styles
@import "./job/base";

// Node styles
@import "./node/connect";

//Task styles
@import "./task/base";
@import "./task/form";
@import "./task/output";
@import "./task/timeline";

// File styles
@import "./file/browse";
@import "./file/log";

// Partial styles
@import "./partials/grid";
@import "./partials/header";
@import "./partials/loading-indicators";
@import "./partials/navigation";
@import "./partials/refresh-btn";
@import "./partials/icons";

// Vendor styles
@import "./vendor/angular-extras";
@import "./vendor/material-theme.scss";


.ct-line.ct-threshold-above, .ct-point.ct-threshold-above, .ct-bar.ct-threshold-above {
    stroke: #f05b4f;
}

.ct-line.ct-threshold-below, .ct-point.ct-threshold-below, .ct-bar.ct-threshold-below {
    stroke: #59922b;
}

.ct-area.ct-threshold-above {
    fill: #f05b4f;
}

.ct-area.ct-threshold-below {
    fill: #59922b;
}
