bl-generate-aad-app-secret {
    h1 {
        padding: 10px;
    }

    .permissions {
        padding: 10px;
    }
    .secrets {
        padding: 10px;
        .secrets-form {
            display: flex;
            align-items: center;

            > bl-button {
                margin: 5px;
            }
        }
    }
}
