bl-generate-aad-app-secret {
    > .header {
        padding: 10px;
        display: flex;
        h1 {
            margin-left: 10px;
        }
    }

    .permissions {
        padding: 10px;
    }
    .secrets {
        padding: 10px;
        .secrets-form {
            display: flex;
            align-items: center;

            > bl-button {
                margin: 5px;
            }
        }
    }
}
