@import "app/styles/variables";

//
// outline: none;

.quick-list-item {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 48px;
    white-space: nowrap;

    &.selected {
        background-color: $primary-color-light;

        [bl-quick-list-item-title] {
            font-size: 14px;
            color: $card-background;
        }

        [bl-quick-list-item-field] {
            color: $card-background;
        }
    }

    &.focused {
        background-color: $primary-color;
    }

    &:hover:not(.selected) {
        background-color: $selection-color;
    }

    [bl-quick-list-item-title] {
        font-size: 14px;
        color: $primary-text;
    }

    [bl-quick-list-item-field] {
        color: $secondary-text;
    }

    .quick-list-details {
        flex: 1 1 auto;
        overflow: hidden;
        padding: 5px;
        text-overflow: ellipsis;
        min-width: 0;


        [bl-quick-list-item-title], [bl-quick-list-item-field] {
            display: flex;
            overflow: hidden;
            text-overflow: ellipsis;

            > bl-tags {
                margin-left: 5px;
            }
        }
    }

    [bl-quick-list-item-preview] {
        padding: 5px;

        i {
            padding-left: 4px;
        }

        .fa-hourglass-half {
            color: map-get($primary, 400);
        }
    }

    bl-quick-list-item-status {
        position: relative;
        color: map-get($primary, 500);
        flex: 0 0 8px;
        display: flex;
        align-items: stretch;
        > .status-badge {
            width: 100%;

            &.warning {
                background-color: $danger-color;
            }

            &.lightaccent {
                background: map-get($primary, 100);

            }

            &.accent {
                background: map-get($primary, 300);
            }

            &.important {
                background: repeating-linear-gradient(
                    45deg,
                    transparent,
                    transparent 5px,
                    $concreteGray 5px,
                    $concreteGray 10px
                ), map-get($primary, 500);
            }
        }
    }

    .select-item-container {
        width: 17px;
        padding: 7px 0 0 3px;
    }

    .quick-list-details {
        flex: 1 1 auto;
        overflow: hidden;
        padding: 3px;
        text-overflow: ellipsis;
        min-width: 0;

        [bl-quick-list-item-title], [bl-quick-list-item-field] {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    [bl-quick-list-item-preview] {
        padding: 3px 10px 0 0;
    }

    .quick-list-other {
        .select-item-checkbox {
            position: absolute;
            right: 0;

        }
    }
}
