<bl-card [class]="type">
    <div class="summary-container" [ngClass]="height" (click)="showDetails = !showDetails && details.children.length !== 0" [class.expandable]="details.children.length !== 0">
        <ng-content select="[code]"></ng-content>
        <div class="message">
            <ng-content select="[message]"></ng-content>
        </div>
        <div class="quick-fix-btn-container noselect" *ngIf="fixMessage" (mouseleave)="showOtherFixes = false">
            <div class="btn" (click)="triggerFix()" [ngSwitch]="state" [class.disabled]="state !== errorStates.Error">
                <span *ngSwitchCase="errorStates.Error">Fix: {{ fixMessage }}</span>
                <span *ngSwitchCase="errorStates.Fixing">
                    <i class="fa fa-spinner fa-spin"></i> Fixing
                </span>
                <span *ngSwitchCase="errorStates.Fixed">
                    <i class="fa fa-check"></i>Fixed
                </span>
            </div>
            <div class="other-fixes-btn" *ngIf="otherFixes.length !== 0" (mouseenter)="state === errorStates.Error && showOtherFixes = true"  [class.disabled]="state !== errorStates.Error">
                <i class="fa fa-plus"></i>
            </div>
            <div *ngIf="showOtherFixes" class="other-fixes">
                <div *ngFor="let otherFix of otherFixes;trackBy: trackByFn" class="other-fix" (click)="triggerFix(otherFix)">
                    {{otherFix.fixMessage}}
                </div>
            </div>
        </div>
        <i class="caret fa" [class.fa-caret-left]="!showDetails" [class.fa-caret-down]="showDetails" *ngIf="details.children.length !== 0"></i>
    </div>
    <div class="details-container" [hidden]="!showDetails" #details>
        <ng-content select="[details]"></ng-content>
    </div>
</bl-card>
