@import "./material-colors";
@import "./zindex";

$orient: #00528c;
$regal-blue: #00416f;
$prussian-blue: #003153;
$midnight: #001e33;
$charcoal-blue: #000306;

$blue-lighter: $orient;
$blue-light: $regal-blue;
$blue-medium: $prussian-blue;
$blue-dark: $midnight;
$blue-darker: $charcoal-blue;

// Red
$red-light: #d46a6a;
$red: #aa3939;
$red-dark: #801515;

$grenadier          :  #dd2c00;
$fuzzyWuzzyBrown    :  #c74f54;
$buttonBrown        :  #c45151;
$crail              :  #c14848;
$vanillaIce         :  #efd0d0;

$yellow-light: #ffc267;
$yellow: #f4ad42;
$yellow-dark: #e39014;

//Green
$green-light: #77cc7d;
$green: #4caf50;
$green-dark: #388e3c;

$header-background: $blue-light;
$header-hover: $blue-medium;
$navigation-background: $blue-medium;
$navigation-hover: $blue-light;

// Black & white
//---------------------------------------------
$black              :  #000;
$white              :  #fff;
$offWhite           :  #fdfdfd;
$whitesmoke         :  #fafafa;
$whiteSmoke         :    $whitesmoke;
$whitesmoke-darker  :  #f5f5f5;
$whiteSmoke-darker  :    $whitesmoke-darker;
$snowDriftWhite     :  #fafcfa;

// Grays
//---------------------------------------------
$concreteGray       :  #f2f2f2;
$mercuryGray        :  #e5e5e5;
$athensGrey         :  #edeef2;
$altoGray           :  #dfdfdf;
$alto               :  #d5d5d5;
$tiaraGray          :  #d1d5d4;
$silverGray         :  #cccccc;
$dusty-grey         :  #9e9e9e;
$genericGray        :  #757575;
$dove-grey          :  #666666;
$scorpion           :  #5b5b5b;
$emperorGray        :  #535353;
$mineshaft-grey     :  #333333;
$mineShaftGray      :  $mineshaft-grey;

// Status Colours
//---------------------------------------------
$warningText        :  #c09853;
$errorText          :  #b94a48;
$infoText           :  #3a87ad;
$successText        :  #468847;


// Text
//---------------------------------------------
$headings-color      : $prussian-blue;
$link-color          : map-get($md-prussian-blue, 700);
$link-color-hover    : map-get($md-prussian-blue, 800);
$validation-error-color   : $red;
$label-text          : $dusty-grey;

// Typography
//---------------------------------------------
$segoeUiFontFamily         : wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
$segoiUiFontFamilySemibold : wf_segoe-ui_semibold, "Segoe UI Semibold", "Segoe WP Semibold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
$segoiUiFontFamilySemilight: wf_segoe-ui_semilight, "Segoe UI Semilight", "Segoe WP Semilight","Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
$segoiUiFontFamilyBold     : wf_segoe-ui_bold, "Segoe UI Bold", "Segoe WP Bold","Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;

$baseFontSize       : 10pt;
$baseFontFamily     : $segoeUiFontFamily;
$baseLineHeight     : 1.4em;
$lineHeightComputed : floor($baseFontSize * $baseLineHeight);
$altFontFamily      : $segoeUiFontFamily;

$headingsFontFamily : $segoeUiFontFamily;
$headingsFontWeight : semilight;
$headingWeightBold  : semibold;
$headingsLineHeight : $baseLineHeight;
$textColor          : $mineShaftGray;

$h1FontSize         : $baseFontSize * 1.8;
$h2FontSize         : $baseFontSize * 1.6;
$h3FontSize         : $baseFontSize * 1.4;
$h4FontSize         : $baseFontSize * 1.2;
$h5FontSize         : $baseFontSize * 1.1;
$h6FontSize         : $baseFontSize;


// Z-index master list
//---------------------------------------------
// Used for a bird"s eye view of components dependent on the z-axis
$zIndexTooltip          : 1001;
$zIndexModal            : 1002;
$zIndexModalMax         : 1003;

// Theme
$body-background: $whiteSmoke-darker;
$content-background :  $whiteSmoke-darker;
$listview-background :  white;
$footer-background: white;
$navigation-text: $whiteSmoke;

// Layout sizing
//---------------------------------------------
$header-height                       : 30px;
$navigationbar-width                 : 70px;
$listview-width                      : 350px;
$listview-filtering-width            : 55vw;
$listview-header-height              : 90px;
$footer-height                       : 0;
$content-top-position                : $header-height;
$contentview-height                  : calc(100vh - #{$header-height});
