@import "app/styles/variables";

bl-account-quotas-card {
    > div {
        height: 50%;
        &:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }
    }
    .quota {
        display: inline-block;
        width: 140px;
        height: 100%;
        padding: 3px 5px 0;
        vertical-align: top;

        > .label {
            font-size: 11px;
            color: $dusty-grey;
            height: 35%;
        }

        > .value {
            font-size: 15px;
            color: map-get($primary, 500);
            height: 65%;
            > .statistic {
                margin-bottom: 2px;
            }

            mat-progress-bar {
                height: 5px;
                margin-top: 12px;
                .mat-progress-bar-buffer {
                    background-color: transparent;
                }
                &.low-usage > .mat-progress-bar-fill:after {
                    background-color: $successText;
                }
                &.medium-usage > .mat-progress-bar-fill:after {
                    background-color: $warningText;
                }
                &.high-usage > .mat-progress-bar-fill:after {
                    background-color: $errorText;
                }
            }
        }

        &:not(:last-child) {
            border-right: 1px solid $border-color;
        }
    }
}
