@import "app/styles/variables";


bl-log-file-viewer {
    display: block;
    position: relative;

    bl-loading {
        height: 100%;

        .loading-content {
            height: 100%;
        }
    }

    .log-console {
        position: relative;
        background: $mineshaft-grey;
        color: $whiteSmoke;
        height: 100%;

        .log-container {
            height: 100%;
        }

        .follow-log-btn {
            position: absolute;
            z-index: 100;
            cursor: pointer;
            right: 20px;
            top: 40px;
            background: $mercuryGray;
            color: $mineshaft-grey;
            border-radius: 3px;
            padding: 2px 4px;

            &.bottom {
                top: auto;
                bottom: 0;
            }

            &.following {
                background: map-get($success, 500);
                color: $whiteSmoke-darker;
            }
        }
    }
}
