<bl-focus-section>
    <bl-quick-list *ngIf="quicklist" [status]="status" [(activeItem)]="activeItem" [(selection)]="selection" (scrollBottom)="onScrollToBottom()">
        <bl-quick-list-item *ngFor="let job of jobs; trackBy: trackByFn"
            [link]="['/jobs/', job.id]"
            [key]="job.id"
            [conceal]="job._notFiltered"
            [contextmenu]="contextmenu(job)">
            <bl-quick-list-item-status [status]="jobStatus(job)" [tooltip]="jobStatusText(job)">
            </bl-quick-list-item-status>

            <div bl-quick-list-item-title>{{job.id}}</div>
            <div bl-quick-list-item-field>
                {{job.state}}
                <bl-tags [tags]="job.tags" [maxTags]="3"></bl-tags>
            </div>
            <div bl-quick-list-item-preview>
                <bl-job-stats-preview [job]="job"></bl-job-stats-preview>
            </div>
        </bl-quick-list-item>
    </bl-quick-list>

    <bl-table *ngIf="!quicklist" [status]="status" [(activeItem)]="activeItem" [(selection)]="selection" (scrollBottom)="onScrollToBottom()">
        <bl-thead>
            <bl-column>Id</bl-column>
            <bl-column>State</bl-column>
            <bl-column>Pool</bl-column>
        </bl-thead>

        <bl-row *ngFor="let job of jobs; trackBy: trackByFn" [link]="['/jobs/', job.id]" [key]="job.id" [contextmenu]="contextmenu(job)" [conceal]="job._notFiltered">
            <bl-cell>{{job.id}}</bl-cell>
            <bl-cell>{{job.state}}</bl-cell>
            <bl-cell>{{job.poolInfo?.poolId}}</bl-cell>
        </bl-row>
    </bl-table>
</bl-focus-section>
<bl-no-item [itemCount]="jobs.size" [filter]="filter" [status]="status">
    <i icon class="fa fa-tasks"></i>
    <span no-filter>No jobs</span>
    <span with-filter>No jobs match this filter</span>
</bl-no-item>

<bl-server-error class="error-in-list" [error]="data.error | async" *ngIf="status === LoadingStatus.Error"></bl-server-error>
