<bl-list-and-show-layout #layout [list]="list">
    <div bl-list-title>
        Batch Accounts
    </div>
    <div bl-list-buttons>
    </div>
    <div pre-quicksearch>
        <mat-form-field>
            <mat-select multiple placeholder="Subscriptions" [formControl]="subscriptionIds">
                <mat-option *ngFor="let subscription of subscriptionService.subscriptions | async" [value]="subscription.subscriptionId">
                    {{subscription.displayName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div bl-list-content>
        <bl-account-list #list [filter]="layout.filter"></bl-account-list>
    </div>
    <div bl-show-content>
        <router-outlet></router-outlet>
    </div>
</bl-list-and-show-layout>
