<bl-browse-layout #layout>
    <div blBrowseLayoutTitle>
            Batch Accounts
    </div>
    <div blBrowseLayoutButtons>
        <bl-button icon="fa fa-plus spin-hover" title="Add a batch account" [action]="addBatchAccount" type="plain" color="light">
        </bl-button>
    </div>
    <div pre-quicksearch>
        <mat-form-field>
            <mat-select multiple placeholder="Subscriptions" [formControl]="subscriptionIds">
                <mat-option *ngFor="let subscription of subscriptionService.subscriptions | async;trackBy: trackByFn" [value]="subscription.subscriptionId">
                    {{subscription.displayName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <bl-account-list blBrowseLayoutList></bl-account-list>
</bl-browse-layout>
