<bl-focus-section>
    <bl-quick-list *ngIf="quicklist"
        [data]="jobSchedules"
        [status]="status"
        [(activeItem)]="activeItem"
        [(selection)]="selection"
        (scrollBottom)="onScrollToBottom()"
        [commands]="commands">
        <ng-container *blQuickListRowStatus="let jobSchedule">
            <bl-quick-list-item-status [status]="jobScheduleStatus(jobSchedule)" [tooltip]="jobScheduleStatusText(jobSchedule)"></bl-quick-list-item-status>
        </ng-container>
        <ng-container *blQuickListRowTitle="let jobSchedule">{{jobSchedule.id}}</ng-container>
        <ng-container *blQuickListRowState="let jobSchedule">
            {{jobSchedule.state}}
            <bl-tags [tags]="jobSchedule.tags" [maxTags]="3"></bl-tags>
        </ng-container>
    </bl-quick-list>

    <bl-table *ngIf="!quicklist"
        [data]="jobSchedules"
        [status]="status"
        [(activeItem)]="activeItem"
        [(selection)]="selection"
        (scrollBottom)="onScrollToBottom()"
        [commands]="commands">

        <bl-column name="id">
            <div *blHeadCellDef>ID</div>
            <div *blCellDef="let jobSchedule">{{jobSchedule.id}}</div>
        </bl-column>

        <bl-column name="state">
            <div *blHeadCellDef>State</div>
            <div *blCellDef="let jobSchedule">{{jobSchedule.state}}</div>
        </bl-column>

        <bl-column name="jobSchedule">
            <div *blHeadCellDef>jobSchedule</div>
            <div *blCellDef="let jobSchedule">{{jobSchedule.jobScheduleInfo?.jobScheduleId}}</div>
        </bl-column>
    </bl-table>
</bl-focus-section>

<bl-no-item [itemCount]="jobSchedules.size" [filter]="filter" [status]="status">
    <i icon class="fa fa-calendar"></i>
    <span no-filter>No job schedules</span>
    <span with-filter>No job schedules match this filter</span>
</bl-no-item>
<bl-server-error class="error-in-list" [error]="data.error | async" *ngIf="status === LoadingStatus.Error"></bl-server-error>
