<!-- Image selection cloudservice vs virtual machine vs custom image -->
<bl-os-image-picker [formGroup]="form"></bl-os-image-picker>

<ng-container [formGroup]="form">
    <!-- Container configuration -->
    <bl-form-picker *ngIf="showContainerConfiguration" formControlName="containerConfiguration" (clear)="clearContainerConfiguration()" #containerConfigurationPicker>
        <div no-value-title>{{'pool-os-picker.containerConfiguration' | i18n}}</div>
        <div value-title>{{form.value.containerConfiguration?.type}}</div>
        <div nested-form>
            <bl-container-configuration-picker [formControl]="containerConfigurationPicker.nestedValue"></bl-container-configuration-picker>
        </div>
    </bl-form-picker>

    <!-- Data disk  -->
    <bl-data-disk-picker formControlName="dataDisks" *ngIf="showDataDiskPicker"></bl-data-disk-picker>
</ng-container>
