bl-split-pane {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    > .first-pane-container {
        overflow-x: hidden;
        overflow-y: auto;
    }

    > .second-pane-container {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
