<bl-browse-layout #layout>
    <div blBrowseLayoutTitle>
        Pools
    </div>
    <bl-inline-quota blBrowseLayoutQuotas include="pools,dedicatedCores,lowpriCores"></bl-inline-quota>
    <div blBrowseLayoutButtons>
        <bl-button icon="fa fa-plus spin-hover" title="Add a pool" [action]="addPool" type="plain" color="light" permission="write">
        </bl-button>
    </div>
    <bl-pool-list blBrowseLayoutList></bl-pool-list>
    <bl-pool-advanced-filter blBrowseLayoutAdvancedFilter (change)="layout.advancedFilterChanged($event)">
    </bl-pool-advanced-filter>
</bl-browse-layout>
