<bl-focus-section>
    <bl-quick-list *ngIf="quicklist" [status]="status" [(activeItem)]="activeItem" [(selection)]="selection" (scrollBottom)="scrollBottom.emit()">
        <bl-quick-list-item *ngFor="let task of tasks;trackBy: trackByFn" [link]="['/jobs', jobId, 'tasks', task.id]" [key]="task.id">
            <bl-quick-list-item-status [status]="taskStatus(task)" [tooltip]="taskStatusText(task)">
            </bl-quick-list-item-status>

            <div bl-quick-list-item-title>{{task.id}} {{task.displayName}}</div>
            <p bl-quick-list-item-field>{{task.state}}</p>
            <div bl-quick-list-item-preview>
                <bl-task-preview [task]="task"></bl-task-preview>
            </div>
        </bl-quick-list-item>
    </bl-quick-list>

    <bl-table *ngIf="!quicklist"
        [data]="tasks"
        [status]="status"
        [(activeItem)]="activeItem"
        [(selection)]="selection"
        (scrollBottom)="scrollBottom.emit()">

        <bl-column name="id" [defaultWidth]="200">
            <bl-column-header>ID</bl-column-header>
            <div *blCellDef="let task">{{task.id}}</div>
        </bl-column>

        <bl-column name="state">
            <bl-column-header>State</bl-column-header>
            <div *blCellDef="let task">{{task.state}}</div>
        </bl-column>

        <bl-column name="creationTime">
            <bl-column-header>Created</bl-column-header>
            <div *blCellDef="let task">{{formatDate(task.creationTime)}}</div>
        </bl-column>

        <bl-column name="startTime">
            <bl-column-header>Started</bl-column-header>
            <div *blCellDef="let task">{{formatDate(task.executionInfo?.startTime)}}</div>
        </bl-column>

        <bl-column name="endTime">
            <bl-column-header>Completed</bl-column-header>
            <div *blCellDef="let task">{{formatDate(task.executionInfo?.endTime)}}</div>
        </bl-column>

        <bl-column name="exitCode">
            <bl-column-header>Exit code</bl-column-header>
            <div *blCellDef="let task">{{task.executionInfo?.exitCode}}</div>
        </bl-column>
    </bl-table>
</bl-focus-section>
<bl-no-item [itemCount]="tasks.size" [status]="status">
    <i icon class="fa fa-tasks"></i>
    <span no-filter>No tasks</span>
    <span with-filter>No tasks match this filter</span>
</bl-no-item>
