@import "app/styles/variables";

bl-task-list-display {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;

    .state {
        &.success {
            color: $success-color;
        }
        &.error {
            color: $danger-color;
        }
    }
}
