<bl-focus-section>
    <bl-quick-list
        *ngIf="quicklist"
        [status]="status"
        [commands]="commands"
        [(activeItem)]="activeItem"
        [(selection)]="selection"
        (scrollBottom)="scrollBottom.emit()">
        <bl-quick-list-item *ngFor="let task of tasks;trackBy: trackByFn" [link]="['/jobs', jobId, 'tasks', task.id]" [key]="task.id">
            <bl-quick-list-item-status [status]="taskStatus(task)" [tooltip]="taskStatusText(task)">
            </bl-quick-list-item-status>

            <div bl-quick-list-item-title>{{task.id}} {{task.displayName}}</div>
            <p bl-quick-list-item-field>
                <bl-task-state [task]="task"></bl-task-state>
            </p>
            <div bl-quick-list-item-preview>
                <bl-task-preview [task]="task"></bl-task-preview>
            </div>
        </bl-quick-list-item>
    </bl-quick-list>

    <bl-table *ngIf="!quicklist"
        [data]="tasks"
        [status]="status"
        [commands]="commands"
        [(activeItem)]="activeItem"
        [(selection)]="selection"
        (scrollBottom)="scrollBottom.emit()">

        <bl-column name="id" [defaultWidth]="200">
            <div *blHeadCellDef>ID</div>
            <div *blCellDef="let task">{{task.id}}</div>
        </bl-column>

        <bl-column name="state">
            <div *blHeadCellDef>State</div>
            <div *blCellDef="let task">
                <bl-task-state [task]="task"></bl-task-state>
            </div>
        </bl-column>

        <bl-column name="creationTime" [defaultWidth]="120">
            <div *blHeadCellDef>Created</div>
            <div *blCellDef="let task">{{formatDate(task.creationTime)}}</div>
        </bl-column>

        <bl-column name="startTime" [defaultWidth]="120">
            <div *blHeadCellDef>Started</div>
            <div *blCellDef="let task">{{formatDate(task.executionInfo?.startTime)}}</div>
        </bl-column>

        <bl-column name="runTime" [defaultWidth]="120">
            <div *blHeadCellDef>Runtime</div>
            <div *blCellDef="let task"><bl-task-runtime [task]="task"></bl-task-runtime></div>
        </bl-column>

        <bl-column name="endTime"  [defaultWidth]="120">
            <div *blHeadCellDef>Completed</div>
            <div *blCellDef="let task">{{formatDate(task.executionInfo?.endTime)}}</div>
        </bl-column>

        <bl-column name="exitCode"  [defaultWidth]="70">
            <div *blHeadCellDef>Exit code</div>
            <div *blCellDef="let task">{{task.executionInfo?.exitCode}}</div>
        </bl-column>
    </bl-table>
</bl-focus-section>
<bl-no-item [itemCount]="tasks.size" [status]="status">
    <i icon class="fa fa-tasks"></i>
    <span no-filter>No tasks</span>
    <span with-filter>No tasks match this filter</span>
</bl-no-item>
