<ng-container *ngIf="isAppReady">
    <div id="container" *ngIf="!fullscreen">
        <header>
            <bl-header></bl-header>
        </header>
        <nav class="noselect">
            <bl-app-nav></bl-app-nav>
        </nav>
        <section id="content">
            <bl-toasts-container class="tr"></bl-toasts-container>
            <mat-sidenav-container>
                <mat-sidenav #rightSidebar position="end">
                    <bl-sidebar-content #sidebarContent [sidebar]="rightSidebar"></bl-sidebar-content>

                </mat-sidenav>
                <div [attr.aria-hidden]="rightSidebar.opened">
                    <router-outlet></router-outlet>
                </div>
            </mat-sidenav-container>
        </section>
        <footer>
            <bl-footer></bl-footer>
        </footer>
    </div>
    <div class="fullscreen" *ngIf="fullscreen">
        <mat-sidenav-container>
            <mat-sidenav #rightSidebar align="end">
                <bl-sidebar-content #sidebarContent [sidebar]="rightSidebar"></bl-sidebar-content>
            </mat-sidenav>
            <router-outlet></router-outlet>
        </mat-sidenav-container>
    </div>
</ng-container>
