@import "app/styles/variables";

bl-file-explorer-tabs {
    $tab-height: 35px;
    display: block;
    .tablist {
        height: $tab-height;
        // border-bottom: 1px solid $border-color;
        background: #e5e5e5;
        display: flex;

        > .tab {
            display: flex;
            align-items: center;
            height: $tab-height;
            min-width: fit-content;
            white-space: nowrap;
            cursor: pointer;
            padding-left: 10px;
            color: $dove-grey;
            border-right: 1px solid $border-color;
            padding: 0 5px;
        }

        > .tab.main {
            font-size: 24px;
        }

        > .tab.active {
            background: $whitesmoke;
        }
    }
}
