@import "app/styles/variables";

bl-activity-monitor-tree-view {
    $tree-view-header-height: 24px;
    position: relative;
    display: flex;
    flex-direction: column;

    .tree-view-header {
        height: $tree-view-header-height;
        line-height: $tree-view-header-height;
        padding-left: 10px;
        background: $secondary-background;
        vertical-align: middle;

        .name {
            font-size: 11px;
            text-transform: uppercase;
            font-weight: 700;
            display: inline-block;
        }
    }

    .tree-view-content {
        position: relative;
        height: calc(100% - #{$tree-view-header-height});
    }

    .tree-rows-container {
        height: 100%;
        &.drop-target {
            background: $main-background;
        }
    }

    .tree-view-error {
        white-space: pre-line;
    }
}
