@import "app/styles/variables";

bl-aad-credentials-picker {

    .view-credentials {
        padding: 10px;

        .danger {
            margin: 5px;
            font-weight: bold;
            > .fa {
                margin-right: 5px;
            }
        }

        bl-property-group {
            padding: 0 5px;
        }
    }
}
