<bl-table>
    <bl-thead>
        <bl-column>Version</bl-column>
        <bl-column>State</bl-column>
        <bl-column>Format</bl-column>
        <bl-column>Last activation time</bl-column>
    </bl-thead>
    <bl-row *ngFor="let package of displayedPackages" [key]="package.version">
        <bl-cell style="width: 25%" [value]="package.version"></bl-cell>
        <bl-cell style="width: 25%" [value]="package.state"></bl-cell>
        <bl-cell style="width: 25%" [value]="package.format"></bl-cell>
        <bl-cell style="width: 25%" [value]="formatDate(package.lastActivationTime)"></bl-cell>
    </bl-row>
</bl-table>

<bl-no-item [itemCount]="displayedPackages.size" [filter]="filter">
    <i icon class="fa fa-cogs"></i>
    <span no-filter>This application contains no package versions</span>
    <span with-filter>Current filter returned no matches</span>
</bl-no-item>
