<bl-entity-details-list #listWrapper [showRefreshButton]="false" [showExpandButton]="false" [enableAdvancedFilter]="false" addButtonHoverText="Add package version"
    (onAddEntity)="list?.addPackage($event)" filterPlaceholder="Filter by package version">
    <div bl-list-buttons>
        <!--
            multi select - "add" enabled and "delete" enabled if allow updates is true
            single select
                - delete: enabled if allow updates is true
                - update: enabled if allow updates is true and package is active
                - activate: enabled if package is pending
        -->
        <bl-button color="danger" type="round" title="Delete selected" [action]="list?.deleteSelectedItems" [disabled]="!(list?.deleteItemEnabled | async)">
            <i class="fa fa-trash spin-hover"></i>
        </bl-button>
        <bl-button color="primary" type="round" title="Update package" [action]="list?.updatePackageVersion" [disabled]="!(list?.editItemEnabled | async)">
            <i class="fa fa-pencil-square-o spin-hover"></i>
        </bl-button>
        <bl-button color="primary" type="round" title="Activate pending package" [action]="list?.activateActiveItem" [disabled]="!(list?.activateItemEnabled | async)">
            <i class="fa fa-toggle-on spin-hover"></i>
        </bl-button>
    </div>

    <bl-application-package-table [application]="application" [filter]="listWrapper.filter" #list></bl-application-package-table>
</bl-entity-details-list>
