<bl-loading [status]="data.newDataStatus | async">
    <div *ngIf="application">
        <md-card class="overview">
            <div class="actions">
                <bl-button-group>
                    <bl-refresh-btn [refresh]="refresh"></bl-refresh-btn>
                    <bl-add-button title="Add package" [action]="addPackage"></bl-add-button>
                    <bl-edit-button [action]="editApplication"></bl-edit-button>
                    <bl-delete-button [entity]="application" [action]="deleteApplication"></bl-delete-button>
                </bl-button-group>
            </div>
            <div class="content">
                <md-card-title>{{decorator.id}}</md-card-title>
                <md-card-subtitle>
                    <i class="fa" [ngClass]="application.allowUpdates ? 'fa-unlock-alt' : 'fa-lock'"></i> {{decorator.displayName}}
                    <span *ngIf="application.allowUpdates"> <b>(unlocked)</b></span>
                    <span *ngIf="!application.allowUpdates"> <b>(locked)</b></span>
                </md-card-subtitle>
            </div>
        </md-card>
        <bl-application-error-display [application]="application"></bl-application-error-display>
        <md-card class="details">
            <bl-tab-group>
                <bl-tab key="packages">
                    <bl-tab-label>Packages</bl-tab-label>
                    <div class="tab-padding">
                        <bl-application-packages [application]="application"></bl-application-packages>
                    </div>
                </bl-tab>
                <bl-tab key="properties">
                    <bl-tab-label>Properties</bl-tab-label>
                    <bl-application-properties [application]="application"></bl-application-properties>
                </bl-tab>
            </bl-tab-group>
        </md-card>
    </div>
</bl-loading>
