<bl-focus-section *ngIf="displayedPackages.size > 0">
    <bl-table [(activeItem)]="activeItem" [(selection)]="selection" [data]="displayedPackages">
        <bl-column name="version">
            <bl-column-header>Version</bl-column-header>
            <div *blCellDef="let package">{{package.version}}</div>
        </bl-column>
        <bl-column name="state">
            <bl-column-header>State</bl-column-header>
            <div *blCellDef="let package">{{package.version}}</div>
        </bl-column>
        <bl-column name="format">
            <bl-column-header>Format</bl-column-header>
            <div *blCellDef="let package">{{package.format}}</div>
        </bl-column>
        <bl-column name="lastActivationTime">
            <bl-column-header>Last activation time</bl-column-header>
            <div *blCellDef="let package">{{formatDate(package.lastActivationTime)}}</div>
        </bl-column>
    </bl-table>
</bl-focus-section>

<bl-no-item [itemCount]="displayedPackages.size" [filter]="filter">
    <i icon class="fa fa-file-archive-o"></i>
    <span no-filter>This application contains no package versions</span>
    <span with-filter>Current filter returned no matches</span>
</bl-no-item>
