<bex-loading [status]="data.newDataStatus | async">
    <div *ngIf="application">
        <md-card class="overview">
            <md-card-title-group style="margin: 0px;">
                <div style="align-items:center;">
                    <bex-refresh-btn [refresh]="refresh"></bex-refresh-btn>
                </div>
                <div style="margin-left:12px; margin-right:auto;">
                    <md-card-title>{{decorator.id}}</md-card-title>
                    <md-card-subtitle>
                        <i class="fa" [ngClass]="application.allowUpdates ? 'fa-unlock-alt' : 'fa-lock'"></i> {{decorator.displayName}}
                        <div *ngIf="application.allowUpdates"> <b>(unlocked)</b></div>
                        <div *ngIf="!application.allowUpdates"> <b>(locked)</b></div>
                    </md-card-subtitle>
                </div>
            </md-card-title-group>
            <md-card-content></md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <bex-add-task-button title="Add" [job]="application" (click)="addTask()"></bex-add-task-button>
                <bex-add-task-button title="Edit" [job]="application" (click)="addTask()"></bex-add-task-button>
                <bex-delete-button [entity]="application" (click)="deleteJob()"></bex-delete-button>
            </md-card-actions>
        </md-card>
        <bex-application-error-display></bex-application-error-display>
        <md-card class="details">
            <bex-tab-group>
                <bex-tab key="properties">
                    <bex-tab-label>Properties</bex-tab-label>
                    <bex-application-properties [application]="application"></bex-application-properties>
                </bex-tab>
                <bex-tab key="packages">
                    <bex-tab-label>Packages</bex-tab-label>

                    <bex-entity-details-list #listWrapper [showRefreshButton]="false" [showExpandButton]="false" [showFilterIcon]="false" filterPlaceholder="Filter by package version">
                        <bex-application-packages [application]="application" [filter]="listWrapper.filter" #list></bex-application-packages>
                    </bex-entity-details-list>
                </bex-tab>
            </bex-tab-group>
        </md-card>
    </div>
</bex-loading>
