<bl-focus-section>
    <bl-table>
        <bl-thead>
            <bl-column style="width: 25%">Version</bl-column>
            <bl-column style="width: 25%">State</bl-column>
            <bl-column style="width: 25%">Format</bl-column>
            <bl-column style="width: 25%">Last activation time</bl-column>
        </bl-thead>
        <bl-row *ngFor="let package of displayedPackages" [key]="package.version">
            <bl-cell style="width: 25%" [value]="package.version"></bl-cell>
            <bl-cell style="width: 25%" [value]="package.state"></bl-cell>
            <bl-cell style="width: 25%" [value]="package.format"></bl-cell>
            <bl-cell style="width: 25%" [value]="formatDate(package.lastActivationTime)"></bl-cell>
        </bl-row>
    </bl-table>
</bl-focus-section>

<bl-no-item [itemCount]="displayedPackages.size" [filter]="filter">
    <i icon class="fa fa-file-archive-o"></i>
    <span no-filter>This application contains no package versions</span>
    <span with-filter>Current filter returned no matches</span>
</bl-no-item>
