<bl-list-and-show-layout #layout (listScrolledToBottom)="taskList.loadMore()" [list]="taskList">
    <div bl-list-buttons>
        <button md-mini-fab color="primary" title="Add a task" (click)="addTask()">
            <i class="fa fa-plus spin-hover"></i>
        </button>
    </div>
    <div bl-list-content>
        <bl-focus-section>
            <bl-task-list #taskList [jobId]="jobId" [filter]="layout.filter" [quickList]="!(layout.showAdvancedFilter | async)"></bl-task-list>
        </bl-focus-section>
    </div>
    <div bl-show-content>
        <router-outlet></router-outlet>
    </div>
    <div bl-show-advanced-filter>
        <bl-task-advanced-filter (filterChange)="layout.advancedFilterChanged($event)">
        </bl-task-advanced-filter>
    </div>
</bl-list-and-show-layout>
