<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Batch Explorer</title>

    <% if (htmlWebpackPlugin.options.metadata.isDevServer) { %>
        <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
    <% } %>

    <!-- <script>
    console.time("Load scripts");

    window.onload = function() {
       console.timeEnd("Load scripts");
    };
    </script> -->
</head>

<body>
    <bl-app>
        <!--This should only show if doing a manual refresh of the page (F5, ctrl+R)-->
        Loading...
    </bl-app>
</body>

</html>
