@import "app/styles/variables";

bl-pool-nodes-preview {

    &.small {
        font-size: 10px;
    }

    &.large {
        font-size: 24px;
    }

    &.resize-error {
        color: $danger-color;
        font-weight: bold;

        [aria-selected=true] & {
            color: $danger-contrast-color;
        }
    }

    .fa {
        margin-right: 2px;
    }

    [aria-selected=true] & {
        color: $primary-contrast-color;
    }
}
