<bl-form-field>
    <input type="text" blInput [matAutocomplete]="auto" [formControl]="container" [placeholder]="label">
    <bl-hint class="danger" *ngIf="warning">
        {{'blob-container-picker.notFound' | i18n}}
    </bl-hint>
    <bl-hint *ngIf="loading">
        {{'blob-container-picker.loading' | i18n}}
    </bl-hint>
    <bl-hint *ngIf="hint" align="end">
        {{hint}}
    </bl-hint>
</bl-form-field>

<mat-autocomplete #auto="matAutocomplete">
    <mat-option [disabled]="true" *ngIf="loading">
        <i class="fa fa-spinner fa-spin"></i> {{'blob-container-picker.loading' | i18n}}
    </mat-option>
    <mat-option *ngFor="let container of containers;trackBy: trackContainer" [value]="container.name">
        {{ container.name }}
    </mat-option>
</mat-autocomplete>
