@import "app/styles/variables";

bl-app-license-picker {
    // static colors for deprecation warnings
    .licenses-deprecation-warning {
        > .warning {
            background-color: var(--color-warn-50);
            // using the color from var(--color-text-primary)
            color: #333333;

            > .summary-container {

                &.standard {
                    height: unset;
                }

                > .message {
                    white-space: normal;
                }
            }
        }
    }

    .licenses-warning-alternative-link {
        // using the color from var(--color-primary-800);
        color: #1d54af;
    }

    .link {
        color: $link-color;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    mat-checkbox {
        padding-left: 5px;
        line-height: 12px;

        .mat-checkbox-inner-container {
            margin-top: 3px;
        }

        .mat-checkbox-layout {
            .mat-checkbox-label {
                line-height: 18px;
                white-space: initial;
            }
        }
    }

    .note {
        font-size: 11px;
        font-weight: bold;
        padding-top: 5px;
    }
}

// Current EULA styles, will need to be tweaked when dynamic.
.eula {
    .title {
        font-weight: bold;
        margin-right: 5px;
        border-bottom: 1px solid $primary-text;
    }

    p {
        color: $primary-text;
    }

    a {
        // link color from portal makes links stand out better
        color: $link-color;
        cursor: pointer;
    }

    ol li {
        margin-bottom: 15px;
    }

    ol li span {
        font-weight:bold;
        margin-right:5px;
        border-bottom: 1px solid $primary-text;
    }
}
