<div class="quicksearch">
    <div class="pre-quicksearch">
        <ng-content select="[pre-quicksearch]"></ng-content>
    </div>
    <input [formControl]="searchQuery" placeholder="{{filterPlaceholder}}" />
    <i *ngIf="enableAdvancedFilter" class="fa fa-filter fa-2x" [routerLink]="baseLink" [queryParams]="{filter: true}"></i>
</div>
<hr />
<div class="context-button-bar">
    <button *ngIf="showExpandButton" md-mini-fab color="primary" [routerLink]="baseLink" title="{{expandButtonHoverText}}">
        <i class="fa fa-expand spin-hover"></i>
    </button>
    <bl-refresh-btn *ngIf="showRefreshButton" [refresh]="refresh" title="{{refreshButtonHoverText}}"></bl-refresh-btn>
    <button *ngIf="showAddButton" (click)="onAdd($event)" md-mini-fab color="primary" title="{{addButtonHoverText}}">
        <i class="fa fa-plus spin-hover"></i>
    </button>
    <ng-content select="[bl-list-buttons]"></ng-content>
</div>
<ng-content></ng-content>
