<div class="quicksearch">
    <div class="pre-quicksearch">
        <ng-content select="[pre-quicksearch]"></ng-content>
    </div>
    <input [formControl]="searchQuery" placeholder="{{filterPlaceholder}}" />
    <i class="fa fa-filter fa-2x" [routerLink]="baseLink" [queryParams]="{filter: true}"></i>
</div>
<hr />
<div class="context-button-bar">
    <button *ngIf="showExpandButton" md-mini-fab color="primary" [routerLink]="baseLink" title="{{expandButtonHoverText}}">
        <i class="fa fa-expand"></i>
    </button>
    <bex-refresh-btn *ngIf="showRefreshButton" [refresh]="refresh" title="{{refreshButtonHoverText}}"></bex-refresh-btn>
    <button *ngIf="showAddButton" md-mini-fab color="primary" title="{{addButtonHoverText}}">
        <i class="fa fa-plus"></i>
    </button>
</div>
<ng-content></ng-content>
