<div class="quicksearch">
    <div class="pre-quicksearch">
        <ng-content select="[pre-quicksearch]"></ng-content>
    </div>
    <input [formControl]="searchQuery" placeholder="{{filterPlaceholder}}" />
    <i *ngIf="enableAdvancedFilter" class="fa fa-filter fa-2x" [routerLink]="baseLink" [queryParams]="{filter: true}"></i>
</div>
<hr />
<div class="context-button-bar">
    <bl-button type="round" color="light" icon="fa fa-expand spin-hover" *ngIf="showExpandButton" color="primary" [routerLink]="baseLink"
        title="{{expandButtonHoverText}}">
    </bl-button>
    <bl-refresh-btn *ngIf="showRefreshButton" type="round" [refresh]="refresh" title="{{refreshButtonHoverText}}"></bl-refresh-btn>
    <ng-content select="[bl-list-buttons]"></ng-content>
</div>
<ng-content></ng-content>
