<div *ngIf="manualLoading">
    <bex-loading [status]="status || (data.newDataStatus | async)" *ngIf="data.hasMore | async"></bex-loading>
    <div class="load-more-btn" *ngIf="(data.newDataStatus | async) === loadingStatuses.Ready && data.hasMore | async">
        <bex-loading-button [loading]="loadingMore" (click)="loadMore()">Load more</bex-loading-button>
    </div>
</div>
<div *ngIf="!manualLoading">
    <bex-loading [status]="status || (data.status | async)" *ngIf="data.hasMore | async"></bex-loading>
</div>
