<div class="layout-container" [class.filtering]="showAdvancedFilter | async">
    <section class="list-view">
        <div class="left-pane">
            <div class="bl-quick-filter-content">
                <div class="quicksearch">
                    <div class="pre-quicksearch">
                        <ng-content select="[pre-quicksearch]"></ng-content>
                    </div>
                    <input [formControl]="quickSearchQuery" placeholder="Search" #quickSearchInput (keydown)="handleKeyPressedInQuickSearch($event)"
                    />
                    <i class="fa fa-filter fa-2x" (click)="toggleFilter()" *ngIf="advancedFilterContent?.children.length > 0"></i>
                </div>
                <hr />
                <div class="context-button-bar left">
                    <bl-button type="round" icon="fa fa-trash" color="danger" *ngIf="deleteSelectedIsEnabled && selectedItems.length > 0" [action]="deleteSelectedItems">
                    </bl-button>
                </div>
                <div class="context-button-bar right">
                    <bl-refresh-btn [refresh]="refresh" *ngIf="refresh" type="round"></bl-refresh-btn>
                    <ng-content select="[bl-list-buttons]"></ng-content>
                </div>
            </div>
            <div #listContent class="bl-list-content">
                <bl-scrollable (scrollBottom)="listScrolledToBottom.emit($event)">
                    <ng-content select="[bl-list-content]"></ng-content>
                </bl-scrollable>
            </div>
        </div>
    </section>

    <section class="content-view">
        <bl-scrollable class="block">
            <div class="content-wrapper">
                <div style="position:relative">
                    <ng-content select="[bl-show-content]"></ng-content>
                    <div class="advanced-filter-content" [hidden]="!(showAdvancedFilter | async)" [@slideIn]="showAdvancedFilter" class="advanced-filter-content"
                        #advancedFilterContent>
                        <ng-content select="[bl-show-advanced-filter]"></ng-content>
                    </div>
                </div>
            </div>
        </bl-scrollable>
    </section>
</div>
