<div class="recent-submission">
    <div *ngFor="let recent of recentSubmissions;trackBy: trackTemplate">
        <bl-clickable [routerLink]="['/gallery', 'recent', recent.id]" class="submission">
            <span class="label">{{recent.name}}</span>
            <span class="mode">({{formatMode(recent.mode)}})</span>
        </bl-clickable>
        <bl-clickable class="download">
            <span (click)="createParameterFile(recent)" title="Export template parameter file">
                <i class="fa fa-download"></i>
            </span>
        </bl-clickable>
    </div>
    <div *ngIf="recentSubmissions.length === 0" class="no-recent">
        You haven't run any templates recently.
    </div>
</div>
