bl-tag-list {
    display: flex;
    align-items: center;

    .tag {
        font-size: 11px;
        color: white;
        background: map-get($primary, 300);
        padding: 0 5px;

        &:not(:last-child) {
            margin-right: 5px;
        }
    }

    .expand-tags {
        font-size: 16px;
        color: map-get($primary, 300);
        padding: 0 5px;
        border-radius: 3px;

        &:hover {
            color: map-get($primary, 50);
            background: map-get($primary, 300);
        }
    }
}
