<bl-split-pane [config]="splitPaneConfig" class="ssh-key-picker">
    <div blFirstPane class="editor">
        <textarea placeholder="SSH public key" [formControl]="sshKeyValue"></textarea>
    </div>
    <div blSecondPane class="saved-keys">
        <bl-toolbar>
            <div toolbarLabel> Saved public keys </div>
            <bl-clickable toolbarAction (do)="addKey()" class="action add-key-btn">
                <i class="fa fa-save" title="Save"></i>
            </bl-clickable>
        </bl-toolbar>
        <div class="saved-key-list">
            <div class="saved-key" *ngIf="homePublicKey" (click)="selectHomeKey()">
                <span class="label">~/.ssh/id_rsa.pub</span>
            </div>
            <div class="saved-key" *ngFor="let key of savedSSHKeys;trackBy: trackSavedKey" (click)="selectKey(key)">
                <span class="label">{{key.name}}</span>
                <i class="fa fa-times" title="Delete" (click)="deleteKey(key)"></i>
            </div>

            <div class="no-saved-key" *ngIf="savedSSHKeys.size === 0">
                <div>
                    <i class="fa fa-key"></i>
                </div>
                No saved public keys
            </div>
        </div>
    </div>
</bl-split-pane>
