<bl-focus-section>
    <bl-quick-list *ngIf="quicklist" [status]="status" [(activeItem)]="activeItem" [(selection)]="selection" (scrollBottom)="onScrollToBottom()">
        <bl-quick-list-item *ngFor="let certificate of displayedCertificates; trackBy: trackByFn" [link]="['/certificates/', certificate.thumbprint]" [key]="certificate.thumbprint" [contextmenu]="contextmenu(certificate)">
            <bl-quick-list-item-status [status]="certificateStatus(certificate)" [tooltip]="certificateStatusText(certificate)">
            </bl-quick-list-item-status>
            <div bl-quick-list-item-title>{{certificate.thumbprint}}</div>
            <div bl-quick-list-item-field>
                {{certificate.state}}
            </div>
        </bl-quick-list-item>
    </bl-quick-list>

    <bl-table *ngIf="!quicklist" [status]="status" [(activeItem)]="activeItem" [(selection)]="selection" (scrollBottom)="onScrollToBottom()">
        <bl-thead>
            <bl-column>Thumbprint algorithm</bl-column>
            <bl-column>Thumbprint</bl-column>
            <bl-column>State</bl-column>
        </bl-thead>

        <bl-row *ngFor="let certificate of displayedCertificates; trackBy: trackByFn" [link]="['/certificates/', certificate.thumbprint]" [key]="certificate.thumbprint" [contextmenu]="contextmenu(certificate)">
            <bl-cell>{{certificate.thumbprintAlgorithm}}</bl-cell>
            <bl-cell>{{certificate.thumbprint}}</bl-cell>
            <bl-cell>{{certificate.state}}</bl-cell>
        </bl-row>
    </bl-table>
</bl-focus-section>

<bl-server-error class="error-in-list" [error]="data.error | async" *ngIf="status === LoadingStatus.Error"></bl-server-error>

<bl-no-item [itemCount]="displayedCertificates.size" [filter]="filter" [status]="status">
    <i icon class="fa fa-certificate"></i>
    <span no-filter>No certificates</span>
    <span with-filter>No certificates match this filter</span>
</bl-no-item>
