<!--<div [formGroup]="form">
    <div formArrayName="files">
        <table class="noselect" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>Blob source</th>
                    <th>File path</th>
                    <th></th>
                </tr>
            </thead>
            <tr *ngFor="let file of files.controls; let i=index" [formGroupName]="i">
                <td>
                    <input formControlName="blobSource">
                </td>
                <td>
                    <input formControlName="filePath">
                </td>
                <td>
                    <button md-mini-fab color="warn" class="delete-file-btn" (click)="deleteFile(i)"><i class="fa fa-times" ></i></button>
                </td>
            </tr>
        </table>

        <button class="add-file-btn" md-raised-button (click)="addResourceFile()">New resource file</button>
    </div>
</div>-->
<bl-editable-table>
    <bl-editable-table-column name="blobSource">Blob Source</bl-editable-table-column>
    <bl-editable-table-column name="filePath">File path</bl-editable-table-column>
</bl-editable-table>
