@import "app/styles/variables";

bl-resourcefile-picker {
    display: block;
    position: relative;

    table {
        margin-bottom: 0;
    }

    .uploading-files {

    }

    .help {
        font-style: italic;
        color: $alto;
    }

    .drop-overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: white;
        border: 2px dashed $alto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $alto;

        > .fa-upload {
            font-size: 36px;
            margin-right: 15px;
        }

        > .message {
            font-size: 20px;
        }

    }
}
