<bl-editable-table [formControl]="files" [label]="label">
    <bl-editable-table-column name="blobSource">Blob source</bl-editable-table-column>
    <bl-editable-table-column name="filePath">File path</bl-editable-table-column>
</bl-editable-table>
<span class="help">You can drag and drop files here to be uploaded automatically</span>
<div class="uploading-files" *ngIf="uploadingFiles.length > 0">
    <div class="file" *ngFor="let file of uploadingFiles;trackBy: trackUploadingFile">
        <i class="fa fa-spinner fa-spin"></i>
        {{file}}
    </div>
</div>
<div *ngIf="isDraging" class="drop-overlay">
    <i class="fa fa-upload"></i>
    <span class="message">Upload file</span>
</div>
