<bl-list-and-show-layout #layout (listScrolledToBottom)="poolList.onScrollToBottom()" [list]="poolList">
    <div bl-list-title>
        Pools
    </div>
    <div bl-list-buttons>
        <bl-button icon="fa fa-plus spin-hover" title="Add a pool" [action]="addPool" type="plain" color="light" [permission]="write">
        </bl-button>
    </div>
    <div bl-list-content>
        <bl-focus-section>
            <bl-pool-list #poolList [filter]="layout.filter" [quickList]="!(layout.showAdvancedFilter | async)"></bl-pool-list>
        </bl-focus-section>
    </div>
    <div bl-show-content>
        <router-outlet></router-outlet>
    </div>
    <div bl-show-advanced-filter>
        <bl-pool-advanced-filter (change)="layout.advancedFilterChanged($event)">
        </bl-pool-advanced-filter>
    </div>
</bl-list-and-show-layout>
