<bex-list-and-show-layout #layout (listScrolledToBottom)="poolList.onScrollToBottom()" [list]="poolList">
    <div bex-list-buttons>
        <button md-mini-fab color="primary" title="Add a pool" (click)="addPool()">
            <i class="fa fa-plus spin-hover"></i>
        </button>
    </div>
    <div bex-list-content>
        <bex-focus-section>
            <bex-pool-list #poolList [filter]="layout.filter" [quickList]="!(layout.showAdvancedFilter | async)"></bex-pool-list>
        </bex-focus-section>
    </div>
    <div bex-show-content>
        <router-outlet></router-outlet>
    </div>
    <div bex-show-advanced-filter>
        <bex-pool-advanced-filter (change)="layout.advancedFilterChanged($event)">
        </bex-pool-advanced-filter>
    </div>
</bex-list-and-show-layout>
