<ng-container [ngSwitch]="displayStatus | async">
    <div *ngIf="(displayStatus | async) === statuses.Loading" class="loading-icon" [class.relative]="relative">
        <div [class]="'spinner ' + size">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <div *ngSwitchCase="statuses.Error">
        <div *ngIf="error" class="entity-not-found">{{error.message}}</div>
    </div>
    <div class="loading-content" [class.loading]="(displayStatus | async) === statuses.Loading" #ref>
        <ng-content></ng-content>
    </div>
</ng-container>
