@import "app/styles/variables";

bl-file-or-directory-picker {
    display: block;
    position: relative;

    table {
        margin-bottom: 0;
    }

    .help {
        margin: 10px 0;
        font-style: italic;
        color: $alto;
    }

    .drop-overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $secondary-background;
        border: 2px dashed $border-color;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary-text;

        > .fa-upload {
            font-size: 36px;
            margin-right: 15px;
        }

        > .message {
            font-size: 20px;
        }

    }
}
