<bex-action-form [submit]="submitForm" [formGroup]="form" submitText="Add this user to the node">
    <form [formGroup]="form">
        <div class="form-element">
            <md-input-container>
                <input md-input placeholder="Username" formControlName="username">
            </md-input-container>
        </div>
        <div class="form-element">
            <md-input-container>
                <input md-input type="password" placeholder="Password" formControlName="password">
            </md-input-container>
        </div>
        <div class="form-element">
            <md-slide-toggle formControlName="isAdmin" color="warn">
                Is Admin
            </md-slide-toggle>
        </div>
    </form>
</bex-action-form>
