<div class="slideout-form content-wrapper node-connect" *ngIf="node && pool">
    <div class="connect-content">
        <div class="sidebar-header">
            <h1>Connect to node</h1>
        </div>
        <div *ngIf="credentialSource === null">
            <div class="node-information">
                <bl-property-group>
                    <!-- If waiting for connection settings -->
                    <bl-text-property *ngIf="!connectionSettings" label="IP" value="Fetching..."></bl-text-property>
                    <bl-text-property *ngIf="!connectionSettings" label="Port" value="Fetching..."></bl-text-property>
                    <bl-text-property *ngIf="!connectionSettings" label="SSH Command" value="Fetching..."></bl-text-property>
                    <!-- Once connection settings are fetched -->
                    <bl-text-property *ngIf="connectionSettings" label="IP" [value]="connectionSettings.ip"></bl-text-property>
                    <bl-text-property *ngIf="connectionSettings" label="Port" [value]="connectionSettings.port"></bl-text-property>
                    <bl-text-property *ngIf="connectionSettings" label="SSH Command" [value]="sshCommand"></bl-text-property>
                    <div class="custom-property">
                        <h5 class="label-small username-label">Username</h5>
                        <input blInput type="text" [(ngModel)]="username" id="input-username" [placeholder]="defaultUsername" />
                    </div>
                    <div *ngIf="linux">
                        <div class="custom-property">
                            <h5 class="label-small">SSH Key File</h5>
                            <div *ngIf="hasLocalPublicKey">{{publicKeyFile}}</div>
                            <div *ngIf="!hasLocalPublicKey">Not Found!</div>
                        </div>
                    </div>
                    <div class="custom-property" *ngIf="windows">
                        <h5 class="label-small username-label">Password</h5>
                        <input blInput type="password" id="input-password" placeholder="Password" />
                    </div>
                </bl-property-group>
            </div>
            <div class="credentials-source">
                <bl-button type="wide" [skipSuccess]="true" [action]="autoConnect" [disabled]="!hasLocalPublicKey" [matTooltip]="quickStartTooltip" [matTooltipDisabled]="hasLocalPublicKey">
                    <div class="button-icon-frame">
                        <i class="fa fa-plug fa-fw"></i>
                    </div>
                    <div class="button-label">Connect</div>
                </bl-button>
                <bl-button type="wide" [action]="specifyCredentials">
                    <div class="button-icon-frame">
                        <i class="fa fa-wrench fa-fw"></i>
                    </div>
                    <div class="button-label">Configure</div>
                </bl-button>
            </div>
        </div>
        <div *ngIf="credentialSource === CredentialSource.Specified && !credentials">
            <bl-node-user-credentials-form [submit]="addOrUpdateUser" [isLinuxNode]="linux" (close)="goToHome()"></bl-node-user-credentials-form>
        </div>
        <div *ngIf="hasIp && connectionSettings && credentials">
            <div class="waiting-for-process" *ngIf="credentialSource === CredentialSource.Generated && !processLaunched">
                <bl-loading></bl-loading>
                <div>Connecting to node...</div>
            </div>
            <div *ngIf="processLaunched">
                <div class="warn-text" *ngIf="expireTime">Note: These credentials are valid until {{expireTime}} on this node.</div>
                <bl-property-group>
                    <bl-text-property label="IP" [value]="connectionSettings.ip"></bl-text-property>
                    <bl-text-property label="Port" [value]="connectionSettings.port"></bl-text-property>
                    <bl-text-property label="Username" [value]="credentials.name"></bl-text-property>
                    <bl-text-property label="Key File" [value]="publicKeyFile"></bl-text-property>
                </bl-property-group>
            </div>
        </div>
    </div>
    <div class="action-btns">
        <span *ngIf="credentials && windows && agentSkus">
            <bl-download-rdp [nodeId]="node.id" [credentials]="credentials" [rdpContent]="rdpContent" [connectionSettings]="connectionSettings"></bl-download-rdp>
        </span>
    </div>
    <div *ngIf="credentialSource === CredentialSource.Generated">
        <bl-button color="light" type="wide" [action]="goToHome">Back</bl-button>
    </div>
    <bl-clickable class="close-button" type="plain" (do)="close()"><i class="fa fa-times fa-lg"></i></bl-clickable>
</div>
