<div class="slideout-form content-wrapper node-connect" *ngIf="node && pool">
    <div class="connect-content">
        <h1>Connect to node </h1>
        <div *ngIf="credentialSource === null">
            <h3>Node credentials</h3>
            <div class="credentials-source">
                <bl-button type="wide" [action]="generateCredentials">Generate</bl-button>
                <bl-button type="wide" [action]="specifyCredentials">Specify</bl-button>
                <bl-button type="wide" [action]="generateWithOneClick" [disabled]="!hasLocalPublicKey">QuickStart</bl-button>
            </div>
        </div>
        <div *ngIf="credentialSource === CredentialSource.Specified && !credentials">
            <bl-node-user-credentials-form [submit]="addOrUpdateUser" [isLinuxNode]="linux" (close)="goToHome()"></bl-node-user-credentials-form>
        </div>
        <div>
            <bl-property-group *ngIf="credentials">
                <div class="warn-text">These credentials are now valid until {{expireTime}} on this node</div>
                <bl-text-property label="Username" [value]="credentials.name"></bl-text-property>
                <bl-text-property label="Password" [value]="credentials.password" *ngIf="credentialSource === CredentialSource.Generated"></bl-text-property>
            </bl-property-group>
        </div>
        <div *ngIf="hasIp && connectionSettings && credentials">
            <h3>Connection settings</h3>
            <bl-property-group>
                <bl-text-property label="IP" [value]="connectionSettings.ip"></bl-text-property>
                <bl-text-property label="Port" [value]="connectionSettings.port"></bl-text-property>
                <bl-text-property *ngIf="!windows" label="SSH command" [value]="sshCommand"></bl-text-property>
            </bl-property-group>
        </div>
    </div>
    <div class="action-btns">
        <span *ngIf="credentials && windows && agentSkus">
            <bl-download-rdp [nodeId]="node.id" [credentials]="credentials" [rdpContent]="rdpContent" [connectionSettings]="connectionSettings"></bl-download-rdp>
        </span>
        <bl-button color="light" type="wide" [action]="close">Close</bl-button>
    </div>
</div>
