<bl-simple-form [submit]="submitForm" [formGroup]="form" [stickyFooter]="false" size="medium" saveText="Add this user to the node" (done)="close.emit()">
    <form [formGroup]="form">
        <div class="form-element username-mode-input">
            <bl-form-field>
                <input blInput placeholder="Username" formControlName="username">
            </bl-form-field>
            <div *ngIf="isLinuxNode">
                <mat-radio-group formControlName="mode" color="primary">
                    <mat-radio-button [value]="CredentialsMode.SSHPublicKey">
                        SSH Public Key
                    </mat-radio-button>
                    <mat-radio-button [value]="CredentialsMode.Password">
                        Password
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="form-element" *ngIf="!useSSHKey">
            <bl-form-field>
                <input blInput type="password" placeholder="Password" formControlName="password">
            </bl-form-field>
        </div>
        <div *ngIf="useSSHKey">
            <bl-ssh-key-picker formControlName="sshPublicKey"></bl-ssh-key-picker>
        </div>
        <br/>
        <div class="grow">
            <div class="gcol">
                <mat-slide-toggle formControlName="isAdmin" color="primary">
                    Is Admin
                </mat-slide-toggle>
            </div>
            <div class="gcol">
                <bl-duration-picker label="Expires in" formControlName="expireIn" [allowUnlimited]="false">
                </bl-duration-picker>
            </div>
        </div>
    </form>
</bl-simple-form>
