@import "app/styles/variables";

bl-node-connect {
    position: relative;
    display: block;
    padding: 15px;

    .close-button {
        position: absolute;
        top: 7px;
        right: 7px;
    }

    .connect-content {
        min-height: calc(100% - 85px);

        .sidebar-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .node-information {
            bl-property-group {
                margin: 15px 0;

                .custom-property {
                    display: flex;
                    padding: 0;
                    margin: 0 0 5px;
                    position: relative;
                    width: 100%;
                    overflow: visible;

                    .label-small {
                        color: $secondary-text;
                        font-size: 13px;
                        flex-basis: 200px;
                        font-weight: bold;
                        line-height: 20px;
                        margin-right: 5px;
                    }

                    > input {
                        flex: 1;
                        max-width: 349px;
                    }

                    > .display-field {
                        flex: 1;
                        max-width: 350px;
                        background-color: $main-background;
                        padding: 3px 8px;
                        margin: 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: block;
                        width: 100%;
                        min-height: 24px;
                    }

                    bl-clickable {
                        color: $link-color;
                    }

                    .password-failure-hint {
                        position: absolute;
                        top: 27px;
                        left: 205px;
                        color: red;
                    }

                    .clipboard-info {
                        position: absolute;
                        top: 28px;
                        left: 210px;
                        color: $secondary-text;
                    }
                }
            }
        }

        .credentials-inputs {
            width: 400px;
            display: flex;
            align-items: center;
            margin: 10px;

            > input {
                width: 200px;
                margin: 5px;
                padding: 5px;
            }
        }

        .credentials-source {
            display: flex;
            justify-content: center;

            > bl-button {
                user-select: none;
                width: 150px;
                height: 150px;
                font-size: 20px;
                margin: 10px 20px;
                text-align: center;
                cursor: pointer;
                position: relative;
                color: $whitesmoke;
                background-color: $primary-color;

                &:hover {
                    color: $whitesmoke;
                    background-color: $primary-color-light;
                }

                &:active {
                    color: $whitesmoke;
                    background-color: $primary-color-dark;
                }

                .button-icon-frame {
                    position: absolute;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 150px;
                    height: 150px;

                    i {
                        font-size: 50px;
                    }
                }

                .button-label {
                    position: absolute;
                    top: 135px;
                    left: 10px;
                    line-height: 0;
                    font-size: 15px;
                }
            }
        }

        .waiting-for-process {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 75px;
            font-size: 12pt;
        }

        .warn-text {
            margin: 10px 0;
        }

        bl-node-user-credentials-form {
            display: block;
            margin-bottom: 20px;

            .username-mode-input {
                display: flex;
                align-items: center;

                bl-form-field {
                    flex: 1;
                    margin-right: 20px;
                }
            }
        }
    }
}
