@import "app/styles/variables";

bl-node-connect {
    display: block;
    padding: 15px;

    .connect-content {
        min-height: calc(100% - 85px);
    }
}
.credentials-source {
    display: flex;
    justify-content: center;

    > bl-button {
        user-select: none;
        width: 150px;
        height: 75px;
        line-height: 75px;
        font-size: 20px;
        margin: 10px 20px;
        text-align: center;
        cursor: pointer;

        &:hover {
            color: $whitesmoke;
            background-color: map-get($primary, 400);
        }

        &:active {
            color: $whitesmoke;
            background-color: map-get($primary, 500);
        }
    }
}

bl-node-user-credentials-form {
    display: block;
    margin-bottom: 20px;

    .username-mode-input {
        display: flex;
        align-items: center;

        bl-form-field {
            flex: 1;
            margin-right: 20px;
        }
    }
}
