<div class="form-element ssh-key-picker">
    <md-input-container class="bl-textarea">
        <textarea mdInput placeholder="SSH public key" [formControl]="sshKeyValue"></textarea>
    </md-input-container>
    <div class="saved-keys">
        <div *ngIf="!showSaveForm">
            <div class="saved-keys-btns">
                <bl-button color="primary" type="wide" class="add-key-btn" (click)="addKey()"><i class="fa fa-save"></i> Save this key</bl-button>
            </div>
            <div class="saved-keys-wrapper">
                <div class="key" *ngFor="let key of savedSSHKeys" (click)="selectKey(key)">
                    <span class="label">{{key.name}}</span>
                    <i class="fa fa-times" title="Delete" (click)="deleteKey(key)"></i>
                </div>

                <div class="no-key" *ngIf="savedSSHKeys.size === 0">
                    <div>
                        <i class="fa fa-key"></i>
                    </div>
                    No saved public keys
                </div>
            </div>
        </div>
        <div [hidden]="!showSaveForm" class="save-key-form">
            is hidden {{!showSaveForm}}
            <md-input-container>
                <input mdInput placeholder="Name" [formControl]="sshKeyName" #nameInput>
            </md-input-container>

            <div class="btn-container">
                <bl-button type="round" color="primary" class="save-key-btn" [action]="saveKey"><i class="fa fa-check"></i> </bl-button>
                <bl-button type="round" color="danger" [action]="cancelAddKey"><i class="fa fa-times"></i> </bl-button>
            </div>
        </div>
    </div>
</div>
