<div class="description">
    <div *ngIf="credentialType === CredentialType.AAD && !aadCredentials" class="aad-needs-setup-creds">
        <i class="fa fa-warning"></i>You haven't picked an Azure AD application yet. The sample below will not have all the information filled.
    </div>
    <bl-property-group label="" class="wide" class="prerequisites">
        <bl-table-property label="Prerequisites" *ngIf="prerequisites">
            <bl-table-property-row *ngFor="let prerequisite of prerequisites;trackBy: trackPrerequisite">
                <bl-tp-cell [value]="prerequisite" role="button" attr.aria-label="Copy {{prerequisites}} to clipboard"></bl-tp-cell>
            </bl-table-property-row>
        </bl-table-property>
    </bl-property-group>
</div>
<bl-editor [value]="content" [config]="editorConfig"></bl-editor>
