@import "app/styles/variables";

bl-programing-sample {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    > .description {
        padding-top: 10px;
        border-bottom: 1px solid $border-color;
    }

    > bl-editor {
        flex: 1;
    }

    bl-tp-cell {
        border: 1px solid var(--color-input-border);
    }
}
