<bl-card [class]="type">
    <bl-clickable class="summary-container"
        [ngClass]="height"
        [tabindex]="details.children.length !== 0 ? 0 : -1"
        (do)="showDetails = !showDetails && details.children.length !== 0"
        [class.expandable]="details.children.length !== 0"
        [attr.aria-expanded]="showDetails">
        <ng-content select="[code]"></ng-content>
        <div class="message">
            <ng-content select="[message]"></ng-content>
        </div>
        <div class="quick-fix-btn-container noselect" *ngIf="fixMessage" (mouseleave)="showOtherFixes = false">
            <bl-clickable class="btn" (do)="triggerFix()" [ngSwitch]="state" [class.disabled]="state !== errorStates.Error">
                <span *ngSwitchCase="errorStates.Error">Fix: {{ fixMessage }}</span>
                <span *ngSwitchCase="errorStates.Fixing">
                    <i class="fa fa-spinner fa-spin"></i> Fixing
                </span>
                <span *ngSwitchCase="errorStates.Fixed">
                    <i class="fa fa-check"></i>Fixed
                </span>
            </bl-clickable>
            <bl-clickable class="other-fixes-btn" *ngIf="otherFixes.length !== 0"
                (mouseenter)="state === errorStates.Error && showOtherFixes = true"
                (do)="state === errorStates.Error && showOtherFixes = !showOtherFixes"
                [class.disabled]="state !== errorStates.Error">
                <i class="fa fa-plus"></i>
            </bl-clickable>
            <div *ngIf="showOtherFixes" class="other-fixes">
                <bl-clickable *ngFor="let otherFix of otherFixes;trackBy: trackByFn" class="other-fix" (do)="triggerFix(otherFix)">
                    {{otherFix.fixMessage}}
                </bl-clickable>
            </div>
        </div>
        <i class="caret fa" [class.fa-caret-left]="!showDetails" [class.fa-caret-down]="showDetails" *ngIf="details.children.length !== 0"></i>
    </bl-clickable>
    <div class="details-container" [hidden]="!showDetails || details.children.length == 0" #details>
        <ng-content select="[details]"></ng-content>
    </div>
</bl-card>
