<td class="checkbox-cell" (click)="handleClick($event, false)" *ngIf="tableConfig.showCheckbox">
    <div class="checkbox">
        <i class="fa fa-check" *ngIf="selected"></i>
    </div>
</td>

<div *ngFor="let column of columns;let index = index;trackBy: trackColumn"
    class="bl-table-cell"
    role="gridcell"
    id="{{id}}-col-{{index}}"
    [class.focused]="focused && index == focusedColumn"
    [class.fixed-size]="columnWidths[column.name]"
    [style.flex-basis.px]="columnWidths[column.name]"
    [style.min-width.px]="column.minWidth"
    [style.max-width.px]="column.maxWidth">
    <ng-template [ngTemplateOutlet]="column.cellTemplate" [ngTemplateOutletContext]="{$implicit: item}"></ng-template>
</div>
