<ul [class.expanded]="expanded">
    <bl-breadcrumb *ngFor="let crumb of crumbs; let i = index" [index]="i" [crumb]="crumb">
    </bl-breadcrumb>
    <bl-breadcrumb *ngFor="let crumb of crumbs; let i = index" [index]="i" [crumb]="crumb">
    </bl-breadcrumb>
    <bl-breadcrumb *ngFor="let crumb of crumbs; let i = index" [index]="i" [crumb]="crumb">
    </bl-breadcrumb>
    <bl-breadcrumb *ngFor="let crumb of crumbs; let i = index" [index]="i" [crumb]="crumb">
    </bl-breadcrumb>
    <bl-breadcrumb *ngFor="let crumb of crumbs; let i = index" [index]="i" [crumb]="crumb">
    </bl-breadcrumb>
    <bl-breadcrumb *ngFor="let crumb of crumbs; let i = index" [index]="i" [crumb]="crumb">
    </bl-breadcrumb>
</ul>
