<ul [class.expanded]="expanded">
   <li *ngIf="expandable && !expanded" (click)="clickBreadcrumb(crumbs[0])" class="noselect"
        title="{{crumbs[0].data.name}}">
        <div class="crumb-content" [class.no-label]="!crumbs[0].data.label" [class.invert-ellipsis]="crumbs[0].data.invertName">{{crumbs[0].data.name}}</div>
        <div class="crumb-label" *ngIf="crumbs[0].data.label">
            {{crumb.data.label}}
        </div>
    </li>
    <div class="expand" *ngIf="expandable && !expanded" (click)="expand($event)">
        ...
    </div>
    <li *ngFor="let crumb of displayCrumbs; let i = index" [style.z-index]="crumbs.length - i" (click)="clickBreadcrumb(crumb)" class="noselect"
        title="{{crumb.data.name}}">
        <div class="crumb-content" [class.no-label]="!crumb.data.label" [class.invert-ellipsis]="crumb.data.invertName">{{crumb.data.name}}</div>
        <div class="crumb-label" *ngIf="crumb.data.label">
            {{crumb.data.label}}
        </div>
    </li>
</ul>
