
bex-task-lifetime {
    $tile-size: 30px;
    $separator-width: 40px;
    $separator-height: 2px;

    .timeline {
        display: flex;

        bex-task-lifetime-state {
            position: relative;
            display: flex;

            > .tile {
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: $tile-size;
                height: $tile-size;
                border-radius: $tile-size / 2;

                > .fa {
                    color: white;
                }
                > .subtitle {
                    font-size: 12px;
                    font-weight: 400;
                }
            }

            > .details {
                margin-left: 5px;
                font-size: 12px;
                text-align: left;
                line-height: 14px;

                > .state-name {
                    font-weight: bold;
                }

                > .info {
                    color: $dusty-grey;

                    .warn {
                        color: $yellow;
                    }
                }
            }

            &.done > .tile {
                background: map-get($md-prussian-blue, 300);
            }

            &.active > .tile {
                background: map-get($md-prussian-blue, 300);
            }

            &.locked > .tile {
                color: $dusty-grey;
                background: $alto;
            }

            &.warn > .tile {
                background: $yellow;
            }
        }

        .state-link {
            height: 2px;
            width: $separator-width;
            background: map-get($md-prussian-blue, 300);
            margin: 0 5px;
            margin-top: ($tile-size - $separator-height )/ 2;

            &.locked {
                background: $alto;
            }
        }

        md-progress-bar {
        }
    }
}
