bl-task-log, bl-task-outputs {
    display: block;

    .file-tabs {
        display: flex;

        &.pad-bottom {
            margin-bottom: 10px;
        }

        > .file-tab, > .file-tab-more {
            height: 28px;
            background: $emperor-grey;
            padding: 5px 10px;
            color: $whitesmoke-darker;
            border-right: 1px solid white;
            cursor: pointer;

            &.active {
                background: #222;
            }

            &:hover {
                background: $dove-grey;
            }
        }

        > .file-tab-more {
            font-size: 20px;
        }
    }
}
