<bl-dropdown [footer]="false" align="right">
    <div bl-dropdown-btn>
        <i class="fa fa-wpforms"></i>
        <span class="count" *ngIf="references.length > 0">{{references.length}}</span>
    </div>
    <div bl-dropdown-content class="bookmarks-container">
        <div class="dropdown-item bookmark" *ngFor="let reference of references;trackBy: trackReference" (click)="selectBookmark(reference)">
            <span>{{reference.id}}</span>
            <i class="fa fa-times" (click)="destroyBookmark(reference)"></i>
        </div>

        <div *ngIf="references.length === 0" class="dropdown-item no-bookmarks">
            <div> No forms in progress</div>
        </div>
    </div>
</bl-dropdown>
