<div class="tab-navigation">
    <bl-clickable class="tab-navigation-item" *ngFor="let tab of tabs;trackBy: trackTab" (do)="selectTab(tab)" [class.active]="tab === currentTab">
        <ng-template [ngTemplateOutlet]="tab.label"></ng-template>
    </bl-clickable>

    <div class="vtab-navigation-footer">
        <ng-content select="[blVtabFooter]"></ng-content>
    </div>
</div>
<div class="tab-content">
    <ng-template [ngTemplateOutlet]="currentTab.content" *ngIf="currentTab"></ng-template>
</div>
