<div [formGroup]="files">
    <div *ngFor="let control of files.controls;let i = index" class="file-row">
        <bl-resourcefile-picker-row [formControlName]="i" (delete)="removeRow(i)">
        </bl-resourcefile-picker-row>
    </div>
</div>

<bl-button type="wide" (do)="addUrlResourceFile()">Add from url</bl-button>
<bl-button type="wide" (do)="pickFromAzureStorage()">Add from azure storage</bl-button>

<span class="help">You can drag and drop files here to be uploaded automatically</span>
<div class="uploading-files" *ngIf="uploadingFiles.length > 0">
    <div class="file" *ngFor="let file of uploadingFiles;trackBy: trackUploadingFile">
        <i class="fa fa-spinner fa-spin"></i>
        {{file}}
    </div>
</div>
<div *ngIf="isDraging" class="drop-overlay">
    <i class="fa fa-upload"></i>
    <span class="message">Upload file</span>
</div>
