body {
    background: #f5f5f5;
    padding: 0;
    margin: 0;
    overflow:auto;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 500px;
    /* background: #2e6083; */
    overflow:auto;
    color: #f5f5f5;
    text-align: center;
    padding: 5rem 6rem;
    background-color: #159957;
    background-image: linear-gradient(120deg, #6ba3cb, #264f6c);
}

.header .title {
    margin: auto;
    font-size: 3.25rem;
}

.header .subtitle {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
}

.jumbotron {
    margin-bottom: 0px !important;
    background-color: white !important;
    border-radius: 0px !important;
    padding: 1em 5% !important;
}

.jumbotron .btn {
    border-radius: 0;
    height: 48px;
}

.header .btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.08);
    border-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    padding: 0.75rem 1rem;
}

.header .btn:hover {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    background-color: rgba(255,255,255,0.2);
    border-color: rgba(255,255,255,0.3);
}

.header .btn:active {
    outline: 0;
}

.download-title {
    text-align: center;
    color: #2e6083;
}

.btn-link {
    border-radius: 0 !important;
    background-color: #165f28 !important;
    color: white !important;
    display: inline-grid !important;
    align-items: center;
    min-width: 160px;
    max-width: 320px;
    width: 100%;
    margin: 2px;
}

.text-link {
    color: #0078d4;
}

.os-download-btn {
    border-color: #165f28 !important;
    min-width: 180px;
    height: 60px;
}

.demo-image {
    display: block;
    width: 100%;
    margin: 15px auto;
    box-shadow:  1px 1px 20px 0 rgba(0, 0, 0, 0.2);
}

.downloads {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #333333;
    padding: 1em;
}

.os-download {
    margin: 0 40px;
    width: 200px;
    text-align: center;
    color: #5b5b5b;
}

.os-download .type {
    padding: 1rem;
}

.os-download .type .fa {
    font-size: 6rem;
    color: white;
}

.os-download .type > .label {
    margin-top: 1rem;
    font-size: 2rem;
}

.os-download .type > .label {
    margin-top: 1rem;
    font-size: 2rem;
}

.os-download .alternate-downloads a{
    color:lightgray;
}

.os-download .alternate-downloads {
    color: #CCCCCC;
}

.insider-builds-link  {
    margin-top: 10px;
    text-align: center;
}

.swimlane {
    padding: 6rem 0 6rem;
    min-height: 30rem;
    position: relative;

    /* font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif; */
}

.swimlane h2 {
    color:#333333;
    margin-bottom: 1.5rem;
}

.swimlane p {
    line-height: 2.5rem;
    color:#595959;
    /* font-size: 1.8rem; */
}

.swimlane .screenshot {
    height: 380px;
}

.dark {
    background-color: #e5e5e5;
}

.os-download .option:hover {
    background: #e5e5e5;
}

.footer {
    padding: 2em;
    background-color: #333333;
}

footer .links li {
    display: inline-block;
    color: white;
    vertical-align: top;
}

footer .links li a {
    color: white;
    font-size: small;
}

footer .links li:not(:last-child) {
    padding-right: 20px;
}

.warning {
    color: #e31c3d;
}

.license-and-privacy {
    padding: 30px;
    margin: auto;
    text-align: center;
    width: 800px;
}