<div class="activity-monitor-header">
    <h1>Activity Monitor</h1>

    <div class="actions">
        <bl-button title="Cancel All" (click)="cancelAll()" tooltipPosition="below">
            <i class="fa fa-times"></i>
        </bl-button>
    </div>
</div>
<div class="main-content">
    <div class="running-activities activity-list">
        <bl-activity-monitor-tree-view
            [activities]="runningActivities"
            name="Running Activities"
        ></bl-activity-monitor-tree-view>
    </div>
    <div class="completed-activities activity-list">
        <bl-activity-monitor-tree-view
            [activities]="pastActivities"
            name="History"
        ></bl-activity-monitor-tree-view>
    </div>
</div>
