<div class="activity-monitor-header">
    <h1>Activity Monitor</h1>

    <div class="actions">
        <bl-button title="Cancel All" (click)="cancelAll()" tooltipPosition="below">
            <i class="fa fa-times"></i>
        </bl-button>
    </div>
</div>
<div class="main-content">
    <div class="running-activities">
        <div class="section-header">
            <div class="label">Running Activities</div>
        </div>
        <div class="activity-list">
            <div class="single-activity" *ngFor="let activity of runningActivities; trackBy: trackByFn">
                <bl-activity-monitor-item [activity]="activity"></bl-activity-monitor-item>
            </div>
        </div>
    </div>
    <div class="completed-activities">
        <div class="section-header">
            <div class="label">History</div>
        </div>
    </div>
</div>
