@import "app/styles/variables";

bl-activity-monitor {
    display: block;
    height: $contentview-height;

    $activity-monitor-header-height: 60px;
    $activity-monitor-content-height: calc(#{$contentview-height} - #{$activity-monitor-header-height});
    $activity-monitor-label-height: 24px;

    .activity-monitor-header {
        height: $activity-monitor-header-height;
        padding: 10px 20px;
        display: flex;

        > h1 {
            flex: 1;
        }

        .actions i {
            color: $primary-contrast-color;
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        height: $activity-monitor-content-height;
        width: 98%;
        overflow-y: scroll;
        overflow-x: hidden;

        > .running-activities, > .completed-activities {
            margin: 0 10px;
            min-height: 100px;
            width: 100%;

            .section-header {
                height: $activity-monitor-label-height;
                line-height: $activity-monitor-label-height;
                padding-left: 10px;
                background: $mercury-grey;
                vertical-align: middle;

                > .label {
                    font-size: 11px;
                    color: $mineshaft-grey;
                    text-transform: uppercase;
                    font-weight: 700;
                    display: inline-block;
                }
            }
        }
    }
}

