<bl-split-pane [config]="splitPaneConfig">
    <section blFirstPane class="tree-explorer-container" *ngIf="config.showTreeView">
        <bl-file-tree-view *ngFor="let source of this.workspace.sources;trackBy: trackSource"
            [fileNavigator]="source.navigator"
            [currentPath]="currentNode.path"
            [active]="source === currentSource"
            [name]="source.name"
            [autoExpand]="autoExpand"
            [canDropExternalFiles]="config.canDropExternalFiles"
            (navigate)="navigateTo($event, source)"
            (dropFiles)="handleDrop($event)"
            (deleteFiles)="handleDelete($event)">
        </bl-file-tree-view>
    </section>
    <section blSecondPane class="file-content-container">
        <bl-file-explorer-tabs [workspace]="workspace"></bl-file-explorer-tabs>
        <ng-container *ngIf="currentNode">
            <bl-file-table-view *ngIf="currentNode.treeNode.isDirectory && !currentNode.treeNode.isUnknown"
                [name]="currentSource.name"
                [treeNode]="currentNode.treeNode"
                [canDropExternalFiles]="config.canDropExternalFiles"
                [loadingStatus]="currentNode.treeNode.loadingStatus"
                [error]="currentSource.navigator.error"
                (select)="nodeSelected($event)"
                (back)="goBack()"
                (dropFiles)="handleDrop($event)">
            </bl-file-table-view>

            <bl-file-viewer-container *ngFor="let file of workspace.openedFiles | async;trackBy: trackOpenedFile"
                [fileLoader]="file.loader"
                [tailable]="config.tailable"
                [hidden]="file.path !== currentNode.path"
                (back)="goBack()">
            </bl-file-viewer-container>
        </ng-container>
    </section>
</bl-split-pane>
