<bl-loading [status]="data.newDataStatus | async">
    <div *ngIf="jobSchedule" class="fit-details-container">
        <bl-summary-card>
            <div summaryTitle>{{decorator.id}}</div>
            <div summarySubtitle>
                <i class="fa" [ngClass]="decorator.stateIcon"></i> {{decorator.state}}
            </div>
            <bl-tags *blFeatureOn="'schedule.view.tags'" summaryTags [tags]="jobSchedule.tags" [editable]="jobSchedule.editable" [save]="updateTags" noTagsMessage="No tags."></bl-tags>
            <bl-button-group summaryActions>
                <bl-refresh-btn [refresh]="refresh"></bl-refresh-btn>
                <bl-commands-list [commands]="commands" [entity]="jobSchedule"></bl-commands-list>
            </bl-button-group>
        </bl-summary-card>
        <bl-card class="details">
            <bl-tab-group>
                <bl-tab key="configuration">
                    <bl-tab-label>Configuration</bl-tab-label>
                    <bl-job-schedule-configuration [jobSchedule]="jobSchedule"></bl-job-schedule-configuration>
                </bl-tab>
                <bl-tab key="jobSpecification" *ngIf="jobSpecification">
                    <bl-tab-label>Job specification</bl-tab-label>
                    <bl-job-schedule-job-specification [job]="jobSpecification"></bl-job-schedule-job-specification>
                </bl-tab>
                <bl-tab key="autoPoolSpecification" *ngIf="autoPoolSpecification">
                    <bl-tab-label>Auto pool specification</bl-tab-label>
                    <bl-job-schedule-autopool [properties]="autoPoolSpecification"></bl-job-schedule-autopool>
                </bl-tab>
            </bl-tab-group>
        </bl-card>
    </div>
</bl-loading>
