<div *ngIf="!nodeNotFound && !fileCleanupOperation && !nodeInInvalidState">
    <bl-server-error class="error-in-list" [error]="error | async" *ngIf="(status | async) === LoadingStatus.Error"></bl-server-error>
    <bl-tree-view-display
            #treeDisplay
            [status]="status | async"
            [baseUrl]="baseUrl"
            [filter]="filter"
            [hasMoreMap]="moreFileMap"
            [loadPath]="loadPath"></bl-tree-view-display>
</div>

<div *ngIf="nodeNotFound" class="notfound-message top-margin">
    No files for this task were found on the node. The node may no longer be availble.
</div>

<div *ngIf="fileCleanupOperation" class="notfound-message top-margin">
    The files for the specified task have been recently cleaned up on the node.
</div>

<div *ngIf="nodeInInvalidState" class="notfound-message top-margin">
    The node currently has a state of '{{ nodeState || "unknown" }}', it is not able to accept file requests at this time.
</div>
