<div *ngIf="!nodeNotFound && !fileCleanupOperation">
    <bl-server-error class="error-in-list" [error]="data.error | async" *ngIf="(status | async) === LoadingStatus.Error"></bl-server-error>
    <bl-file-list-display [files]="data.items | async" [status]="status | async" [quickList]="quickList" [baseUrl]="baseUrl"
        [filter]="filter"></bl-file-list-display>
    <bl-list-loading [manualLoading]="manualLoading" [data]="data" [status]="status | async"></bl-list-loading>
</div>

<div *ngIf="nodeNotFound" class="notfound-message top-margin">
    No files for this task were found on the node. The node may no longer be availble.
</div>

<div *ngIf="fileCleanupOperation" class="notfound-message top-margin">
    The files for the specified task have been recently cleaned up on the node.
</div>
