<bl-loading [status]="data.status | async">
    <div>
        <bl-entity-details-list #listWrapper [refresh]="list.refresh" [filterPlaceholder]="quicksearchPlaceholder" [showAddButton]="false"
            [enableAdvancedFilter]="false" [showExpandButton]="false" quickSearchField="name" [loadMore]="list.loadMore">
            <div pre-quicksearch class="folders">
                <md-select placeholder="Filter by folder" [(ngModel)]="currentFolder">
                    <md-option [value]="null">All</md-option>
                    <md-option *ngFor="let folder of folders" [value]="folder.name">
                        {{folder.name}} - {{folder.friendlyName}}
                    </md-option>
                </md-select>
            </div>

            <bl-node-file-list #list [poolId]="poolId" [nodeId]="node.id" [filter]="listWrapper.filter" [folder]="currentFolder">
            </bl-node-file-list>
        </bl-entity-details-list>
    </div>
</bl-loading>
