<bl-focus-section>
    <bl-quick-list
        [data]="displayedAccounts"
        [status]="loadingStatus"
        [(activeItem)]="activeItem"
        [(selection)]="selection"
        [commands]="commands">

        <ng-container *blQuickListRowStatus="let account">
            <bl-quick-list-item-status [status]="accountStatus(account.id)"></bl-quick-list-item-status>
        </ng-container>
        <ng-container *blQuickListRowTitle="let account">
            {{account.displayName}}
            <ng-container *ngIf="account.name !== account.displayName">
                ({{account.name}})
            </ng-container>
        </ng-container>
        <ng-container *blQuickListRowState="let account">
            <div *ngIf="account.armEnabled" class="account-location">
                <bl-location [location]="account.location"></bl-location>
            </div>
            <ng-container *ngIf="!account.armEnabled">
                <span class="account-type">Local</span>
            </ng-container>
        </ng-container>

        <ng-container *blQuickListRowExtra="let account">
            <!-- <div class="flex-center"> -->
                <i class="fa fa-star" [class.favorite]="isAccountFavorite(account.id)" (click)="toggleFavorite(account.id)"></i>
            <!-- </div> -->
        </ng-container>
    </bl-quick-list>
</bl-focus-section>
