<bl-summary-card>
    <div summaryTitle>{{account.name}}</div>
    <div summaryDetails>
        <div>
            <span class="label">{{'account-summary-card.url' | i18n }}</span>
            {{account.url}}
        </div>
        <div>
            <span class="label">{{'account-summary-card.subscription' | i18n }}</span>
            <bl-clickable (do)="openSubscriptionInPortal()">{{subscriptionName}}</bl-clickable>
        </div>
        <div *ngIf="account.resourceGroup">
            <span class="label">{{'account-summary-card.resourceGroup' | i18n }}</span>
            <bl-clickable (do)="openResourceGroupInPortal()">{{resourceGroup}}</bl-clickable>
        </div>
    </div>
    <bl-button-group summaryActions>
        <bl-refresh-btn [refresh]="refresh"></bl-refresh-btn>
        <bl-commands-list [commands]="commands" [entity]="account"></bl-commands-list>
    </bl-button-group>
    <div summaryTile *ngIf="armAccount">
        <bl-account-quotas-card [account]="account"></bl-account-quotas-card>
    </div>
    <div summaryTile *ngIf="armAccount">
        <bl-storage-account-card [account]="account">
        </bl-storage-account-card>
    </div>
</bl-summary-card>
