@import "app/styles/variables";

bl-file-group-picker {
    bl-form-field {
        width: 100%;
        flex: 1;
    }
}
.mat-autocomplete-panel {
    .mat-option.new-file-group {
        font-style: italic;
        color: $generic-grey !important;
        border-bottom: 1px solid $border-color;
    }
}
