<bl-form-field>
    <input type="text" blInput [matAutocomplete]="auto" [formControl]="value" [placeholder]="label">
</bl-form-field>
<mat-hint class="warning" *ngIf="warning">
    This file group doesn't seem to exist. If you just created it, it will validate when the file group has finished uploading.
</mat-hint>
<mat-hint *ngIf="hint" align="end">
    {{hint}}
</mat-hint>
<mat-autocomplete #auto="matAutocomplete">
    <mat-option value="" (onSelectionChange)="createFileGroup($event)" class="new-file-group">
        + Create a new file group
    </mat-option>
    <mat-option *ngFor="let fileGroup of fileGroups;trackBy: trackFileGroup" [value]="fileGroup.name">
        {{ fileGroup.name }}
    </mat-option>
</mat-autocomplete>
