<mat-form-field>
    <input type="text" matInput [matAutocomplete]="auto" [formControl]="value" [placeholder]="label">
    <mat-hint class="warning" *ngIf="warning">
        This file group doesn't seem to exist.
    </mat-hint>
    <mat-hint *ngIf="hint" align="end">
        {{hint}}
    </mat-hint>
</mat-form-field>
<bl-button type="round" [action]="openCreateFileGroupDialog" title="Create a new file group"><i class="fa fa-plus"></i></bl-button>

<mat-autocomplete #auto="matAutocomplete">
    <mat-option value="" (onSelectionChange)="createFileGroup($event)">+ Create a new file group</mat-option>
    <mat-option *ngFor="let fileGroup of fileGroups" [value]="fileGroup.name">
        {{ fileGroup.name }}
    </mat-option>
</mat-autocomplete>
