@import "app/styles/variables";

bl-file-group-picker {
    display: inline-block;

    mat-form-field {
        width: 100%;

        .warning {
            color: map-get($warn, 500);
        }
    }
}
