@import "app/styles/variables";

bl-file-group-picker {
    display: flex;
    align-items: center;

    mat-form-field {
        width: 100%;
        flex: 1;

        .warning {
            color: map-get($warn, 500);
        }
    }

    bl-button {
        margin-left: 5px;
    }
}
