<bl-focus-section>
    <div>
        <div *ngFor="let treeRow of treeRows" [style.padding-left]="((treeRow.indent + 1) * 12) + 'px'" class="tree-row" [title]="treeRow.path" (click)="handleClick(treeRow)">
            <span class="caret" (click)="toggleExpanded(treeRow)">
                <i class="fa" [class.fa-caret-down]="expandedDirs.has(treeRow.path)" [class.fa-caret-right]="!expandedDirs.has(treeRow.path)" *ngIf="treeRow.isDirectory"></i>
            </span>
            <span class="icon">
                <i class="fa" [class.fa-folder]="treeRow.isDirectory" [class.fa-file]="!treeRow.isDirectory"></i>
            </span>
            <span class="label">{{treeRow.name}}</span>
        </div>
    </div>
</bl-focus-section>
