@import "app/styles/variables";

.node-content-wrapper, .tree-children {
    color: $black;
    font-size: 14px;
}

.toggle-children-wrapper {
    padding: 0!important;
}

.node-wrapper.tree-node-spin .toggle-children-placeholde, .node-wrapper.tree-node-spin .toggle-children {
    position: relative;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    height: 15px;
    width: 15px;
}

.node-wrapper.tree-node-spin .toggle-children-placeholder:before, .node-wrapper.tree-node-spin .toggle-children:before {
    content: "\f110"; // fa-spinner icon
    position: absolute;
    font-family: FontAwesome;
    cursor: default;
    color: $black;
}

.node-wrapper.tree-node-file .toggle-children-placeholder:before {
    content: "\f15b"; // fa-file icon
    position: absolute;
    font-family: FontAwesome;
    cursor: default;
    color: $dove-grey;
}

.toggle-children, .toggle-children-placeholder {
    z-index: 1;
    font-size: 14px;
    background: none!important;
    transform: none!important;
    height: 15px!important;
    width: 15px!important;
    margin-top: 1px;
    margin-left: 20px;
}

.toggle-children-wrapper-collapsed .toggle-children:before, .node-wrapper.tree-node-collapsed .toggle-children-placeholder:before {
    content: "\f07b"; // fa-folder icon
    position: absolute;
    font-family: FontAwesome;
    cursor: default;
    color: #f8d979;
}

.toggle-children-wrapper-expanded .toggle-children:before, .node-wrapper.tree-node-expanded .toggle-children-placeholder:before {
    content: "\f07c"; // fa-folder-open icon
    position: absolute;
    font-family: FontAwesome;
    cursor: default;
    color: #f8d979;
}
