@import "app/styles/variables";

bl-pool-details {
    .estimated-cost {
        margin: 5px;
    }


    .open-pool-graphs-new-window {
        position: absolute;
        right: 10px;
        color: $link-color;
        margin-left: 10px;
        z-index: 100;
    }

    div[summaryTile] > bl-pool-state-graph {
        margin: 10px;
    }
}
