<div *ngIf="filename">
    <md-card class="overview">
        <div class="actions">
            <bl-action-btn-group>
                <bl-refresh-btn [refresh]="refresh"></bl-refresh-btn>
                <bl-download-button [enabled]="downloadEnabled" (click)="downloadFile()"></bl-download-button>
            </bl-action-btn-group>
        </div>
        <div class="content">
            <md-card-title>{{filename}}</md-card-title>
            <md-card-subtitle>{{url}}</md-card-subtitle>
            <md-card-subtitle>{{contentSize}}</md-card-subtitle>
        </div>
    </md-card>
    <div class="details" style="margin-top: 5px">
        <bl-file-content *ngIf="jobId && taskId && !outputKind" [jobId]="jobId" [taskId]="taskId" [filename]="filename"></bl-file-content>
        <bl-file-content *ngIf="jobId && taskId && outputKind" [jobId]="jobId" [taskId]="taskId" [outputKind]="outputKind" [filename]="filename"></bl-file-content>
        <bl-file-content *ngIf="poolId && nodeId" [poolId]="poolId" [nodeId]="nodeId" [filename]="filename"></bl-file-content>
    </div>
</div>
