<div *ngIf="filename">
    <div class="file-header">
        <div class="content">
            <md-card-title>{{filename}}</md-card-title>
            <md-card-subtitle>{{url}}</md-card-subtitle>
            <md-card-subtitle>{{contentSize}}</md-card-subtitle>
        </div>

        <div class="actions">
            <bl-refresh-btn [refresh]="refresh"></bl-refresh-btn>
            <bl-download-button [enabled]="downloadEnabled" [action]="downloadFile"></bl-download-button>
            <bl-button color="light" [disabled]="!downloadEnabled" [action]="openExternal" title="Open in default application"><i class="fa fa-external-link"></i></bl-button>
        </div>
    </div>
    <div class="details" style="margin-top: 5px">
        <bl-file-content [fileLoader]="fileLoader" *ngIf="fileLoader"></bl-file-content>
    </div>
</div>
