<bl-focus-section>
    <bl-quick-list *ngIf="quicklist"
        [status]="status"
        [commands]="commands"
        [(activeItem)]="activeItem"
        [(selection)]="selection"
        (scrollBottom)="scrollBottom.emit()">
        <bl-quick-list-item *ngFor="let node of nodes;trackBy: trackNode" [link]="['/pools', poolId, 'nodes', node.id]" [key]="node.id">
            <bl-quick-list-item-status [status]="" [tooltip]="">
            </bl-quick-list-item-status>

            <div bl-quick-list-item-title>{{node.id}}</div>
            <p bl-quick-list-item-field>{{node.state}}</p>
        </bl-quick-list-item>
    </bl-quick-list>

    <bl-table *ngIf="!quicklist"
        [data]="nodes"
        [status]="status"
        [(activeItem)]="activeItem"
        [(selection)]="selection"
        (scrollBottom)="scrollBottom.emit()">

        <bl-column name="id" [defaultWidth]="300">
            <div *blHeadCellDef>ID</div>
            <div *blCellDef="let node">{{node.id}}</div>
        </bl-column>

        <bl-column name="state">
            <div *blHeadCellDef>State</div>
            <div *blCellDef="let node">{{node.state}}</div>
        </bl-column>

        <bl-column name="schedulingState">
            <div *blHeadCellDef>Scheduling state</div>
            <div *blCellDef="let node">{{node.schedulingState}}</div>
        </bl-column>

        <bl-column name="totalTasksRun">
            <div *blHeadCellDef>Total task run</div>
            <div *blCellDef="let node">{{node.totalTasksRun}}</div>
        </bl-column>
    </bl-table>
</bl-focus-section>

<bl-no-item [itemCount]="nodes.size" [status]="status">
    <i icon class="fa fa-tv"></i>
    <span no-filter>No nodes</span>
    <span with-filter>No nodes match this filter</span>
</bl-no-item>
