<bl-table *ngIf="dependencies.size > 0" [forceBreadcrumb]="true">
    <bl-thead>
        <bl-column>Task ID</bl-column>
        <bl-column>State</bl-column>
        <bl-column>Depends on</bl-column>
    </bl-thead>
    <bl-row *ngFor="let dependency of dependencies;trackBy: trackByFn" [key]="dependency.id" [link]="['/jobs', jobId, 'tasks', dependency.id]">
        <bl-cell>{{dependency.id}}</bl-cell>
        <bl-cell>
            <span *ngIf="!dependency.loading">{{dependency.state}}</span>
            <i *ngIf="dependency.loading" class="fa fa-spinner fa-spin cell-spinner"></i>
        </bl-cell>
        <bl-cell>{{dependency.dependsOn}}</bl-cell>
    </bl-row>
</bl-table>
<bl-no-item [itemCount]="dependencies.size">
    <span no-filter>This task contains no dependent tasks</span>
</bl-no-item>
