.log-console {
    $file-content-bg: #222;

    position: relative;
    background: $mineshaft-grey;
    color: $whiteSmoke;

    .log-container {
        clear: left;
        min-height: 42px;
        padding: 15px 0;
        color: #f1f1f1;
        font-size: 12px;
        line-height: 19px;
        font-family: Monaco, monospace;
        word-wrap: break-word;
        background-color: $file-content-bg;
        counter-reset: line-numbering;
        margin-top: 0;

        > bl-simple-loading {
            padding-left: 10px;
        }
    }

    .line {
        padding: 0 15px 0 55px;
        margin: 0;
        min-height: 16px;
    }

    .line-nb {
        display: inline-block;
        text-align: right;
        min-width: 40px;
        margin-left: -33px;
        cursor: pointer;
        text-decoration: none;
        color: $dove-grey;
        -webkit-user-select: none;
        user-select: none;

        &:before {
            content: counter(line-numbering);
            counter-increment: line-numbering;
            padding-right: 1em;
        }
    }

    .line-content {
        white-space: pre-wrap;
    }

    .follow-log-btn {
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 0;
        margin: 10px;
        background: $mercuryGray;
        color: $mineshaft-grey;
        border-radius: 3px;
        padding: 2px 4px;

        &.bottom {
            top: auto;
            bottom: 0;
        }

        &.following {
            background: map-get($success, 500);
            color: $whiteSmoke-darker;
        }
    }
}

.notfound-message {
    background: $mineshaft-grey;
    color: $whiteSmoke;
    padding: 20px;
    font-size: 16px;
    text-align: center;

    &.top-margin {
        margin-top: 30px;
    }
}
