<div class="grow">
    <div class="gcol">
        <div class="duration-label">
            {{ label }}
        </div>
        <div *ngIf="allowUnlimited" class="duration-unlimited-toggle">
            <mat-slide-toggle (change)="onToggle($event)" color="primary" [checked]="unlimited"></mat-slide-toggle>
        </div>
    </div>
    <div class="gcol">
        <div *ngIf="allowUnlimited && unlimited" class="duration-unlimited">Unlimited</div>
        <div *ngIf="!allowUnlimited || !unlimited">
            <mat-form-field>
                <input matInput [(ngModel)]="value" (ngModelChange)="onTimeChange()" placeholder="Time" type="number">
            </mat-form-field>
        </div>
    </div>
    <div class="gcol">
        <div *ngIf="!allowUnlimited || !unlimited">
            <mat-form-field>
                <mat-select color="primary" [(ngModel)]="unit" (ngModelChange)="onUnitChange()" placeholder="Unit">
                    <mat-option [value]="ConstraintsUnit.days">Days</mat-option>
                    <mat-option [value]="ConstraintsUnit.hours">Hours</mat-option>
                    <mat-option [value]="ConstraintsUnit.minutes">Minutes</mat-option>
                    <mat-option [value]="ConstraintsUnit.seconds">Seconds</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
