@import "app/styles/variables";

$label-value-margin: 5px;
$clipboard-width: 30px;
$group-padding: 28px;

@mixin group-sizing($group-width) {
    $property-width: $group-width - 2 * $group-padding;
    $label-width: $group-width / 4;
    $value-width: $property-width - $label-width - $label-value-margin - $clipboard-width;

    section {
        // add an extra 10px to make room for the copy button
        width: $property-width + 10px;

        label, > table td.label {
            width: $label-width !important;
            min-width: $label-width;
        }

        .value {
            width: $value-width;
        }
    }
}

bl-property-list {
    display: block;
}

bl-property-group {
    $label-font-size: 13px;
    $value-font-size: 12px;
    $group-width: 750px;
    $property-width: $group-width - 2 * $group-padding;
    $label-width: 200px;
    $value-width: $property-width - $label-width - $label-value-margin - $clipboard-width;
    $property-height: 24px;

    // Default value
    &.wide {
        @include group-sizing(750);
    }

    &.normal {
        @include group-sizing(650);
    }

    &.compact {
        @include group-sizing(550);
    }


    display: block;
    position: relative;
    padding: 0 $group-padding;
    width: 100%;

    &:not(:last-child) {
        border-bottom: 1px solid $alto;
    }

    .warning-message {
        color: $yellow;
        margin-bottom: 10px;

        > .fa {
            color: $yellow;
        }
    }

    .group-header {
        width: 100%;
        display: flex;
        padding: 10px 0;
        padding-bottom: 5px;
        border: 0;
        cursor: pointer;

        .collapse-icon {
            display: flex;
            align-items: center;
            margin-right: 5px;
            font-size: 20px;
            color: map-get($md-prussian-blue, 500);
            width: 15px;
        }

        h4 {
            flex: 1;
        }

        span {
            font-weight: 300;
        }
    }

    .group-content {
        padding-bottom: 10px;
    }

    section {
        width: $property-width;
        padding: 0;
        margin: 0 0 5px;
        display: flex;
        position: relative;

        &.one-line {
            height: $property-height;
            align-items: center;
        }

        label, > table td.label {
            color: $genericGray;
            font-size: $label-font-size;
            width: $label-width !important;
            min-width: $label-width;
            padding: 6px 0;
            margin-bottom: 0;
            margin-right: $label-value-margin;
            font-weight: bold;
        }

        .value, bl-tp-cell {
            color: $mineShaftGray;
            background-color: $whitesmoke-darker;
            font-size: $value-font-size;
            padding: 3px 8px;
            width: $value-width;
            height: $property-height;
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            .fa {
                font-size: 16px !important;
            }

            &.link {
                color: map-get($md-prussian-blue, 400);
                i {
                    padding-left: 4px;
                }
                &:hover {
                    font-weight: 500;
                    background-color: $mercuryGray;
                    cursor: pointer;
                }

                &:active {
                    background-color: $athensGrey;
                }
            }
        }

        .clipboard {
            font-size: 16px;
            color: $genericGray;
            cursor: pointer;
            margin-left: 10px;

            &:hover {
                color: $dusty-grey;
            }

            &:active {
                color: map-get($md-prussian-blue, 200);
            }
        }

        > table {
            $table-width: $property-width - $clipboard-width + 15;
            width: $table-width;
            max-width: $table-width;
            table-layout: fixed;

            [tp-column], bl-tp-cell {
                display: table-cell;
                color: $mineShaftGray;
                background-color: $whitesmoke-darker;
                padding: 8px;
                width: auto;
            }

            [tp-column] {
                font-weight: bold;
                font-size: $label-font-size;
            }
        }
    }

    bl-table-property {
        section {
            display: block;
        }

        .row {
            > td.label {
                padding: 5px;
                padding-left: 20px;
                font-size: $value-font-size;
                height: 20px;
            }

            bl-tp-cell {
                cursor: pointer;
                font-size: $value-font-size;
                height: 20px;
                position: relative;
                padding: 0;

                .cell-value {
                    padding: 4px 8px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .copied-notification {
                    top: 0;
                    z-index: 1;
                    background: $green;
                    position: absolute;
                    color: $whitesmoke;
                    padding: 5px;
                    transition: 100ms ease-in-out;
                    overflow: hidden;
                    height: 100%;

                    &.hidden {
                        transform: translateX(-100%);
                    }
                }
            }
        }

        .expand-container {
            margin-left: $label-width;
            padding: 5px $group-padding 0 $group-padding;
            width: $value-width;

            > button {
                display: block;
                margin: auto;
            }

            > button.expand {
                line-height: 26px;
                padding: 0 5px;
            }

            > button.collapse {
                width: 26px !important;
                height: 26px !important;
                font-size: 16px;
                color: map-get($md-prussian-blue, 500);
            }
        }
    }
}

bl-bool-property {
    &.enabled {
        .fa-toggle-on {
            color: $green;
        }
    }
}
