@import "app/styles/variables";

$label-value-margin: 5px;
$clipboard-width: 30px;
$group-padding: 28px;

bl-property-list {
    display: block;
}

bl-property-group {
    $label-font-size: 13px;
    $value-font-size: 12px;
    $group-width: 750px;
    $property-width: $group-width - 2 * $group-padding;
    $label-width: 200px;
    $value-width: $property-width - $label-width - $label-value-margin - $clipboard-width;
    $property-height: 24px;
    width: 800px;

    &.wide {
        // @include group-sizing(750);
    }

    &.normal {
        // @include group-sizing(650);
    }

    &.compact {
        // @include group-sizing(550);
    }


    display: block;
    position: relative;
    padding: 0 $group-padding;

    &:not(:last-child) {
        border-bottom: 1px solid $border-color;
    }

    .warning-message {
        color: map-get($warn, 500);
        margin-bottom: 10px;

        > .fa {
            color: map-get($warn, 500);
        }
    }

    .group-header {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 0;
        padding-bottom: 5px;
        border: 0;
        cursor: pointer;

        .collapse-icon {
            display: flex;
            align-items: center;
            margin-right: 5px;
            font-size: 20px;
            color: map-get($primary, 500);
            width: 15px;
        }

        h4 {
            flex: 1;
        }

        span {
            font-weight: 300;
        }

        bl-button {
            margin-left: 5px;
            width: 24px;
            min-width: 24px;
            height: 24px;
            line-height: 24px;
        }
    }

    .group-content {
        padding-bottom: 10px;
    }

}

bl-bool-property {
    &.enabled {
        .fa-toggle-on {
            color: map-get($success, 500);
        }
    }
}
