@import "app/styles/variables";

$label-value-margin: 5px;
$clipboard-width: 30px;
$group-padding: 28px;

@mixin group-sizing($group-width) {
    $property-width: $group-width - 2 * $group-padding;
    $label-width: $group-width / 4;
    $value-width: $property-width - $label-width - $label-value-margin - $clipboard-width;

    section {
        // add an extra 10px to make room for the copy button
        width: $property-width + 10px;

        label, > table td.label {
            width: $label-width !important;
            min-width: $label-width;
        }

        .value {
            width: $value-width;
        }
    }
}

bl-property-list {
    display: block;
    width: 800px;
}

bl-property-group {
    $label-font-size: 13px;
    $value-font-size: 12px;
    $group-width: 750px;
    $property-width: $group-width - 2 * $group-padding;
    $label-width: 200px;
    $value-width: $property-width - $label-width - $label-value-margin - $clipboard-width;
    $property-height: 24px;

    // Default value
    &.wide {
        @include group-sizing(750);
    }

    &.normal {
        @include group-sizing(650);
    }

    &.compact {
        @include group-sizing(550);
    }


    display: block;
    position: relative;
    padding: 0 $group-padding;
    width: 100%;

    &:not(:last-child) {
        border-bottom: 1px solid $border-color;
    }

    .warning-message {
        color: map-get($warn, 500);
        margin-bottom: 10px;

        > .fa {
            color: map-get($warn, 500);
        }
    }

    .group-header {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 0;
        padding-bottom: 5px;
        border: 0;
        cursor: pointer;

        .collapse-icon {
            display: flex;
            align-items: center;
            margin-right: 5px;
            font-size: 20px;
            color: map-get($primary, 500);
            width: 15px;
        }

        h4 {
            flex: 1;
        }

        span {
            font-weight: 300;
        }

        bl-button {
            margin-left: 5px;
            width: 24px;
            min-width: 24px;
            height: 24px;
            line-height: 24px;
        }
    }

    .group-content {
        padding-bottom: 10px;
    }

    section {
        width: $property-width;
        padding: 0;
        margin: 0 0 5px;
        display: flex;
        position: relative;

        &.one-line {
            height: $property-height;
            align-items: center;
        }

        label, > table td.label {
            color: $genericGray;
            font-size: $label-font-size;
            width: $label-width !important;
            min-width: $label-width;
            padding: 6px 0;
            margin-bottom: 0;
            margin-right: $label-value-margin;
            font-weight: bold;
        }

        .value, bl-tp-cell {
            color: $mineShaftGray;
            background-color: $whitesmoke-darker;
            font-size: $value-font-size;
            padding: 3px 8px;
            width: $value-width;
            min-height: $property-height;
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;

            &:not(.wrap) {
                white-space: nowrap;
            }

            .fa {
                font-size: 16px !important;
            }

            &.link {
                color: map-get($primary, 400);
                i {
                    padding-left: 4px;
                }
                &:hover {
                    font-weight: 400;
                    background-color: $mercuryGray;
                    cursor: pointer;
                }

                &:active {
                    background-color: $athensGrey;
                }
            }
        }

        .clipboard {
            font-size: 16px;
            color: $genericGray;
            cursor: pointer;
            margin-left: 10px;

            &:hover {
                color: $dusty-grey;
            }

            &:active {
                color: map-get($primary, 200);
            }
        }

        > table {
            $table-width: $property-width - $clipboard-width + 15;
            width: $table-width;
            max-width: $table-width;
            table-layout: fixed;

            [tp-column], bl-tp-cell {
                display: table-cell;
                color: $mineShaftGray;
                background-color: $whitesmoke-darker;
                padding: 8px;
                width: auto;
            }

            [tp-column] {
                font-weight: bold;
                font-size: $label-font-size;
            }
        }
    }
}

bl-bool-property {
    &.enabled {
        .fa-toggle-on {
            color: map-get($success, 500);
        }
    }
}

