<section>
    <table>
        <tr class="head">
            <td class="label">{{label}}</td>
            <template [ngTemplateOutlet]="header.content"></template>
        </tr>

        <tr *ngFor="let row of displayRows" class="row">
            <td class="label">{{row.label}}</td>
            <template [ngTemplateOutlet]="row.content"></template>
        </tr>
    </table>
    <div class="expand-container" *ngIf="canExpand || canCollapse">
        <button md-raised-button class="expand" *ngIf="canExpand" (click)="expanded = true">Show {{rows.length - defaultDisplay}} more</button>
        <button md-mini-fab class="collapse" *ngIf="canCollapse" (click)="expanded = false"><i class="fa fa-caret-up"></i></button>
    </div>
</section>
