<div *ngFor="let value of values; let i=index; trackBy: i" class="picked-item">
    <button class="form-picker" (click)="openPicker($event, i)" [class.has-value]="value">
        <span *ngIf="!value" class="no-value-content">
            <i class="fa fa-plus"></i>{{addTitle}}
        </span>
        <span *ngIf="value" class="content">
            <div class="details">
                <!--<div class="title">{{title(value)}}</div>
                <div class="subtitle"></div>-->
                <template [ngTemplateOutlet]="itemTemplate.template"  [ngOutletContext]="{value: value}"></template>
            </div>
            <div class="clear-btn" (click)="clearValue($event, i)">
                <button md-mini-fab><i class="fa fa-times"></i></button>
            </div>
        </span>
    </button>
</div>
<bl-form-page #page [title]="name" [formGroup]="currentEditValue" (submit)="nestedFormSubmit()">
    <bl-form-section>
        <ng-content select="[nested-form]"></ng-content>
    </bl-form-section>
</bl-form-page>
