@import "app/styles/variables";

bl-file-path-navigator {
    display: block;
    width: 100%;

    input {
        width: 100%;
    }
}

.file-icon {
    > .fa-folder {
        color: $folder-icon-color;
    }

    > .fa-file {
        color: $secondary-text;
    }
}
