<bex-dropdown class="account-dropdown">
    <div bex-dropdown-btn>
        <div *ngIf="currentTask" class="current-task">
            <bex-background-task-tracker-item [task]="currentTask"></bex-background-task-tracker-item>
            <div class="other-task-count" *ngIf="otherTasks.size > 0">+{{otherTasks.size}}</div>
        </div>
        <div *ngIf="!currentTask">
            No current background tasks
        </div>
    </div>
    <div bex-dropdown-content>
        <div *ngFor="let task of otherTasks" class="dropdown-item">
            <bex-background-task-tracker-item [task]="task"></bex-background-task-tracker-item>
        </div>
    </div>
</bex-dropdown>
