
@import "app/styles/variables";

bl-local-template-browser {
    display: block;
    width: 100%;
    height: $contentview-height;

    > .header {
        height: 40px;
        padding: 10px 20px;
    }

    > .content {
        padding: 20px 50px;
    }

    .template-picker {
        margin-bottom: 10px;

        > input {
            display: none;
        }

        > label {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            min-width: 300px;
            height: 200px;
            align-items: center;
            justify-content: center;
            color: $alto;
            border: 3px dashed $border-color;
            text-align: center;

            > .main {
                font-size: 32px;
            }

            > .subtitle {
                margin-top: 10px;
            }
        }

        &.picked {
            > label {
                color: map-get($success, 300);
                border: 3px solid map-get($success, 300);
            }
        }

        &.error {
            > label {
                color: map-get($danger, 300);
                border: 3px solid map-get($danger, 300);
            }
        }

        .error {
            margin-top: 10px;
        }
    }

    .drop-overlay {
        top: 60px;
        left: 50px;
        right: 50px;

        display: flex;
        flex-direction: column;
        cursor: pointer;
        min-width: 300px;
        height: 200px;
        position: absolute;
        background-color: white;
        border: 2px dashed $alto;
        align-items: center;
        justify-content: center;
        color: $alto;

        > .fa-upload {
            font-size: 36px;
            margin-right: 15px;
        }

        > .message {
            font-size: 20px;
        }
    }
}
