<div class="header">
    <h1>Local templates</h1>
</div>
<div class="content">
    <div class="template-picker" [class.picked]="pickedTemplateFile" [class.error]="(pickedTemplateFile && !valid) || (error && !valid)">
        <label for="templateInput">
            <div class="main">
                <div *ngIf="pickedTemplateFile">{{pickedTemplateFile.name}}</div>
                <div *ngIf="!pickedTemplateFile">Click to select, or drag and drop a JSON template here</div>
            </div>
            <div [ngSwitch]="templateType" *ngIf="templateType" class="subtitle">
                <div *ngSwitchCase="NcjTemplateType.job">This is a Job template</div>
                <div *ngSwitchCase="NcjTemplateType.pool">This is a Pool template</div>
                <div *ngSwitchCase="NcjTemplateType.unknown">Couldn't determine the type of template (Pool or Job). Make sure your template is a valid Pool or Job JSON file.</div>
            </div>
            <div class="error" *ngIf="error">
                {{error}}
            </div>
        </label>
        <input id="templateInput" name="templateInput" type="file" accept=".json" (change)="pickTemplateFile($event)">
    </div>
    <div *ngIf="isDraging" class="drop-overlay">
        <i class="fa fa-upload"></i>
        <span class="message">Drop JSON template here</span>
    </div>
    <bl-button type="wide" color="primary" *ngIf="valid" (do)="runThisTemplate()">Use this template</bl-button>
</div>
