<div *ngIf="pool">
    <div *ngFor="let resizeError of pool.resizeErrors;trackBy: trackResizeError" [ngSwitch]="resizeError.code">
        <bl-banner *ngSwitchCase="ResizeErrorCode.accountCoreQuotaReached" fixMessage="Increase quota"
            [fix]="increaseQuota">
            <div [other-fix]="fixStopResizeError" fixMessage="Rescale"></div>
            <div code>{{resizeError.code}}</div>
            <span title="{{resizeError.message}} ({{dedicatedQuota | async}} cores)" message>{{resizeError.message}} ({{dedicatedQuota | async}} cores)</span>
            <div details *ngIf="resizeError.values.size !== 0">
                <div *ngFor="let entry of resizeError.values;trackBy: trackErrorValue">
                    <div>{{entry.name}}: {{entry.value}}</div>
                </div>
            </div>
        </bl-banner>
        <bl-banner *ngSwitchCase="ResizeErrorCode.accountLowPriorityCoreQuotaReached" fixMessage="Increase quota"
            [fix]="increaseQuota">
            <div [other-fix]="fixStopResizeError" fixMessage="Rescale"></div>
            <div code>{{resizeError.code}}</div>
            <span title="{{resizeError.message}} ({{lowPriorityQuota | async}} cores)" message>{{resizeError.message}} ({{lowPriorityQuota | async}} cores)</span>
            <div details *ngIf="resizeError.values.size !== 0">
                <div *ngFor="let entry of resizeError.values;trackBy: trackErrorValue">
                    <div>{{entry.name}}: {{entry.value}}</div>
                </div>
            </div>
        </bl-banner>
        <bl-banner *ngSwitchDefault fixMessage="Rescale" [fix]="fixStopResizeError">
            <div code>{{resizeError.code}}</div>
            <span title="{{resizeError.message}}" message>{{resizeError.message}}</span>
            <div details *ngIf="resizeError.values.size !== 0">
                <div *ngFor="let entry of resizeError.values;trackBy: trackErrorValue">
                    <div>{{entry.name}}: {{entry.value}}</div>
                </div>
            </div>
        </bl-banner>
    </div>
</div>
