bl-entity-configuration {
    position: relative;
    display: block;
    height: 100%;

    .toggle-mode {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 10;
    }

    .editor-container {
        height: 100%;
    }
}
