<bl-server-error [error]="error"></bl-server-error>
<div class="content" *ngIf="currentPage">
    <div class="header">
        <div *ngIf="_pageStack.length > 0">
            <button md-raised-button color="primary" (click)="closePage()">Back</button>
        </div>
        <h1>{{currentPage.title}}</h1>
    </div>
    <form novalidate (submit)="closePageOrSubmit()">
        <template [ngTemplateOutlet]="currentPage.content"></template>
    </form>
    <div class="loading-overlay" *ngIf="loading"></div>
</div>
<div class="form-footer">
    <div class="summary"></div>
    <div class="form-buttons">
        <div *ngIf="isMainWindow">
            <bl-submit-btn *ngIf="multiUse" [submit]="performAction" [multiSubmit]="true" [disabled]="!formGroup.valid" class="add">Add</bl-submit-btn>
            <bl-submit-btn *ngIf="sidebarRef" [submit]="performActionAndClose" [multiSubmit]="true" [disabled]="!formGroup.valid" class="add-and-close">{{addAndCloseText}}</bl-submit-btn>
            <span style="display: inline-block">
                <button type="button" [disabled]="isSaving" (click)="close()" class="close" md-raised-button>Close</button>
            </span>
        </div>
        <div *ngIf="!isMainWindow">
            <button md-raised-button color="primary" (click)="cancelPage()">Cancel</button>
            <button md-raised-button color="primary" (click)="closePage()">Select</button>
        </div>
    </div>
</div>
