<bex-server-error [error]="error"></bex-server-error>
<div class="content">
    <ng-content></ng-content>
    <div class="loading-overlay" *ngIf="loading"></div>
</div>

<div class="button-bar">
    <bex-submit-btn *ngIf="multiUse" [submit]="performAction" [multiSubmit]="true" [disabled]="!formGroup.valid" class="add">Add</bex-submit-btn>
    <bex-submit-btn *ngIf="sidebarRef" [submit]="performActionAndClose" [multiSubmit]="true" [disabled]="!formGroup.valid" class="add-and-close">{{addAndCloseText}}</bex-submit-btn>
    <button type="button" [disabled]="isSaving" (click)="close()" class="close" md-raised-button>Close</button>
</div>
