@import "app/styles/variables";

md-card.overview {
    padding: 0 !important;
    display: flex;

    > .actions {
        width: $action-btn-size + 1;
    }

    > .content {
        padding: 18px;
        flex: 1;
    }

    > .tile {
        border-left: 1px solid $border-color;
    }
}

bl-job-details {
    .job-graphs-link {
        border-bottom: 1px solid $border-color;
        padding: 5px;
        text-align: center;
        cursor: pointer;

        &:hover {
            background: $whitesmoke-darker;
        }

        .fa {
            font-size: 24px;
            // color: map-get($primary, 300);
            margin: 3px;
        }

        .fa-line-chart {
            color: map-get($warn, 500);
        }

        .fa-area-chart {
            color: map-get($success, 500);
        }
    }
}
bl-job-progress-status {
    display: block;
    padding-top: 5px;

    .running-task-status {
        display: flex;
    }

    .running {
        width: 220px;
        height: 130px;
    }

    .queued, .completed {
        text-align: center;
        margin: 98px 10px 0;

        > .value {
            font-size: 20px;
        }

        > .label {
            color: $alto;
        }
    }

    bl-gauge {
        margin: 0 10px;
    }

    .toggle-job-pool-tasks {
        margin: 0 10px;
        display: flex;
        font-size: 12px;
        justify-content: space-between;

        > .option {
            cursor: pointer;

            &.active {
                color: map-get($primary, 600);
                font-weight: bold;
            }
        }
    }
}
