<bl-loading [status]="data.newDataStatus | async">
    <div *ngIf="job">
        <md-card class="overview">
            <div class="main-content">
                <div class="info">
                    <md-card-title-group style="margin: 0px;">
                        <div style="align-items:center;">
                            <bl-refresh-btn [refresh]="refresh"></bl-refresh-btn>
                        </div>
                        <div style="margin-left:12px; margin-right:auto;">
                            <md-card-title>{{decorator.id}}</md-card-title>
                            <md-card-subtitle><i class="fa" [ngClass]="decorator.stateIcon"></i> {{decorator.state}}</md-card-subtitle>
                        </div>
                    </md-card-title-group>
                    <div class="additional-info">
                        Pool: <a [routerLink]="['/pools', job.poolId]">{{job.poolId}}</a>
                    </div>
                </div>
                <md-card-content>
                    <bl-running-tasks-status [job]="job" [poolId]="job.poolId"></bl-running-tasks-status>
                </md-card-content>
            </div>
            <md-card-actions layout="row" layout-align="end center">
                <bl-add-task-button title="Add task" [job]="job" (click)="addTask()"></bl-add-task-button>
                <bl-terminate-button [entity]="job" (click)="terminateJob()"></bl-terminate-button>
                <bl-delete-button [entity]="job" (click)="deleteJob()"></bl-delete-button>
                <bl-disable-button [job]="job" (click)="disableJob()"></bl-disable-button>
                <bl-enable-button [job]="job" (click)="enableJob()"></bl-enable-button>
                <bl-clone-button (click)="cloneJob()"></bl-clone-button>
            </md-card-actions>
        </md-card>
        <bl-job-error-display [job]="job"></bl-job-error-display>
        <md-card class="details">
            <bl-tab-group>
                <bl-tab key="properties">
                    <bl-tab-label>Properties</bl-tab-label>
                    <bl-job-properties [job]="job"></bl-job-properties>
                </bl-tab>
                <bl-tab key="envs">
                    <bl-tab-label>Environment Settings</bl-tab-label>
                    <div class="tab-padding">
                        <bl-job-environment-settings [job]="job"></bl-job-environment-settings>
                    </div>
                </bl-tab>
                <bl-tab key="metadata">
                    <bl-tab-label>Metadata</bl-tab-label>
                    <div class="tab-padding">
                        <bl-job-metadata [job]="job"></bl-job-metadata>
                    </div>
                </bl-tab>
                <bl-tab key="tasks">
                    <bl-tab-label>Tasks</bl-tab-label>
                    <bl-entity-details-list #listWrapper [refresh]="list.refresh" [baseLink]="['/jobs', job.id, 'tasks']" [loadMore]="list.loadMore"
                        [filterPlaceholder]="filterPlaceholderText">
                        <bl-task-list [jobId]="job.id" [filter]="listWrapper.filter" [quickList]="false" #list [manualLoading]="true"></bl-task-list>
                    </bl-entity-details-list>
                </bl-tab>
            </bl-tab-group>
        </md-card>
    </div>
</bl-loading>
