@import "app/styles/variables";

bl-job-details {
    .job-graphs-link {
        border-bottom: 1px solid $border-color;
        padding: 5px;
        text-align: center;
        cursor: pointer;

        &:hover {
            background: $selection-color;
        }

        .fa {
            font-size: 24px;
            // color: map-get($primary, 300);
            margin: 3px;
        }

        .fa-line-chart {
            color: map-get($warn, 500);
        }

        .fa-area-chart {
            color: map-get($success, 500);
        }
    }
}
