<bl-loading [status]="data.newDataStatus | async">
    <div *ngIf="job" class="fit-details-container">
        <bl-summary-card>
            <div summaryTitle>{{decorator.id}}</div>
            <div summarySubtitle>
                <bl-job-state [job]="job"></bl-job-state>
            </div>
            <div summaryDetails>Pool: <a [routerLink]="['/pools', job.poolId]">{{job.poolId}}</a></div>
            <bl-tags *blFeatureOn="'job.tags'" summaryTags [tags]="job.tags" [editable]="job.editable" [save]="updateTags" noTagsMessage="No tags."></bl-tags>
            <bl-button-group summaryActions>
                <bl-refresh-btn [refresh]="refresh"></bl-refresh-btn>
                <bl-commands-list [commands]="commands" [entity]="job"></bl-commands-list>
            </bl-button-group>
            <div summaryTile *blFeatureOn="'job.statistics'">
                <div class="job-graphs-link" [routerLink]="['/jobs', job.id, 'graphs']">
                    <i class="fa fa-line-chart"></i>
                    <i class="fa fa-area-chart"></i>
                    <div>Job statistics</div>
                </div>
            </div>
            <div summaryTile>
                <bl-job-progress-status [job]="job" [poolId]="job.poolId"></bl-job-progress-status>
            </div>
        </bl-summary-card>
        <bl-job-error-display [job]="job"></bl-job-error-display>
        <bl-card class="details">
            <bl-tab-group>
                <bl-tab key="tasks">
                    <bl-tab-label>Tasks</bl-tab-label>
                    <bl-entity-details-list #listWrapper [refresh]="list.refresh" [baseLink]="['/jobs', job.id, 'tasks']" [loadMore]="list.loadMore"
                        [filterPlaceholder]="filterPlaceholderText">
                        <bl-task-list [jobId]="job.id" [filter]="listWrapper.filter" [quicklist]="false" #list></bl-task-list>
                    </bl-entity-details-list>
                </bl-tab>
                <bl-tab key="configuration">
                    <bl-tab-label>Configuration</bl-tab-label>
                    <bl-job-configuration [job]="job"></bl-job-configuration>
                </bl-tab>
                <bl-tab key="hooktasks" [disabled]="!hasHookTask">
                    <bl-tab-label>Prep/Release tasks</bl-tab-label>
                    <bl-job-hook-task-browser [job]="job" *ngIf="hasHookTask"></bl-job-hook-task-browser>
                </bl-tab>
            </bl-tab-group>
        </bl-card>
    </div>
</bl-loading>
