<bex-property-list>
    <bex-property-group label="General" class="wide">
        <bex-text-property label="Id" [value]="decorator.id"></bex-text-property>
        <bex-text-property label="Display name" [value]="decorator.displayName"></bex-text-property>
        <bex-link-property label="Pool" [value]="executionInfo.poolId" [link]="['/pools/', executionInfo.poolId]"></bex-link-property>
        <bex-text-property label="State" [value]="decorator.state"></bex-text-property>
        <bex-text-property label="State transition time" [value]="decorator.stateTransitionTime"></bex-text-property>
        <bex-text-property label="Creation time" [value]="decorator.creationTime"></bex-text-property>
        <bex-text-property label="Last modified" [value]="decorator.lastModified"></bex-text-property>
        <bex-text-property label="Previous state" [value]="decorator.previousState"></bex-text-property>
        <bex-text-property label="Previous transition time" [value]="decorator.previousStateTransitionTime"></bex-text-property>
        <bex-text-property label="Priority" [value]="decorator.priority"></bex-text-property>
        <bex-bool-property label="Task dependencies" [value]="decorator.usesTaskDependencies"></bex-bool-property>
        <bex-text-property label="When all tasks complete" [value]="decorator.onAllTasksComplete"></bex-text-property>
        <bex-text-property label="When a task fails" [value]="decorator.onTaskFailure"></bex-text-property>
    </bex-property-group>

    <bex-property-group label="Execution information" class="wide" [collapsed]="true">
        <div collapsed-preview>
            Job started {{executionInfo.startTime}}
            <span *ngIf="executionInfo.endTime">and ended {{executionInfo.endTime}}</span>
        </div>

        <bex-text-property label="Start time" [value]="executionInfo.startTime"></bex-text-property>
        <bex-text-property label="End time" [value]="executionInfo.endTime"></bex-text-property>
        <bex-text-property label="Termination reason" [value]="executionInfo.terminateReason"></bex-text-property>
    </bex-property-group>

    <bex-property-group *ngIf="managerTask.id" label="Job manager task" class="wide" [collapsed]="true">
        <div collapsed-preview></div>
        <bex-void-link-property label="Id" [value]="managerTask.id"></bex-void-link-property>
        <bex-bool-property label="Kill job on completion" [value]="managerTask.killJobOnCompletion" YesNo="true"></bex-bool-property>
        <bex-bool-property label="Run elevated" [value]="managerTask.runElevated" YesNo="true"></bex-bool-property>
        <bex-bool-property label="Run exclusive" [value]="managerTask.runExclusive" YesNo="true"></bex-bool-property>
    </bex-property-group>

    <bex-property-group *ngIf="prepTask.id" label="Job preparation task" class="wide" [collapsed]="true">
        <bex-text-property label="Id" [value]="prepTask.id"></bex-text-property>
        <bex-text-property label="Command line" [value]="prepTask.commandLine"></bex-text-property>
        <bex-text-property label="Max task retry count" [value]="prepTask.constraints.maxTaskRetryCount"></bex-text-property>
        <bex-text-property label="Max wall-clock time" [value]="prepTask.constraints.maxWallClockTime"></bex-text-property>
        <bex-text-property label="Retention time" [value]="prepTask.constraints.retentionTime"></bex-text-property>
        <bex-bool-property label="Wait for success" [value]="prepTask.waitForSuccess" YesNo="true"></bex-bool-property>
        <bex-bool-property label="Run elevated" [value]="prepTask.runElevated" YesNo="true"></bex-bool-property>
        <bex-bool-property label="Re-run on node reboot" [value]="prepTask.rerunOnNodeRebootAfterSuccess" YesNo="true"></bex-bool-property>
        <bex-void-link-property label="Environment settings" value="{{prepTask.environmentSettings.length}} settings"></bex-void-link-property>
        <bex-void-link-property label="Resource files" value="{{prepTask.resourceFiles.length}} files"></bex-void-link-property>
    </bex-property-group>

    <bex-property-group *ngIf="releaseTask.id" label="Job release task" class="wide" [collapsed]="true">
        <bex-text-property label="Id" [value]="releaseTask.id"></bex-text-property>
        <bex-text-property label="Command line" [value]="releaseTask.commandLine"></bex-text-property>
        <bex-text-property label="Max wall-clock time" [value]="releaseTask.maxWallClockTime"></bex-text-property>
        <bex-text-property label="Retention time" [value]="releaseTask.retentionTime"></bex-text-property>
        <bex-bool-property label="Run elevated" [value]="releaseTask.runElevated" YesNo="true"></bex-bool-property>
        <bex-void-link-property label="Environment settings" value="{{releaseTask.environmentSettings.length}} settings"></bex-void-link-property>
        <bex-void-link-property label="Resource files" value="{{releaseTask.resourceFiles.length}} files"></bex-void-link-property>
    </bex-property-group>

    <bex-property-group label="Constraints" class="wide">
        <bex-text-property label="Max task retry count" [value]="constraints.maxTaskRetryCount"></bex-text-property>
        <bex-text-property label="Max wall-clock time" [value]="constraints.maxWallClockTime"></bex-text-property>
    </bex-property-group>
</bex-property-list>
