@import "app/styles/variables";

bl-market {
    display: flex;
    width: 100%;
    height: $contentview-height;
    $header-height: 50px;

    h1 {
        margin: 10px;
    }

    .header {
        display: flex;
        height: $header-height;
        h1 {
            flex: 1;
        }

        .filter {
            display: flex;
            align-items: center;
        }

        .filter .quicksearch {
            width: 400px;
        }
    }

    .gallery-content {
        height: calc(#{$contentview-height} - #{$header-height});
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        padding: 10px;

        .recent-templates {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }

        .local-templates {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            overflow: hidden;
        }

        .supported-applications {
            grid-row: 1 / 3;
            grid-column: 2 /4;
        }
    }

    .application {
        vertical-align: bottom;
        cursor: pointer;
        display: inline-block;
        width: 150px;
        height: 210px;
        margin: 10px;
        padding: 5px;

        background: $card-background;

        &:hover {
            background: $hover-bg-color;
        }

        img.logo {
            width: 140px;
            height: 140px;
        }

        .name {
            padding: 15px 0;
            text-align: center;
            font-size: 20px;
            font-weight: 300;
        }
    }

    .application.local-templates {
        .fa.logo {
            // color: $primary-color
            text-align: center;
            vertical-align: middle;
            font-size: 112px;
            line-height: 140px;
            height: 140px;
            width: 140px;
        }
    }
}
