<bl-storage-error-display [noClassic]="true"></bl-storage-error-display>
<div *ngIf="autoStorageService.hasArmAutoStorage | async">
    <div class="header">
        <h1>Gallery applications</h1>
        <bl-refresh-btn [refresh]="refreshApplications" type="round"></bl-refresh-btn>
    </div>
    <div class="gallery-applications">
        <div class="filter">
            <input autofocus blInput [formControl]="quicksearch" placeholder="Search">
        </div>
        <div class="gallery-content">
            <bl-gallery-application-list [filter]="query"></bl-gallery-application-list>
        </div>
    </div>
</div>
