<div [formGroup]="form" class="editable-table">
    <table class="noselect" cellspacing="0" cellpadding="0" formArrayName="items">
        <thead>
            <tr>
                <th>Application</th>
                <th>Package Version</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items.controls; let i=index; let isLast=last" [formGroupName]="i">
                <td>
                    <md-select formControlName="applicationId" (change)="applicationSelected($event, i)">
                        <!-- TODO: toLowerCase() is for a bug in the API, it should be case preserving, but it's not -->
                        <!-- TODO: Material seems to do case sensitive matching, which i also think is a bug -->
                        <md-option *ngFor="let application of applications" [value]="application.id.toLowerCase()">{{ application.id }}</md-option>
                    </md-select>
                </td>
                <td>
                    <md-select formControlName="version">
                        <md-option *ngFor="let package of packageMap[i]" [value]="package">{{ package }}</md-option>
                    </md-select>
                </td>
                <td class="action-column">
                    <button *ngIf="!isLast" class="delete-item-btn" (click)="deleteItem(i)"><i class="fa fa-times" ></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
