<button md-raised-button [color]="color" type="button" (click)="onClick()" [disabled]="disabled || status !== statuses.Idle" [ngSwitch]="status">
    <ng-content                      *ngSwitchCase="statuses.Idle"></ng-content>
    <i class="fa fa-spinner fa-spin" *ngSwitchCase="statuses.Submitting"></i>
    <i class="fa fa-warning" *ngSwitchCase="statuses.Failed"></i>
    <span class="success-container"  *ngSwitchCase="statuses.Succeeded">
        <i class="fa fa-check" [@animateSucessIcon]="status === statuses.Succeeded"></i>
    </span>
</button>
