<div  class="slideout-form content-wrapper">
    <h1>Add a Batch account credential</h1>
    <p>Account credentials can be copied from the Batch portal</p>
    <img src="./assets/images/ajax/loading.gif" alt="loading ..." class="loading-indicator" [ngClass]="{ 'loading': isSaving }" />
    <form (ngSubmit)="onSubmit()" #accountForm="ngForm" [ngClass]="{ 'loading': isSaving }">
        <div class="form-element">
            <md-input placeholder="Display name" [(ngModel)]="account.alias" name="alias" required md-no-asterisk #alias="ngModel"></md-input>
            <div [hidden]="alias.valid || alias.pristine" class="required-alert">Alias is a required field</div>
        </div>

        <div class="form-element">
            <md-input placeholder="Account name" [(ngModel)]="account.name" name="name" required md-no-asterisk #name="ngModel"></md-input>
            <div [hidden]="name.valid || name.pristine" class="required-alert">Name is a required field</div>
        </div>

        <div class="form-element">
            <md-input placeholder="Url" [(ngModel)]="account.url" name="url" required md-no-asterisk #url="ngModel">
                <md-hint align="end">https://(accountname).(region).batch.azure.com</md-hint>
            </md-input>
            <div [hidden]="url.valid || url.pristine" class="required-alert">Url is a required field</div>
        </div>

        <div class="form-element">
            <md-input placeholder="Key" [(ngModel)]="account.key" name="key" required md-no-asterisk #key="ngModel"></md-input>
            <div [hidden]="key.valid || key.pristine" class="required-alert">Key is a required field</div>
        </div>

        <div class="form-element">
            <md-checkbox [(ngModel)]="account.isDefault" name="isDefault">
                Default (selected by default in the account selector)
            </md-checkbox>
        </div>

        <div class="button-bar">
            <button type="submit" [disabled]="!accountForm.valid" class="submit-btn" md-raised-button>Add</button>
            <button type="button" [disabled]="isSaving" (click)="sidebarRef.destroy()" class="" md-raised-button>Close</button>
        </div>
    </form>
</div>
