@import "app/styles/variables";

bl-container-configuration {
    .form-element {
        .form-left {
            display: inline-block;
            width: 25%;
            margin-right: 2%;
        }
        .form-right {
            display: inline-block;
            width: 72%;
        }
    }
    span.required {
        color: $danger-color;
    }
}
