<div class="main" (click)="onClickTile()">
    <div class="icon">
        <bl-icon [icon]="icon"></bl-icon>
    </div>
    <div class="title">
        <ng-content></ng-content>
    </div>
</div>
<button class="select-version" [matMenuTriggerFor]="menu">
    <span *ngIf="!active">Select Version<i class="fa fa-caret-down"></i></span>
    <span *ngIf="active">{{selectedSku}}</span>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let sku of skus;trackBy: trackSku" (click)="onClickSku(sku)">{{sku.name}}</button>
</mat-menu>
