<h3>Select an operating system configuration</h3>
<!-- TOOD IMPORTANT CHECK ICON LICENSING -->
<md-tab-group class="form-tabs" [formGroup]="form">
    <!--<div class="element-spacer">
        <div class="infrastructure">
            <md-radio-group formControlName="source">
                <md-radio-button [value]="PoolOsSources.IaaS">Virtual Machine</md-radio-button>
                <md-radio-button [value]="PoolOsSources.PaaS">Cloud Service (Windows only)</md-radio-button>
            </md-radio-group>
        </div>
    </div>-->
    <md-tab label="Virtual machine" formGroupName="virtualMachineConfiguration" title="selectedSource === PoolOsSources.IaaS">
        <div class="offer" *ngFor="let offer of vmOffers">
            <div class="icon"><img src="./assets/images/icons/{{iconNameFor(offer)}}.svg"></div>
            <div class="title">{{offer.name}}</div>
            <div class="select-version" [mdMenuTriggerFor]="menu">Select Version</div>
            <md-menu #menu="mdMenu">
                <button md-menu-item *ngFor="let sku of offer.skus">{{sku.name}}</button>
            </md-menu>
        </div>
        <p *ngIf="selectedSku">Based on your selection node agent '{{vmNodeAgentId}}'' will be used</p>
    </md-tab>
    <md-tab label="Cloud Service (Windows only)" title="selectedSource === PoolOsSources.PaaS">
        <div formGroupName="cloudServiceConfiguration" class="service-ref">
            <md-select formControlName="osFamily" placeholder="Operating System">
                <md-option *ngFor="let osFamily of cloudServiceOsFamilies" [value]="osFamily.id">{{osFamily.name}}</md-option>
            </md-select>
        </div>
    </md-tab>
</md-tab-group>
