<h3>Choose a virtual machine size</h3>
<md-tab-group class="form-tabs">
    <md-tab *ngFor="let category of categoryNames" [label]="categoryLabelName(category)">
        <div class="vm-size-list">
            <div *ngFor="let size of categories[category]" class="vm-size" (click)="pickSize(size)" [class.active]="size.name === pickedSize">
                <div class="title" [title]="size.name">{{prettyTitle(size.name)}}</div>
                <!--TODO link to billing data-->
                <!--<div class="pricing">
                    $50/mo
                </div>-->
                <div class="details">
                    <div>
                        <span class="value">{{size.numberOfCores}} </span>
                        <span class="label">cores</span>
                    </div>
                    <div>
                        <span class="value">{{prettyMb(size.memoryInMB)}}</span>
                        <span class="label">Ram</span>
                    </div>
                    <div>
                        <span class="value">{{prettyMb(size.osDiskSizeInMB)}}</span>
                        <span class="label">OS disk</span>
                    </div>
                    <div>
                        <span class="value">{{prettyMb(size.resourceDiskSizeInMB)}}</span>
                        <span class="label">Temp disk</span>
                    </div>
                </div>
            </div>
        </div>
    </md-tab>
</md-tab-group>
