<div class="scroll-shadow" *ngIf="showScrollShadow"></div>
<bl-virtual-scroll [items]="displayItems" [childHeight]="48" (update)="updateViewPortItems($event)" (scroll)="handleScrollChange($event)">
    <div class="quick-list-row" *ngFor="let item of viewPortItems; trackBy: trackItem">
        <div class="quick-list-details noselect">
            <div class="quick-list-row-title">
                <ng-template [ngTemplateOutlet]="titleDef" [ngTemplateOutletContext]="{$implicit: item}"></ng-template>
            </div>
            <div class="quick-list-row-state">
                <ng-template [ngTemplateOutlet]="stateDef" [ngTemplateOutletContext]="{$implicit: item}"></ng-template>
            </div>
        </div>
        <div class="quick-list-row-extra">
            <ng-template [ngTemplateOutlet]="extraDef" [ngTemplateOutletContext]="{$implicit: item}"></ng-template>
        </div>
    </div>
    <bl-virtual-scroll-tail [height]="120" *ngIf="status === LoadingStatus.Loading">
        <bl-loading [status]="status"></bl-loading>
    </bl-virtual-scroll-tail>
</bl-virtual-scroll>
