@import "app/styles/variables";

bl-quick-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    > .list-body {
        flex: 1;
        min-height: 0;
        height: 100%;
        position: relative;

        > bl-virtual-scroll {
            height: 100%;
        }
    }
}
