<bl-partial-sort-warning [data]="dataProvider" [presenter]="dataPresenter"></bl-partial-sort-warning>
<div class="list-body">
    <div class="scroll-shadow" *ngIf="showScrollShadow"></div>
    <bl-virtual-scroll [items]="items" [childHeight]="48" (update)="updateViewPortItems($event)" (scroll)="handleScrollChange($event)">
        <bl-quick-list-row-render *ngFor="let item of viewPortItems; trackBy: trackItem"
            [item]="item"
            [statusDef]="statusDef"
            [titleDef]="titleDef"
            [stateDef]="stateDef"
            [extraDef]="extraDef"
            [selected]="selection.has(item.id)"
            [focused]="listFocused && item == focusedItem">
        </bl-quick-list-row-render>
        <bl-virtual-scroll-tail [height]="120" *ngIf="status === LoadingStatus.Loading">
            <bl-loading [status]="status"></bl-loading>
        </bl-virtual-scroll-tail>
    </bl-virtual-scroll>
</div>
