<bl-property-field>
    <div propertyLabel>
        {{label}}
    </div>
    <div propertyContent>
        <table>
            <tr class="head" *ngIf="header">
                <ng-template [ngTemplateOutlet]="header.content"></ng-template>
            </tr>

            <tr *ngFor="let row of displayRows;trackBy: trackRow; let first = first;" class="row">
                <ng-template [ngTemplateOutlet]="row.content"></ng-template>
            </tr>
        </table>
        <div class="expand-container" *ngIf="canExpand || canCollapse">
            <bl-button type="wide" color="light" class="expand" *ngIf="canExpand" (click)="expanded = true">Show {{rows.length - defaultDisplay}} more</bl-button>
            <bl-button type="round" color="light" class="collapse" *ngIf="canCollapse" (click)="expanded = false"><i class="fa fa-caret-up"></i></bl-button>
        </div>
    </div>
</bl-property-field>
