<bl-dropdown [footer]="true" align="right">
    <div bl-dropdown-btn>
        <i class="fa fa-envelope-o"></i>
        <span class="count" *ngIf="notifications.size > 0">{{notifications.size}}</span>
    </div>
    <div bl-dropdown-content>
        <div *ngFor="let notification of notifications;trackBy: trackNotification" class="dropdown-item">
            <div class="icon" [ngSwitch]="notification.level">
                <i class="fa fa-info-circle" *ngSwitchCase="NotificationLevel.info"></i>
                <i class="fa fa-times" *ngSwitchCase="NotificationLevel.error"></i>
                <i class="fa fa-check" *ngSwitchCase="NotificationLevel.success"></i>
                <i class="fa fa-exclamation-triangle" *ngSwitchCase="NotificationLevel.warn"></i>
            </div>
            <div class="details">
                <div class="title">{{notification.title}}</div>
                <div class="message">{{notification.message}}</div>
            </div>
            <div class="actions">
                <bl-clickable *ngFor="let action of notification.config.actions;trackBy: trackAction" (do)="performAction($event, notification, action)" class="action">
                    {{action.name}}
                </bl-clickable>
            </div>
            <bl-clickable (do)="dismiss($event, notification)">
                <i class="dismiss fa fa-times"></i>
            </bl-clickable>
        </div>
        <bl-clickable class="dropdown-item clear-all" *ngIf="notifications.size > 0" (click)="dismissAll()">
            <i class="fa fa-trash"></i>
            <span>Clear all</span>
        </bl-clickable>
        <div class="dropdown-item" *ngIf="notifications.size === 0">
            <div class="no-notifications">
                <i class="fa fa-envelope-o"></i>
                <span>No new notifications</span>
            </div>
        </div>
    </div>
</bl-dropdown>
