@import "app/styles/variables";


bl-persisted-notifications-dropdown {
    .fa-envelope-o {
        font-size: 14px;
    }

    .count {
        color: whitesmoke;
        font-size: 10px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $danger-color;
        border-radius: 10px;
        width: 14px;
        height: 14px;
        line-height: 14px;
    }

    [bl-dropdown-content] {
        width: 500px;

        .icon {
            font-size: 30px;
            width: 40px;
            text-align: center;
            margin-right: 10px;

            .fa-exclamation-triangle {
                color: map-get($warn, 500);
            }
        }

        .details {
            flex: 1;
            .title {
                font-size: 14px;
                font-weight: bold;
            }

            .message {
                font-size: 13px;
            }
        }

        .actions {
            margin-left: 10px;
            margin-right: 7px;

            > .action {
                padding: 5px;
                background: rgba(0, 0, 0, 0.1);
                margin-right: 3px;
                white-space: nowrap;
                &:hover {
                    background-color: $primary-color-dark;
                }
            }
        }

        .dismiss {
            flex: 0 0 20px;
            background-color: white;
            color: $primary-color-dark;
            border-radius: 10px;
            width: 20px;
            height: 20px;
            text-align: center;
            vertical-align: middle;
            line-height: 20px;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: map-get($danger, 400);
            }

            &:active {
                background-color: map-get($danger, 600);
            }
        }

        .clear-all {
            font-size: 14px;
            justify-content: center;
            padding: 10px;

            .fa-trash {
                margin-right: 5px;
                font-size: 20px;
            }
        }

        .no-notifications {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            .fa-envelope-o {
                font-size: 40px;
                margin-right: 20px;
            }
        }
    }
}
