<bl-loading [status]="status">
    <bl-quick-list>
        <bl-quick-list-item *ngFor="let account of displayedAccounts | async" [routerLink]="['/accounts', account.id]" [key]="account.id">
            <h4 bl-quick-list-item-title>{{account.name}}</h4>
            <p bl-quick-list-item-field>{{account.location}}</p>
            <div bl-quick-list-item-preview>
                <div class="flex-center">
                    <i class="fa fa-star" [class.favorite]="true" (click)="accountService.unFavoriteAccount(account.id)"></i>
                </div>
            </div>
        </bl-quick-list-item>
    </bl-quick-list>
</bl-loading>
