<bl-quick-list>
    <div class="subscription" *ngFor="let subscription of displayedSubscriptions">
        <div class="subscription-details noselect" (click)="toggleExpandSubscription(subscription.subscriptionId)">
            <div class="icon">
                <i class="fa fa-caret-right" *ngIf="!subscriptionAccounts[subscription.subscriptionId].expanded"></i>
                <i class="fa fa-caret-down" *ngIf="subscriptionAccounts[subscription.subscriptionId].expanded"></i>
            </div>
            <div class="content">
                <h4 bl-quick-list-item-title>{{subscription.displayName}}</h4>
                <p bl-quick-list-item-field>{{subscription.subscriptionId}}</p>
            </div>
        </div>
        <div class="accounts" *ngIf="subscriptionAccounts[subscription.subscriptionId].expanded">
            <bl-loading size="medium" [status]="subscriptionAccounts[subscription.subscriptionId].loading">
                <bl-quick-list-item *ngFor="let account of subscriptionAccounts[subscription.subscriptionId].accounts | async" [routerLink]="['/accounts', account.id]"
                    [key]="account.id">
                    <h4 bl-quick-list-item-title>{{account.name}}</h4>
                    <p bl-quick-list-item-field>{{account.location}}</p>
                    <div bl-quick-list-item-preview>
                        <div class="flex-center">
                            <i class="fa fa-star" [class.favorite]="isAccountFavorite(account.id)" (click)="toggleFavorite(account.id)"></i>
                        </div>
                    </div>
                </bl-quick-list-item>
                <bl-no-item [itemCount]="(subscriptionAccounts[subscription.subscriptionId].accounts | async)?.size" [status]="subscriptionAccounts[subscription.subscriptionId].loading">
                    <span no-filter>No accounts in this subscription</span>
                </bl-no-item>
            </bl-loading>
        </div>
    </div>
</bl-quick-list>
