<bl-dropdown class="account-dropdown" [footer]="true" align="left">
    <div bl-dropdown-btn
        [class.invalid]="currentAccountValid === status.Invalid">
        {{selectedAccountAlias}}

        <i *ngIf="currentAccountValid === status.Invalid" class="fa fa-warning"></i>

        <i *ngIf="currentAccountValid === status.Loading" class="fa fa-spinner fa-spin"></i>
    </div>
    <div bl-dropdown-content>
        <bl-clickable *ngFor="let account of accountService.accountFavorites | async; trackBy: trackByFn"
             class="dropdown-item"
             [routerLink]="['/accounts', account.id]"
             (do)="selectAccount(account)"
             (contextmenu)="openContextMenu(account)"
             [class.selected]="account.id === selectedId"
             [title]="account.id">
            <div class="main">
                <div class="alias">
                    {{account.displayName}}
                    <ng-container *ngIf="account.name !== account.displayName">
                        ({{account.name}})
                    </ng-container>
                </div>
                <div class="url">{{account.url}}</div>
            </div>
            <div *ngIf="account.id === selectedId" class="extra">
                <i class="fa fa-check"></i>
            </div>
        </bl-clickable>
        <bl-clickable *ngIf="selectedId" class="dropdown-item" routerLink="accounts">
            <i class="fa fa-cog fa-2x"></i>Manage accounts
        </bl-clickable>
    </div>
</bl-dropdown>
