<bl-loading [status]="data.newDataStatus | async" [error]="data.error | async">
    <div *ngIf="pool && poolDecorator" class="fit-details-container">
        <bl-summary-card>
            <div summaryTitle>{{pool.id}}</div>
            <div summarySubtitle>{{pool.vmSize}}, {{pool.allocationState}}</div>
            <div summaryDetails>
                <div>Last resized {{poolDecorator.lastResized}}</div>
                <div>
                    <bl-pool-os-icon [pool]="pool"></bl-pool-os-icon> {{poolDecorator.poolOs}}
                </div>
            </div>
            <bl-tags summaryTags [tags]="pool.tags" [editable]="true" [save]="updateTags" noTagsMessage="No tags."></bl-tags>
            <bl-button-group summaryActions>
                <bl-refresh-btn [refresh]="refreshPool"></bl-refresh-btn>
                <bl-commands-list [commands]="commands" [entity]="pool"></bl-commands-list>
            </bl-button-group>
            <div summaryRightContent>
                <bl-pool-nodes-preview [pool]="pool" size="large"></bl-pool-nodes-preview>

                <div class="estimated-cost" title="Estimated cost of this pool at this current state">
                    {{estimatedCost}}/h
                </div>
            </div>
        </bl-summary-card>

        <bl-pool-error-display [pool]="pool"></bl-pool-error-display>
        <bl-card class="details">
            <bl-tab-group>
                <bl-tab key="graphs">
                    <bl-tab-label>
                        Graphs
                        <bl-button class="open-pool-graphs-new-window" matTooltip="Open in a new window" [action]="openInNewWindow" type="plain">
                            <i class="fa fa-window-restore"></i>
                        </bl-button>
                    </bl-tab-label>
                    <bl-pool-graphs [pool]="pool"></bl-pool-graphs>
                </bl-tab>
                <bl-tab key="configuration">
                    <bl-tab-label>Configuration</bl-tab-label>
                    <bl-pool-configuration [pool]="pool"></bl-pool-configuration>
                </bl-tab>
                <bl-tab key="nodes">
                    <bl-tab-label>Nodes</bl-tab-label>
                    <bl-entity-details-list #listWrapper [refresh]="list.refresh" [baseLink]="['/pools', poolId, 'nodes']" [filterPlaceholder]="filterPlaceholderText">
                        <bl-node-list #list [poolId]="poolId" [filter]="listWrapper.filter" [quicklist]="false"></bl-node-list>
                    </bl-entity-details-list>
                </bl-tab>
            </bl-tab-group>
        </bl-card>
    </div>
</bl-loading>
