<bl-loading [status]="data.newDataStatus | async">
    <div *ngIf="pool && poolDecorator">
        <md-card class="overview">
            <div class="actions">
                <bl-button-group>
                    <bl-refresh-btn [refresh]="refreshPool"></bl-refresh-btn>
                    <bl-add-button title="Add job" [action]="addJob"></bl-add-button>
                    <bl-resize-button [action]="resizePool"></bl-resize-button>
                    <bl-clone-button [action]="clonePool"></bl-clone-button>
                    <bl-delete-button [entity]="pool" [action]="deletePool"></bl-delete-button>
                </bl-button-group>
            </div>
            <div class="content">
                <md-card-title>{{pool.id}}</md-card-title>
                <md-card-subtitle>{{pool.vmSize}}, {{pool.allocationState}}</md-card-subtitle>
                <p>Last resized {{poolDecorator.lastResized}}</p>
                <p><i class="fa fa-{{poolDecorator.poolOsIcon}}" aria-hidden="true"></i> {{poolDecorator.poolOs}}</p>
                <bl-tags [tags]="pool.tags" [editable]="true" [save]="updateTags" noTagsMessage="No tags."></bl-tags>
            </div>
            <div style="padding: 10px">
                <bl-pool-nodes-preview [pool]="pool" size="large"></bl-pool-nodes-preview>
            </div>
        </md-card>
        <bl-pool-error-display [pool]="pool"></bl-pool-error-display>
        <md-card class="details">
            <bl-tab-group>
                <bl-tab key="graphs">
                    <bl-tab-label>Graphs</bl-tab-label>
                    <bl-pool-graphs [pool]="pool"></bl-pool-graphs>
                </bl-tab>
                <bl-tab key="configuration">
                    <bl-tab-label>Configuration</bl-tab-label>
                    <bl-pool-configuration [pool]="pool"></bl-pool-configuration>
                </bl-tab>
                <bl-tab key="nodes">
                    <bl-tab-label>Nodes</bl-tab-label>
                    <div class="tab-padding">
                        <bl-entity-details-list #listWrapper [refresh]="list.refresh" [baseLink]="['/pools', poolId, 'nodes']" [filterPlaceholder]="filterPlaceholderText">
                            <bl-node-list #list [poolId]="poolId" [filter]="listWrapper.filter" [quickList]="false" [manualLoading]="true"></bl-node-list>
                        </bl-entity-details-list>
                    </div>
                </bl-tab>
            </bl-tab-group>
        </md-card>
    </div>
</bl-loading>
