<div *ngIf="decorator">
	<bl-property-list>
		<bl-property-group label="General" class="wide">
			<bl-text-property label="Id" [value]="decorator.id"></bl-text-property>
			<bl-text-property label="VM size" [value]="decorator.vmSize"></bl-text-property>
			<bl-text-property label="Current dedicated" [value]="decorator.currentDedicated"></bl-text-property>
			<bl-text-property label="Target dedicated" [value]="decorator.targetDedicated"></bl-text-property>
			<bl-text-property label="State" [value]="decorator.state"></bl-text-property>
			<bl-text-property label="State transistion Time" [value]="decorator.stateTransitionTime"></bl-text-property>
			<bl-text-property label="Allocation state" [value]="decorator.allocationState"></bl-text-property>
			<bl-text-property label="Allocation state transition time" [value]="decorator.allocationStateTransitionTime"></bl-text-property>
            <bl-text-property label="Creation time" [value]="decorator.creationTime"></bl-text-property>
            <bl-text-property label="Dispaly name" [value]="decorator.displayName"></bl-text-property>
            <bl-text-property label="Enable autoscale" [value]="decorator.enableAutoscale"></bl-text-property>
            <bl-text-property label="Enable inter-node communication" [value]="decorator.enableInterNodeCommunication"></bl-text-property>
            <bl-text-property label="Last modified" [value]="decorator.lastModified"></bl-text-property>
            <bl-text-property label="Max tasks per node" [value]="decorator.maxTasksPerNode"></bl-text-property>
            <!--<bl-text-property label="Resize error" [value]="decorator"></bl-text-property>-->
            <bl-text-property label="Resize timeout" [value]="decorator.resizeTimeout"></bl-text-property>
            <bl-text-property label="Task scheduling policy" [value]="decorator.taskSchedulingPolicy.nodeFillType"></bl-text-property>
            <bl-text-property label="Url" [value]="decorator.url"></bl-text-property>
		</bl-property-group>

		<bl-property-group label="Cloud service configuration" class="wide" [collapsed]="true" *ngIf="pool.cloudServiceConfiguration">
			<bl-text-property label="OS family" [value]="decorator.cloudServiceConfiguration.osFamily"></bl-text-property>
			<bl-text-property label="Curent OS version" [value]="decorator.cloudServiceConfiguration.currentOSVersion"></bl-text-property>
			<bl-text-property label="Target OS version" [value]="decorator.cloudServiceConfiguration.targetOSVersion"></bl-text-property>
		</bl-property-group>

		<bl-property-group label="Virtual machine configuration" class="wide" [collapsed]="true" *ngIf="pool.virtualMachineConfiguration">
			<bl-text-property label="Publisher" [value]="decorator.virtualMachineConfiguration.imageReference.publisher"></bl-text-property>
			<bl-text-property label="Offer" [value]="decorator.virtualMachineConfiguration.imageReference.offer"></bl-text-property>
            <bl-text-property label="Sku" [value]="decorator.virtualMachineConfiguration.imageReference.sku"></bl-text-property>
            <bl-text-property label="Version" [value]="decorator.virtualMachineConfiguration.imageReference.version"></bl-text-property>
            <bl-text-property label="Node agent sku id" [value]="decorator.virtualMachineConfiguration.nodeAgentSKUId"></bl-text-property>
            <bl-text-property *ngIf="decorator.virtualMachineConfiguration.windowsConfiguration"
                label="Enable automatic updates" [value]="decorator.virtualMachineConfiguration.windowsConfiguration.enableAutomaticUpdates"></bl-text-property>
		</bl-property-group>
	</bl-property-list>
</div>
