<div *ngIf="decorator">
	<bl-property-list>
		<bl-property-group label="General" class="wide">
			<bl-text-property label="Id" [value]="decorator.id"></bl-text-property>
			<bl-text-property label="VM size" [value]="decorator.vmSize"></bl-text-property>
			<bl-text-property label="Current dedicated" [value]="decorator.currentDedicatedNodes"></bl-text-property>
			<bl-text-property label="Target dedicated" [value]="decorator.targetDedicatedNodes"></bl-text-property>
			<bl-text-property label="Current low priority" [value]="decorator.currentLowPriorityNodes"></bl-text-property>
			<bl-text-property label="Target low priority" [value]="decorator.targetLowPriorityNodes"></bl-text-property>
			<bl-text-property label="State" [value]="decorator.state"></bl-text-property>
			<bl-text-property label="State transistion Time" [value]="decorator.stateTransitionTime"></bl-text-property>
			<bl-text-property label="Allocation state" [value]="decorator.allocationState"></bl-text-property>
			<bl-text-property label="Allocation state transition time" [value]="decorator.allocationStateTransitionTime"></bl-text-property>
            <bl-text-property label="Creation time" [value]="decorator.creationTime"></bl-text-property>
            <bl-text-property label="Dispaly name" [value]="decorator.displayName"></bl-text-property>
            <bl-text-property label="Enable autoscale" [value]="decorator.enableAutoScale"></bl-text-property>
            <bl-text-property label="Autoscale evaluation interval" [value]="decorator.autoScaleEvaluationInterval"></bl-text-property>
            <bl-text-property label="Autoscale formula" [value]="decorator.autoScaleFormula"></bl-text-property>
            <bl-bool-property label="Inter-node communication" [value]="pool.enableInterNodeCommunication"></bl-bool-property>
            <bl-text-property label="Last modified" [value]="decorator.lastModified"></bl-text-property>
            <bl-text-property label="Max tasks per node" [value]="decorator.maxTasksPerNode"></bl-text-property>
            <!--<bl-text-property label="Resize error" [value]="decorator"></bl-text-property>-->
            <bl-text-property label="Resize timeout" [value]="decorator.resizeTimeout"></bl-text-property>
            <bl-text-property label="Task scheduling policy" [value]="decorator.taskSchedulingPolicy.nodeFillType"></bl-text-property>
            <bl-text-property label="Url" [value]="decorator.url"></bl-text-property>
            <bl-text-property label="User accounts" [value]="decorator.userAccounts" *ngIf="decorator.userAccounts"></bl-text-property>
            <bl-text-property label="Application licenses" [value]="decorator.applicationLicenses" *ngIf="decorator.applicationLicenses"></bl-text-property>
            <bl-text-property label="Network subnet" [value]="decorator.networkSubnetId" *ngIf="decorator.networkSubnetId"></bl-text-property>
		</bl-property-group>

		<bl-property-group label="Cloud service configuration" class="wide" [collapsed]="true" *ngIf="pool.cloudServiceConfiguration">
            <div collapsed-preview>
                <span>{{decorator.poolOs}}</span>
            </div>

			<bl-text-property label="OS family" [value]="decorator.cloudServiceConfiguration.osFamily"></bl-text-property>
			<bl-text-property label="Curent OS version" [value]="decorator.cloudServiceConfiguration.currentOSVersion"></bl-text-property>
			<bl-text-property label="Target OS version" [value]="decorator.cloudServiceConfiguration.targetOSVersion"></bl-text-property>
		</bl-property-group>

		<bl-property-group label="Virtual machine configuration" class="wide" [collapsed]="true" *ngIf="pool.virtualMachineConfiguration">
            <div collapsed-preview>
                <span>{{decorator.poolOs}}</span>
            </div>

			<bl-text-property label="Publisher" [value]="decorator.virtualMachineConfiguration.imageReference.publisher"></bl-text-property>
			<bl-text-property label="Offer" [value]="decorator.virtualMachineConfiguration.imageReference.offer"></bl-text-property>
            <bl-text-property label="Sku" [value]="decorator.virtualMachineConfiguration.imageReference.sku"></bl-text-property>
            <bl-text-property label="Version" [value]="decorator.virtualMachineConfiguration.imageReference.version"></bl-text-property>
            <bl-text-property label="Node agent sku id" [value]="decorator.virtualMachineConfiguration.nodeAgentSKUId"></bl-text-property>
            <bl-text-property *ngIf="decorator.virtualMachineConfiguration.windowsConfiguration"
                label="Enable automatic updates" [value]="decorator.virtualMachineConfiguration.windowsConfiguration.enableAutomaticUpdates"></bl-text-property>
		</bl-property-group>

        <bl-property-group label="Application packages" class="wide" [collapsed]="true">
            <div collapsed-preview>
                <span>{{appPackages?.size}} application package references</span>
            </div>
            <bl-table-property *ngIf="appPackages.size > 0" label="Package references">
                <bl-table-property-header>
                    <div tp-column>Application</div>
                    <div tp-column>Version</div>
                </bl-table-property-header>
                <bl-table-property-row *ngFor="let package of appPackages">
                    <bl-tp-cell [value]="package.applicationId"></bl-tp-cell>
                    <bl-tp-cell [value]="package.version"></bl-tp-cell>
                </bl-table-property-row>
            </bl-table-property>
            <bl-no-item [itemCount]="appPackages.size" [slimline]="true">
                <span no-filter>This pool contains no application package references</span>
            </bl-no-item>
        </bl-property-group>

        <bl-property-group label="Certificates" class="wide" [collapsed]="true">
            <div collapsed-preview>
                <span>{{certificates?.size}} certificate references</span>
            </div>
            <bl-table-property *ngIf="certificates.size > 0" label="Certificate references">
                <bl-table-property-header>
                    <div tp-column>Thumbprint</div>
                    <div tp-column>Store</div>
                    <div tp-column>Store name</div>
                    <div tp-column>Visibility</div>
                </bl-table-property-header>
                <bl-table-property-row *ngFor="let certificate of certificates">
                    <bl-tp-cell [value]="certificate.thumbprint"></bl-tp-cell>
                    <bl-tp-cell [value]="certificate.storeLocation"></bl-tp-cell>
                    <bl-tp-cell [value]="certificate.storeName"></bl-tp-cell>
                    <bl-tp-cell [value]="certificate.visibility"></bl-tp-cell>
                </bl-table-property-row>
            </bl-table-property>
            <bl-no-item [itemCount]="certificates.size" [slimline]="true">
                <span no-filter>This pool contains no certificate references</span>
            </bl-no-item>
        </bl-property-group>

        <bl-property-group label="Metadata" class="wide" [collapsed]="true" [edit]="editMetadata">
            <div collapsed-preview>
                <span>{{metadata?.size}} meta items</span>
            </div>
            <bl-text-property *ngFor="let metaItem of metadata" label="{{metaItem.name}}" [value]="metaItem.value"></bl-text-property>
            <bl-no-item [itemCount]="metadata.size" [slimline]="true">
                <span no-filter>This pool contains no metadata</span>
            </bl-no-item>
        </bl-property-group>
	</bl-property-list>
</div>
