@import "app/styles/variables";

bl-recent-template-list {
    display: block;

    .title {
        font-size: 16px;
    }

    .submission {

        .label {
            color: map-get($primary, 400);
        }

        .mode {
            color: $generic-grey;
        }

        &:hover {
            .label, .mode {
                color: map-get($primary, 200);
            }
        }
    }
}
