@import "app/styles/variables";

bl-recent-template-list {
    height: 100%;
    display: flex;
    flex-direction: column;

    .title {
        // font-size: 16px;
    }

    .recent-submission {
        background-color: $card-background;
        flex: 1;
        padding: 5px;
    }

    .submission {
        .label {
            color: $primary-color;
        }

        .mode {
            margin-left: 3px;
            color: $secondary-text
        }

        &:hover {
            .label, .mode {
                color: $primary-color-light;
            }
        }
    }

    .download {
        margin-left: 5px;

        color: $secondary-text;

        &:hover {
            color: $selection-color;
        }
    }

    .no-recent {
        margin: 10px;
    }
}
