<bl-loading [status]="data.newDataStatus | async">
    <div *ngIf="application" class="fit-details-container">
        <bl-summary-card>
            <div summaryTitle>{{application.name}}</div>
            <div summarySubtitle>
                <i class="fa" [ngClass]="application.properties.allowUpdates ? 'fa-unlock-alt' : 'fa-lock'"></i>
                {{application.properties.displayName}}
                <span *ngIf="application.properties.allowUpdates">
                    <b>(unlocked)</b>
                </span>
                <span *ngIf="!application.properties.allowUpdates">
                    <b>(locked)</b>
                </span>
            </div>
            <bl-button-group summaryActions>
                <bl-refresh-btn [refresh]="refresh"></bl-refresh-btn>
                <bl-commands-list [commands]="commands" [entity]="application"></bl-commands-list>
            </bl-button-group>
        </bl-summary-card>
        <bl-application-error-display [application]="application"></bl-application-error-display>
        <bl-card class="details">
            <bl-tab-group>
                <bl-tab key="packages">
                    <bl-tab-label>Packages</bl-tab-label>
                    <div class="tab-padding">
                        <bl-application-packages [application]="application"></bl-application-packages>
                    </div>
                </bl-tab>
                <bl-tab key="configuration">
                    <bl-tab-label>Configuration</bl-tab-label>
                    <bl-application-configuration [application]="application"></bl-application-configuration>
                </bl-tab>
            </bl-tab-group>
        </bl-card>
    </div>
</bl-loading>
