@import "app/styles/variables";

bl-account-cost-card {
    margin-top: 5px;
    margin-right: 5px;
    display: block;
    background: $card-background;

    h2 {
        padding: 10px;
    }

    // width: calc(100% - 20px);
    .graph {
        height: 300px;
        canvas {
            height: 100%;
        }
    }
}
