@import "app/styles/variables";

bl-account-cost-card {
    margin: 10px;
    display: block;
    background: $card-background;

    h2 {
        margin: 10px;
    }

    // width: calc(100% - 20px);
    .graph {
        height: 300px;
        canvas {
            height: 100%;
        }
    }
}
