<div class="activity-monitor-item-container" [ngClass]="{'focused': focused, 'hovered': !focused && hovered}">
    <div class="item-container" [ngStyle]="{'padding-left': paddingLeft}">
        <div class="icon-container progress-icon">
            <i class="fa fa-ellipsis-h" *ngIf="status===statusOptions.Pending" title="Pending"></i>
            <i class="fa fa-spinner fa-pulse" *ngIf="status===statusOptions.InProgress" title="Running"></i>
            <i class="fa fa-check" *ngIf="status===statusOptions.Completed" title="Completed"></i>
            <i class="fa fa-times" *ngIf="status===statusOptions.Cancelled" title="Cancelled"></i>
            <i class="fa fa-exclamation-triangle" *ngIf="status===statusOptions.Failed" title="Failed" (click)="toggleShowError()"></i>
        </div>
        <div class="icon-container">
            <div class="expand-icon" *ngIf="activity.subactivities.length" (click)="toggleExpand()">
                <i class="fa fa-angle-right" title="Expand" *ngIf="!expanded"></i>
                <i class="fa fa-angle-down" title="Collapse" *ngIf="expanded"></i>
            </div>
        </div>
        <div class="activity-info">
            <div class="activity-info-upper">
                <span class="name">{{prettyPrint()}}</span>
                <bl-clickable (do)="showLess()" [disabled]="subactivitiesShown <= 10" *ngIf="showSubactivities">Show Less</bl-clickable>
                <bl-clickable (do)="showMore()" *ngIf="showSubactivities">Show More</bl-clickable>
            </div>
            <div class="progress-bar" *ngIf="!activity.isComplete">
                <mat-progress-bar mode="determinate" [value]="progress" *ngIf="progress !== -1"></mat-progress-bar>
            </div>
        </div>
        <div class="icon-container action-icon" *ngFor="let action of actions; let i = index">
            <bl-activity-monitor-item-action
                [action]="action"
                [selected]="focused && focusedAction === i"
            ></bl-activity-monitor-item-action>
        </div>
    </div>
    <div class="error" *ngIf="activity.error && showError">
        {{activity.error}}
    </div>
</div>
