bl-node-details {
    .upload-node-logs {
        .fa-upload {
            top: 6px;
            left: -4px;
        }
        .fa-bug {
            top: -4px;
            left: 5px;
        }
    }
}
