@import "app/styles/variables";

input[blInput], textarea[blInput] {
    background-color: $input-background-color;
    border: 1px solid $input-border-color;
    color: $input-text-color;
    outline: none;
    font: inherit;

    &:focus {
        border: 1px solid $input-focus-border-color;
    }

    &.ng-invalid.ng-touched,
    &.ng-invalid.ng-dirty {
        border: 1px solid $danger-color;
        &:focus {
            border: 1px solid $input-focus-border-color;
        }
    }

    &[disabled] {
        background-color: $input-disabled-background-color;
        border-color: $input-disabled-border-color;
        color: $input-disabled-text-color;
    }
}

input[blInput] {
    height: 26px;
    padding: 0 5px;
}

textarea[blInput] {
    min-height: 26px;
    resize: none;
}
