@import "app/styles/variables";

bl-file-too-large {
    h2 {
        margin-bottom: 20px;
    }

    button {
        padding: 10px;
        cursor: pointer;
        background: map-get($primary, 300);
        color: $whitesmoke;
        margin-right: 10px;
        width: 100px; // both same size looks better

        &:hover {
            background: map-get($primary, 500);
        }

        &[disabled] {
            cursor: not-allowed;
            background: $alto;
        }
    }
}
