
<div *ngIf="state=='Page1'"> 
    <div> 
        Market Apps
    </div>
    <div> 
        Select one of the following apps:
    </div>

    <ul>
        <li *ngFor="let template of templates" (click)="selected=template['name'];state='Page2'" > 
          
            {{ template["name"]}} : {{ template["description"]}}
        
        </li>
    </ul>
</div>
<div *ngIf="state=='Page2'"> 
    <div> 
        App configuration
    </div>

    <ul>
        <li> Selected: {{ selected }} </li>
    </ul>
   

    <div> 
        Complete the form:
    </div>

    <ul>
        <li *ngFor="let parameter of getParameters(selected)" > 
          
            {{ parameter }}
        
        </li>
    </ul>


    <button (click) = "state='Page1';selected=''">
        Prev
    </button>
    <button (click) = "state='Page1';selected=''">
        Submit
    </button>
    
</div>
