@import "app/styles/variables";

bl-market {
    display: flex;
    width: 100%;
    height: $contentview-height;
    background: $whitesmoke-darker;

    h1 {
        margin: 10px;
    }

    .header {
        display: flex;

        h1 {
            flex: 1;
        }

        .filter {
            display: flex;
            align-items: center;
        }

        .filter .quicksearch {
            width: 400px;
        }
    }

    .recent-submission {
        padding: 0 20px;

        .title {
            font-size: 16px;
        }

        .submission {
            color: map-get($primary, 400);
            display: block;

            &:hover {
                color: map-get($primary, 600);
            }
        }
    }

    .applications {
        padding: 0 10px;
    }

    .application {
        vertical-align: bottom;
        cursor: pointer;
        display: inline-block;
        width: 150px;
        height: 210px;
        margin: 10px;
        padding: 5px;

        &:hover {
            background: $whitesmoke-darker;
        }

        img.logo {
            width: 140px;
            height: 140px;
        }

        .name {
            padding: 15px 0;
            text-align: center;
            font-size: 20px;
            font-weight: 300;
        }
    }

    .application.local-templates {
        background: map-get($primary, 500);
        color: $whitesmoke;

        .fa.logo {
            // color: map-get($primary, 500);
            text-align: center;
            vertical-align: middle;
            font-size: 112px;
            line-height: 140px;
            height: 140px;
            width: 140px;
        }
    }
}
