<div class="back">
    <div *ngIf="state=='Page1'">
        <h1 class="title">
            Market Applications
        </h1>
        <ul>
            <li *ngFor="let template of templates" (click)="nextPage(template);" >
                <button md-raised-button color="blue" type="wide" class="appselect">
                    {{ template["name"]}}: {{ template["description"]}}
                </button>
            </li>
        </ul>
    </div>
    <div *ngIf="state=='Page2'">
        <h1 class="title">
            Application configuration: {{ selected }}
        </h1>
        <form
            [formGroup]="form">
            <ul>
                <div *ngFor="let parameter of getParameters(selected)" >
                    <li>
                        <md-input-container class="form-element">
                            <input mdInput type="text" name="name" id="name" formControlName="{{parameter}}" [placeholder]="parameter">
                        </md-input-container>
                    </li>
                </div>
            </ul>
            <bl-button (click) = "prevPage();" type="wide">
                Prev
            </bl-button>
            <bl-button [action]="onSubmit" type="wide">
                Submit
            </bl-button>
        </form>
    </div>
</div>
