<bl-scrollable>
    <div class="header">
        <h1>Market applications</h1>
        <div class="filter">
            <bl-refresh-btn [refresh]="refreshApplications" type="round"></bl-refresh-btn>
            <div class="quicksearch">
                <input [formControl]="quicksearch" placeholder="Search">
            </div>
        </div>
    </div>
    <div *ngIf="recentSubmissions.length > 0" class="recent-submission">
        <div class="title">Recent</div>
        <div *ngFor="let recent of recentSubmissions">
            <bl-clickable [routerLink]="['/market', 'recent', recent.id]" class="submission">
                {{recent.name}} {{recent.mode}}
            </bl-clickable>
        </div>
    </div>
    <div class="applications">
        <mat-card class="application local-templates" title="All your local templates" routerLink="/market/local">
            <i class="fa fa-desktop logo"></i>
            <div class="name">Local templates</div>
        </mat-card>
        <mat-card *ngFor="let application of displayedApplications" class="application" [title]="application.description" [routerLink]="['/market', application.id, 'actions']">
            <img class="logo" [src]="application.icon">
            <div class="name">{{application.name}}</div>
        </mat-card>
    </div>
</bl-scrollable>
