
<div *ngIf="state=='Page1'"> 
    <div> 
        Market Apps
    </div>
    <div> 
        Select one of the following apps:
    </div>

    <ul>

        
        <li *ngFor="let name of names" (click)="selected=name;state='Page2'" > 
          
            {{ name}} 
        
        </li>
    </ul>
</div>
<div *ngIf="state=='Page2'"> 
    <div> 
        App configuration
    </div>

    <ul>
        <li> Selected: {{ selected }} </li>
    </ul>
   

    <div> 
        Complete the form:
    </div>

    


    <button (click) = "state='Page1';selected=''">
        Prev
    </button>
    <button (click) = "state='Page1';selected=''">
        Submit
    </button>
    
</div>
