@import "app/styles/variables";


bl-market-home {
    form {
        margin-left: 10px;
    }
    .appselect {
        margin-left: 10px;
        margin-top: 5px;
        width: 700px;
        color: #ffffff;
        background-color: #3e81b0;

    }
    .title {
        margin: 10px;
    }
}
