<bl-scrollable>
    <bl-storage-error-display [noClassic]="true"></bl-storage-error-display>
    <div *ngIf="autoStorageService.hasArmAutoStorage | async">
        <div class="header">
            <h1>Gallery applications</h1>
            <div class="filter">
                <bl-refresh-btn [refresh]="refreshApplications" type="round"></bl-refresh-btn>
                <div class="quicksearch">
                    <input [formControl]="quicksearch" placeholder="Search">
                </div>
            </div>
        </div>
        <div class="market-first-section">
            <bl-recent-template-list></bl-recent-template-list>
        </div>
        <div class="applications">
            <bl-card class="application local-templates" title="All your local templates" routerLink="/market/local">
                <i class="fa fa-desktop logo"></i>
                <div class="name">Local templates</div>
            </bl-card>
            <bl-card *ngFor="let application of displayedApplications;trackBy: trackApplication" class="application" [title]="application.description" [routerLink]="['/market', application.id, 'actions']">
                <img class="logo" [src]="application.icon" alt="Logo of {{application.name}}">
                <div class="name">{{application.name}}</div>
            </bl-card>
        </div>
    </div>
</bl-scrollable>
