@import "app/styles/variables";

bl-app-license-picker {
    .link {
        color: $link-color;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .form-element {
        mat-checkbox {
            margin-left: 15px;

            .mat-checkbox-inner-container {
                margin-top: 3px;
            }

            .mat-checkbox-label {
                line-height: 18px;
            }
        }
    }
}

// Current EULA styles, will need to be tweaked when dynamic.
.eula {
    .title {
        font-weight: bold;
        margin-right: 5px;
        border-bottom: 1px solid $mineshaft-grey;
    }

    p {
        color: $mineshaft-grey;
    }

    a {
        // link color from portal makes links stand out better
        color: $link-alt-color;
        cursor: pointer;
    }

    ol li {
        margin-bottom: 15px;
    }

    ol li span {
        font-weight:bold;
        margin-right:5px;
        border-bottom: 1px solid $mineshaft-grey;
    }
}
