<section class="tree-explorer-container" *ngIf="config.showTreeView">
    <div *ngFor="let entry of this.fileNavigators">
        <bl-file-tree-view [fileNavigator]="entry.navigator" [name]="entry.name" [autoExpand]="autoExpand" (navigate)="updateCurrentNavigator(entry)">
        </bl-file-tree-view>
    </div>
</section>
<section class="file-content-container">
    <div *ngIf="currentFileNavigator && currentNode">
        <bl-file-table-view *ngIf="currentNode.isDirectory" [name]="currentFileNavigatorEntry.name" [treeNode]="currentNode" [loadingStatus]="currentNode.loadingStatus"
            [error]="currentFileNavigator.error" (select)="nodeSelected($event)" (back)="goBack()" (drop)="handleDrop($event)">
        </bl-file-table-view>
        <bl-file-details-view *ngIf="!currentNode.isDirectory" [fileLoader]="currentFileNavigator.currentFileLoader" (back)="goBack()"></bl-file-details-view>
    </div>
</section>
