@import "app/styles/variables";

bl-file-explorer {
    display: flex;
    width: 100%;
    height: 100%;

    > .tree-explorer-container {
        transition:width 100ms;
        width: $listview-width;
        flex: 0 0 $listview-width;
        border-right: 1px solid $border-color;

        display: flex;
        flex-direction: column;

        .scrollable {
            height: 100%;
            overflow-y: hidden;

            &:hover {
                overflow-y: auto;
            }
        }

        > bl-file-tree-view:only-child {
            flex: 1;
        }
    }

    > .file-content-container {
        width: 100%;
        height: auto;
        background-color: $content-background;
        flex: 1;
        position: relative;
        overflow: hidden;
    }


    bl-loading {
        width: 100%;
    }

    bl-file-details-quickview {
        width: 100%;
        display: block;
    }
}
