<section class="tree-explorer-container" *ngIf="config.showTreeView">
    <div *ngFor="let entry of this.fileNavigators">
        <bl-file-tree-view [fileNavigator]="entry.navigator" [name]="entry.name" [autoExpand]="autoExpand" (navigate)="updateCurrentNavigator(entry.navigator)">
        </bl-file-tree-view>
    </div>
</section>
<section class="file-content-container">
    <div *ngIf="currentFileNavigator && currentNode">
        <bl-loading [status]="currentNode.loadingStatus" [error]="currentFileNavigator.error">
            <div *ngIf="currentNode.loadingStatus === LoadingStatus.Ready">
                <bl-file-table-view *ngIf="currentNode.isDirectory" [treeNode]="currentNode" (pathChange)="navigateTo($event)"> </bl-file-table-view>
            </div>
            <bl-file-details-view *ngIf="!currentNode.isDirectory" [fileLoader]="currentFileNavigator.currentFileLoader" (back)="goBack()"></bl-file-details-view>
        </bl-loading>
    </div>
</section>
