@import "app/styles/variables";

bl-summary-card {
    background: $card-background;
    display: flex;

    > .actions {
        width: $action-btn-size + 1;
    }

    > .main-tile {
        padding: 10px 10px 7px;
        flex: 1;
        display: flex;
        flex-direction: column;

        > .content-container {
            display: flex;
            > .content {
                > .title {
                    font-size: 16px;
                    color: $primary-color;
                }

                > .subtitle {
                    color: $secondary-text;
                }

                > .details {
                    color: $secondary-text;
                }
            }
        }

        > .summary-footer {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
    }

    > [summaryTile] {
        border-left: 1px solid $border-color;
    }
}

.batch-explorer.high-contrast bl-summary-card {
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
}
