<div [formGroup]="form">
    <div class="form-element">
        <mat-form-field>
            <input matInput formControlName="name" placeholder="Username">
        </mat-form-field>
        <bl-error controlName="name" code="required">Username is a required field</bl-error>
    </div>
    <div class="form-element">
        <mat-form-field>
            <input matInput type="password" formControlName="password" placeholder="Password">
        </mat-form-field>
        <bl-error controlName="password" code="required">Password is a required field</bl-error>
    </div>
    <div class="form-element">
        <mat-slide-toggle formControlName="runElevated" color="primary">
            Run as admin
        </mat-slide-toggle>
    </div>
</div>
