@import "app/styles/variables";

bl-enable-app-insights-doc {
    display: block;
    padding: 10px;

    bl-clickable {
        color: $primary-color;
    }

    .warning {
        color: $warn-color;
        text-align: center;
        position: absolute;
        bottom: 10px;
    }
}
