<div [formGroup]="form">
    <table class="noselect" cellspacing="0" cellpadding="0" formArrayName="items">
        <thead>
            <tr>
                <th *ngFor="let column of columns">
                    <ng-template [ngTemplateOutlet]="column.content"></ng-template>
                </th>
                <th></th>
            </tr>
        </thead>
        <tr *ngFor="let item of items.controls; let i=index; let isLast=last" [formGroupName]="i">
            <td *ngFor="let column of columns">
                <input [formControlName]="column.name">
            </td>
            <td class="action-column">
                <button *ngIf="!isLast" class="delete-item-btn" (click)="deleteItem(i)"><i class="fa fa-times" ></i></button>
            </td>
        </tr>
    </table>
</div>
