@import "app/styles/variables";

bl-aad-app-secret-picker {
    > .form-container {
        display: flex;
        > input {
            background-color: $athensGrey;
            color: $emperor-grey;
            margin-right: 5px;
            border: none;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            padding: 0 5px;
            &:active, &:focus {
                outline: none;
                border-bottom-color: $primary-color;
            }
        }

        > input.secret-name {
            width: 120px;
        }

        > input.secret-value {
            width: 450px;
        }

        > select {
            height: 26px;
            color: $emperor-grey;
            border: none;
            border-radius: 3px;
            margin-right: 10px;
            background-color: $athensGrey;
            appearance: none;
            &:active, &:focus {
                outline: none;
            }
        }
    }
}
