@import "app/styles/variables";

bl-aad-app-secret-picker {
    display: block;

    > .form-container {
        display: flex;
        align-items: center;

        > input.secret-name {
            width: 140px;
        }

        > input.secret-value {
            width: 350px;
        }

        > label {
            color: $secondary-text;
            margin-right: 5px;
        }

        > select {
            height: 26px;
            color: $emperor-grey;
            border: none;
            border-radius: 3px;
            margin-right: 10px;
            background-color: $athensGrey;
            appearance: none;
            &:active, &:focus {
                outline: none;
            }
        }
    }
}
