<bl-split-pane [config]="splitPaneConfig" class="layout-container" [class.filtering]="showAdvancedFilter">
    <section blFirstPane class="list-view">
        <div class="left-pane">
            <div class="quick-filter-content">
                <div class="layout-list-header">
                    <div class="title" id="{{id}}-title">
                        <ng-content select="[blBrowseLayoutTitle]"></ng-content>
                    </div>
                    <div class="flex-separator"></div>
                    <div class="actions">
                        <bl-button icon="fa fa-trash" type="plain" color="light" *ngIf="deleteSelectionIsEnabled && selection.hasAny()" [skipSuccess]="true"
                            [action]="deleteSelection" title="Delete">
                        </bl-button>
                        <bl-refresh-btn [refresh]="refresh" title="Refresh Batch account list" *ngIf="refreshEnabled" type="plain" color="light"></bl-refresh-btn>
                        <ng-content select="[blBrowseLayoutButtons]"></ng-content>
                    </div>
                </div>
                <div class="quicksearch">
                    <ng-content select="[pre-quicksearch]"></ng-content>
                    <input blInput autofocus
                        type="search"
                        [formControl]="quickSearchQuery"
                        placeholder="Search (Startwith)"
                        #quickSearchInput
                        attr.aria-labelledby="{{id}}-title"
                        (keydown)="handleKeyPressedInQuickSearch($event)"
                    />
                    <bl-toggle-filter-button *ngIf="advancedFilterDirective" (do)="toggleFilter()" [advancedFilter]="advancedFilter" >
                    </bl-toggle-filter-button>
                </div>
            </div>
            <div class="bl-list-content">
                <ng-content select="[blBrowseLayoutList]"></ng-content>
            </div>
            <div class="quotas">
                <ng-content select="[blBrowseLayoutQuotas]"></ng-content>
            </div>
        </div>
    </section>

    <section blSecondPane class="content-view">
        <bl-scrollable class="block">
            <div class="content-wrapper">
                <div style="position:relative;">
                    <div [hidden]="showAdvancedFilter">
                        <router-outlet></router-outlet>
                    </div>
                    <div #advancedFilterContainer class="advanced-filter-content" [hidden]="!showAdvancedFilter">
                        <ng-content select="[blBrowseLayoutAdvancedFilter]"></ng-content>
                    </div>
                </div>
            </div>
        </bl-scrollable>
    </section>
</bl-split-pane>
