<div class="slideout-form content-wrapper node-connect" *ngIf="node && pool">
    <div class="connect-content">
        <div class="sidebar-header">
            <h1>Connect to node</h1>
        </div>
        <div class="node-information">
            <div *ngIf="!connectionSettings" class="connection-data-loader">
                <bl-loading></bl-loading>
                <span>Fetching connection data...</span>
            </div>
            <bl-node-property-display *ngIf="connectionSettings"
                [connectionSettings]="connectionSettings"
                [node]="node"
                [(userConfig)]="userConfig"
                [(passwordCopied)]="passwordCopied"
                [generatePassword]="generatePassword"
            ></bl-node-property-display>
        </div>
        <div class="credentials-source">
            <bl-button type="wide" [skipSuccess]="true" [action]="autoConnect" [disabled]="!connectionSettings">
                <div class="button-icon-frame">
                    <i *ngIf="!loading" class="fa fa-plug"></i>
                    <i *ngIf="loading" class="fa fa-spinner fa-pulse"></i>
                </div>
                <div class="button-label">Connect</div>
            </bl-button>
            <bl-button type="wide" [action]="addOrUpdateUser">
                <div class="button-icon-frame">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="button-label">Add/update user</div>
            </bl-button>
        </div>
    </div>
    <bl-server-error *ngIf="error" [error]="error"></bl-server-error>
    <bl-clickable class="close-button" type="plain" (do)="close()"><i class="fa fa-times fa-lg"></i></bl-clickable>
</div>
