<div *ngIf="filename" class="file-details-container">
    <div class="file-header">
        <bl-clickable (do)="goBack()" title="Go back" class="go-back">
            <i class="fa fa-arrow-circle-left"></i>
        </bl-clickable>
        <div class="filename" [title]="filename">{{filename}}</div>
        <div class="content-length">
            <div class="label">File size</div>
            <div class="value"> {{contentSize}}</div>
        </div>
        <div class="last-modified" [title]="file?.properties?.lastModified">
            <div class="label">Last modified</div>
            <div class="value">{{lastModified}}</div>
        </div>
        <div class="actions">
            <bl-refresh-btn [refresh]="refresh" tooltipPosition="above"></bl-refresh-btn>
            <bl-download-button [enabled]="downloadEnabled" [action]="downloadFile" tooltipPosition="above"></bl-download-button>
            <bl-button color="light" [disabled]="!downloadEnabled" [action]="openDefaultEditor" title="Open in default application" tooltipPosition="above">
                <i class="fa fa-external-link"></i>
            </bl-button>
        </div>
    </div>
    <div class="details" *ngIf="!fileNotFound && !forbidden">
        <bl-file-content [fileLoader]="fileLoader" [tailable]="tailable" *ngIf="fileLoader"></bl-file-content>
    </div>
    <div *ngIf="fileNotFound" class="info-overlay file-not-found">
        File <span class="highlight">&nbsp;{{filename}}&nbsp;</span> doesn't exist.
    </div>
    <div *ngIf="forbidden" class="info-overlay file-not-found">
        File <span class="highlight">&nbsp;{{filename}}&nbsp;</span> cannot be accessed. Server returned forbidden error
    </div>
</div>
