<bl-scrollable>
    <bl-submit-ncj-template *ngIf="loaded"
        [title]="recentSubmission.name"
        [jobTemplate]="recentSubmission.jobTemplate"
        [poolTemplate]="recentSubmission.poolTemplate"
        [initialJobParams]="recentSubmission.jobParams"
        [initialPoolParams]="recentSubmission.poolParams"
        [initialModeState]="recentSubmission.mode"
        [initialPickedPool]="recentSubmission.pickedPool"
        ></bl-submit-ncj-template>
    <div class="error" *ngIf="error">
        {{error}}
    </div>
</bl-scrollable>
