<div class="error-banner" *ngIf="error">
    <div class="content">
        <div class="main-info">
            <h4>{{error.body.code}}</h4>
            <p>{{errorData.message}}</p>
            <div class="details" *ngIf="error.body?.values">
                <div *ngFor="let detail of error.body.values"><b>{{detail.key}}</b>: {{detail.value}}</div>
            </div>
        </div>
        <div class="troubleshoot-btn">
            <i class="fa fa-bug" (click)="showErrorTroubleshoot = !showErrorTroubleshoot" title="Troubleshoot details"></i>
        </div>
    </div>
    <div class="troubleshoot-info" *ngIf="showErrorTroubleshoot">
        <table>
            <tr>
                <td><b>RequestId</b></td>
                <td>{{errorData.requestId}}</td>
            </tr>
            <tr>
                <td><b>Time</b> </td>
                <td>{{errorData.time}}</td>
            </tr>
        </table>
    </div>
</div>
