@import "app/styles/variables";

bl-choose-action {
    width: 100%;
    height: $contentview-height;

    .action {
        padding: 0;
        margin: 10px 0;
        display: flex;
        align-items: stretch;
        cursor: pointer;

        > .action-link {
            display: flex;
            flex: 1;

            &:hover {
                background: $hover-bg-color;
            }

            > .name {
                border-right: 1px solid $border-color;
                padding: 10px;
                width: 200px;
            }

            > .description {
                flex: 1;
                padding: 10px;
                border-right: 1px solid $border-color;
            }
        }

        > .view-on-github {
            color: $secondary-text;
            font-size: 20px;
            flex: 0 0 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background: $hover-bg-color;
            }
        }
    }

    .no-actions {
        padding: 15px;
        font-size: 16px;
        margin: 50px auto;
        color: $primary-text;
        background: map-get($warn, 100);
        width: 340px;
    }
}
