<div class="filters">
    <div style="padding: 10px; flex: 1">
        <mat-checkbox [formControl]="onlyFailedControl">Only failed</mat-checkbox>
    </div>
    <div class="type-toggle">
        <div class="option" (click)="updateType(HookTaskType.preparationTask)" [class.active]="type === HookTaskType.preparationTask">
            Preparation tasks
        </div>
        <div class="option" (click)="updateType(HookTaskType.releaseTask)" [class.active]="type === HookTaskType.releaseTask" [class.disabled]="!hasReleaseTask">
            Release tasks
        </div>
    </div>
</div>
<div class="content">
    <bl-table class="list" [activeItem]="pickedTaskId" (activeItemChange)="pickTask($event)">
        <bl-thead>
            <bl-column>Node ID</bl-column>
            <bl-column style="width: 45px">Status</bl-column>
            <bl-column style="width: 100px" *ngIf="!pickedTask">Started</bl-column>
            <bl-column style="width: 100px" *ngIf="!pickedTask">Completed</bl-column>
            <bl-column style="width: 100px">Exit code</bl-column>
        </bl-thead>

        <bl-row *ngFor="let task of displayItems; trackBy: trackTask" [key]="task.id">
            <bl-cell>{{task.nodeId}}</bl-cell>
            <bl-cell style="width: 45px" [title]="task.status">
                <span *ngIf="task.status === 'running'" class="fa fa-spinner"></span>
                <span *ngIf="task.status === 'success'" class="fa fa-check-circle"></span>
                <span *ngIf="task.status === 'failure'" class="fa fa-times-circle"></span>
            </bl-cell>
            <bl-cell style="width: 100px" *ngIf="!pickedTask">{{task.startTime}}</bl-cell>
            <bl-cell style="width: 100px" *ngIf="!pickedTask">{{task.endTime}}</bl-cell>
            <bl-cell style="width: 100px">{{task.exitCode}}</bl-cell>
        </bl-row>
    </bl-table>
    <div *ngIf="pickedTask" class="details">
        <bl-job-hook-task-details [task]="pickedTask" [type]="type"></bl-job-hook-task-details>
    </div>
</div>
