@import "app/styles/variables";

bl-job-hook-task-browser {
    display: flex;
    flex-direction: column;
    height: 100%;

    .filters {
        display: flex;
    }

    .content {
        flex: 1;
        display: flex;
        border-top: 1px solid #d5d5d5;
        height: 100%;
        > .details {
            border-left: 1px solid $border-color;
            width: 600px;
            flex: 1 0 600px;
        }
    }

    .type-toggle {
        margin: 10px;
        text-align: right;
        cursor: pointer;

        > .option {
            display: inline-block;
            margin: 0 4px;
        }

        > .option.active {
            font-weight: bold;
            color: map-get($primary, 600);
            cursor: default;
        }

        > .option.disabled {
            opacity: 0.5;
            cursor: default;
        }
    }
}
