<div class="filters">
    <div style="padding: 10px; flex: 1">
        <mat-checkbox [formControl]="onlyFailedControl" color="primary">Only failed</mat-checkbox>
    </div>
    <div class="type-toggle">
        <div class="option" (click)="updateType(HookTaskType.preparationTask)" [class.active]="type === HookTaskType.preparationTask">
            Preparation tasks
        </div>
        <div class="option" (click)="updateType(HookTaskType.releaseTask)" [class.active]="type === HookTaskType.releaseTask" [class.disabled]="!hasReleaseTask">
            Release tasks
        </div>
    </div>
</div>
<div class="content">
    <bl-table class="list" [data]="displayItems" [activeItem]="pickedTaskId" (activeItemChange)="pickTask($event)">
        <bl-column name="nodeId">
            <div *blHeadCellDef>Node ID</div>
            <div *blCellDef="let task">{{task.nodeId}}</div>
        </bl-column>

        <bl-column name="status" [defaultWidth]="50">
            <div *blHeadCellDef>Status</div>
            <div *blCellDef="let task">
                <span *ngIf="task.status === 'running'" class="fa fa-spinner"></span>
                <span *ngIf="task.status === 'success'" class="fa fa-check-circle"></span>
                <span *ngIf="task.status === 'failure'" class="fa fa-times-circle"></span>
            </div>
        </bl-column>

        <bl-column name="started" *ngIf="!pickedTask" [defaultWidth]="100">
            <div *blHeadCellDef>Started</div>
            <div *blCellDef="let task">{{task.startTime}}</div>
        </bl-column>

        <bl-column name="completed" *ngIf="!pickedTask" [defaultWidth]="100">
            <div *blHeadCellDef>Completed</div>
            <div *blCellDef="let task">{{task.endTime}}</div>
        </bl-column>

        <bl-column name="exitCode" *ngIf="!pickedTask" [defaultWidth]="100">
            <div *blHeadCellDef>Exit code</div>
            <div *blCellDef="let task">{{task.exitCode}}</div>
        </bl-column>
    </bl-table>
    <div *ngIf="pickedTask" class="details">
        <bl-job-hook-task-details [task]="pickedTask" [type]="type"></bl-job-hook-task-details>
    </div>
</div>
