<div class="file-tabs">
    <div class="file-tab" *ngFor="let filename of outputFileNames" [class.active]="filename === outputFilename" (click)="outputFilename = filename">
        {{filename}} ({{fileSizes[filename] || " - B"}})
    </div>

    <!-- TODO when material2 autocomplete is here add a quick add another file -->
    <!--<div class="file-tab-more">
        <i class="fa fa-plus"></i>
    </div>-->
</div>
<bl-file-content [jobId]="jobId" [taskId]="task.id" [filename]="outputFilename"></bl-file-content>
<!--<div *ngFor="let filename of outputFileNames" [hidden]="filename !== outputFilename">
    <bl-file-content [jobId]="jobId" [taskId]="task.id" [filename]="filename"></bl-file-content>
</div>-->
