@import "app/styles/variables";


bl-task-outputs {
    .layout-container {
        &.filtering {
            .list-view {
                width: $listview-filtering-width;

                > .left-pane {
                    width: $listview-filtering-width;
                }
            }

            .content-view {
                width: calc(100vw - #{$listview-filtering-width} - #{$navigationbar-width});
            }
        }
    }
}
