<bl-quick-list *ngIf="quicklist"
    [data]="displayedCertificates"
    [status]="status"
    [(activeItem)]="activeItem"
    [(selection)]="selection"
    [commands]="commands"
    (scrollBottom)="onScrollToBottom()">
    <ng-container *blQuickListRowStatus="let certificate">
        <bl-quick-list-item-status [status]="certificateStatus(certificate)" [tooltip]="certificateStatusText(certificate)"></bl-quick-list-item-status>
    </ng-container>
    <ng-container *blQuickListRowTitle="let certificate">{{certificate.thumbprint}}</ng-container>
    <ng-container *blQuickListRowState="let certificate">{{certificate.state}}</ng-container>
</bl-quick-list>

<bl-table *ngIf="!quicklist"
    [data]="displayedCertificates"
    [status]="status"
    [(activeItem)]="activeItem"
    [(selection)]="selection"
    (scrollBottom)="onScrollToBottom()"
    [commands]="commands">

    <bl-column name="algorithm">
        <div *blHeadCellDef>Thumbprint algorithm</div>
        <div *blCellDef="let certificate">{{certificate.thumbprintAlgorithm}}</div>
    </bl-column>
    <bl-column name="thumbprint">
        <div *blHeadCellDef>Thumbprint</div>
        <div *blCellDef="let certificate">{{certificate.thumbprint}}</div>
    </bl-column>
    <bl-column name="state">
        <div *blHeadCellDef>State</div>
        <div *blCellDef="let certificate">{{certificate.state}}</div>
    </bl-column>
</bl-table>

<bl-no-item [itemCount]="displayedCertificates.size" [filter]="filter" [status]="status">
    <i icon class="fa fa-certificate"></i>
    <span no-filter>No certificates</span>
    <span with-filter>No certificates match this filter</span>
</bl-no-item>
<bl-server-error class="error-in-list" [error]="data.error | async" *ngIf="status === LoadingStatus.Error"></bl-server-error>
