<div class="toggle-mode" *ngIf="enableJsonView">
    <bl-button type="square" [disabled]="!showJson" (do)="toggleShowJson(false)">
        <i class="fa fa-list-ul"></i>
    </bl-button>
    <bl-button type="square" [disabled]="showJson" (do)="toggleShowJson(true)">
        <i class="fa fa-code"></i>
    </bl-button>
</div>
<div *ngIf="showJson" class="editor-container">
    <bl-editor [value]="jsonValue" [config]="editorConfig"></bl-editor>
</div>
<div *ngIf="!showJson">
    <ng-content></ng-content>
</div>
