<bex-property-list>
    <bex-property-group label="General" class="wide">
        <bex-text-property label="Id" [value]="decorator.id"></bex-text-property>
        <bex-text-property label="Display name" [value]="decorator.displayName"></bex-text-property>
        <bex-text-property label="Url" [value]="decorator.url"></bex-text-property>
        <bex-text-property label="State" [value]="decorator.state"></bex-text-property>
        <bex-text-property label="Vm Size" [value]="decorator.vmSize"></bex-text-property>
        <bex-text-property label="Total task run" [value]="decorator.totalTasksRun"></bex-text-property>
        <bex-text-property label="Ip Adress" [value]="decorator.ipAddress"></bex-text-property>
        <bex-text-property label="State transition time" [value]="decorator.stateTransitionTime"></bex-text-property>
        <bex-text-property label="Last boot time" [value]="decorator.lastBootTime"></bex-text-property>
    </bex-property-group>
</bex-property-list>
