<bl-loading [status]="data.newDataStatus | async">
    <div *ngIf="pool && node">
        <md-card class="overview">
            <md-card-title-group style="margin: 0px;">
                <div style="align-items:center;">
                    <bl-refresh-btn [refresh]="refresh"></bl-refresh-btn>
                </div>
                <div style="margin-left:12px; margin-right:auto;">
                    <md-card-title>{{node.id}}</md-card-title>
                    <md-card-subtitle> {{node.state}}</md-card-subtitle>
                </div>
            </md-card-title-group>
            <md-card-content>
                <p>Pool: {{poolId}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <button md-button (click)="connect()">
                    <i class="fa fa-plug"></i> Connect
                </button>
            </md-card-actions>
        </md-card>
        <md-card class="details">
            <bl-tab-group>
                <bl-tab key="configuration">
                    <bl-tab-label>Configuration</bl-tab-label>
                    <bl-node-configuration [pool]="pool" [node]="node"></bl-node-configuration>
                </bl-tab>
                <bl-tab key="files">
                    <bl-tab-label>Files</bl-tab-label>
                    <bl-node-file-browse [poolId]="poolId" [node]="node"></bl-node-file-browse>
                </bl-tab>
            </bl-tab-group>
        </md-card>
    </div>
</bl-loading>
