<bl-property-list>
    <bl-property-group label="General" class="wide">
        <bl-text-property label="Id" [value]="decorator.id"></bl-text-property>
        <bl-text-property label="Display name" [value]="decorator.displayName"></bl-text-property>
        <bl-text-property label="Url" [value]="decorator.url"></bl-text-property>
        <bl-text-property label="State" [value]="decorator.state"></bl-text-property>
        <bl-text-property label="Vm Size" [value]="decorator.vmSize"></bl-text-property>
        <bl-text-property label="Total task run" [value]="decorator.totalTasksRun"></bl-text-property>
        <bl-text-property label="Internal Ip Adress" [value]="decorator.ipAddress"></bl-text-property>
        <bl-text-property label="External Ip Adress" [value]="externalIpAdress" *ngIf="externalIpAdress"></bl-text-property>
        <bl-text-property label="State transition time" [value]="decorator.stateTransitionTime"></bl-text-property>
        <bl-text-property label="Last boot time" [value]="decorator.lastBootTime"></bl-text-property>
        <bl-bool-property label="Is dedicated" [value]="node.isDedicated" [YesNo]="true"></bl-bool-property>
    </bl-property-group>
</bl-property-list>
