<bex-loading [status]="data.newDataStatus | async">
    <div *ngIf="node">
        <md-card class="overview">
            <md-card-title-group style="margin: 0px;">
                <div style="align-items:center;">
                    <bex-refresh-btn [refresh]="refresh"></bex-refresh-btn>
                </div>
                <div style="margin-left:12px; margin-right:auto;">
                    <md-card-title>{{node.id}}</md-card-title>
                    <md-card-subtitle> {{node.state}}</md-card-subtitle>
                </div>
            </md-card-title-group>
            <md-card-content>
                <p>Pool: {{poolId}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <button md-button (click)="connect()">
                    <i class="fa fa-plug"></i> Connect
                </button>
            </md-card-actions>
        </md-card>
        <md-card class="details">
            <bex-tab-group>
                <bex-tab key="properties">
                    <bex-tab-label>Properties</bex-tab-label>
                    <bex-node-properties [node]="node"></bex-node-properties>
                </bex-tab>
                <bex-tab key="recent-tasks">
                    <bex-tab-label>Recent tasks</bex-tab-label>
                    <div class="tab-padding">
                        Some tasks
                    </div>
                </bex-tab>
                <bex-tab key="files">
                    <bex-tab-label>Files</bex-tab-label>
                    <bex-node-file-browse [poolId]="poolId" [node]="node"></bex-node-file-browse>
                </bex-tab>
            </bex-tab-group>
        </md-card>
    </div>
</bex-loading>
