<bl-entity-configuration [value]="node">
    <bl-property-list>
        <bl-property-group label="General" class="wide">
            <bl-text-property label="ID" [value]="decorator.id"></bl-text-property>
            <bl-text-property label="URL" [value]="decorator.url"></bl-text-property>
            <bl-text-property label="State" [value]="decorator.state"></bl-text-property>
            <bl-text-property label="State transition time" [value]="decorator.stateTransitionTime"></bl-text-property>
            <bl-text-property label="Scheduling state" [value]="decorator.schedulingState"></bl-text-property>
            <bl-text-property label="Node size" [value]="decorator.vmSize"></bl-text-property>
            <bl-text-property label="Last boot time" [value]="decorator.lastBootTime"></bl-text-property>
            <bl-text-property label="Allocation time" [value]="decorator.allocationTime"></bl-text-property>
            <bl-text-property label="Running task count" [value]="decorator.runningTasksCount"></bl-text-property>
            <bl-text-property label="Total tasks run" [value]="decorator.totalTasksRun"></bl-text-property>
            <bl-text-property label="Total succeeded task count" [value]="decorator.totalTasksSucceeded"></bl-text-property>
            <bl-text-property label="Internal IP address" [value]="decorator.ipAddress"></bl-text-property>
            <bl-text-property label="External IP address" [value]="externalIpAddress" *ngIf="externalIpAddress"></bl-text-property>
            <bl-bool-property label="Is dedicated" [value]="node.isDedicated" [yesNo]="true"></bl-bool-property>
        </bl-property-group>

        <bl-property-group label="Start task execution" class="wide" [collapsed]="true" *ngIf="node.startTaskInfo">
            <div collapsed-preview>
                <span *ngIf="!decorator.startTaskInfo.runtime">Start task not started</span>
                <span *ngIf="decorator.startTaskInfo.runtime && !node?.startTaskInfo?.endTime">Currently running for: {{ decorator.startTaskInfo.runtime }}</span>
                <span *ngIf="node?.startTaskInfo?.endTime">Completed in: {{ decorator.startTaskInfo.runtime }}</span>
            </div>

            <bl-text-property label="State" [value]="decorator.startTaskInfo.state"></bl-text-property>
            <bl-text-property label="Start time" [value]="decorator.startTaskInfo.startTime"></bl-text-property>
            <bl-text-property label="End time" [value]="decorator.startTaskInfo.endTime"></bl-text-property>
            <bl-text-property label="Execution time" [value]="decorator.startTaskInfo.runtime"></bl-text-property>
            <bl-text-property label="Exit code" [value]="decorator.startTaskInfo.exitCode"></bl-text-property>
            <bl-text-property label="Retry count" [value]="decorator.startTaskInfo.retryCount"></bl-text-property>
        </bl-property-group>
    </bl-property-list>
</bl-entity-configuration>
