<div class="select-button-container">
   <div #selectButton class="select-button"
        (click)="clickSelectButton($event)"
        [title]="title"
        [tabindex]="disabled ? -1 : 0"
        aria-readonly="true"
        [attr.aria-activedescendant]="focusedOption?.id"
        role="textbox"
        (blur)="onButtonBlur($event)">
        <div class="label">
            <ng-container *ngIf="!hasValueSelected">{{placeholder}}</ng-container>
            <ng-container *ngIf="hasValueSelected">
                <ng-container *ngIf="hasMultipleSelected">
                    {{selected.size}} selected
                </ng-container>
                <ng-container *ngIf="!hasMultipleSelected && firstSelection">
                    <ng-template [ngTemplateOutlet]="firstSelection.content"></ng-template>
                </ng-container>
            </ng-container>
        </div>
        <div class="caret">
            <i class="fa fa-caret-down" *ngIf="!dropdownOpen"></i>
            <i class="fa fa-caret-up" *ngIf="dropdownOpen"></i>
        </div>
   </div>
   <ng-container *ngIf="dropdownOpen && filterable">
       <input class="select-filter"
            #filterInput
            role="textbox"
            [ngModel]="filter"
            (ngModelChange)="filterChanged($event)"
            placeholder="Filter items..."
            [attr.aria-controls]="dropdownId"
            attr.aria-autocomplete="list"
            [attr.aria-activedescendant]="focusedOption?.id"
            (blur)="onInputBlur($event)">
   </ng-container>
</div>
