<bl-clickable class="select-button" (do)="toggleDropdown()">
    <div class="label">
        <ng-container *ngIf="!hasValueSelected">{{placeholder}}</ng-container>
        <ng-container *ngIf="hasValueSelected">
            <ng-container *ngIf="hasMultipleSelected">
                {{selected.size}} selected
            </ng-container>
            <ng-container *ngIf="!hasMultipleSelected">
                <ng-template [ngTemplateOutlet]="firstSelection?.template"></ng-template>
            </ng-container>
        </ng-container>
    </div>
    <div class="caret">
        <i class="fa fa-caret-down" *ngIf="!expanded"></i>
        <i class="fa fa-caret-up" *ngIf="expanded"></i>
    </div>
</bl-clickable>
<div class="dropdown" *ngIf="showOptions">
    <div class="option" *ngFor="let option of options">
        <ng-template [ngTemplateOutlet]="option.template"></ng-template>
    </div>
</div>
