<bl-dropdown [footer]="true" align="right">
    <div bl-dropdown-btn [class.flash]="showFlash">
        <div *ngIf="currentActivity" class="current-task">
            <bl-activity-monitor-footer-item [activity]="currentActivity" (click)="openMonitor(currentActivity.id)"></bl-activity-monitor-footer-item>
            <div class="other-task-count" *ngIf="otherActivities.length > 0">+{{otherActivities.length}}</div>
        </div>
        <div *ngIf="!currentActivity" (click)="openMonitor()">
            No current background tasks
        </div>
    </div>
    <div bl-dropdown-content>
        <div *ngFor="let activity of otherActivities.reverse();trackBy: trackByFn" class="dropdown-item">
            <bl-activity-monitor-footer-item [activity]="activity" (click)="openMonitor(activity.id)"></bl-activity-monitor-footer-item>
        </div>
    </div>
</bl-dropdown>
