@import "app/styles/variables";

bl-local-template-explorer {
    display: block;
    height: $contentview-height;

    .local-template-explorer-header {
        height: 50px;
        display: flex;
    }

    bl-file-navigator {
        height: calc(#{$contentview-height} - 50px);
    }

}

