<div class="basic-header">
    <div class="name">Local templates</div>
    <bl-clickable (do)="manageSources()" class="manage-sources action">
        <i class="fa fa-cog" title="Manage sources"></i>
    </bl-clickable>
</div>
<div class="local-templates-content">
    <div class="local-template" *ngFor="let template of templates; trackBy: trackTemplate" [title]="template.description">
        <div class="name reverse-ellipsis">{{template.path}}</div>
        <div class="type" [ngSwitch]="template.type">
            <span *ngSwitchCase="NcjTemplateType.Pool">
                Pool
            </span>
            <span *ngSwitchCase="NcjTemplateType.Job">
                Job
            </span>
            <span *ngSwitchDefault>
                Unkown
            </span>
        </div>
    </div>
</div>
