<p *ngIf="certificates.length === 0">
    {{'certificate-references-picker.noCertificates' | i18n }}
</p>

<bl-form-multi-picker
    #certificatesPicker
    *ngIf="certificates.length > 0 || references.value?.length > 0"
    [formControl]="references"
    [addTitle]="'certificate-references-picker.addOne' | i18n">

    <ng-template blFormPickerItem let-value>
        <div title>
            {{ value?.thumbprint | trimThumbprint }}
        </div>
        <div subtitle class="unaccent">
            {{value?.thumbprintAlgorithm}}
        </div>
    </ng-template>
    <div nested-form>
        <bl-certificate-picker
            [formControl]="certificatesPicker.currentEditValue"
            [certificates]="certificates"
            [currentCertificates]="references.value"
            [osType]="osType">
        </bl-certificate-picker>
    </div>
</bl-form-multi-picker>
<bl-error [control]="references" code="duplicate">{{references.errors?.duplicate?.message}}</bl-error>
