bl-monitor-chart {
    .header {
        font-size: 2em;
        color: #5b5b5b;
        text-align: justify;
        margin-top: 0;
        padding-bottom: 12px;

        .timeframe-picker {
            float: right;
            cursor: pointer;
        }
    }
    background-color: white;
    display: inline-block;
    font-size: 2em;
    text-align: justify;
    margin-top: 8px;
    padding: 12px;

    &.small {
        width: calc(20% - 4px);
    }

    &.medium {
        width: calc(25% - 4px);
    }

    &.large {
        width: calc(35% - 4px);
    }
}
