<div class="header">
    <h2>
        {{ title }}
        <a (click)="openTimeFramePicker()" class="timeframe-picker">
            <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{timeFrame}}
        </a>
    </h2>
</div>
<div *ngIf="isChartReady">
    <canvas blChart [datasets]="datasets" [options]="options" [chartType]="type" [colors]="colors"></canvas>
</div>
<div *ngIf="chartError">
    There is an error occurred when loading this chart
</div>
<bl-loading [status]="loadingStatus"></bl-loading>
