@import "app/styles/variables";

bl-account-monitoring-home {
    display: block;
    height: $contentview-height;
    width: 100%;
    background: $card-background;

    .chart-settings {
        border-bottom: 1px solid $border-color;
    }
    .tab-content {
        // height: 500px;
    }
}
