<div *ngIf="!config.hideHeader" class="table-head" [class.no-scroll]="!showScrollShadow">
    <bl-thead [columns]="columnManager.columns"></bl-thead>
</div>
<div class="warning" *ngIf="sortingStatus === SortingStatus.Partial">
    All entities have not been loaded, this is showing a partial sorting.
</div>
<div class="table-body">
    <div class="scroll-shadow" *ngIf="showScrollShadow"></div>
    <bl-virtual-scroll [items]="items" [childHeight]="28" (update)="updateViewPortItems($event)" (scroll)="handleScrollChange($event)">
        <bl-row-render  *ngFor="let item of viewPortItems;trackBy: trackItem"
            [item]="item"
            [columns]="columnManager.columns"
            [tableConfig]="config"
            [selected]="selection.has(item.id)"
            [focused]="listFocused && item == focusedItem"
            [class.drop-target]="item.id === dropTargetRowKey"
            (dragenter)="dragEnter(item, $event)"
            (dragleave)="dragLeave(item, $event)"
            (drop)="handleDropOnRow(item, $event)">
        </bl-row-render>

        <bl-virtual-scroll-tail [height]="120" *ngIf="status === LoadingStatus.Loading">
            <bl-loading [status]="status"></bl-loading>
        </bl-virtual-scroll-tail>
    </bl-virtual-scroll>
</div>


