
@import "app/styles/variables";

bl-pinned-dropdown {
    $ddl-width: 280px;

    .main {
        width: calc(#{$ddl-width} - 60px);
        border-right: 1px solid $border-color;
        padding: 5px 10px;
        flex: 1 1 auto;
        text-overflow: ellipsis;
        overflow-x: hidden;

        .type {
            font-size: 10px;
        }
    }

    .fa {
        font-size: 1.2em;
        padding-right: 5px;
        
        &.fa-tasks, &.fa-database, &.fa-file-archive-o, &.fa-question, &.fa-cloud-upload, &.fa-certificate, &.fa-calendar {
            color: map-get($primary, 300);
        }
        &.fa-times {
            color: $primary-color-dark;
            background: white;
            flex: 0 0 30px;
            padding: 5 5 5 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;

            &:hover {
                color: white;
                background-color: map-get($danger, 400);
            }

            &:active {
                background-color: map-get($danger, 600);
            }
        }
    }

}
