<bl-dropdown [footer]="false" align="right">
    <div bl-dropdown-btn>
        <i class="fa fa-star"></i> {{title}}
    </div>
    <div bl-dropdown-content>
        <bl-clickable *ngFor="let favorite of favorites | async;trackBy: trackPinnned" 
            class="dropdown-item" 
            (do)="gotoFavorite(favorite)"
            [class.selected]="favorite.url === currentUrl"
            [title]="favorite.id">
            <i class="fa" [ngClass]="entityIcon(favorite)"></i>
            <div class="main">
                <div class="alias">{{favorite.name || favorite.id}}</div>
                <div class="type">{{entityType(favorite)}}</div>
            </div>
            <!-- A green check mark appears if you are on the page corresponding a item in the drop down menu-->
            <div *ngIf="favorite.url === currentUrl" class="extra">
                <i class="fa fa-check"></i>
            </div>
            <!-- <bl-button color= "light" icon="fa fa-trash" class="unpin-button" (click)="removeFavorite(favorite)" > unpin </bl-button> -->
            <bl-button color="light" icon="fa fa-trash" type="plain" (click)="removeFavorite(favorite)"></bl-button>
        </bl-clickable>
    </div>
</bl-dropdown>
