<bl-dropdown *blFeatureOn="'pinned'" [footer]="false" align="right">
    <div bl-dropdown-btn>
        <i class="fa fa-star"></i> {{title}}
    </div>
    <div bl-dropdown-content>
        <div *ngFor="let favorite of favorites | async;trackBy: trackPinnned"
            class="dropdown-item favorite"
            [class.selected]="favorite.url === currentUrl"
            (click)="gotoFavorite(favorite)"
            (mouseup)="handleMiddleMouseUp($event, favorite)"
            (contextmenu)="onContextMenu(favorite)">

            <span>
                <i class="entity-type fa" [ngClass]="entityIcon(favorite)"
                [title]="entityType(favorite)"></i>
                {{favorite.name || favorite.id}}
                <i *ngIf="favorite.url === currentUrl" class="extra fa fa-check"></i>
            </span>
            <i class="fa fa-times" (click)="removeFavorite(favorite)"></i>
        </div>
    </div>
</bl-dropdown>
