<bl-scrollable>
    <div *ngIf="application">
        <h1>
            <img class="logo" [src]="application.icon" height="30" width="30" alt="Logo for {{application.name}}" *ngIf="application?.icon">
            <span>Action selection for
                <span [title]="application.description">{{application?.name}}</span>
            </span>
            <span>(
                <a (click)="openLink(application?.readme)" href="javascript:void(0)">view readme</a>)</span>
        </h1>
        <div class="actions">
            <bl-card *ngFor="let action of actions;trackBy: trackAction" class="action">
                <div class="action-link" [routerLink]="['/market', applicationId, 'actions', action.id, 'submit']">
                    <div class="name">{{action.name}}</div>
                    <div class="description">{{action.description}}</div>
                </div>
                <div class="view-on-github" (click)="viewOnGithub(action)" matTooltip="View template on github">
                    <i class="fa fa-external-link"></i>
                </div>
            </bl-card>
        </div>

        <div *ngIf="actions?.size === 0" class="no-actions">
            This application doesn't have any templates
        </div>
    </div>
</bl-scrollable>
