<bl-scrollable>
    <h1><img class="logo" [src]="application?.icon" height="30" width="30" alt="logo"> Action selection for <span [title]="application?.description">{{application?.name}}</span> </h1>
    <div class="actions">
        <md-card *ngFor="let action of actions" class="action" [routerLink]="['/market', applicationId, 'actions', action.id, 'submit']">
            <div class="name">{{action.name}}</div>
            <div class="description">{{action.description}}</div>
        </md-card>
    </div>

    <div *ngIf="actions?.size === 0" class="no-actions">
        This application doesn't have any templates
    </div>
</bl-scrollable>
