<div class="heatmap-graph">
    <div class="legend noselect" *ngIf="showLegend">
        <bl-nodes-heatmap-legend [poolId]="pool.id" [nodes]="nodes" [colors]="colors" (selectedStateChange)="selectState($event)"></bl-nodes-heatmap-legend>
        <bl-node-preview-card [poolId]="pool.id" [node]="selectedNode | async" *ngIf="selectedNode | async" (close)="selectedNodeId.next(null)"></bl-node-preview-card>
    </div>
    <div class="heatmap-container" #heatmap>
        <svg #svg>
            <defs>
                <pattern id="low-pri-stripes" width="10" height="10" patternUnits="userSpaceOnUse" patternTransform="rotate(45 50 50)">
                    <line stroke="#fff" stroke-width="2px" y2="10"></line>
                </pattern>
            </defs>
        </svg>
    </div>
</div>
