@import "app/styles/variables";

bl-pool-graphs {
    display: block;
    overflow: hidden;
    display: flex;

    .charts-previews {
        user-select: none;
        flex: 0 0 200px;

        > .preview {
            cursor: pointer;
            padding: 10px;
            display: flex;
            height: 70px;
            border-right: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            flex: 1;

            .info {
                margin-left: 5px;
            }

            .label {
                font-size: 11px;
                line-height: 11px;
                margin-bottom: 3px;
            }

            .status {
                font-size: 11px;
                color: $generic-grey;
            }

            &.focused {
                align-items: center;
                justify-content: center;
                border-right: none;

                .label {
                    font-size: 16px;
                    color: map-get($primary, 600);
                }

                .status {
                    margin-top: 5px;
                }

                .small-preview {
                    display: none;
                }
            }

            &:hover {
                background: $whitesmoke;
            }
        }

        > .config {
            padding: 20px 10px;
            border-right: 1px solid $border-color;
        }
    }

    .small-preview {
        display: block;
        position: relative;
        width: 100px;
        height: 50px;
        border: 1px solid map-get($primary, 100);
    }

    .full-display {
        display: block;
        width: 100%;
        height: 100%;
    }

    .full-display-heatmap {
        display: block;
        width: 100%;
        height: 600px;
    }

    .focused-graph {
        width: 100%;
        position: relative;
    }
}

x-chartist {
    width: 100%;
    height: 100%;
}
