<bex-list-and-show-layout #layout quickSearchField="name">
    <div bex-list-buttons>
    </div>
    <div bex-list-content>
        <bex-focus-section>
            <bex-task-file-list #fileList *ngIf="isJob" [jobId]="jobId" [taskId]="taskId" [filter]="layout.filter" [quickList]="true"></bex-task-file-list>
            <bex-node-file-list #fileList *ngIf="isPool" [poolId]="poolId" [nodeId]="nodeId" [filter]="layout.filter" [quickList]="true"></bex-node-file-list>
        </bex-focus-section>
    </div>
    <div bex-show-content>
        <router-outlet></router-outlet>
    </div>
</bex-list-and-show-layout>
