<ng-container *ngIf="task">
    <div class="info">
        <span>Node:
            <a [routerLink]="['/pools', task.poolId, 'nodes', task.nodeId]">{{task.nodeId}}</a>
        </span>
    </div>
    <bl-node-file-browse [poolId]="task.poolId" [nodeId]="task.nodeId" [node]="node" [fileExplorerConfig]="fileExplorerConfig"
        [folder]="currentFolder" *ngIf="node && currentFolder">
    </bl-node-file-browse>

    <div *ngIf="!node && !loading" class="info-overlay node-unavailable">
        Node where this task ran doesn't exists anymore.
    </div>
</ng-container>
