
bl-simple-dialog {
    display: block;
    $footer-height: 60px;
    overflow: hidden;
    width: 600px;

    > .dialog {
        overflow: auto;
        position: relative;
        height: calc(100% - #{$footer-height});
        padding: 10px;

        .header {
            margin-bottom: 10px;

            h1 {
                padding: 0 6px;
            }

            p {
                padding: 0 8px;
            }
        }

        .content {
            padding: 0 8px;
        }
    }

    > .footer {
        padding: 5px;
        height: $footer-height;
        box-shadow: 0 0 40px -10px #a5a5a5;
        align-items: center;
        display: flex;
        justify-content: flex-end;

        > .buttons {
            margin: 0 8px;

            bl-button {
                margin-right: 5px;
            }
        }
    }
}
