@import "app/styles/variables";

bl-storage-account-card > .storage-account-card {
    margin-top: 5px;
    padding: 5px 24px;

    display: flex;
    align-items: center;

    > .icon {
        font-size: 32px;
        margin-right: 10px;
    }

    > .details {
        flex: 1;
    }

    > .actions {
        margin-left: 10px;

        button {
            padding: 2px 10px;
            cursor: pointer;
            height: 28px;
            color: $mineshaft-grey;

            &:hover {
                color: $whitesmoke;
                background: map-get($md-prussian-blue, 300);
            }
        }
    }
}
