<div class="monitoring-header">
    <h1 class="section-title">{{'account-details.monitoring' | i18n }}</h1>
    <bl-time-range-picker></bl-time-range-picker>
</div>

<div class="monitor-charts" *ngIf="isArmAccount">
    <a class="monitor-chart" [routerLink]="['/accounts', account.id, 'monitor']">
        <bl-monitor-chart chartType="coreCount"></bl-monitor-chart>
    </a>
    <a class="monitor-chart" [routerLink]="['/accounts', account.id, 'monitor']">
        <bl-monitor-chart chartType="failedTask" [routerLink]="['/accounts', account.id, 'monitor']" role="link"></bl-monitor-chart>
    </a>
    <a class="monitor-chart" [routerLink]="['/accounts', account.id, 'monitor']">
        <bl-monitor-chart chartType="taskStates" [routerLink]="['/accounts', account.id, 'monitor']" role="link"></bl-monitor-chart>
    </a>
    <a class="monitor-chart node-states" [routerLink]="['/accounts', account.id, 'monitor']">
        <bl-monitor-chart chartType="nodeStates" [routerLink]="['/accounts', account.id, 'monitor']" role="link"></bl-monitor-chart>
    </a>
    <div class="monitor-chart current-node-counts">
        <h2>Current node counts</h2>
        <bl-pool-state-graph></bl-pool-state-graph>
    </div>
</div>
<div  *ngIf="!isArmAccount">
    Account monitoring is only enabled for ARM batch accounts
</div>
