<div class="file-details-container">
    <bl-file-viewer-header [fileViewer]="viewRef?.instance" [fileLoader]="fileLoader"></bl-file-viewer-header>
    <div class="details">
        <template #viewerContainer></template>
        <bl-file-too-large [file]="file" [fileLoader]="fileLoader" *ngIf="fileTooLarge"></bl-file-too-large>

        <bl-card *ngIf="unkownFileType" class="unknown-file-type">
            <h2 class="title">This file is not a known extension. Do you still want to open it?</h2>
            <div class="options">
                <button class="log" (click)="openAs(FileType.log)">Log</button>
                <button class="code" (click)="openAs(FileType.code)">Code</button>
                <button class="image" (click)="openAs(FileType.image)">Image</button>
            </div>
        </bl-card>
    </div>
    <div *ngIf="fileNotFound" class="info-overlay file-not-found">
        File <span class="highlight">&nbsp;{{filename}}&nbsp;</span> doesn't exist.
    </div>
    <div *ngIf="forbidden" class="info-overlay file-not-found">
        File <span class="highlight">&nbsp;{{filename}}&nbsp;</span> cannot be accessed. Server returned forbidden error
    </div>
</div>
