@import "app/styles/variables";

$padding-first-and-last: 15px;
$table-heading-height: 40px;
$table-row-height: 30px;

bl-table {
    display: block;
    width: 100%;
    margin-bottom: 25px;

    table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        overflow: hidden;
        display: table;
    }

    bl-thead {
        display: table-header-group;
        color: $genericGray;

        > tr {
            height: $table-heading-height;
        }
    }

    tbody {
        display: table-header-group;

        > tr {
            cursor:pointer;
            border-top: 1px $border-color solid;
            height: $table-row-height;

            &.selected {
                background-color: map-get($primary, 100);

                p {
                    color: $mineShaftGray;
                }
            }

            &.focused {
                background-color: map-get($primary, 200);
            }

            &:hover:not(.selected) {
                background-color: $altoGray;
            }

            &:last-child {
                border-bottom: 1px $border-color solid;
            }
        }
    }

    bl-cell,
    bl-column {
        vertical-align: middle;
        text-align: left;
        padding: 0 5px;

        &:first-child {
            padding: 0 0 0 $padding-first-and-last;
        }

        &:last-child {
            padding: 0 $padding-first-and-last 0 0;
        }

        &[numericField] {
            text-align: right;
        }
    }

    bl-column {
        display: table-cell;
        font-size: 0.9em;
        font-weight: bold;
        white-space: nowrap;

        &.sortable {
            cursor: pointer;
            > .sort-icon {
                color: #f5f5f5;
            }

            &:hover:not(.sorting) > .sort-icon {
                color: $genericGray;
            }
        }

        &.sorting {
            color: map-get($primary, 500);
            > .sort-icon {
                color: map-get($primary, 500);
            }
        }
    }

    bl-cell {
        display: table-cell;
        font-size: 13px;
        position: relative;
        white-space: nowrap;

        .cell-value {
            width: 98%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

/*
 * Specifically for tables on the dashboard that need display: block & inline-block
 * instead of display: table.
 */
bl-table.dashboard {
    table {
        display: block;
    }

    bl-thead {
        display: block;
    }

    tbody {
        display: block;

        > tr {
            display: block;
            padding: 6px;
        }
    }

    bl-cell,
    bl-column {
        &:first-child {
            padding: 0;
        }

        &:last-child {
            padding: 0;
        }
    }

    bl-column {
        display: inline-block;
    }

    bl-cell {
        display: inline-block;
    }
}

.cell-spinner {
    color: map-get($primary, 400);
}
