@import "app/styles/variables";

$padding-first-and-last: 10px;
$table-heading-height: 40px;
$table-row-height: 30px;

bl-table {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    bl-thead, > .row {
        display: flex;
        align-items: center;
    }

    bl-thead {
        color: $secondary-text;
        height: $table-heading-height;
    }

    .checkbox-column {
        width: 30px;
        padding: 5px;

        .mat-checkbox-frame {
            border-color: $alto;
        }

        &:hover {
            .mat-checkbox-frame {
                border-color: map-get($primary, 600);
            }
        }
    }

    &.activable {
        > .row {
            cursor: pointer;
        }
    }

    > .row {
        border-top: 1px $athensGrey solid;
        height: $table-row-height;

        &.selected {
            background-color: map-get($primary, 100);

            p {
                color: $mineShaftGray;
            }
        }

        &.focused {
            outline: 2px dashed map-get($primary, 200);
            outline-offset: -2px;
        }

        &.drop-target {
            background: $altoGray;
        }

        &:hover:not(.selected) {
            background-color: $altoGray;
        }

        &:last-child {
            border-bottom: 1px $athensGrey solid;
        }
    }

    bl-cell,
    bl-column {
        vertical-align: middle;
        text-align: left;
        padding: 0 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
        word-wrap: break-word;

        &:first-child {
            padding: 0 0 0 $padding-first-and-last;
        }

        &:last-child {
            padding: 0 $padding-first-and-last 0 0;
        }

        // If only one cell
        &:only-child {
            padding: 0 $padding-first-and-last;
        }

        &[numericField] {
            text-align: right;
        }
    }

    bl-column {
        display: table-cell;
        font-size: 0.9em;
        font-weight: bold;
        white-space: nowrap;

        &.sortable {
            cursor: pointer;
            > .sort-icon {
                color: $main-background;
            }

            &:hover:not(.sorting) > .sort-icon {
                color: $genericGray;
            }
        }

        &.sorting {
            color: map-get($primary, 500);
            > .sort-icon {
                color: map-get($primary, 500);
            }
        }
    }

    bl-cell {
        display: table-cell;
        font-size: 13px;
        position: relative;
        white-space: nowrap;

        .cell-value {
            width: 98%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.cell-spinner {
    color: map-get($primary, 400);
}
