<table [class.activable]="config.activable" (dragover)="handleDragHover($event)">
    <ng-content select="bl-thead"></ng-content>
    <tbody>
        <tr *ngFor="let item of displayItems, trackBy: trackByFn" (click)="item.handleClick($event)" (contextmenu)="item.openContextMenu($event)"
            [class.selected]="item.selected"
            [class.focused]="listFocused && item.key === (focusedItem | async)"
            [class.drop-target]="item.key === dropTargetRowKey"
            (dragenter)="dragEnter(item, $event)"
            (dragleave)="dragLeave(item, $event)"
            (drop)="handleDropOnRow(item, $event)"
        >

            <td class="checkbox-column" (click)="item.handleClick($event, false)" *ngIf="config.showCheckbox">
                <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="item.handleClick(null, false)" [checked]="item.selected"></mat-checkbox>
            </td>
            <ng-template [ngTemplateOutlet]="item.content"></ng-template>
        </tr>
    </tbody>
</table>
