<table>
    <ng-content select="bl-thead"></ng-content>
    <tbody>
        <tr *ngFor="let item of displayItems, trackBy: item?.key" (click)="item.handleClick($event)" (contextmenu)="item.openContextMenu($event)"
            [class.selected]="item.active || item.selected" [class.focused]="item.key === (focusedItem | async)">

            <td class="select-column" (click)="toggleSelected(item.key, $event)" *ngIf="config.showCheckbox">
                <md-checkbox color="primary" (click)="$event.stopPropagation()" (change)="toggleSelected(item.key)" [checked]="item.selected"></md-checkbox>
            </td>
            <td *ngFor="let cell of item.cells">
                <ng-template [ngTemplateOutlet]="cell.content"></ng-template>
            </td>
        </tr>
    </tbody>
</table>
