@import "app/styles/variables";

bl-data-home {
    display: block;
    width: 100%;
    height: $contentview-height;

    .quicksearch {
        margin: 0 10px;
    }

    .pre-quicksearch {
        width: 200px;
    }
}
