/*--------------------------------------------------------------------------------------
-------------------------			MAIN LAYOUT  				------------------------
--------------------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: $main-background;
    /* The html and body elements cannot have any padding or margin. */
}

#container {
    position: relative;
    /* needed for footer positioning*/
    margin: 0 auto;
    /* center, not in IE5 */
    background: $main-background;
    height: 100vh;
    width: 100vw;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
}

footer {
    position: absolute;
    height: $footer-height;
    left: 0;
    bottom: 0;
}

nav {
    position: absolute;
    top: $header-height;
    left: 0;
    bottom: $footer-height;
    width: $navigationbar-width;
    text-align: center;
}

#content {
    position: absolute;
    top: $content-top-position;
    left: $navigationbar-width;
    right: 0;
    bottom: $footer-height;
    width: calc(100vw - #{$navigationbar-width});
    height: calc(100vh - #{$content-top-position + $footer-height});
    overflow: hidden;

    > #content-inner {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.flex-fill {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    width: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
}

/*--------------------------------------------------------------------------------------
-------------------------			OTHER LAYOUTs  				------------------------
--------------------------------------------------------------------------------------*/

.any-cols {
    display: table;
    .col {
        display: table-cell;
        padding-left: 15px;
    }
}

.fifty-fifty {
    display: table;
    width: 100%;
    .col1 {
        width: 48%;
        float: left;
    }
    .col2 {
        width: 50%;
        float: right;
        padding-left: 10px;
    }
}

.twothirds-onethird {
    display: table;
    width: 100%;
    padding: 0;
    .col1 {
        display: table-cell;
        width: 65%;
        float: left;
    }
    .col2 {
        display: table-cell;
        width: 35%;
        float: left;
    }
}

.twothirds-onethird-reverse {
    display: table;
    width: 100%;
    .col1 {
        width: 34%;
        float: left;
    }
    .col2 {
        width: 64%;
        float: left;
        padding-left: 15px;
    }
}

.third-third-third {
    display: table;
    width: 100%;
    padding: 0;
    .col1 {
        display: table-cell;
        width: 32.5%;
        float: left;
    }
    .col2 {
        display: table-cell;
        width: 32.5%;
        float: left;
    }
    .col3 {
        display: table-cell;
        width: 35%;
        float: left;
    }
}

/*--------------------------------------------------------------------------------------
-------------------------			FLOATS      	     		------------------------
--------------------------------------------------------------------------------------*/

.left {
    float: left;
}

.right {
    float: right;
}

.right-sidebar-content {
    display: block;
    height: 100%;
}

.nopadding {
    padding: 0;
}

// Cancel the padding of tabs for 1 content(Used for lists and tables)
.tab-padding {
    margin: 10px;
}

.context-button-bar {
    position: relative !important;
    margin: -35px 10px 0 !important;
    float: right;

    bl-button {
        line-height: 31px;
    }

    button {
        margin-left: 5px;
    }
}

.no-entity-home {
    height: calc(100vh - #{$header-height});
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .fa {
        font-size: 8em;
        margin-bottom: 20px;
        color: $secondary-text;
    }

    p {
        font-size: 2em;
        color: $secondary-text;
    }

    i.large {
        font-size: 10em;
    }
}

.noselect {
    user-select: none;
}

.warn-text {
    color: map-get($warn, 800);
}

.route-home {
    display: block;
    width: 100%;
    position: absolute;
    transform: translateX(-100%);
    overflow: hidden;

    &.animate-left-to-right {
        animation-duration: 2s;
        animation-name: animateLeftToRight;
        transform: translateX(0%);
    }


    &.animate-right-to-left {
        animation-duration: 2s;
        animation-name: animateRightToLeft;
        transform: translateX(0%);
    }
}

@keyframes animateRightToLeft {
    from {
        transform: translateX(100%);
    }
}

@keyframes animateLeftToRight {
    from {
        transform: translateX(-100%);
    }
}

ul.list-point {
    margin: 0 25px;
    list-style-type: initial;
}

bl-card.details {
    margin-top:5px;
    padding:0;
}

.fit-details-container {
    height: $contentview-height;
    display: flex;
    flex-direction: column;
    .mat-tab-group {
        height: 100%;
        position: relative;
    }

    mat-tab-group:not(.form-tabs) .mat-tab-body-content {
        min-height: 0 !important;
    }

    > .overview {
        flex: 0 0 auto;
    }

    > .details {
        flex: 1;
        min-height: 200px;
    }
}

.flex-separator {
    flex: 1;
}

::-webkit-scrollbar {
    background-color: transparent;

    &:horizontal {
        height: 10px;
    }

    &:vertical {
        width: 10px;
    }
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background:  $secondary-text;
}


bl-app {
    .fullscreen {
        height: 100vh;
        width: 100vw;
        position: relative;

        > mat-sidenav-container {
            height: 100%;
        }
    }
}
